In [1]:
import pandas as pd
import numpy as np
import itertools
import lightgbm as lgbm
import matplotlib.pyplot as plt

from script import *
from feature_engineering import *
import db_operations as dbop
from constants import *
import data_process as dp

import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
pd.set_option('display.max_rows',200)
idx = pd.IndexSlice
agg_operations =['mean','median','max','min','std','size']

In [3]:
start = 20160101
cursor = dbop.connect_db("sqlite3").cursor()

df_d = dbop.create_df(cursor, STOCK_DAY[TABLE], start=start)
df_d = dp.proc_stock_d(dp.prepare_stock_d(df_d))
df_d.drop(columns=['open0','high0','low0','vol0'],inplace=True)
df_d['pct'] = df_d.sort_index().groupby('code')['close'].pct_change()*100
df_d['amt']/=1e5
df_d = df_d.astype('float32')
print(df_d.columns)
print(df_d.shape)
df_d.info(memory_usage='deep')
df_d.tail()

select * from stock_day where date>=20160101
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct'],
      dtype='object')
(3524754, 11)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3524754 entries, (000001.SZ, 2016-01-04 00:00:00) to (688399.SH, 2020-04-23 00:00:00)
Data columns (total 11 columns):
open          float32
high          float32
low           float32
close         float32
vol           float32
amt           float32
adj_factor    float32
avg           float32
close0        float32
avg0          float32
pct           float32
dtypes: float32(11)
memory usage: 321.8 MB

                            open        high         low       close  \
code      date
688399.SH 2020-04-17   95.949997   95.949997   88.879997   92.000000
          2020-04-20   95.790001  109.970001   95.199997  108.730003
          2020-04-21  108.000000  118.199997  102.000000  114.440002
          2020-04-22  108.000000  118.500000  107.489998  109.089996
          2020-04-23  117.029999  128.880005  117.029999  128.880005

                               vol       amt  adj_factor         avg  \
code      date
688399.SH 2020-04-17  24047.009766  2.208113         1.0   91.824860
          2020-04-20  34636.898438  3.590274         1.0  103.654602
          2020-04-21  33081.828125  3.580782         1.0  108.240166
          2020-04-22  21584.169922  2.432959         1.0  112.719612
          2020-04-23  36237.828125  4.511718         1.0  124.502983

                          close0        avg0        pct
code      date
688399.SH 2020-04-17   92.000000   91.824860  -3.055853
          2020-04-20  108.730003  103.654602  18.184780
          2020-04-21  114.440002  108.240166   5.251539
          2020-04-22  109.089996  112.719612  -4.674941
          2020-04-23  128.880005  124.502983  18.140995

In [4]:
df_d_basic = dbop.create_df(cursor, STOCK_DAILY_BASIC[TABLE], start=start)
df_d_basic = dp.prepare_stock_d_basic(df_d_basic)
#
df_d_basic["pb*pe_ttm"] = df_d_basic["pb"] * df_d_basic["pe_ttm"]
df_d_basic["pb*pe"] = df_d_basic["pb"] * df_d_basic["pe"]

df_d_basic = df_d_basic.astype('float32')
print(df_d_basic.columns)
print(df_d_basic.shape)
df_d_basic.info(memory_usage='deep')
df_d_basic.tail()

select * from stock_daily_basic where date>=20160101
Index(['close', 'turnover_rate', 'turnover_rate_f', 'volume_ratio', 'pe',
       'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share', 'float_share',
       'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm', 'pb*pe'],
      dtype='object')
(3366811, 16)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3366811 entries, (000001.SZ, 2016-01-04 00:00:00) to (688399.SH, 2020-04-23 00:00:00)
Data columns (total 16 columns):
close              float32
turnover_rate      float32
turnover_rate_f    float32
volume_ratio       float32
pe                 float32
pe_ttm             float32
pb                 float32
ps                 float32
ps_ttm             float32
total_share        float32
float_share        float32
free_share         float32
total_mv           float32
circ_mv            float32
pb*pe_ttm          float32
pb*pe              float32
dtypes: float32(16)
memory usage: 218.6 MB

                           close  turnover_rate  turnover_rate_f  \
code      date
688399.SH 2020-04-17   92.000000      18.028299        18.028299
          2020-04-20  108.730003      25.967699        25.967699
          2020-04-21  114.440002      24.801800        24.801800
          2020-04-22  109.089996      16.181900        16.181900
          2020-04-23  128.880005      27.167900        27.167900

                      volume_ratio          pe     pe_ttm      pb         ps  \
code      date
688399.SH 2020-04-17          1.74   84.497902  60.448002  5.2551  23.376801
          2020-04-20          2.14   99.863602  71.440300  6.2107  27.627800
          2020-04-21          1.54  105.108002  75.192001  6.5369  29.078699
          2020-04-22          0.81  100.194298  71.676804  6.2313  27.719299
          2020-04-23          1.25  118.370499  84.679703  7.3617  32.747898

                         ps_ttm  total_share  float_share   free_share  \
code      date
688399.SH 2020-04-17  18.532900       5862.0  1333.847046  1333.847046
          2020-04-20  21.903099       5862.0  1333.847046  1333.847046
          2020-04-21  23.053400       5862.0  1333.847046  1333.847046
          2020-04-22  21.975599       5862.0  1333.847046  1333.847046
          2020-04-23  25.962200       5862.0  1333.847046  1333.847046

                         total_mv        circ_mv   pb*pe_ttm       pb*pe
code      date
688399.SH 2020-04-17  539304.0000  122713.921875  317.660278  444.044891
          2020-04-20  637375.2500  145029.187500  443.694275  620.222900
          2020-04-21  670847.2500  152645.453125  491.522583  687.080505
          2020-04-22  639485.5625  145509.375000  446.639648  624.340698
          2020-04-23  755494.5625  171906.203125  623.386597  871.408081

In [5]:
df = df_d
periods = [5,10,20,30,40,50,60,70,80,120,250]
for k in periods:
    df['{:d}ma'.format(k)]=df.reset_index('code').groupby('code')['close'].rolling(k).mean()
    df['{:d}ma_avg'.format(k)]=df.reset_index('code').groupby('code')['amt'].rolling(k).sum()\
            /df.reset_index('code').groupby('code')['vol'].rolling(k).sum()*1e6
print(df.columns)
    
for col2 in ["{}ma".format(k) for k in periods]:
    col1 = 'close'
    df['{}/{}'.format(col1,col2)] = df[col1]/df[col2]

for col2 in ["{}ma_avg".format(k) for k in periods]:
    col1 = 'close'
    df['{}/{}'.format(col1,col2)] = df[col1]/df[col2]

print(df.columns)

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '5ma_avg', '10ma', '10ma_avg', '20ma',
       '20ma_avg', '30ma', '30ma_avg', '40ma', '40ma_avg', '50ma', '50ma_avg',
       '60ma', '60ma_avg', '70ma', '70ma_avg', '80ma', '80ma_avg', '120ma',
       '120ma_avg', '250ma', '250ma_avg'],
      dtype='object')
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '5ma_avg', '10ma', '10ma_avg', '20ma',
       '20ma_avg', '30ma', '30ma_avg', '40ma', '40ma_avg', '50ma', '50ma_avg',
       '60ma', '60ma_avg', '70ma', '70ma_avg', '80ma', '80ma_avg', '120ma',
       '120ma_avg', '250ma', '250ma_avg', 'close/5ma', 'close/10ma',
       'close/20ma', 'close/30ma', 'close/40ma', 'close/50ma', 'close/60ma',
       'close/70ma', 'close/80ma', 'close/120ma', 'close/250ma',
       'close/5ma_avg', 'close/10ma_avg', 'close/20ma_avg', 'close/30ma_avg',
       'close/40ma_avg', 'close/50ma_avg', 'close/60ma_avg', 'close/70ma_avg',
       'close/80ma_avg', 'close/120ma_avg', 'close/250ma_avg'],
      dtype='object')

In [6]:
start_date = '-'.join([str(start)[:4],str(start)[4:6],str(start)[6:8]])
df_r_spl = pd.read_parquet(r"database\return_spl_5%_10%_20_8_15%").loc[idx[:,start_date:],:].sort_index()
df_r_spc = pd.read_parquet(r"database\return_spc_5%_10%_20_8_15%").loc[idx[:,start_date:],:].sort_index()

features = []
for col2 in ["{}ma".format(k) for k in periods]+["{}ma_avg".format(k) for k in periods]:
    col1 = 'close'
    features.append('{}/{}'.format(col1,col2))
print(features)
# result_50 = ml.assess_feature3(df[features],df_r.r,q_bin=50)
stats_1000_spl,result_1000_spl = ml.assess_feature3(df[features],df_r_spl.r,q_bin=1000)
stats_1000_spc,result_1000_spc = ml.assess_feature3(df[features],df_r_spc.r,q_bin=1000)

# print(result_50.sort_values(['median_std','mean_std'],ascending=False))
stats_1000_spl.sort_values(['median_std','mean_std'],ascending=False)
stats_1000_spc.sort_values(['median_std','mean_std'],ascending=False)

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:707: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:734: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:751: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

['close/5ma', 'close/10ma', 'close/20ma', 'close/30ma', 'close/40ma', 'close/50ma', 'close/60ma', 'close/70ma', 'close/80ma', 'close/120ma', 'close/250ma', 'close/5ma_avg', 'close/10ma_avg', 'close/20ma_avg', 'close/30ma_avg', 'close/40ma_avg', 'close/50ma_avg', 'close/60ma_avg', 'close/70ma_avg', 'close/80ma_avg', 'close/120ma_avg', 'close/250ma_avg']
close/10ma
                               mean    median
bin
(0.58091284, 0.80099142] -0.025827 -0.002703
(0.80099142, 0.82385952]  0.028609  0.022740
(0.82385952, 0.83601029]  0.025604  0.019868
(0.83601029, 0.84453193]  0.027698  0.020730
(0.84453193, 0.85111993]  0.025466  0.017731
...                            ...       ...
(1.18429773, 1.20102894] -0.015562 -0.025253
(1.20102894, 1.22663032] -0.016074 -0.028436
(1.22663032, 1.26885383] -0.023223 -0.033956
(1.26885383, 1.3799625]  -0.020435 -0.036211
(1.3799625, 1.57867704]  -0.021914 -0.030309

[1000 rows x 2 columns]

close/10ma_avg
                         mean    median
bin
(0.41812, 0.79719]  0.008296  0.017450
(0.79719, 0.81596]  0.019223  0.020467
(0.81596, 0.82721]  0.022824  0.018843
(0.82721, 0.83543]  0.024054  0.016949
(0.83543, 0.8419]   0.021891  0.014417
...                      ...       ...
(1.14206, 1.15318] -0.011688 -0.021411
(1.15318, 1.16841] -0.015321 -0.023581
(1.16841, 1.19215] -0.022008 -0.031312
(1.19215, 1.23608] -0.018636 -0.031667
(1.23608, 1.81432] -0.027875 -0.042918

[1000 rows x 2 columns]

close/120ma
                       mean    median
bin
(0.2867, 0.5748]  0.010251 -0.002090
(0.5748, 0.6094]  0.012725  0.000971
(0.6094, 0.6298]  0.015092  0.005675
(0.6298, 0.6436]  0.016384  0.006493
(0.6436, 0.6545]  0.015489  0.003936
...                    ...       ...
(1.5667, 1.6071] -0.005648 -0.015322
(1.6071, 1.6646] -0.011728 -0.020709
(1.6646, 1.7545] -0.010522 -0.019020
(1.7545, 1.9332] -0.011261 -0.021262
(1.9332, 3.9123] -0.008713 -0.022430

[1000 rows x 2 columns]

close/120ma_avg
                       mean    median
bin
(0.4371, 0.5734]  0.024860  0.014706
(0.5734, 0.5964]  0.020475  0.008286
(0.5964, 0.6109]  0.017367  0.008718
(0.6109, 0.6216]  0.019785  0.010101
(0.6216, 0.6304]  0.019672  0.010725
...                    ...       ...
(1.417, 1.444]   -0.008386 -0.017564
(1.444, 1.4789]  -0.008951 -0.016953
(1.4789, 1.5328] -0.011050 -0.017190
(1.5328, 1.6357] -0.007863 -0.015917
(1.6357, 3.1677] -0.008200 -0.016960

[1000 rows x 2 columns]

close/20ma
                       mean    median
bin
(0.3128, 0.751]   0.001334  0.003197
(0.751, 0.7794]   0.021199  0.013942
(0.7794, 0.7936]  0.022931  0.017083
(0.7936, 0.8036]  0.020448  0.014194
(0.8036, 0.8112]  0.022702  0.015209
...                    ...       ...
(1.2509, 1.2705] -0.008838 -0.018613
(1.2705, 1.2977] -0.019255 -0.028378
(1.2977, 1.3399] -0.014756 -0.025985
(1.3399, 1.4198] -0.020330 -0.033783
(1.4198, 2.1365] -0.018920 -0.029283

[1000 rows x 2 columns]

close/20ma_avg
                       mean    median
bin
(0.4867, 0.7494]  0.015459  0.018097
(0.7494, 0.77]    0.021449  0.015625
(0.77, 0.7826]    0.022330  0.015627
(0.7826, 0.7914]  0.020746  0.013109
(0.7914, 0.7983]  0.015581  0.009816
...                    ...       ...
(1.1896, 1.202]  -0.010182 -0.019769
(1.202, 1.22]    -0.015416 -0.023963
(1.22, 1.2461]   -0.020164 -0.028601
(1.2461, 1.2983] -0.016896 -0.029149
(1.2983, 2.0708] -0.021790 -0.033505

[1000 rows x 2 columns]

close/250ma
                       mean    median
bin
(0.2846, 0.4759]  0.017152  0.004197
(0.4759, 0.5057]  0.013944  0.001893
(0.5057, 0.5254]  0.015426  0.002207
(0.5254, 0.5391]  0.012347  0.002563
(0.5391, 0.5499]  0.017020  0.000000
...                    ...       ...
(1.7644, 1.8194] -0.005002 -0.010744
(1.8194, 1.896]  -0.004961 -0.009339
(1.896, 2.0133]  -0.008199 -0.015288
(2.0133, 2.2424] -0.008632 -0.016550
(2.2424, 5.0754] -0.005430 -0.015859

[1000 rows x 2 columns]

close/250ma_avg
                       mean    median
bin
(0.3139, 0.4637]  0.026932  0.015441
(0.4637, 0.4867]  0.018276  0.010127
(0.4867, 0.5016]  0.017956  0.006015
(0.5016, 0.5125]  0.019025  0.006445
(0.5125, 0.5212]  0.017678  0.001958
...                    ...       ...
(1.5763, 1.6133] -0.000956 -0.009862
(1.6133, 1.6609] -0.004397 -0.010596
(1.6609, 1.7332] -0.009369 -0.018163
(1.7332, 1.8692] -0.006401 -0.010359
(1.8692, 6.4324] -0.004370 -0.011494

[1000 rows x 2 columns]

close/30ma
                       mean    median
bin
(0.3689, 0.722]   0.005988  0.002930
(0.722, 0.7523]   0.017853  0.010730
(0.7523, 0.7677]  0.020510  0.013527
(0.7677, 0.7783]  0.021325  0.013989
(0.7783, 0.7862]  0.018081  0.011902
...                    ...       ...
(1.2995, 1.3215] -0.011100 -0.021779
(1.3215, 1.3518] -0.013745 -0.022928
(1.3518, 1.3963] -0.018235 -0.029493
(1.3963, 1.4835] -0.017412 -0.029596
(1.4835, 2.3624] -0.022702 -0.034812

[1000 rows x 2 columns]

close/30ma_avg
                                    mean    median
bin
(0.47950000000000004, 0.7222]  0.017549  0.016353
(0.7222, 0.7424]               0.017905  0.010725
(0.7424, 0.7548]               0.014896  0.009586
(0.7548, 0.764]                0.015957  0.009328
(0.764, 0.7709]                0.015264  0.007709
...                                 ...       ...
(1.2263, 1.2409]              -0.012464 -0.019651
(1.2409, 1.2618]              -0.013529 -0.021321
(1.2618, 1.2921]              -0.015284 -0.024091
(1.2921, 1.3505]              -0.017417 -0.027377
(1.3505, 2.2896]              -0.019596 -0.031818

[1000 rows x 2 columns]

close/40ma
                       mean    median
bin
(0.3109, 0.7002]  0.009251  0.003012
(0.7002, 0.7313]  0.016120  0.008284
(0.7313, 0.7472]  0.017845  0.008980
(0.7472, 0.7582]  0.017458  0.010543
(0.7582, 0.7667]  0.018121  0.008319
...                    ...       ...
(1.342, 1.3672]  -0.013332 -0.023449
(1.3672, 1.3994] -0.011895 -0.020690
(1.3994, 1.4497] -0.013355 -0.022996
(1.4497, 1.5489] -0.016647 -0.028286
(1.5489, 2.6876] -0.020380 -0.033058

[1000 rows x 2 columns]

close/40ma_avg
                       mean    median
bin
(0.4719, 0.6979]  0.016336  0.012475
(0.6979, 0.7194]  0.015507  0.008081
(0.7194, 0.732]   0.015701  0.009077
(0.732, 0.7415]   0.013132  0.005416
(0.7415, 0.749]   0.011347  0.005514
...                    ...       ...
(1.2572, 1.2744] -0.009953 -0.017656
(1.2744, 1.298]  -0.009465 -0.018861
(1.298, 1.3326]  -0.014521 -0.022996
(1.3326, 1.3967] -0.014581 -0.024000
(1.3967, 2.2999] -0.019036 -0.029630

[1000 rows x 2 columns]

close/50ma
                       mean    median
bin
(0.3148, 0.679]   0.006692  0.000000
(0.679, 0.7116]   0.017210  0.008869
(0.7116, 0.7284]  0.016874  0.008638
(0.7284, 0.7401]  0.013910  0.005048
(0.7401, 0.749]   0.015657  0.005976
...                    ...       ...
(1.382, 1.4084]  -0.012127 -0.021063
(1.4084, 1.4456] -0.010020 -0.019774
(1.4456, 1.5005] -0.015247 -0.024430
(1.5005, 1.6117] -0.012117 -0.024028
(1.6117, 2.9924] -0.018627 -0.032500

[1000 rows x 2 columns]

close/50ma_avg
                       mean    median
bin
(0.4648, 0.6744]  0.013891  0.008443
(0.6744, 0.6973]  0.015149  0.008097
(0.6973, 0.711]   0.013457  0.007210
(0.711, 0.721]    0.012259  0.005556
(0.721, 0.7289]   0.010964  0.003205
...                    ...       ...
(1.2842, 1.3028] -0.010137 -0.017069
(1.3028, 1.328]  -0.012103 -0.021612
(1.328, 1.3653]  -0.011568 -0.020920
(1.3653, 1.4352] -0.013774 -0.022581
(1.4352, 2.3212] -0.016930 -0.026551

[1000 rows x 2 columns]

close/5ma
                                       mean    median
bin
(0.7267735599999999, 0.85880659] -0.015294 -0.005348
(0.85880659, 0.87401315]          0.014151  0.008845
(0.87401315, 0.88279459]          0.018857  0.009422
(0.88279459, 0.88879642]          0.024293  0.012642
(0.88879642, 0.8935117]           0.022582  0.012012
...                                    ...       ...
(1.1305346, 1.14353895]          -0.015638 -0.027063
(1.14353895, 1.16487709]         -0.020420 -0.036111
(1.16487709, 1.19894252]         -0.023481 -0.041987
(1.19894252, 1.19912311]         -0.036518 -0.045920
(1.19912311, 1.36139909]         -0.022217 -0.034308

[1000 rows x 2 columns]

close/5ma_avg
                                    mean    median
bin
(0.6025900000000001, 0.84685] -0.003571  0.002857
(0.84685, 0.86221]             0.014566  0.009067
(0.86221, 0.87129]             0.018926  0.012587
(0.87129, 0.8779]              0.016883  0.006623
(0.8779, 0.88306]              0.011584  0.004609
...                                 ...       ...
(1.10646, 1.1149]             -0.014334 -0.025581
(1.1149, 1.12615]             -0.019679 -0.028872
(1.12615, 1.14292]            -0.019697 -0.032109
(1.14292, 1.17127]            -0.023979 -0.038540
(1.17127, 1.46888]            -0.030320 -0.044444

[1000 rows x 2 columns]

close/60ma
                       mean    median
bin
(0.3089, 0.6601]  0.007460  0.000233
(0.6601, 0.6929]  0.015157  0.007509
(0.6929, 0.7106]  0.015763  0.006235
(0.7106, 0.7226]  0.015930  0.004532
(0.7226, 0.7321]  0.014376  0.004751
...                    ...       ...
(1.4161, 1.4458] -0.011721 -0.021933
(1.4458, 1.486]  -0.009246 -0.018792
(1.486, 1.5477]  -0.012003 -0.021538
(1.5477, 1.6691] -0.011779 -0.022923
(1.6691, 3.2377] -0.016826 -0.029941

[1000 rows x 2 columns]

close/60ma_avg
                                    mean    median
bin
(0.46040000000000003, 0.6542]  0.013191  0.007258
(0.6542, 0.6782]               0.015384  0.006289
(0.6782, 0.6923]               0.015666  0.008727
(0.6923, 0.7034]               0.013999  0.004431
(0.7034, 0.7116]               0.014897  0.006393
...                                 ...       ...
(1.3069, 1.3267]              -0.008943 -0.017294
(1.3267, 1.3541]              -0.011162 -0.018845
(1.3541, 1.394]               -0.009269 -0.020316
(1.394, 1.4711]               -0.014788 -0.021814
(1.4711, 2.4476]              -0.014743 -0.024408

[1000 rows x 2 columns]

close/70ma
                       mean    median
bin
(0.331, 0.6439]   0.008972  0.002625
(0.6439, 0.6766]  0.013651  0.004630
(0.6766, 0.6947]  0.017388  0.007031
(0.6947, 0.7072]  0.014250  0.003019
(0.7072, 0.7171]  0.016605  0.006897
...                    ...       ...
(1.4463, 1.4781] -0.012162 -0.021652
(1.4781, 1.5227] -0.009845 -0.019200
(1.5227, 1.5902] -0.012446 -0.021403
(1.5902, 1.7224] -0.011389 -0.022907
(1.7224, 3.4482] -0.014060 -0.027015

[1000 rows x 2 columns]

close/70ma_avg
                       mean    median
bin
(0.429, 0.6377]   0.017792  0.008197
(0.6377, 0.6618]  0.017491  0.006289
(0.6618, 0.6769]  0.014182  0.005435
(0.6769, 0.6877]  0.015026  0.003736
(0.6877, 0.6962]  0.014952  0.005793
...                    ...       ...
(1.3276, 1.3487] -0.009711 -0.016397
(1.3487, 1.3776] -0.009443 -0.018405
(1.3776, 1.4203] -0.010129 -0.019703
(1.4203, 1.5012] -0.013105 -0.021394
(1.5012, 2.4898] -0.014847 -0.023891

[1000 rows x 2 columns]

close/80ma
                       mean    median
bin
(0.2937, 0.6311]  0.010152  0.002674
(0.6311, 0.6633]  0.012962  0.003454
(0.6633, 0.6813]  0.016880  0.006914
(0.6813, 0.6942]  0.016188  0.005210
(0.6942, 0.7042]  0.015737  0.004447
...                    ...       ...
(1.4732, 1.5076] -0.009417 -0.019149
(1.5076, 1.5548] -0.009841 -0.019119
(1.5548, 1.6269] -0.012332 -0.021881
(1.6269, 1.7683] -0.012695 -0.023607
(1.7683, 3.6111] -0.012513 -0.025860

[1000 rows x 2 columns]

close/80ma_avg
                       mean    median
bin
(0.4309, 0.6255]  0.022287  0.011259
(0.6255, 0.649]   0.014020  0.004695
(0.649, 0.6633]   0.014621  0.004693
(0.6633, 0.6742]  0.014441  0.003692
(0.6742, 0.6831]  0.013774  0.002326
...                    ...       ...
(1.3477, 1.3698] -0.007714 -0.015994
(1.3698, 1.3996] -0.010794 -0.020321
(1.3996, 1.4439] -0.009353 -0.017737
(1.4439, 1.5304] -0.013066 -0.021270
(1.5304, 2.6849] -0.013287 -0.022296

[1000 rows x 2 columns]

close/10ma
                               mean    median
bin
(0.58091284, 0.80099142] -0.018508 -0.011921
(0.80099142, 0.82385952]  0.039337  0.021142
(0.82385952, 0.83601029]  0.035842  0.018594
(0.83601029, 0.84453193]  0.037776  0.017950
(0.84453193, 0.85111993]  0.037142  0.017782
...                            ...       ...
(1.18429773, 1.20102894] -0.015776 -0.036036
(1.20102894, 1.22663032] -0.014389 -0.037844
(1.22663032, 1.26885383] -0.019335 -0.041932
(1.26885383, 1.3799625]  -0.015976 -0.044526
(1.3799625, 1.57867704]   0.195663  0.058154

[1000 rows x 2 columns]

close/10ma_avg
                         mean    median
bin
(0.41812, 0.79719]  0.017674  0.012638
(0.79719, 0.81596]  0.027717  0.012714
(0.81596, 0.82721]  0.029054  0.011946
(0.82721, 0.83543]  0.032204  0.011252
(0.83543, 0.8419]   0.030173  0.009404
...                      ...       ...
(1.14206, 1.15318] -0.008187 -0.030514
(1.15318, 1.16841] -0.008142 -0.033053
(1.16841, 1.19215]  0.001251 -0.035539
(1.19215, 1.23608]  0.043236 -0.026904
(1.23608, 1.81432]  0.099654 -0.011633

[1000 rows x 2 columns]

close/120ma
                       mean    median
bin
(0.2867, 0.5748]  0.015411 -0.007496
(0.5748, 0.6094]  0.022064 -0.004255
(0.6094, 0.6298]  0.026770  0.000000
(0.6298, 0.6436]  0.032634  0.003991
(0.6436, 0.6545]  0.029458  0.002494
...                    ...       ...
(1.5667, 1.6071] -0.007153 -0.029401
(1.6071, 1.6646] -0.013208 -0.032967
(1.6646, 1.7545] -0.013669 -0.033333
(1.7545, 1.9332] -0.010344 -0.035714
(1.9332, 3.9123] -0.010929 -0.035870

[1000 rows x 2 columns]

close/120ma_avg
                       mean    median
bin
(0.4371, 0.5734]  0.038664  0.011437
(0.5734, 0.5964]  0.036622  0.010911
(0.5964, 0.6109]  0.032207  0.009317
(0.6109, 0.6216]  0.034348  0.009404
(0.6216, 0.6304]  0.032563  0.005616
...                    ...       ...
(1.417, 1.444]   -0.011239 -0.032447
(1.444, 1.4789]  -0.012406 -0.031008
(1.4789, 1.5328] -0.012811 -0.031073
(1.5328, 1.6357] -0.010324 -0.029897
(1.6357, 3.1677] -0.006021 -0.030819

[1000 rows x 2 columns]

close/20ma
                       mean    median
bin
(0.3128, 0.751]   0.006935 -0.006865
(0.751, 0.7794]   0.032533  0.011917
(0.7794, 0.7936]  0.033655  0.011714
(0.7936, 0.8036]  0.031525  0.009972
(0.8036, 0.8112]  0.032677  0.011170
...                    ...       ...
(1.2509, 1.2705] -0.012212 -0.031426
(1.2705, 1.2977] -0.020720 -0.040882
(1.2977, 1.3399] -0.015484 -0.037237
(1.3399, 1.4198] -0.018110 -0.041508
(1.4198, 2.1365] -0.012751 -0.041206

[1000 rows x 2 columns]

close/20ma_avg
                       mean    median
bin
(0.4867, 0.7494]  0.023579  0.009046
(0.7494, 0.77]    0.029305  0.007021
(0.77, 0.7826]    0.029888  0.007872
(0.7826, 0.7914]  0.028991  0.006364
(0.7914, 0.7983]  0.021385  0.001739
...                    ...       ...
(1.1896, 1.202]  -0.013726 -0.032933
(1.202, 1.22]    -0.017247 -0.035860
(1.22, 1.2461]   -0.023105 -0.041339
(1.2461, 1.2983] -0.015293 -0.038257
(1.2983, 2.0708] -0.009393 -0.039930

[1000 rows x 2 columns]

close/250ma
                       mean    median
bin
(0.2846, 0.4759]  0.030575  0.002375
(0.4759, 0.5057]  0.027336 -0.002288
(0.5057, 0.5254]  0.027251  0.000000
(0.5254, 0.5391]  0.023674 -0.002577
(0.5391, 0.5499]  0.029993 -0.001503
...                    ...       ...
(1.7644, 1.8194] -0.007347 -0.027201
(1.8194, 1.896]  -0.008038 -0.027875
(1.896, 2.0133]  -0.009982 -0.031633
(2.0133, 2.2424] -0.008993 -0.029064
(2.2424, 5.0754] -0.006561 -0.028574

[1000 rows x 2 columns]

close/250ma_avg
                       mean    median
bin
(0.3139, 0.4637]  0.047410  0.019947
(0.4637, 0.4867]  0.031333  0.010101
(0.4867, 0.5016]  0.031388  0.008097
(0.5016, 0.5125]  0.031994  0.007680
(0.5125, 0.5212]  0.028020  0.001471
...                    ...       ...
(1.5763, 1.6133] -0.006299 -0.028357
(1.6133, 1.6609] -0.010258 -0.026488
(1.6609, 1.7332] -0.012631 -0.028743
(1.7332, 1.8692] -0.008378 -0.024233
(1.8692, 6.4324] -0.001662 -0.023658

[1000 rows x 2 columns]

close/30ma
                       mean    median
bin
(0.3689, 0.722]   0.009591 -0.008008
(0.722, 0.7523]   0.028447  0.005949
(0.7523, 0.7677]  0.029970  0.007475
(0.7677, 0.7783]  0.030885  0.006889
(0.7783, 0.7862]  0.028183  0.007527
...                    ...       ...
(1.2995, 1.3215] -0.014160 -0.033887
(1.3215, 1.3518] -0.015720 -0.035470
(1.3518, 1.3963] -0.021381 -0.040816
(1.3963, 1.4835] -0.016088 -0.040042
(1.4835, 2.3624] -0.021017 -0.046154

[1000 rows x 2 columns]

close/30ma_avg
                                    mean    median
bin
(0.47950000000000004, 0.7222]  0.023253  0.004545
(0.7222, 0.7424]               0.024079  0.002632
(0.7424, 0.7548]               0.020117  0.000000
(0.7548, 0.764]                0.020944  0.002543
(0.764, 0.7709]                0.021326  0.000000
...                                 ...       ...
(1.2263, 1.2409]              -0.016164 -0.033602
(1.2409, 1.2618]              -0.016986 -0.034773
(1.2618, 1.2921]              -0.020173 -0.037115
(1.2921, 1.3505]              -0.016720 -0.038715
(1.3505, 2.2896]              -0.012666 -0.039434

[1000 rows x 2 columns]

close/40ma
                       mean    median
bin
(0.3109, 0.7002]  0.012313 -0.007042
(0.7002, 0.7313]  0.025837  0.003993
(0.7313, 0.7472]  0.026176  0.002571
(0.7472, 0.7582]  0.027051  0.005545
(0.7582, 0.7667]  0.028494  0.003650
...                    ...       ...
(1.342, 1.3672]  -0.015690 -0.036302
(1.3672, 1.3994] -0.013213 -0.034483
(1.3994, 1.4497] -0.015088 -0.037010
(1.4497, 1.5489] -0.016752 -0.038888
(1.5489, 2.6876] -0.019861 -0.044923

[1000 rows x 2 columns]

close/40ma_avg
                       mean    median
bin
(0.4719, 0.6979]  0.023087  0.004995
(0.6979, 0.7194]  0.022334  0.000996
(0.7194, 0.732]   0.021284  0.000000
(0.732, 0.7415]   0.016666 -0.002446
(0.7415, 0.749]   0.015948 -0.002920
...                    ...       ...
(1.2572, 1.2744] -0.012693 -0.031772
(1.2744, 1.298]  -0.014731 -0.033099
(1.298, 1.3326]  -0.017412 -0.036315
(1.3326, 1.3967] -0.014307 -0.037237
(1.3967, 2.2999] -0.014169 -0.038775

[1000 rows x 2 columns]

close/50ma
                       mean    median
bin
(0.3148, 0.679]   0.008971 -0.008724
(0.679, 0.7116]   0.027325  0.004662
(0.7116, 0.7284]  0.023554  0.000000
(0.7284, 0.7401]  0.023720  0.000963
(0.7401, 0.749]   0.024087  0.000000
...                    ...       ...
(1.382, 1.4084]  -0.014797 -0.034483
(1.4084, 1.4456] -0.010405 -0.031881
(1.4456, 1.5005] -0.016883 -0.039216
(1.5005, 1.6117] -0.012433 -0.036309
(1.6117, 2.9924] -0.019031 -0.044951

[1000 rows x 2 columns]

close/50ma_avg
                       mean    median
bin
(0.4648, 0.6744]  0.020208  0.004545
(0.6744, 0.6973]  0.021633  0.000373
(0.6973, 0.711]   0.018526 -0.001389
(0.711, 0.721]    0.018413 -0.002158
(0.721, 0.7289]   0.014875 -0.006410
...                    ...       ...
(1.2842, 1.3028] -0.014828 -0.031532
(1.3028, 1.328]  -0.014488 -0.034262
(1.328, 1.3653]  -0.016054 -0.035462
(1.3653, 1.4352] -0.013690 -0.034831
(1.4352, 2.3212] -0.012870 -0.037975

[1000 rows x 2 columns]

close/5ma
                                       mean    median
bin
(0.7267735599999999, 0.85880659] -0.011555 -0.016456
(0.85880659, 0.87401315]          0.022018  0.003436
(0.87401315, 0.88279459]          0.028008  0.003999
(0.88279459, 0.88879642]          0.033163  0.007484
(0.88879642, 0.8935117]           0.029732  0.007371
...                                    ...       ...
(1.1305346, 1.14353895]          -0.014634 -0.038892
(1.14353895, 1.16487709]         -0.017985 -0.043591
(1.16487709, 1.19894252]          0.104470 -0.029355
(1.19894252, 1.19912311]          0.345298  0.195580
(1.19912311, 1.36139909]          0.372833  0.171352

[1000 rows x 2 columns]

close/5ma_avg
                                    mean    median
bin
(0.6025900000000001, 0.84685] -0.000212 -0.005750
(0.84685, 0.86221]             0.021543  0.001756
(0.86221, 0.87129]             0.026716  0.004136
(0.87129, 0.8779]              0.024510  0.000641
(0.8779, 0.88306]              0.017808 -0.005659
...                                 ...       ...
(1.10646, 1.1149]              0.036643 -0.027015
(1.1149, 1.12615]              0.068126 -0.026923
(1.12615, 1.14292]             0.118144 -0.016928
(1.14292, 1.17127]             0.183779 -0.000442
(1.17127, 1.46888]             0.233092  0.004014

[1000 rows x 2 columns]

close/60ma
                       mean    median
bin
(0.3089, 0.6601]  0.008594 -0.007468
(0.6601, 0.6929]  0.024833  0.002427
(0.6929, 0.7106]  0.026530  0.001583
(0.7106, 0.7226]  0.021888 -0.001133
(0.7226, 0.7321]  0.024729 -0.001580
...                    ...       ...
(1.4161, 1.4458] -0.015074 -0.034381
(1.4458, 1.486]  -0.011011 -0.032440
(1.486, 1.5477]  -0.014289 -0.037651
(1.5477, 1.6691] -0.012326 -0.036329
(1.6691, 3.2377] -0.016957 -0.042403

[1000 rows x 2 columns]

close/60ma_avg
                                    mean    median
bin
(0.46040000000000003, 0.6542]  0.019248  0.002287
(0.6542, 0.6782]               0.022575  0.001802
(0.6782, 0.6923]               0.022460  0.000721
(0.6923, 0.7034]               0.021307 -0.000897
(0.7034, 0.7116]               0.020141  0.000328
...                                 ...       ...
(1.3069, 1.3267]              -0.013868 -0.030675
(1.3267, 1.3541]              -0.013178 -0.032847
(1.3541, 1.394]               -0.010792 -0.032730
(1.394, 1.4711]               -0.015729 -0.035884
(1.4711, 2.4476]              -0.012233 -0.035885

[1000 rows x 2 columns]

close/70ma
                       mean    median
bin
(0.331, 0.6439]   0.011176 -0.007420
(0.6439, 0.6766]  0.022111 -0.000487
(0.6766, 0.6947]  0.026567  0.002023
(0.6947, 0.7072]  0.024185 -0.001442
(0.7072, 0.7171]  0.026934  0.003711
...                    ...       ...
(1.4463, 1.4781] -0.014167 -0.033131
(1.4781, 1.5227] -0.012377 -0.034851
(1.5227, 1.5902] -0.014235 -0.034700
(1.5902, 1.7224] -0.012240 -0.037822
(1.7224, 3.4482] -0.014708 -0.039490

[1000 rows x 2 columns]

close/70ma_avg
                       mean    median
bin
(0.429, 0.6377]   0.026232  0.004869
(0.6377, 0.6618]  0.026414  0.003346
(0.6618, 0.6769]  0.021292  0.000000
(0.6769, 0.6877]  0.021421 -0.001869
(0.6877, 0.6962]  0.023101  0.001311
...                    ...       ...
(1.3276, 1.3487] -0.012900 -0.030829
(1.3487, 1.3776] -0.013545 -0.031774
(1.3776, 1.4203] -0.009716 -0.031250
(1.4203, 1.5012] -0.014399 -0.035928
(1.5012, 2.4898] -0.013173 -0.035552

[1000 rows x 2 columns]

close/80ma
                       mean    median
bin
(0.2937, 0.6311]  0.012923 -0.006098
(0.6311, 0.6633]  0.021851  0.000000
(0.6633, 0.6813]  0.026806  0.000000
(0.6813, 0.6942]  0.026097 -0.000390
(0.6942, 0.7042]  0.027922  0.002141
...                    ...       ...
(1.4732, 1.5076] -0.011806 -0.031882
(1.5076, 1.5548] -0.012071 -0.033557
(1.5548, 1.6269] -0.014651 -0.034876
(1.6269, 1.7683] -0.013518 -0.038120
(1.7683, 3.6111] -0.013495 -0.038436

[1000 rows x 2 columns]

close/80ma_avg
                       mean    median
bin
(0.4309, 0.6255]  0.036032  0.011981
(0.6255, 0.649]   0.023901  0.001642
(0.649, 0.6633]   0.024306  0.001502
(0.6633, 0.6742]  0.023972  0.000000
(0.6742, 0.6831]  0.021024 -0.000980
...                    ...       ...
(1.3477, 1.3698] -0.010747 -0.030105
(1.3698, 1.3996] -0.013146 -0.031923
(1.3996, 1.4439] -0.010739 -0.031250
(1.4439, 1.5304] -0.014251 -0.035926
(1.5304, 2.6849] -0.011238 -0.033875

[1000 rows x 2 columns]

,mean_std,median_std,mean_max,median_max,mean_min,median_min,mean_q96%,median_q96%,mean_q4%,median_q4%
close/20ma,0.004031,0.004426,0.025207,0.017083,-0.020330,-0.033783,0.006901,-0.001949,-0.003762,-0.013845
close/10ma,0.004210,0.004418,0.028609,0.022740,-0.025827,-0.036211,0.004896,-0.002968,-0.004834,-0.014797
close/10ma_avg,0.003865,0.004242,0.024054,0.020467,-0.027875,-0.042918,0.004611,-0.003935,-0.004943,-0.014975
close/20ma_avg,0.003717,0.004036,0.022330,0.018097,-0.021790,-0.033505,0.007185,-0.002452,-0.003622,-0.013886
close/30ma,0.003781,0.003874,0.021325,0.013989,-0.022702,-0.034812,0.007232,-0.003584,-0.003952,-0.013832
close/40ma,0.003887,0.003839,0.018121,0.010543,-0.020380,-0.033058,0.008148,-0.002478,-0.004251,-0.014216
close/50ma,0.003821,0.003786,0.017210,0.008869,-0.018627,-0.032500,0.007967,-0.002567,-0.004413,-0.014416
close/60ma,0.003839,0.003756,0.015930,0.007509,-0.016826,-0.029941,0.008132,-0.001976,-0.004980,-0.014651
close/70ma,0.003765,0.003676,0.017388,0.007031,-0.014060,-0.027015,0.008315,-0.002108,-0.004819,-0.014475
close/120ma_avg,0.003712,0.003553,0.024860,0.014706,-0.011050,-0.017564,0.007926,-0.002468,-0.004027,-0.014057
close/120ma,0.003709,0.003499,0.020073,0.007178,-0.012952,-0.022430,0.008592,-0.002265,-0.004550,-0.014347
close/50ma_avg,0.003576,0.003495,0.015149,0.008443,-0.016930,-0.026551,0.007307,-0.003229,-0.004405,-0.014238
close/60ma_avg,0.003640,0.003473,0.015666,0.008727,-0.014788,-0.024408,0.007195,-0.003084,-0.004930,-0.014286
close/40ma_avg,0.003526,0.003435,0.016336,0.012475,-0.019036,-0.029630,0.007414,-0.002963,-0.004020,-0.013770
close/80ma,0.003567,0.003431,0.016880,0.006914,-0.012695,-0.025860,0.008429,-0.002414,-0.004320,-0.014299
close/30ma_avg,0.003330,0.003361,0.017905,0.016353,-0.019596,-0.031818,0.006460,-0.004240,-0.003875,-0.013804
close/70ma_avg,0.003569,0.003359,0.017792,0.008197,-0.014847,-0.023891,0.007622,-0.003625,-0.004462,-0.014255
close/5ma,0.003412,0.003285,0.024293,0.012642,-0.036518,-0.045920,0.003547,-0.006476,-0.004434,-0.014137
close/80ma_avg,0.003347,0.003106,0.022287,0.011259,-0.013287,-0.022296,0.007208,-0.003788,-0.004258,-0.013975
close/5ma_avg,0.003026,0.003068,0.018926,0.012587,-0.030320,-0.044444,0.003261,-0.006779,-0.004284,-0.014059
close/250ma,0.003276,0.002819,0.017598,0.004197,-0.009482,-0.017906,0.007469,-0.004010,-0.003835,-0.013919
close/250ma_avg,0.003247,0.002768,0.026932,0.015441,-0.009369,-0.018163,0.007178,-0.004921,-0.003755,-0.013771

,mean_std,median_std,mean_max,median_max,mean_min,median_min,mean_q96%,median_q96%,mean_q4%,median_q4%
close/5ma,0.016874,0.009474,0.372833,0.195580,-0.017985,-0.043591,0.005163,-0.012842,-0.005903,-0.020022
close/60ma,0.005995,0.005738,0.026530,0.002427,-0.016957,-0.042403,0.012759,-0.005725,-0.008273,-0.026375
close/50ma,0.005906,0.005615,0.027325,0.004662,-0.019031,-0.044951,0.012318,-0.006189,-0.007613,-0.025432
close/70ma,0.005835,0.005589,0.026934,0.003711,-0.016209,-0.039490,0.012975,-0.005176,-0.007870,-0.026459
close/40ma,0.006061,0.005516,0.028494,0.005545,-0.019861,-0.044923,0.013210,-0.006486,-0.007120,-0.024669
close/120ma,0.005955,0.005351,0.033021,0.004637,-0.018680,-0.035870,0.013556,-0.005246,-0.007434,-0.025732
close/80ma,0.005524,0.005304,0.027922,0.002141,-0.015529,-0.038436,0.012869,-0.005607,-0.007281,-0.026132
close/10ma,0.008284,0.005255,0.195663,0.058154,-0.019335,-0.044526,0.008821,-0.009214,-0.006414,-0.021130
close/30ma,0.005750,0.005212,0.030885,0.007527,-0.021381,-0.046154,0.011350,-0.008004,-0.006884,-0.024729
close/60ma_avg,0.005611,0.005205,0.022575,0.002287,-0.015729,-0.035885,0.011654,-0.007091,-0.007674,-0.025245
close/20ma,0.005997,0.005135,0.036349,0.012866,-0.020720,-0.041508,0.011588,-0.007350,-0.005773,-0.023440
close/50ma_avg,0.005435,0.005089,0.021633,0.004545,-0.016054,-0.037975,0.011400,-0.007190,-0.007342,-0.025191
close/120ma_avg,0.005882,0.005056,0.038664,0.011437,-0.012811,-0.032447,0.012714,-0.005339,-0.005947,-0.024260
close/70ma_avg,0.005437,0.005024,0.026414,0.004869,-0.014399,-0.035928,0.011519,-0.007223,-0.006950,-0.024798
close/40ma_avg,0.005419,0.004879,0.023087,0.004995,-0.017412,-0.038775,0.011940,-0.007549,-0.006425,-0.024940
close/250ma,0.005430,0.004676,0.030575,0.004332,-0.014024,-0.033013,0.011817,-0.007907,-0.006972,-0.024502
close/80ma_avg,0.005112,0.004665,0.036032,0.011981,-0.014251,-0.035926,0.011030,-0.007699,-0.006497,-0.024381
close/20ma_avg,0.005318,0.004477,0.029888,0.009046,-0.023105,-0.041339,0.010833,-0.008265,-0.006304,-0.023424
close/30ma_avg,0.004940,0.004440,0.024079,0.004545,-0.020173,-0.039434,0.010196,-0.009644,-0.006767,-0.024775
close/250ma_avg,0.005231,0.004262,0.047410,0.019947,-0.012631,-0.028743,0.010979,-0.009200,-0.006068,-0.022942
close/10ma_avg,0.005921,0.004085,0.099654,0.012714,-0.011466,-0.035539,0.008420,-0.011124,-0.006191,-0.021516
close/5ma_avg,0.010957,0.002766,0.233092,0.004136,-0.007141,-0.028545,0.004814,-0.012918,-0.005203,-0.020277

由上可知，avg类变量在等频分箱下差异更小，区分度弱于非avg，但在末端(1%)下的收益率明显高于非avg。

In [7]:
# import importlib
# import ml_model as ml
# importlib.reload(ml)

In [8]:
stats_1000_spl.sort_values(['mean_max'],ascending=False)
stats_1000_spc.sort_values(['mean_max'],ascending=False)

,mean_std,median_std,mean_max,median_max,mean_min,median_min,mean_q96%,median_q96%,mean_q4%,median_q4%
close/10ma,0.004210,0.004418,0.028609,0.022740,-0.025827,-0.036211,0.004896,-0.002968,-0.004834,-0.014797
close/250ma_avg,0.003247,0.002768,0.026932,0.015441,-0.009369,-0.018163,0.007178,-0.004921,-0.003755,-0.013771
close/20ma,0.004031,0.004426,0.025207,0.017083,-0.020330,-0.033783,0.006901,-0.001949,-0.003762,-0.013845
close/120ma_avg,0.003712,0.003553,0.024860,0.014706,-0.011050,-0.017564,0.007926,-0.002468,-0.004027,-0.014057
close/5ma,0.003412,0.003285,0.024293,0.012642,-0.036518,-0.045920,0.003547,-0.006476,-0.004434,-0.014137
close/10ma_avg,0.003865,0.004242,0.024054,0.020467,-0.027875,-0.042918,0.004611,-0.003935,-0.004943,-0.014975
close/20ma_avg,0.003717,0.004036,0.022330,0.018097,-0.021790,-0.033505,0.007185,-0.002452,-0.003622,-0.013886
close/80ma_avg,0.003347,0.003106,0.022287,0.011259,-0.013287,-0.022296,0.007208,-0.003788,-0.004258,-0.013975
close/30ma,0.003781,0.003874,0.021325,0.013989,-0.022702,-0.034812,0.007232,-0.003584,-0.003952,-0.013832
close/120ma,0.003709,0.003499,0.020073,0.007178,-0.012952,-0.022430,0.008592,-0.002265,-0.004550,-0.014347
close/5ma_avg,0.003026,0.003068,0.018926,0.012587,-0.030320,-0.044444,0.003261,-0.006779,-0.004284,-0.014059
close/40ma,0.003887,0.003839,0.018121,0.010543,-0.020380,-0.033058,0.008148,-0.002478,-0.004251,-0.014216
close/30ma_avg,0.003330,0.003361,0.017905,0.016353,-0.019596,-0.031818,0.006460,-0.004240,-0.003875,-0.013804
close/70ma_avg,0.003569,0.003359,0.017792,0.008197,-0.014847,-0.023891,0.007622,-0.003625,-0.004462,-0.014255
close/250ma,0.003276,0.002819,0.017598,0.004197,-0.009482,-0.017906,0.007469,-0.004010,-0.003835,-0.013919
close/70ma,0.003765,0.003676,0.017388,0.007031,-0.014060,-0.027015,0.008315,-0.002108,-0.004819,-0.014475
close/50ma,0.003821,0.003786,0.017210,0.008869,-0.018627,-0.032500,0.007967,-0.002567,-0.004413,-0.014416
close/80ma,0.003567,0.003431,0.016880,0.006914,-0.012695,-0.025860,0.008429,-0.002414,-0.004320,-0.014299
close/40ma_avg,0.003526,0.003435,0.016336,0.012475,-0.019036,-0.029630,0.007414,-0.002963,-0.004020,-0.013770
close/60ma,0.003839,0.003756,0.015930,0.007509,-0.016826,-0.029941,0.008132,-0.001976,-0.004980,-0.014651
close/60ma_avg,0.003640,0.003473,0.015666,0.008727,-0.014788,-0.024408,0.007195,-0.003084,-0.004930,-0.014286
close/50ma_avg,0.003576,0.003495,0.015149,0.008443,-0.016930,-0.026551,0.007307,-0.003229,-0.004405,-0.014238

,mean_std,median_std,mean_max,median_max,mean_min,median_min,mean_q96%,median_q96%,mean_q4%,median_q4%
close/5ma,0.016874,0.009474,0.372833,0.195580,-0.017985,-0.043591,0.005163,-0.012842,-0.005903,-0.020022
close/5ma_avg,0.010957,0.002766,0.233092,0.004136,-0.007141,-0.028545,0.004814,-0.012918,-0.005203,-0.020277
close/10ma,0.008284,0.005255,0.195663,0.058154,-0.019335,-0.044526,0.008821,-0.009214,-0.006414,-0.021130
close/10ma_avg,0.005921,0.004085,0.099654,0.012714,-0.011466,-0.035539,0.008420,-0.011124,-0.006191,-0.021516
close/250ma_avg,0.005231,0.004262,0.047410,0.019947,-0.012631,-0.028743,0.010979,-0.009200,-0.006068,-0.022942
close/120ma_avg,0.005882,0.005056,0.038664,0.011437,-0.012811,-0.032447,0.012714,-0.005339,-0.005947,-0.024260
close/20ma,0.005997,0.005135,0.036349,0.012866,-0.020720,-0.041508,0.011588,-0.007350,-0.005773,-0.023440
close/80ma_avg,0.005112,0.004665,0.036032,0.011981,-0.014251,-0.035926,0.011030,-0.007699,-0.006497,-0.024381
close/120ma,0.005955,0.005351,0.033021,0.004637,-0.018680,-0.035870,0.013556,-0.005246,-0.007434,-0.025732
close/30ma,0.005750,0.005212,0.030885,0.007527,-0.021381,-0.046154,0.011350,-0.008004,-0.006884,-0.024729
close/250ma,0.005430,0.004676,0.030575,0.004332,-0.014024,-0.033013,0.011817,-0.007907,-0.006972,-0.024502
close/20ma_avg,0.005318,0.004477,0.029888,0.009046,-0.023105,-0.041339,0.010833,-0.008265,-0.006304,-0.023424
close/40ma,0.006061,0.005516,0.028494,0.005545,-0.019861,-0.044923,0.013210,-0.006486,-0.007120,-0.024669
close/80ma,0.005524,0.005304,0.027922,0.002141,-0.015529,-0.038436,0.012869,-0.005607,-0.007281,-0.026132
close/50ma,0.005906,0.005615,0.027325,0.004662,-0.019031,-0.044951,0.012318,-0.006189,-0.007613,-0.025432
close/70ma,0.005835,0.005589,0.026934,0.003711,-0.016209,-0.039490,0.012975,-0.005176,-0.007870,-0.026459
close/60ma,0.005995,0.005738,0.026530,0.002427,-0.016957,-0.042403,0.012759,-0.005725,-0.008273,-0.026375
close/70ma_avg,0.005437,0.005024,0.026414,0.004869,-0.014399,-0.035928,0.011519,-0.007223,-0.006950,-0.024798
close/30ma_avg,0.004940,0.004440,0.024079,0.004545,-0.020173,-0.039434,0.010196,-0.009644,-0.006767,-0.024775
close/40ma_avg,0.005419,0.004879,0.023087,0.004995,-0.017412,-0.038775,0.011940,-0.007549,-0.006425,-0.024940
close/60ma_avg,0.005611,0.005205,0.022575,0.002287,-0.015729,-0.035885,0.011654,-0.007091,-0.007674,-0.025245
close/50ma_avg,0.005435,0.005089,0.021633,0.004545,-0.016054,-0.037975,0.011400,-0.007190,-0.007342,-0.025191

In [9]:
result_1000_spc['close/5ma'].tail(10)
mask = df['close/5ma']>1.199
index = df.index[mask]
len(index)
df_r_spc.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)
df_r_spl.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)
df_r_spl.loc[index].sort_values('date',ascending=False).head(20)

In [10]:
data_min_spc = [[col,df['mean'][0],df['median'][0]] for col,df in result_1000_spc.items()]
columns = ['col','mean','median']
df_min_spc = pd.DataFrame(data_min_spc,columns=columns)
df_min_spc.sort_values('mean',ascending=False)

data_min_spl = [[col,df['mean'][0],df['median'][0]] for col,df in result_1000_spl.items()]
df_min_spl = pd.DataFrame(data_min_spl,columns=columns)
df_min_spl.sort_values('mean',ascending=False)

                col      mean    median
11  close/250ma_avg  0.047410  0.019947
1   close/120ma_avg  0.038664  0.011437
5    close/80ma_avg  0.036032  0.011981
7       close/250ma  0.030575  0.002375
4    close/70ma_avg  0.026232  0.004869
2    close/20ma_avg  0.023579  0.009046
9    close/30ma_avg  0.023253  0.004545
0    close/40ma_avg  0.023087  0.004995
17   close/50ma_avg  0.020208  0.004545
3    close/60ma_avg  0.019248  0.002287
8    close/10ma_avg  0.017674  0.012638
21      close/120ma  0.015411 -0.007496
14       close/80ma  0.012923 -0.006098
18       close/40ma  0.012313 -0.007042
12       close/70ma  0.011176 -0.007420
10       close/30ma  0.009591 -0.008008
20       close/50ma  0.008971 -0.008724
16       close/60ma  0.008594 -0.007468
13       close/20ma  0.006935 -0.006865
19    close/5ma_avg -0.000212 -0.005750
6         close/5ma -0.011555 -0.016456
15       close/10ma -0.018508 -0.011921

                col      mean    median
11  close/250ma_avg  0.026932  0.015441
1   close/120ma_avg  0.024860  0.014706
5    close/80ma_avg  0.022287  0.011259
4    close/70ma_avg  0.017792  0.008197
9    close/30ma_avg  0.017549  0.016353
7       close/250ma  0.017152  0.004197
0    close/40ma_avg  0.016336  0.012475
2    close/20ma_avg  0.015459  0.018097
17   close/50ma_avg  0.013891  0.008443
3    close/60ma_avg  0.013191  0.007258
21      close/120ma  0.010251 -0.002090
14       close/80ma  0.010152  0.002674
18       close/40ma  0.009251  0.003012
12       close/70ma  0.008972  0.002625
8    close/10ma_avg  0.008296  0.017450
16       close/60ma  0.007460  0.000233
20       close/50ma  0.006692  0.000000
10       close/30ma  0.005988  0.002930
13       close/20ma  0.001334  0.003197
19    close/5ma_avg -0.003571  0.002857
6         close/5ma -0.015294 -0.005348
15       close/10ma -0.025827 -0.002703

In [15]:
data_max_spc = [[col,df['mean'][:10].max(),df['mean'][:10].idxmax(),df['median'][:10].max(),df['median'][:10].idxmax()] for col,df in result_1000_spc.items()]
columns = ['col','max_mean','max_mean_bin','max_median','max_median_bin']
df_max_spc = pd.DataFrame(data_max_spc,columns=columns)
df_max_spc.sort_values('max_mean',ascending=False)

data_max_spl = [[col,df['mean'].max(),df['mean'].idxmax(),df['median'].max(),df['median'].idxmax()] for col,df in result_1000_spl.items()]
df_max_spl = pd.DataFrame(data_max_spl,columns=columns)
df_max_spl.sort_values('max_mean',ascending=False)

,col,max_mean,max_mean_bin,max_median,max_median_bin
11,close/250ma_avg,0.047410,"(0.3139, 0.4637]",0.019947,"(0.3139, 0.4637]"
15,close/10ma,0.039337,"(0.80099142, 0.82385952]",0.021142,"(0.80099142, 0.82385952]"
1,close/120ma_avg,0.038664,"(0.4371, 0.5734]",0.011437,"(0.4371, 0.5734]"
13,close/20ma,0.036349,"(0.8112, 0.8173]",0.012866,"(0.8112, 0.8173]"
5,close/80ma_avg,0.036032,"(0.4309, 0.6255]",0.011981,"(0.4309, 0.6255]"
6,close/5ma,0.033163,"(0.88279459, 0.88879642]",0.007484,"(0.88279459, 0.88879642]"
21,close/120ma,0.033021,"(0.671, 0.6775]",0.004637,"(0.671, 0.6775]"
8,close/10ma_avg,0.032204,"(0.82721, 0.83543]",0.012714,"(0.79719, 0.81596]"
10,close/30ma,0.030885,"(0.7677, 0.7783]",0.007527,"(0.7783, 0.7862]"
7,close/250ma,0.030575,"(0.2846, 0.4759]",0.002375,"(0.2846, 0.4759]"
2,close/20ma_avg,0.029888,"(0.77, 0.7826]",0.009046,"(0.4867, 0.7494]"
18,close/40ma,0.028494,"(0.7582, 0.7667]",0.005545,"(0.7472, 0.7582]"
14,close/80ma,0.027922,"(0.6942, 0.7042]",0.002141,"(0.6942, 0.7042]"
20,close/50ma,0.027325,"(0.679, 0.7116]",0.004662,"(0.679, 0.7116]"
12,close/70ma,0.026934,"(0.7072, 0.7171]",0.003711,"(0.7072, 0.7171]"
19,close/5ma_avg,0.026716,"(0.86221, 0.87129]",0.004136,"(0.86221, 0.87129]"
16,close/60ma,0.026530,"(0.6929, 0.7106]",0.002427,"(0.6601, 0.6929]"
4,close/70ma_avg,0.026414,"(0.6377, 0.6618]",0.004869,"(0.429, 0.6377]"
9,close/30ma_avg,0.024079,"(0.7222, 0.7424]",0.004545,"(0.47950000000000004, 0.7222]"
0,close/40ma_avg,0.023087,"(0.4719, 0.6979]",0.004995,"(0.4719, 0.6979]"
3,close/60ma_avg,0.022575,"(0.6542, 0.6782]",0.002287,"(0.46040000000000003, 0.6542]"
17,close/50ma_avg,0.021633,"(0.6744, 0.6973]",0.004545,"(0.4648, 0.6744]"

,col,max_mean,max_mean_bin,max_median,max_median_bin
15,close/10ma,0.028609,"(0.80099142, 0.82385952]",0.022740,"(0.80099142, 0.82385952]"
11,close/250ma_avg,0.026932,"(0.3139, 0.4637]",0.015441,"(0.3139, 0.4637]"
13,close/20ma,0.025207,"(0.8112, 0.8173]",0.017083,"(0.7794, 0.7936]"
1,close/120ma_avg,0.024860,"(0.4371, 0.5734]",0.014706,"(0.4371, 0.5734]"
6,close/5ma,0.024293,"(0.88279459, 0.88879642]",0.012642,"(0.88279459, 0.88879642]"
8,close/10ma_avg,0.024054,"(0.82721, 0.83543]",0.020467,"(0.79719, 0.81596]"
2,close/20ma_avg,0.022330,"(0.77, 0.7826]",0.018097,"(0.4867, 0.7494]"
5,close/80ma_avg,0.022287,"(0.4309, 0.6255]",0.011259,"(0.4309, 0.6255]"
10,close/30ma,0.021325,"(0.7677, 0.7783]",0.013989,"(0.7677, 0.7783]"
21,close/120ma,0.020073,"(0.671, 0.6775]",0.007178,"(0.6545, 0.6635]"
19,close/5ma_avg,0.018926,"(0.86221, 0.87129]",0.012587,"(0.86221, 0.87129]"
18,close/40ma,0.018121,"(0.7582, 0.7667]",0.010543,"(0.7472, 0.7582]"
9,close/30ma_avg,0.017905,"(0.7222, 0.7424]",0.016353,"(0.47950000000000004, 0.7222]"
4,close/70ma_avg,0.017792,"(0.429, 0.6377]",0.008197,"(0.429, 0.6377]"
7,close/250ma,0.017598,"(0.5944, 0.5986]",0.004197,"(0.2846, 0.4759]"
12,close/70ma,0.017388,"(0.6766, 0.6947]",0.007031,"(0.6766, 0.6947]"
20,close/50ma,0.017210,"(0.679, 0.7116]",0.008869,"(0.679, 0.7116]"
14,close/80ma,0.016880,"(0.6633, 0.6813]",0.006914,"(0.6633, 0.6813]"
0,close/40ma_avg,0.016336,"(0.4719, 0.6979]",0.012475,"(0.4719, 0.6979]"
16,close/60ma,0.015930,"(0.7106, 0.7226]",0.007509,"(0.6601, 0.6929]"
3,close/60ma_avg,0.015666,"(0.6782, 0.6923]",0.008727,"(0.6782, 0.6923]"
17,close/50ma_avg,0.015149,"(0.6744, 0.6973]",0.008443,"(0.4648, 0.6744]"

In [17]:
metric = 'close/250ma_avg'
result_1000_spc[metric].head(20)
mask = (df[metric]<0.51)
index = df.index[mask]
len(index)
df_r_spc.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)
df_r_spl.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)
df_r_spl.loc[index].sort_values('date',ascending=False).head(20)

                      mean    median   cnt
bin
(0.3139, 0.4637]  0.047410  0.019947  1772
(0.4637, 0.4867]  0.031333  0.010101  1783
(0.4867, 0.5016]  0.031388  0.008097  1782
(0.5016, 0.5125]  0.031994  0.007680  1778
(0.5125, 0.5212]  0.028020  0.001471  1782
(0.5212, 0.5283]  0.025290  0.001163  1783
(0.5283, 0.5346]  0.023568 -0.002443  1778
(0.5346, 0.5403]  0.021069 -0.007858  1783
(0.5403, 0.5456]  0.021161 -0.003933  1777
(0.5456, 0.5505]  0.023237  0.000000  1780
(0.5505, 0.5549]  0.022395  0.000441  1782
(0.5549, 0.5592]  0.021162 -0.003175  1782
(0.5592, 0.5631]  0.019733  0.000000  1786
(0.5631, 0.5669]  0.017621 -0.004587  1785
(0.5669, 0.5706]  0.016744 -0.008811  1783
(0.5706, 0.574]   0.012585 -0.008351  1780
(0.574, 0.5771]   0.015363 -0.005161  1779
(0.5771, 0.5802]  0.019012 -0.004878  1779
(0.5802, 0.5831]  0.017951 -0.005562  1781
(0.5831, 0.586]   0.019194 -0.002845  1777

6678

                mean    median       max       min       std  size
date
2017-06-30  0.035038  0.007540  0.270130 -0.117320  0.090757   192
2017-09-30  0.042049  0.019960  0.471292 -0.125563  0.090382   395
2017-12-31 -0.007313 -0.013660  0.198738 -0.103969  0.054553   244
2018-03-31  0.076168  0.077074  0.535491 -0.153012  0.099631   960
2018-06-30  0.008252 -0.006969  0.264591 -0.163749  0.076004   419
2018-09-30 -0.006521 -0.019481  0.383729 -0.168421  0.066078  1506
2018-12-31  0.054496  0.033553  2.240000 -0.159780  0.114272  2276
2019-03-31  0.069641  0.046174  0.333333 -0.148311  0.114064   263
2019-06-30  0.003713 -0.010145  0.146826 -0.051360  0.053029    14
2019-09-30  0.018419 -0.004121  0.257622 -0.563636  0.119042    79
2019-12-31  0.018232 -0.002959  0.264331 -0.099301  0.079285    83
2020-03-31  0.024511 -0.006908  0.252688 -0.229814  0.086597   151
2020-06-30 -0.004576 -0.020290  0.247775 -0.122137  0.080236    96

                mean    median       max       min       std  size
date
2017-06-30  0.017522  0.003794  0.267951 -0.117320  0.066080   192
2017-09-30  0.026150  0.019723  0.443662 -0.125563  0.069064   395
2017-12-31 -0.002924 -0.014717  0.134361 -0.103969  0.050506   244
2018-03-31  0.050386  0.049086  0.488167 -0.136153  0.075436   960
2018-06-30  0.013820  0.008108  0.264591 -0.163749  0.067828   419
2018-09-30 -0.002423 -0.011320  0.309824 -0.151862  0.056538  1506
2018-12-31  0.024754  0.015504  2.240000 -0.159780  0.086322  2276
2019-03-31  0.045753  0.017323  0.333333 -0.148311  0.095390   263
2019-06-30  0.021951  0.007902  0.146826 -0.051360  0.066307    14
2019-09-30  0.004724 -0.007586  0.257622 -0.563636  0.097632    79
2019-12-31  0.020037  0.005666  0.221538 -0.078684  0.060550    83
2020-03-31  0.020930  0.007005  0.240601 -0.229814  0.074255   151
2020-06-30  0.001964 -0.013889  0.247775 -0.122137  0.070498    96

                         buy_at        max  max_idx   idx  is_selled  sell_at  \
code      date
600175.SH 2020-04-23        NaN        NaN      NaN  2316      False      NaN
300362.SZ 2020-04-23        NaN        NaN      NaN  1142      False      NaN
000669.SZ 2020-04-23        NaN        NaN      NaN  2272      False      NaN
600734.SH 2020-04-23        NaN        NaN      NaN  1951      False      NaN
002176.SZ 2020-04-23        NaN        NaN      NaN  2359      False      NaN
300156.SZ 2020-04-23        NaN        NaN      NaN  2003      False      NaN
603318.SH 2020-04-23        NaN        NaN      NaN  1051      False      NaN
300431.SZ 2020-04-23        NaN        NaN      NaN  1007      False      NaN
          2020-04-22   6.107640   6.477800   1007.0  1006      False      NaN
300156.SZ 2020-04-22   9.927361   9.927361   2003.0  2002      False      NaN
300362.SZ 2020-04-22   4.743160   4.773180   1142.0  1141      False      NaN
600175.SH 2020-04-22  17.875200  18.045439   2316.0  2315      False      NaN
603318.SH 2020-04-22  21.940859  21.940859   1051.0  1050      False      NaN
000669.SZ 2020-04-22   8.178240   8.214750   2272.0  2271      False      NaN
600734.SH 2020-04-22  12.440600  12.660140   1951.0  1950      False      NaN
000669.SZ 2020-04-21   7.849650   8.579849   2271.0  2270       True      NaN
603318.SH 2020-04-21  21.729599  22.001219   1050.0  1049      False      NaN
600175.SH 2020-04-21  17.534719  18.215681   2315.0  2314      False      NaN
300362.SZ 2020-04-21   4.833220   4.833220   1141.0  1140       True      NaN
300156.SZ 2020-04-21  10.386960  10.386960   2002.0  2001       True      NaN

                     sell_date   r
code      date
600175.SH 2020-04-23       NaT NaN
300362.SZ 2020-04-23       NaT NaN
000669.SZ 2020-04-23       NaT NaN
600734.SH 2020-04-23       NaT NaN
002176.SZ 2020-04-23       NaT NaN
300156.SZ 2020-04-23       NaT NaN
603318.SH 2020-04-23       NaT NaN
300431.SZ 2020-04-23       NaT NaN
          2020-04-22       NaT NaN
300156.SZ 2020-04-22       NaT NaN
300362.SZ 2020-04-22       NaT NaN
600175.SH 2020-04-22       NaT NaN
603318.SH 2020-04-22       NaT NaN
000669.SZ 2020-04-22       NaT NaN
600734.SH 2020-04-22       NaT NaN
000669.SZ 2020-04-21       NaT NaN
603318.SH 2020-04-21       NaT NaN
600175.SH 2020-04-21       NaT NaN
300362.SZ 2020-04-21       NaT NaN
300156.SZ 2020-04-21       NaT NaN

In [21]:
metric = 'close/10ma'
result_1000_spc[metric].head(20)
mask = (df[metric]>0.8) & (df[metric]<0.87) 
index = df.index[mask]
len(index)
df_r_spc.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)
df_r_spl.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)
df_r_spl.loc[index].sort_values('date',ascending=False).head(20)

                              mean    median   cnt
bin
(0.58091284, 0.80099142] -0.018508 -0.011921  3279
(0.80099142, 0.82385952]  0.039337  0.021142  3279
(0.82385952, 0.83601029]  0.035842  0.018594  3280
(0.83601029, 0.84453193]  0.037776  0.017950  3284
(0.84453193, 0.85111993]  0.037142  0.017782  3277
(0.85111993, 0.85636391]  0.035403  0.014568  3282
(0.85636391, 0.86094795]  0.033331  0.011805  3278
(0.86094795, 0.86473148]  0.031898  0.011174  3284
(0.86473148, 0.86818056]  0.031038  0.008568  3280
(0.86818056, 0.87138197]  0.028011  0.006588  3279
(0.87138197, 0.87420329]  0.027732  0.004789  3280
(0.87420329, 0.87682052]  0.021404  0.000000  3278
(0.87682052, 0.87919767]  0.023547  0.000963  3281
(0.87919767, 0.8815146]   0.021135  0.000000  3278
(0.8815146, 0.88367172]   0.019006  0.000479  3281
(0.88367172, 0.88571429]  0.019917 -0.002128  3275
(0.88571429, 0.88763125]  0.018282 -0.002000  3279
(0.88763125, 0.88950195]  0.016520 -0.003766  3279
(0.88950195, 0.89125556]  0.011934 -0.004762  3277
(0.89125556, 0.89294139]  0.019185 -0.003513  3276

4894

                mean    median       max       min       std  size
date
2016-03-31  0.062190  0.043012  0.369879 -0.135593  0.086538   788
2016-06-30  0.007135 -0.012424  0.257862 -0.116116  0.094889    40
2016-09-30 -0.020808 -0.020808 -0.002331 -0.039286  0.026131     2
2016-12-31 -0.021882 -0.033721  0.105839 -0.109170  0.059088    19
2017-03-31  0.024656 -0.006183  0.271168 -0.271033  0.098370    77
2017-06-30 -0.012154 -0.020652  0.351604 -0.576541  0.093806   215
2017-09-30  0.012305 -0.013072  0.218978 -0.189972  0.073172    67
2017-12-31 -0.024612 -0.033238  0.297082 -0.332734  0.087587   101
2018-03-31  0.039126  0.009412  0.422652 -0.369876  0.104272   715
2018-06-30  0.000844 -0.007086  0.266259 -0.359001  0.088535   551
2018-09-30 -0.020561 -0.023411  0.321739 -0.806952  0.112935   204
2018-12-31  0.010942 -0.003453  0.579882 -0.462687  0.105471   400
2019-03-31  0.122508  0.157426  0.299029 -0.189691  0.106210   118
2019-06-30  0.013539  0.004124  0.376812 -0.412088  0.083524   629
2019-09-30 -0.041562 -0.034626  0.583716 -0.671642  0.174516    58
2019-12-31 -0.012989 -0.010828  0.219512 -0.271281  0.076163    68
2020-03-31  0.108442  0.145361  0.599214 -0.235448  0.100471   819
2020-06-30 -0.031718 -0.033033  0.039432 -0.098746  0.043479    23

                mean    median       max       min       std  size
date
2016-03-31  0.066786  0.072961  0.369879 -0.135593  0.064533   788
2016-06-30  0.017293 -0.001432  0.238949 -0.091405  0.082974    40
2016-09-30 -0.018477 -0.018477  0.002331 -0.039286  0.029427     2
2016-12-31  0.005772 -0.005882  0.114963 -0.109170  0.064856    19
2017-03-31  0.010472 -0.006183  0.226772 -0.271033  0.077941    77
2017-06-30 -0.000378 -0.006110  0.248561 -0.145670  0.065553   215
2017-09-30  0.014025 -0.008753  0.203401 -0.189972  0.066734    67
2017-12-31 -0.004953 -0.007710  0.190175 -0.332734  0.076376   101
2018-03-31  0.000940 -0.007720  0.422652 -0.369876  0.070811   715
2018-06-30  0.001921  0.004613  0.250000 -0.359001  0.076897   551
2018-09-30 -0.015940 -0.010658  0.321739 -0.806952  0.107405   204
2018-12-31  0.006447 -0.006707  0.282885 -0.462687  0.088512   400
2019-03-31  0.079107  0.097430  0.243976 -0.189691  0.088272   118
2019-06-30  0.008077  0.008571  0.376812 -0.412088  0.068020   629
2019-09-30 -0.042150 -0.012399  0.168000 -0.671642  0.154562    58
2019-12-31 -0.008500 -0.002995  0.219512 -0.271281  0.076594    68
2020-03-31  0.079914  0.081278  0.516667 -0.214118  0.081195   819
2020-06-30 -0.010801 -0.024174  0.113751 -0.098746  0.061215    23

                          buy_at         max  max_idx   idx  is_selled  \
code      date
300540.SZ 2020-04-23         NaN         NaN      NaN   886      False
300457.SZ 2020-04-20  160.524139  161.738220   1143.0  1142      False
600250.SH 2020-04-17   15.013400   15.799300   2294.0  2291      False
300526.SZ 2020-04-15  252.374329  269.473206    766.0   764       True
300820.SZ 2020-04-15   88.870003   93.000000     45.0    43       True
600250.SH 2020-04-14   16.205801   16.232899   2289.0  2288       True
300526.SZ 2020-04-14  244.137070  265.243774    765.0   763       True
603557.SH 2020-04-13    8.160800    8.342600    635.0   633       True
603726.SH 2020-04-13   27.665638   28.164120    963.0   962       True
002953.SZ 2020-04-13   28.029449   29.567101    230.0   227       True
603557.SH 2020-04-10    8.494100    8.494100    633.0   632       True
002953.SZ 2020-04-10   28.160101   29.567101    230.0   226       True
          2020-04-08   30.451500   31.155001    225.0   224       True
          2020-04-07   31.245449   31.305750    224.0   223       True
603557.SH 2020-04-07    9.069799    9.201099    630.0   629       True
002953.SZ 2020-04-03   31.466549   32.391148    223.0   222       True
600892.SH 2020-04-03   23.774479   24.849390   2326.0  2324       True
603557.SH 2020-04-03    9.069799    9.201099    630.0   628       True
600753.SH 2020-04-03   31.196941   33.981979   2180.0  2170       True
600892.SH 2020-04-02   23.078951   24.533241   2324.0  2323       True

                         sell_at  sell_date         r
code      date
300540.SZ 2020-04-23         NaN        NaT       NaN
300457.SZ 2020-04-20         NaN        NaT       NaN
600250.SH 2020-04-17         NaN        NaT       NaN
300526.SZ 2020-04-15  253.763992 2020-04-20  0.005506
300820.SZ 2020-04-15   88.610001 2020-04-21 -0.002926
600250.SH 2020-04-14   15.230200 2020-04-17 -0.060201
300526.SZ 2020-04-14  261.820007 2020-04-17  0.072430
603557.SH 2020-04-13    8.029500 2020-04-22 -0.016089
603726.SH 2020-04-13   26.751759 2020-04-21 -0.033033
002953.SZ 2020-04-13   28.893749 2020-04-17  0.030835
603557.SH 2020-04-10    7.979000 2020-04-21 -0.060642
002953.SZ 2020-04-10   28.893749 2020-04-17  0.026053
          2020-04-08   28.160101 2020-04-13 -0.075247
          2020-04-07   28.160101 2020-04-13 -0.098746
603557.SH 2020-04-07    8.494100 2020-04-13 -0.063474
002953.SZ 2020-04-03   30.451500 2020-04-09 -0.032258
600892.SH 2020-04-03   22.383419 2020-04-13 -0.058511
603557.SH 2020-04-03    8.494100 2020-04-13 -0.063474
600753.SH 2020-04-03   34.745621 2020-04-21  0.113751
600892.SH 2020-04-02   24.596470 2020-04-08  0.065753

In [24]:
# metric = 'close/10ma'
metric2 = 'close/20ma'

# result_1000_spc[metric].head(20)
result_1000_spc[metric2].head(20)

# mask = (df[metric]>0.8) & (df[metric]<0.87) \
#     & (df[metric]>0.751) & (df[metric]<0.817)
mask = (df[metric]>0.751) & (df[metric]<0.817)
index = df.index[mask]
len(index)
df_r_spc.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)
df_r_spl.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)
df_r_spl.loc[index].sort_values('date',ascending=False).head(20)

                      mean    median   cnt
bin
(0.3128, 0.751]   0.006935 -0.006865  3173
(0.751, 0.7794]   0.032533  0.011917  3183
(0.7794, 0.7936]  0.033655  0.011714  3188
(0.7936, 0.8036]  0.031525  0.009972  3186
(0.8036, 0.8112]  0.032677  0.011170  3184
(0.8112, 0.8173]  0.036349  0.012866  3187
(0.8173, 0.8224]  0.031742  0.008455  3188
(0.8224, 0.8269]  0.028578  0.006464  3188
(0.8269, 0.8309]  0.031563  0.007707  3189
(0.8309, 0.8344]  0.029191  0.006724  3194
(0.8344, 0.8378]  0.024329  0.003062  3190
(0.8378, 0.8407]  0.027385  0.007694  3192
(0.8407, 0.8435]  0.025782  0.003690  3193
(0.8435, 0.846]   0.026085  0.002874  3187
(0.846, 0.8484]   0.024554  0.003458  3188
(0.8484, 0.8507]  0.023697  0.002359  3191
(0.8507, 0.8528]  0.025432  0.002623  3188
(0.8528, 0.8549]  0.021971  0.000000  3191
(0.8549, 0.8567]  0.021316  0.000000  3184
(0.8567, 0.8586]  0.020627  0.000639  3187

4482

                mean    median       max       min       std  size
date
2016-03-31  0.065099  0.048901  0.347882 -0.135593  0.087632   647
2016-06-30  0.055130 -0.009690  0.238949 -0.066447  0.123284    12
2016-09-30 -0.039286 -0.039286 -0.039286 -0.039286       NaN     1
2016-12-31 -0.035669 -0.054270  0.036765 -0.100810  0.047684    10
2017-03-31  0.010470 -0.011900  0.256898 -0.153394  0.094874    48
2017-06-30 -0.021414 -0.024551  0.257069 -0.568826  0.084134   244
2017-09-30  0.013369  0.001845  0.218978 -0.189972  0.077916    58
2017-12-31 -0.026779 -0.041152  0.297082 -0.152047  0.074072    84
2018-03-31  0.026537  0.004118  0.454802 -0.604730  0.129298   678
2018-06-30 -0.071382 -0.023396  0.301053 -0.948107  0.215763   538
2018-09-30 -0.086381 -0.044944  0.438519 -0.806952  0.170922   297
2018-12-31  0.007171 -0.012343  0.339350 -0.462687  0.113296   344
2019-03-31  0.097980  0.152062  0.299029 -0.227679  0.115930   114
2019-06-30 -0.015609 -0.002677  0.532258 -0.499145  0.119643   630
2019-09-30 -0.220775 -0.050360  0.165487 -0.804819  0.295285    97
2019-12-31 -0.008835 -0.014407  0.245399 -0.190097  0.084702    64
2020-03-31  0.118989  0.153488  0.390909 -0.298368  0.104539   593
2020-06-30 -0.026418 -0.028620  0.077903 -0.123254  0.050586    23

                mean    median       max       min       std  size
date
2016-03-31  0.069643  0.076250  0.311258 -0.135593  0.069766   647
2016-06-30  0.052895  0.033816  0.238949 -0.052478  0.092725    12
2016-09-30 -0.039286 -0.039286 -0.039286 -0.039286       NaN     1
2016-12-31  0.003736  0.003873  0.088235 -0.066667  0.047739    10
2017-03-31 -0.011473 -0.013880  0.138872 -0.153394  0.057592    48
2017-06-30 -0.014642 -0.012777  0.164985 -0.259868  0.067472   244
2017-09-30  0.013791 -0.001047  0.203401 -0.189972  0.071304    58
2017-12-31 -0.012050 -0.014771  0.152078 -0.152047  0.060211    84
2018-03-31 -0.007010 -0.009259  0.422652 -0.604730  0.101229   678
2018-06-30 -0.071392 -0.009839  0.226184 -0.948107  0.210773   538
2018-09-30 -0.082702 -0.037398  0.438519 -0.806952  0.169235   297
2018-12-31  0.001750 -0.006400  0.282885 -0.462687  0.095113   344
2019-03-31  0.061826  0.077176  0.225770 -0.227679  0.097130   114
2019-06-30 -0.016828  0.003275  0.376812 -0.499145  0.109857   630
2019-09-30 -0.218586 -0.046016  0.109407 -0.804819  0.295682    97
2019-12-31 -0.007894 -0.012307  0.219512 -0.190097  0.081830    64
2020-03-31  0.083233  0.088117  0.390909 -0.298368  0.083641   593
2020-06-30 -0.012689 -0.020535  0.158801 -0.123254  0.065399    23

                          buy_at         max  max_idx   idx  is_selled  \
code      date
600250.SH 2020-04-17   15.013400   15.799300   2294.0  2291      False
          2020-04-16   15.230200   15.799300   2294.0  2290      False
300526.SZ 2020-04-15  252.374329  269.473206    766.0   764       True
300820.SZ 2020-04-15   88.870003   93.000000     45.0    43       True
600250.SH 2020-04-15   15.528300   15.799300   2294.0  2289      False
300820.SZ 2020-04-14   91.500000   92.339996     43.0    42       True
300526.SZ 2020-04-14  244.137070  265.243774    765.0   763       True
600250.SH 2020-04-13   15.528300   17.560801   2288.0  2287       True
603557.SH 2020-04-13    8.160800    8.342600    635.0   633       True
002953.SZ 2020-04-10   28.160101   29.567101    230.0   226       True
300526.SZ 2020-04-10  251.750000  264.337494    763.0   761       True
603726.SH 2020-04-10   27.437168   28.164120    963.0   961       True
          2020-04-09   29.368780   29.555708    961.0   960       True
300820.SZ 2020-04-07  105.000000  107.739998     38.0    37       True
002953.SZ 2020-04-03   31.466549   32.391148    223.0   222       True
600892.SH 2020-04-03   23.774479   24.849390   2326.0  2324       True
603557.SH 2020-04-03    9.069799    9.201099    630.0   628       True
002953.SZ 2020-04-02   30.260550   34.371002    222.0   221       True
600753.SH 2020-04-02   29.984102   33.981979   2180.0  2169       True
002506.SZ 2020-04-02   15.494880   15.851670   1870.0  1869       True

                         sell_at  sell_date         r
code      date
600250.SH 2020-04-17         NaN        NaT       NaN
          2020-04-16         NaN        NaT       NaN
300526.SZ 2020-04-15  253.763992 2020-04-20  0.005506
300820.SZ 2020-04-15   88.610001 2020-04-21 -0.002926
600250.SH 2020-04-15         NaN        NaT       NaN
300820.SZ 2020-04-14   92.500000 2020-04-17  0.010929
300526.SZ 2020-04-14  261.820007 2020-04-17  0.072430
600250.SH 2020-04-13   15.528300 2020-04-16  0.000000
603557.SH 2020-04-13    8.029500 2020-04-22 -0.016089
002953.SZ 2020-04-10   28.893749 2020-04-17  0.026053
300526.SZ 2020-04-10  244.137070 2020-04-15 -0.030240
603726.SH 2020-04-10   26.751759 2020-04-21 -0.024981
          2020-04-09   27.665638 2020-04-14 -0.057992
300820.SZ 2020-04-07   97.300003 2020-04-10 -0.073333
002953.SZ 2020-04-03   30.451500 2020-04-09 -0.032258
600892.SH 2020-04-03   22.383419 2020-04-13 -0.058511
603557.SH 2020-04-03    8.494100 2020-04-13 -0.063474
002953.SZ 2020-04-02   31.245449 2020-04-08  0.032547
600753.SH 2020-04-02   34.745621 2020-04-21  0.158801
002506.SZ 2020-04-02   14.322570 2020-04-13 -0.075658

In [ ]:
#