In [1]:
import pandas as pd
import numpy as np
from script import *
import itertools
import lightgbm as lgbm
import matplotlib.pyplot as plt

import time

In [49]:
pd.set_option('display.max_rows',200)
idx = pd.IndexSlice
agg_operations =['mean','median','max','min','std','size']

In [3]:
start = 20130101
cursor = dbop.connect_db("sqlite3").cursor()

df_d = dbop.create_df(cursor, STOCK_DAY[TABLE], start=start)
df_d = dp.proc_stock_d(dp.prepare_stock_d(df_d))
df_d.drop(columns=['open0','high0','low0','vol0'],inplace=True)
df_d['pct'] = df_d.sort_index().groupby('code')['close'].pct_change()*100
print(df_d.columns)
print(df_d.shape)

select * from stock_day where date>=20130101
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct'],
      dtype='object')
(2304627, 11)

In [4]:
df_d['pct'] = df_d.sort_index().groupby('code')['close'].pct_change()*100
df_d['amt'] /= 1e4
df = df_d

periods = [5,10,20,30,60,120,250]
for k in periods:
    df['{:d}ma'.format(k)]=df.reset_index('code').groupby('code')['close'].rolling(k).mean()
print(df.columns)
    
for col2 in ["{}ma".format(k) for k in periods]:
    col1 = 'close'
    df['{}/{}'.format(col1,col2)] = df[col1]/df[col2]
print(df.columns)

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '10ma', '20ma', '30ma', '60ma', '120ma',
       '250ma'],
      dtype='object')
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '10ma', '20ma', '30ma', '60ma', '120ma',
       '250ma', 'close/5ma', 'close/10ma', 'close/20ma', 'close/30ma',
       'close/60ma', 'close/120ma', 'close/250ma'],
      dtype='object')

In [7]:
start_date = '-'.join([str(start)[:4],str(start)[4:6],str(start)[6:8]])
df_r = pd.read_parquet(r"database\return_5%_10%_20_8_15%").loc[idx[:,start_date:],:].sort_index()

In [15]:
print(df.index.is_lexsorted())
# df.groupby('code').apply(lambda x:np.arange(1,len(x+1))).head()
df['tmp'] = 1
df['idx'] = df.reset_index('code').groupby('code')['tmp'].expanding(1).sum().astype('int')
print(df['idx'].head())
del df['tmp']

In [16]:
index = df_d.index[(df_d['close/120ma']<=0.69)
                 & (df_d['close/30ma']<=0.778)
                 & (df_d['close/60ma']<=0.65)
                 & (df_d['close/60ma']>=0.55)
                ]
print(len(index))

1261

In [30]:
df_target = df.loc[index]
print(df_target.shape)
for i in range(1,6):
    df_target['idx_diff{}'.format(i)] = df_target.groupby('code')['idx'].diff(i)
    # 打印连续超跌i天的样本数量
    print('idx_diff{0}=={0}:'.format(i),(df_target['idx_diff{}'.format(i)]==i).sum())
    
df_target = df_target.join(df_r,how='inner',rsuffix='r_')
# 检查拼表后数据是否完整
print(df_target.shape)

(1261, 26)
idx_diff1==1: 564
idx_diff2==2: 305
idx_diff3==3: 179
idx_diff4==4: 117
idx_diff5==5: 80
(1261, 38)

In [50]:
# 统计连续超跌i天后次日买入的总收益率与各年收益率情况
for i in range(1,6):
    print('idx_diff{0}=={0}'.format(i))
    print(df_target[df_target['idx_diff{}'.format(i)]==i].reset_index('code')['r'].resample('Y').agg(agg_operations))
    print('-'*5)
    print(df_target[df_target['idx_diff{}'.format(i)]==i]['r'].agg(agg_operations))
    print('-'*10+'\n')

# 统计只超跌一天的收益率情况（注意这里实际上用到了未来数据，但依然有借鉴作用）
i=1
print('idx_diff1>{}'.format(i))
print(df_target[df_target['idx_diff{}'.format(i)]>i].reset_index('code')['r'].resample('Y').agg(agg_operations))
print('-'*5)
print(df_target[df_target['idx_diff{}'.format(i)]>i]['r'].agg(agg_operations))
print('-'*10+'\n')
print(len(df_target),(df_target['idx_diff{}'.format(i)]>i).sum(),(df_target['idx_diff{}'.format(i)]==i).sum())

# 结果显示，无论是整体收益率还是19年收益率，连续超跌天数越大，则表现越差。

idx_diff1==1
                mean    median       max       min       std  size
date
2015-12-31  0.082075  0.081982  0.655405 -0.333562  0.127632   277
2016-12-31  0.058145  0.047458  0.305152 -0.066667  0.065561    58
2017-12-31 -0.007091  0.000000  0.025126 -0.038410  0.029386     5
2018-12-31  0.010027  0.000000  0.224490 -0.189268  0.061744   175
2019-12-31 -0.016409 -0.003143  0.242424 -0.554711  0.142387    39
2020-12-31 -0.046639 -0.061890  0.002283 -0.065060  0.032650    10
-----
mean        0.048365
median      0.038402
max         0.655405
min        -0.554711
std         0.111786
size      564.000000
Name: r, dtype: float64
----------

idx_diff2==2
                mean    median       max       min       std  size
date
2015-12-31  0.058576  0.056522  0.551485 -0.221648  0.103748   107
2016-12-31  0.066191  0.055258  0.203170 -0.049231  0.061458    28
2017-12-31  0.013350  0.014925  0.025126  0.000000  0.012637     3
2018-12-31  0.011777 -0.002086  0.224490 -0.157121  0.062196   132
2019-12-31 -0.025100 -0.016867  0.242424 -0.554711  0.160688    29
2020-12-31 -0.061669 -0.061669 -0.061669 -0.061669       NaN     6
-----
mean        0.029632
median      0.022080
max         0.551485
min        -0.554711
std         0.095766
size      305.000000
Name: r, dtype: float64
----------

idx_diff3==3
                mean    median       max       min       std  size
date
2015-12-31  0.028877  0.031579  0.253676 -0.221648  0.094140    41
2016-12-31  0.052710  0.047458  0.197411 -0.048470  0.066453     9
2017-12-31  0.020026  0.020026  0.025126  0.014925  0.007213     2
2018-12-31  0.012371 -0.001739  0.224490 -0.157121  0.063495   103
2019-12-31 -0.052860 -0.030303  0.242424 -0.554711  0.174692    21
2020-12-31       NaN       NaN       NaN       NaN       NaN     3
-----
mean        0.010582
median      0.012355
max         0.253676
min        -0.554711
std         0.093386
size      179.000000
Name: r, dtype: float64
----------

idx_diff4==4
                mean    median       max       min       std  size
date
2015-12-31  0.025711  0.031579  0.168193 -0.221648  0.097707    17
2016-12-31  0.092204  0.053050  0.197411  0.026151  0.092099     3
2017-12-31  0.014925  0.014925  0.014925  0.014925       NaN     1
2018-12-31  0.017459 -0.001739  0.224490 -0.157121  0.067893    79
2019-12-31 -0.095567 -0.050048  0.028522 -0.554711  0.171858    16
2020-12-31       NaN       NaN       NaN       NaN       NaN     1
-----
mean        0.004990
median     -0.000870
max         0.224490
min        -0.554711
std         0.101148
size      117.000000
Name: r, dtype: float64
----------

idx_diff5==5
                mean    median       max       min       std  size
date
2015-12-31  0.010253  0.031579  0.116071 -0.221648  0.107098     7
2016-12-31  0.026151  0.026151  0.026151  0.026151       NaN     1
2017-12-31       NaN       NaN       NaN       NaN       NaN     0
2018-12-31  0.008361 -0.006494  0.224490 -0.157121  0.070041    59
2019-12-31 -0.080161 -0.053528  0.019002 -0.554711  0.145887    13
-----
mean      -0.005635
median    -0.008116
max        0.224490
min       -0.554711
std        0.093814
size      80.000000
Name: r, dtype: float64
----------

idx_diff1>1
                mean    median       max       min       std  size
date
2015-12-31  0.079721  0.078595  0.409207 -0.218506  0.089725   236
2016-12-31  0.081235  0.050351  1.204987 -0.112522  0.217957    31
2017-12-31 -0.034057 -0.034057 -0.018750 -0.049363  0.021647     2
2018-12-31  0.017770  0.010355  0.149425 -0.270413  0.073994    44
2019-12-31  0.100540  0.073250  0.376812 -0.023641  0.133910     8
2020-12-31 -0.013556 -0.013556 -0.002143 -0.024969  0.016140     2
-----
mean        0.070489
median      0.064748
max         1.204987
min        -0.270413
std         0.109936
size      323.000000
Name: r, dtype: float64
----------

1261 323 564

In [67]:
i=3
df_target[df_target['idx_diff{}'.format(i)]==i][['open','close','amt','buy_at','r','idx_diff5','idx_diff4','idx_diff3']]

                           open      close         amt     buy_at         r  \
code      date
000155.SZ 2017-12-28    9.59616    9.42368   37.683585    9.36096  0.025126
          2017-12-29    9.36096    9.45504   21.666583    9.45504  0.014925
          2018-01-02    9.45504    9.61184   24.836336    9.65888 -0.006494
000156.SZ 2016-01-29   17.74239   18.60480   17.268203   18.63387  0.011440
          2016-02-01   18.63387   18.21720   14.108151   18.26565  0.053050
000503.SZ 2018-10-17  105.77235  104.63010   24.889928  106.91460  0.022080
          2018-10-18  106.91460  103.25940   23.508771   98.99500  0.150000
000558.SZ 2016-02-01   56.75670   57.15360   35.984142   57.31236  0.087258
000750.SZ 2015-08-27   65.33033   68.23713   71.464925   69.03650  0.000000
          2015-08-28   69.03650   71.94330   84.435181   71.57995 -0.049746
          2015-08-31   71.57995   70.48990   66.097533   69.03650  0.031579
000776.SZ 2015-08-27   60.77295   63.76500  154.290296   64.50075  0.000760
000976.SZ 2018-06-29   18.84249   19.13633    8.610923   19.06287 -0.028902
          2018-07-09   17.96097   18.32827    5.893124   18.43846  0.025896
          2018-07-10   18.43846   18.40173    3.116681   18.21808  0.108871
002073.SZ 2015-09-07  103.07595  106.20225   25.052122  103.53570  0.090586
          2015-09-08  103.53570  112.91460   20.380061  115.12140 -0.019169
002168.SZ 2015-09-07  120.99800  121.89650   19.426776  121.29750  0.139506
002285.SZ 2016-02-01  102.12048   99.18249   14.921996   99.79035  0.065990
002307.SZ 2015-07-16   25.08210   25.36920   26.480496   25.44750  0.048205
          2015-07-17   25.44750   27.17010   28.132680   27.35280  0.019084
002371.SZ 2015-09-08   90.71244   94.64000    7.795617   96.01228 -0.117792
          2015-09-17   88.01520   85.41260    7.039350   85.88580  0.073278
002411.SZ 2020-03-31   34.45282   32.16152   51.232793   32.32816       NaN
          2020-04-01   32.32816   32.36982   38.996958        NaN       NaN
002434.SZ 2018-10-22   38.27240   39.44600    9.188430   39.44600 -0.049587
          2018-10-23   39.44600   38.33760    5.933960   38.40280  0.000000
          2018-10-24   38.40280   38.46800    4.111978   37.49000  0.080000
          2018-10-25   37.49000   37.81600    4.406924   38.40280  0.054329
          2018-10-26   38.40280   37.62040    2.918031   37.88120  0.068847
          2018-10-29   37.88120   37.03360    2.669241   37.29440  0.085664
          2018-10-30   37.29440   37.81600    3.678458   36.96840  0.095238
002463.SZ 2015-09-07   12.11210   12.16534   12.199751   12.00562 -0.028825
002470.SZ 2019-05-10   19.03974   19.25319   34.012660   18.86898 -0.011312
          2019-05-13   18.86898   18.61284   21.470520   18.27132 -0.016355
          2019-05-14   18.27132   18.61284   18.988017   18.65553 -0.036613
          2019-05-15   18.65553   19.21050   25.548514   19.08243 -0.058166
          2019-05-16   19.08243   19.16781   17.851994   19.25319 -0.088692
          2019-05-17   19.25319   18.35670   18.346684   17.97249  0.019002
          2019-05-20   17.97249   17.54559   23.213202   17.54559  0.012165
          2019-05-21   17.54559   18.35670   19.660413   18.31401 -0.030303
          2019-05-22   18.31401   17.80173   14.568684   17.71635 -0.016867
          2019-05-23   17.71635   17.63097   14.265261   17.75904 -0.064904
          2019-05-24   17.75904   17.41752   10.435385   17.41752 -0.046569
          2019-05-27   17.41752   17.92980   14.787409   17.84442 -0.069378
          2019-05-28   17.84442   17.71635   11.056820   17.54559 -0.053528
          2019-05-29   17.54559   17.71635    8.120078   17.54559 -0.053528
002501.SZ 2018-08-07   28.10928   28.78752   14.006718   28.63680  0.050000
          2018-08-08   28.63680   28.78752   16.714556   28.63680  0.047368
          2018-08-09   28.63680   30.06864   16.882223   30.06864 -0.050125
          2018-08-10   30.06864   29.69184    8.485231   29.01360 -0.007792
          2018-08-13   29.01360   29.69184    5.711823   29.99328 -0.047739
          2018-08-14   29.99328   29.76720    7.370751   29.54112 -0.025510
          2018-08-15   29.54112   29.01360    5.809594   28.56144 -0.002639
          2018-08-16   28.56144   28.56144    4.815024   28.78752 -0.010471
          2018-08-17   28.78752   27.73248    5.721889   27.95856  0.043127
          2018-08-20   27.95856   28.33536    5.639275   28.48608  0.023810
002506.SZ 2020-04-01   15.39294   15.74973  107.491603        NaN       NaN
002522.SZ 2018-06-27   51.64044   52.05159    7.904830   51.72267  0.023847
          2018-06-28   51.72267   52.21605   10.771127   52.21605  0.014173
          2018-06-29   52.21605   53.20281    6.682239   53.20281 -0.004637
          2018-07-02   53.20281   52.46274    6.245834   52.62720 -0.068750
          2018-07-03   52.62720   53.28504    6.342148   52.95612 -0.074534
          2018-07-04   52.95612   51.64044    4.555823   51.64044  0.019108
          2018-07-05   51.64044   48.02232    7.997438   49.00908  0.040268
          2018-07-06   49.00908   50.98260    7.915232   52.62720 -0.031250
          2018-07-09   52.62720   52.29828    5.647202   52.46274 -0.028213
002547.SZ 2018-07-05   29.80440   29.07000   31.769853   28.70280  0.017058
          2018-07-06   28.70280   29.13120   22.764231   29.00880  0.006329
          2018-07-09   29.00880   29.37600   33.391143   28.21320  0.019523
          2018-07-10   28.21320   29.37600   21.133522   29.19240 -0.014675
          2018-07-11   29.19240   29.00880   16.479454   29.00880 -0.008439
          2018-07-12   29.00880   29.55960   35.496428   29.68200 -0.030928
          2018-07-13   29.68200   29.31480   21.876045   29.07000 -0.014737
          2018-07-16   29.07000   29.07000   11.508262   29.07000 -0.014737
          2018-07-17   29.07000   29.13120   12.201743   29.19240 -0.018868
          2018-07-18   29.19240   28.94760    9.324256   28.82520 -0.006369
          2018-08-31   20.07360   20.13480   11.062841   20.19600 -0.009091
          2018-09-03   20.19600   19.58400   14.318295   19.52280  0.059561
002583.SZ 2018-02-06   57.60197   60.39547   31.635794   62.18331  0.017071
          2018-02-07   62.18331   62.12744   23.481571   62.35092  0.012545
002664.SZ 2018-09-27   41.68593   39.28275   20.408934   39.80652 -0.010062
          2018-09-28   39.80652   40.20705   16.279728   39.28275  0.013333
          2018-10-08   39.28275   38.78979   13.433060   39.40599 -0.082095
          2018-10-09   39.40599   39.03627    9.308320   39.80652 -0.157121
          2018-10-10   39.80652   37.77306    9.582596   36.17094 -0.056218
002673.SZ 2015-08-28   35.04384   36.68652  119.400655   36.07578 -0.054291
          2015-08-31   36.07578   34.77006   94.137626   33.86448  0.094527
          2015-09-01   33.86448   36.47592  133.824562   34.11720  0.024074
          2015-09-17   30.70548   29.77884   40.377757   30.13686  0.030748
          2015-09-18   30.13686   29.82096   20.855321   29.31552  0.109914
          2015-09-21   29.31552   31.00032   30.572041   31.06350  0.027119
002879.SZ 2018-03-05   30.57000   31.05000    7.930084   31.15000  0.058748
300002.SZ 2018-06-22   56.79870   59.86890   19.047028   60.17592  0.025510
          2018-06-25   60.17592   58.48731   11.013849   58.18029  0.052770
300033.SZ 2015-09-11  347.19840  343.91520   34.679771  339.81120 -0.181159
          2015-09-21  295.48800  327.99168   58.178824  326.67840 -0.025126
300091.SZ 2018-10-16   39.74704   38.41406   12.010636   38.89878 -0.084112
          2018-10-17   38.89878   38.77760    9.628312   38.05052  0.098726
          2018-10-18   38.05052   35.62692   10.909363   35.62692  0.224490
          2018-10-19   35.62692   39.14114    8.253346   41.80710  0.000000
300168.SZ 2018-10-26   86.82912   83.80400   65.810134   83.96752 -0.003895
          2018-10-29   83.96752   84.94864   44.022253   84.04928  0.138132
          2018-10-30   84.04928   83.64048   48.090899   83.64048  0.143695
          2018-10-31   83.64048   85.60272   51.957336   89.60896  0.095803
          2018-11-01   89.60896   90.59008   99.921338   95.65920  0.032479
300202.SZ 2018-07-17   71.48250   69.39000   10.509597   70.40250 -0.046021
          2018-07-18   70.40250   69.18750   10.083645   69.52500  0.077670
          2018-07-19   69.52500   67.83750    8.219610   67.16250  0.115578
          2018-07-20   67.16250   68.78250    8.425236   68.51250  0.093596
300221.SZ 2018-10-16   23.16600   22.32360    5.304299   22.74480 -0.112963
          2018-10-17   22.74480   22.32360    4.415069   22.74480  0.064815
          2018-10-18   22.74480   20.72304    6.270440   20.17548  0.173278
          2018-10-19   20.17548   22.78692    5.140485   24.21900 -0.001739
300236.SZ 2015-09-01   28.73728   26.70720    4.213790   24.96000  0.120000
          2015-09-02   24.96000   26.69056    3.610219   27.42272  0.092233
          2015-09-07   27.42272   27.78880    2.779804   27.95520  0.116071
300274.SZ 2018-06-08   68.71600   66.63776   49.811938   66.43664 -0.030272
          2018-06-11   66.43664   64.29136   49.983793   66.03440 -0.020305
          2018-06-12   66.03440   66.83888   46.984449   66.70480 -0.030151
          2018-06-13   66.70480   64.49248   32.418155   64.42544 -0.062435
          2018-06-14   64.42544   64.76064   31.534766   64.69360 -0.123316
          2018-06-15   64.69360   61.40864   34.850328   60.40304 -0.019978
          2018-06-27   58.86112   59.66560   32.385162   60.26896 -0.048943
          2018-06-28   60.26896   58.32480   29.205265   58.19072 -0.014977
          2018-06-29   58.19072   60.13488   28.782359   60.26896 -0.010011
          2018-07-02   60.26896   56.84992   38.611821   57.31920 -0.024561
300676.SZ 2018-07-20   78.24618   79.01772   45.289350   77.15400  0.044805
          2018-07-23   77.15400   76.15200   54.167807   77.96562 -0.010281
600030.SH 2015-08-27   75.09990   77.05380  597.938026   76.90350 -0.048860
          2015-09-07   74.39850   73.94760  303.295389   73.14600  0.032877
600280.SH 2018-09-28   51.74323   51.51377   14.874468   50.02228 -0.036697
600338.SH 2019-08-09   22.40497   21.77903   14.539615   21.85267  0.032013
          2019-08-12   21.85267   21.96313   12.747738   21.30037  0.028522
600391.SH 2015-09-09   68.29845   71.64894   62.528720   70.05570  0.035117
          2015-09-10   70.05570   72.21126   59.559773   70.73517 -0.138788
          2015-09-11   70.73517   70.68831   39.737150   72.51585 -0.221648
          2015-09-14   72.51585   63.70617   60.785010   60.91800  0.056538
600438.SH 2018-06-22   71.16872   71.48834   21.941161   72.23412 -0.005900
          2018-06-25   72.23412   70.74256   21.135017   69.25100 -0.030769
          2018-06-26   69.25100   71.48834   20.341239   71.80796 -0.065282
          2018-07-05   67.65290   64.13708   16.363745   64.98940  0.018033
600518.SH 2018-10-26  552.60821  537.79418  173.498601  542.73219  0.017370
          2018-10-29  542.73219  549.01693  195.990592  543.63001  0.015690
          2018-10-30  543.63001  541.38546  153.464810  542.73219  0.017370
          2018-10-31  542.73219  554.40385  173.349130  553.50603 -0.002433
          2018-11-01  553.50603  551.71039  207.802021  561.13750 -0.016000
          2019-01-08  323.21520  318.27719   67.650673  318.72610  0.015493
          2019-01-31  265.75472  262.16344   46.199832  266.65254  0.242424
          2019-05-14  251.38960  257.22543  126.701817  259.02107  0.140381
          2019-05-15  259.02107  263.51017  136.221492  262.61235 -0.499145
          2019-05-16  262.61235  289.99586  176.138528  295.38278 -0.554711
600521.SH 2018-10-17  199.62580  181.64298   53.475492  181.31302  0.040946
          2018-10-18  181.31302  183.45776   31.215467  180.65310  0.102283
          2018-10-19  180.65310  186.09744   24.839104  188.73712  0.018357
          2018-10-22  188.73712  197.81102   41.452649  199.13086 -0.038111
          2018-10-23  199.13086  192.20170   23.838437  192.20170 -0.003433
          2018-10-24  192.20170  193.35656   18.353155  186.42740  0.000885
          2018-10-25  186.42740  188.90210   16.531723  191.54178 -0.025840
          2018-10-26  191.54178  190.88186   15.257890  190.55190 -0.019048
          2018-10-29  190.55190  186.59238   12.976007  186.59238  0.076923
          2018-10-30  186.59238  183.62274   14.748506  186.92234  0.175640
600536.SH 2015-07-16  134.95070  145.13764   88.097585  146.87047  0.144083
600717.SH 2015-07-08  182.38000  180.39040   40.386363  180.39040  0.253676
          2015-07-09  180.39040  198.46260   75.289419  199.12580  0.168193
600760.SH 2015-09-17   55.81890   54.29835   36.400552   54.83790  0.153846
600837.SH 2015-08-27  244.67025  252.79122  326.803073  254.66529 -0.032706
          2015-08-28  254.66529  263.61918  396.293049  256.33113 -0.026807
          2015-08-31  256.33113  252.99945  500.945007  246.33609  0.038039
601002.SH 2015-07-16   11.45970   11.48110   31.375174   11.50250  0.081860
          2015-07-17   11.50250   12.42270   35.273071   12.46550  0.115880
601225.SH 2015-08-28    4.75180    5.06170   20.836434    4.95840  0.033333
601377.SH 2015-08-27   15.86880   16.70400  111.396799   16.91280 -0.017284
601688.SH 2015-08-27   13.73951   14.75565  155.630696   15.12319  0.015011
601989.SH 2016-02-02    9.83308   10.13512  127.217014    9.90020  0.047458
603568.SH 2016-01-14   32.50000   34.56000   14.783686   34.02000  0.034098
          2016-01-15   34.02000   31.98000   10.049140   30.90000  0.197411
          2016-01-18   30.90000   35.18000   19.671655   35.18000  0.026151
603600.SH 2016-02-03   43.81104   44.77392   10.571922   44.90431 -0.048470

                      idx_diff5  idx_diff4  idx_diff3
code      date
000155.SZ 2017-12-28        7.0        5.0        3.0
          2017-12-29        6.0        4.0        3.0
          2018-01-02        5.0        4.0        3.0
000156.SZ 2016-01-29        NaN        NaN        3.0
          2016-02-01        NaN        4.0        3.0
000503.SZ 2018-10-17        NaN        NaN        3.0
          2018-10-18        NaN        4.0        3.0
000558.SZ 2016-02-01        NaN        NaN        3.0
000750.SZ 2015-08-27        NaN        NaN        3.0
          2015-08-28        NaN        4.0        3.0
          2015-08-31        5.0        4.0        3.0
000776.SZ 2015-08-27        NaN        NaN        3.0
000976.SZ 2018-06-29        NaN        NaN        3.0
          2018-07-09        7.0        6.0        3.0
          2018-07-10        7.0        4.0        3.0
002073.SZ 2015-09-07        6.0        5.0        3.0
          2015-09-08        6.0        4.0        3.0
002168.SZ 2015-09-07        6.0        5.0        3.0
002285.SZ 2016-02-01       13.0       11.0        3.0
002307.SZ 2015-07-16        NaN        9.0        3.0
          2015-07-17       10.0        4.0        3.0
002371.SZ 2015-09-08        NaN        7.0        3.0
          2015-09-17        8.0        7.0        3.0
002411.SZ 2020-03-31        NaN        NaN        3.0
          2020-04-01        NaN        4.0        3.0
002434.SZ 2018-10-22        NaN        NaN        3.0
          2018-10-23        NaN        4.0        3.0
          2018-10-24        5.0        4.0        3.0
          2018-10-25        5.0        4.0        3.0
          2018-10-26        5.0        4.0        3.0
          2018-10-29        5.0        4.0        3.0
          2018-10-30        5.0        4.0        3.0
002463.SZ 2015-09-07        6.0        5.0        3.0
002470.SZ 2019-05-10        NaN        NaN        3.0
          2019-05-13        NaN        4.0        3.0
          2019-05-14        5.0        4.0        3.0
          2019-05-15        5.0        4.0        3.0
          2019-05-16        5.0        4.0        3.0
          2019-05-17        5.0        4.0        3.0
          2019-05-20        5.0        4.0        3.0
          2019-05-21        5.0        4.0        3.0
          2019-05-22        5.0        4.0        3.0
          2019-05-23        5.0        4.0        3.0
          2019-05-24        5.0        4.0        3.0
          2019-05-27        5.0        4.0        3.0
          2019-05-28        5.0        4.0        3.0
          2019-05-29        5.0        4.0        3.0
002501.SZ 2018-08-07        NaN        NaN        3.0
          2018-08-08        NaN        4.0        3.0
          2018-08-09        5.0        4.0        3.0
          2018-08-10        5.0        4.0        3.0
          2018-08-13        5.0        4.0        3.0
          2018-08-14        5.0        4.0        3.0
          2018-08-15        5.0        4.0        3.0
          2018-08-16        5.0        4.0        3.0
          2018-08-17        5.0        4.0        3.0
          2018-08-20        5.0        4.0        3.0
002506.SZ 2020-04-01        NaN        NaN        3.0
002522.SZ 2018-06-27        NaN        NaN        3.0
          2018-06-28        NaN        4.0        3.0
          2018-06-29        5.0        4.0        3.0
          2018-07-02        5.0        4.0        3.0
          2018-07-03        5.0        4.0        3.0
          2018-07-04        5.0        4.0        3.0
          2018-07-05        5.0        4.0        3.0
          2018-07-06        5.0        4.0        3.0
          2018-07-09        5.0        4.0        3.0
002547.SZ 2018-07-05        8.0        7.0        3.0
          2018-07-06        8.0        4.0        3.0
          2018-07-09        5.0        4.0        3.0
          2018-07-10        5.0        4.0        3.0
          2018-07-11        5.0        4.0        3.0
          2018-07-12        5.0        4.0        3.0
          2018-07-13        5.0        4.0        3.0
          2018-07-16        5.0        4.0        3.0
          2018-07-17        5.0        4.0        3.0
          2018-07-18        5.0        4.0        3.0
          2018-08-31       32.0        5.0        3.0
          2018-09-03        6.0        4.0        3.0
002583.SZ 2018-02-06        NaN        NaN        3.0
          2018-02-07        NaN        4.0        3.0
002664.SZ 2018-09-27        7.0        5.0        3.0
          2018-09-28        6.0        4.0        3.0
          2018-10-08        5.0        4.0        3.0
          2018-10-09        5.0        4.0        3.0
          2018-10-10        5.0        4.0        3.0
002673.SZ 2015-08-28        NaN        NaN        3.0
          2015-08-31        NaN        4.0        3.0
          2015-09-01        5.0        4.0        3.0
          2015-09-17       10.0        8.0        3.0
          2015-09-18        9.0        4.0        3.0
          2015-09-21        5.0        4.0        3.0
002879.SZ 2018-03-05        6.0        5.0        3.0
300002.SZ 2018-06-22        NaN        NaN        3.0
          2018-06-25        NaN        4.0        3.0
300033.SZ 2015-09-11       11.0        8.0        3.0
          2015-09-21        7.0        6.0        3.0
300091.SZ 2018-10-16        NaN        NaN        3.0
          2018-10-17        NaN        4.0        3.0
          2018-10-18        5.0        4.0        3.0
          2018-10-19        5.0        4.0        3.0
300168.SZ 2018-10-26        NaN        5.0        3.0
          2018-10-29        6.0        4.0        3.0
          2018-10-30        5.0        4.0        3.0
          2018-10-31        5.0        4.0        3.0
          2018-11-01        5.0        4.0        3.0
300202.SZ 2018-07-17       10.0        9.0        3.0
          2018-07-18       10.0        4.0        3.0
          2018-07-19        5.0        4.0        3.0
          2018-07-20        5.0        4.0        3.0
300221.SZ 2018-10-16        NaN        NaN        3.0
          2018-10-17        NaN        4.0        3.0
          2018-10-18        5.0        4.0        3.0
          2018-10-19        5.0        4.0        3.0
300236.SZ 2015-09-01        6.0        5.0        3.0

In [66]:
i=1
result = pd.DataFrame(columns=agg_operations)
for k in [5,10,15,20,30,40]:
    result.loc['{}+null'.format(k),:] = df_target[(df_target['idx_diff{}'.format(i)]>k) 
                                                  | (df_target['idx_diff{}'.format(i)].isnull())]['r'].agg(agg_operations)
    result.loc['{}'.format(k),:] = df_target[df_target['idx_diff{}'.format(i)]>k]['r'].agg(agg_operations)
result.loc['null',:] = df_target[df_target['idx_diff{}'.format(i)].isnull()]['r'].agg(agg_operations)
# df_target[df_target['idx_diff{}'.format(i)]>20].reset_index('code')['r'].resample('A').agg(agg_operations)
result

              mean     median       max       min       std size
5+null   0.0724989  0.0668596   1.20499 -0.399556  0.147737  515
5        0.0546385  0.0547521   1.20499 -0.270413  0.121309  141
10+null   0.076199  0.0710026   1.20499 -0.399556  0.152874  465
10       0.0632505  0.0553863   1.20499 -0.270413  0.137848   91
15+null  0.0775368  0.0730137   1.20499 -0.399556  0.154202  455
15       0.0689228  0.0617905   1.20499 -0.270413   0.14437   81
20+null  0.0782373  0.0735632   1.20499 -0.399556  0.154916  450
20        0.072374  0.0626435   1.20499 -0.270413  0.148263   76
30+null  0.0784337  0.0735286   1.20499 -0.399556  0.156627  439
30       0.0726551  0.0620564   1.20499 -0.270413    0.1587   65
40+null  0.0801029  0.0766906   1.20499 -0.399556  0.164287  395
40       0.0907889  0.0344333   1.20499 -0.270413  0.269815   21
null     0.0794725  0.0771089  0.655405 -0.399556  0.156455  374

In [73]:
mask = df_target['idx_diff1']==1
# df_target['tmp']=np.nan
df_target.loc[mask,'tmp']= df_target.loc[mask,'buy_at']
df_target.sort_index(inplace=True)
df_target['f2_open'] = df_target.groupby('code')['tmp'].shift(-1)

In [83]:
print(df_target['f2_open'].notnull().sum())
print(mask.sum())

df_target['r2'] = df_target['r']
df_target.loc[df_target.f2_open.notnull(),'r2'] = df_target[df_target.f2_open.notnull()]['f2_open']/df_target[df_target.f2_open.notnull()]['buy_at']-1

558
564

In [78]:
df_target[(~mask) & df_target['f2_open'].notnull()][df_r.columns]

                         buy_at        max  max_idx  idx  is_selled  \
code      date
000006.SZ 2016-01-27  221.77386  243.21520   1467.0  745       True
000011.SZ 2015-08-26   30.36912   34.29096   1346.0  643       True
000029.SZ 2016-01-26   17.47704   18.40713   1469.0  744       True
000043.SZ 2015-09-02   64.30350   66.90720   1361.0  648       True
000088.SZ 2015-08-26   48.31164   52.66404   1297.0  643       True
...                         ...        ...      ...  ...        ...
603600.SH 2016-01-29   43.45999   45.51614    251.0  250       True
603686.SH 2018-10-16   23.87639   24.06116    845.0  907       True
603799.SH 2018-10-17   48.46140   53.63345    883.0  905       True
603997.SH 2015-08-25   16.54592   17.46960    125.0  124       True
          2015-09-01   14.17648   16.14432    129.0  129       True

                        sell_at         r
code      date
000006.SZ 2016-01-27  237.13482  0.069264
000011.SZ 2015-08-26   35.39712  0.165563
000029.SZ 2016-01-26   18.83973  0.077970
000043.SZ 2015-09-02   66.43380  0.033129
000088.SZ 2015-08-26   52.44642  0.085586
...                         ...       ...
603600.SH 2016-01-29   43.81104  0.008078
603686.SH 2018-10-16   22.31611 -0.065348
603799.SH 2018-10-17   51.43710  0.061404
603997.SH 2015-08-25   17.41940  0.052791
          2015-09-01   15.02988  0.060198

[256 rows x 7 columns]

In [84]:
i=1
result2 = pd.DataFrame(columns=agg_operations)
for k in [5,10,15,20,30,40]:
    result2.loc['{}+null'.format(k),:] = df_target[(df_target['idx_diff{}'.format(i)]>k) 
                                                  | (df_target['idx_diff{}'.format(i)].isnull())]['r2'].agg(agg_operations)
    result2.loc['{}'.format(k),:] = df_target[df_target['idx_diff{}'.format(i)]>k]['r2'].agg(agg_operations)
result2.loc['null',:] = df_target[df_target['idx_diff{}'.format(i)].isnull()]['r2'].agg(agg_operations)
# df_target[df_target['idx_diff{}'.format(i)]>20].reset_index('code')['r'].resample('A').agg(agg_operations)
result2

              mean     median       max       min       std size
5+null   0.0590113  0.0483871   1.20499 -0.399556  0.140872  515
5        0.0432531  0.0318584   1.20499 -0.146746  0.120468  141
10+null   0.060738  0.0485047   1.20499 -0.399556  0.146264  465
10       0.0432303  0.0291336   1.20499 -0.100088  0.139529   91
15+null   0.061671  0.0491287   1.20499 -0.399556  0.147625  455
15       0.0461268  0.0291336   1.20499 -0.100088  0.146849   81
20+null  0.0624714  0.0508242   1.20499 -0.399556  0.148238  450
20       0.0496901  0.0303218   1.20499 -0.100088   0.15074   76
30+null  0.0630349  0.0516532   1.20499 -0.399556  0.149539  439
30       0.0511912  0.0310901   1.20499 -0.100088  0.159676   65
40+null  0.0668581  0.0586371   1.20499 -0.399556  0.155932  395
40        0.095575  0.0326923   1.20499 -0.100088  0.261852   21
null     0.0651641  0.0588953  0.582353 -0.399556  0.147779  374

In [85]:
df_target[df_target['r2']!=df_target['r']][['open','close','buy_at','f2_open','r','r2']]

                           open      close     buy_at    f2_open         r  \
code      date
000006.SZ 2016-01-27  238.09488  223.05394  221.77386  221.45384  0.069264
000011.SZ 2015-08-26   33.38592   30.26856   30.36912   31.54232  0.165563
000029.SZ 2016-01-26   19.03440   17.41215   17.47704   16.37391  0.077970
000043.SZ 2015-09-02   63.51450   62.80440   64.30350   59.96400  0.033129
000088.SZ 2015-08-26   52.95420   47.58624   48.31164   49.18212  0.085586
...                         ...        ...        ...        ...       ...
603686.SH 2018-10-17   23.87639   23.67109   23.40420   22.31611  0.019298
603799.SH 2018-10-17   56.11320   49.48164   48.46140   47.62537  0.061404
603997.SH 2015-08-25   16.14432   16.14432   16.54592   16.26480  0.052791
          2015-09-01   16.37524   15.20056   14.17648   14.75880  0.060198
          2015-09-02   14.17648   14.48772   14.75880   15.02988  0.100680

                            r2
code      date
000006.SZ 2016-01-27 -0.001443
000011.SZ 2015-08-26  0.038631
000029.SZ 2016-01-26 -0.063119
000043.SZ 2015-09-02 -0.067485
000088.SZ 2015-08-26  0.018018
...                        ...
603686.SH 2018-10-17 -0.046491
603799.SH 2018-10-17 -0.017251
603997.SH 2015-08-25 -0.016990
          2015-09-01  0.041076
          2015-09-02  0.018367

[581 rows x 6 columns]

In [88]:
df_target.loc[idx['603686.SH',:]][['open','close','f2_open','r2']+list(df_r.columns)]

,open,close,f2_open,r2,buy_at,max,max_idx,idx,is_selled,sell_at,r
date,,,,,,,,,,,
2018-10-12,25.35455,24.80024,NaN,-0.037252,24.80024,25.49826,843.0,905,True,23.87639,-0.037252
2018-10-16,24.69759,23.42473,23.40420,-0.019776,23.87639,24.06116,845.0,907,True,22.31611,-0.065348
2018-10-17,23.87639,23.67109,22.31611,-0.046491,23.40420,23.73268,846.0,908,True,23.85586,0.019298
2018-10-18,23.40420,22.87042,NaN,0.095676,22.31611,25.23137,848.0,909,True,24.45123,0.095676