In [1]:
import pandas as pd
import numpy as np
import itertools
import lightgbm as lgbm
import matplotlib.pyplot as plt

from script import *
from feature_engineering import *
import db_operations as dbop
from constants import *
import data_process as dp

import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
pd.set_option('display.max_rows',200)
idx = pd.IndexSlice
agg_operations =['mean','median','max','min','std','size']

In [3]:
%time df = pd.read_hdf(os.path.join('datasets','df_20140101.h5'),key='data')
df = df.sort_index()
df.shape
df.columns

Wall time: 11.6 s

(4593560, 64)

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share',
       'float_share', 'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm',
       'pb*pe', '5ma', '10ma', '20ma', '40ma', '60ma', '120ma', '250ma',
       'close/5ma', 'close/10ma', 'close/20ma', 'close/40ma', 'close/60ma',
       'close/120ma', 'close/250ma', '60ma_pct', '20ma_pct', 'p5max_abs_pct',
       'p10max_abs_pct', '30ma', '30ma_pct', 'close/30ma', 'prev_close',
       'day_pct', 'close0_rank', 'close0_pct', 'prev_pct', 'prev_day_pct',
       'sell_at', 'sell_at0', 'sell_date', 'sell_idx', 'buy_at', 'buy_at0',
       'max', 'max_idx', 'idx', 'is_selled', 'r'],
      dtype='object')

In [4]:
mask_date = df.index.get_level_values('date')>='2016-01-01'
df_baseline = df.loc[mask_date,'r'].agg(agg_operations[:-1])
df_baseline_q = df.loc[mask_date,'r'].reset_index('code').resample('Q').agg(agg_operations)
df_baseline
df_baseline_q

mean     -0.003319
median   -0.021764
max       5.543209
min      -0.972953
std       0.094291
Name: r, dtype: float64

                   r
                mean    median       max       min       std    size
date
2016-03-31  0.001993 -0.018907  3.210775 -0.972953  0.106063  150433
2016-06-30  0.001559 -0.020861  1.944000 -0.714186  0.094675  155157
2016-09-30  0.007954 -0.008368  2.405940 -0.651400  0.083539  170115
2016-12-31 -0.007982 -0.018912  2.487285 -0.900237  0.071205  165772
2017-03-31  0.000778 -0.012563  1.463308 -0.482470  0.076877  170618
2017-06-30 -0.013874 -0.030237  5.543209 -0.852388  0.088826  178502
2017-09-30  0.007274 -0.008121  1.925995 -0.804020  0.080761  200686
2017-12-31 -0.021151 -0.031991  1.990148 -0.814664  0.063842  193463
2018-03-31 -0.013712 -0.029727  1.814716 -0.967228  0.089663  190955
2018-06-30 -0.027349 -0.036075  1.174034 -0.950667  0.068656  197214
2018-09-30 -0.026512 -0.033389  1.554622 -0.869820  0.057996  218246
2018-12-31  0.002983 -0.020253  2.526171 -0.612903  0.094861  210707
2019-03-31  0.065352  0.012469  2.550678 -0.746753  0.163316  206870
2019-06-30 -0.015648 -0.027737  2.430079 -0.861940  0.070399  215321
2019-09-30 -0.000834 -0.021739  2.231214 -0.876993  0.084032  236958
2019-12-31  0.009239 -0.009906  2.763278 -0.731959  0.107321  225939
2020-03-31 -0.018712 -0.030406  2.382353 -0.763889  0.113561  218582
2020-06-30 -0.015541 -0.027642  1.050950 -0.787500  0.063938  148256

In [7]:
mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    df.index.get_level_values('code').str[:3]!='688',
]

mask_baseline2 = True

for m in mask_basic+[mask_date]:

    mask_baseline2 &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_baseline2.sum()/len(mask_baseline2),4)


df_baseline2 = df.loc[mask_baseline2,'r'].agg(agg_operations[:-1])
df_baseline2_q = df.loc[mask_baseline2,'r'].reset_index('code').resample('Q').agg(agg_operations)
df_baseline2
df_baseline2_q

(1056950, 4593560, 0.2301, 0.2301)

(4348257, 4593560, 0.9466, 0.1915)

(2056374, 4593560, 0.4477, 0.1672)

(1433930, 4593560, 0.3122, 0.1327)

(4580262, 4593560, 0.9971, 0.1326)

(3453794, 4593560, 0.7519, 0.0855)

mean     -0.006251
median   -0.024428
max       2.568360
min      -0.900237
std       0.087799
Name: r, dtype: float64

                   r
                mean    median       max       min       std   size
date
2016-03-31 -0.014662 -0.027145  0.726236 -0.311024  0.076614  27037
2016-06-30 -0.010104 -0.028700  1.036980 -0.350000  0.080394  25142
2016-09-30 -0.009122 -0.021322  0.866848 -0.281843  0.061336  26893
2016-12-31 -0.010028 -0.020720  0.890990 -0.900237  0.066728  22763
2017-03-31  0.001280 -0.012232  0.893928 -0.477344  0.070490  18999
2017-06-30  0.005688 -0.021420  2.568360 -0.724272  0.130106  18192
2017-09-30  0.005488 -0.016282  1.040956 -0.762918  0.084099  25330
2017-12-31 -0.008364 -0.026906  0.906878 -0.668041  0.071168  21403
2018-03-31 -0.021992 -0.033844  0.756948 -0.750282  0.071395  22051
2018-06-30 -0.024731 -0.035714  0.657955 -0.655048  0.062431  18740
2018-09-30 -0.026462 -0.035882  0.435772 -0.869820  0.057367  14113
2018-12-31 -0.015106 -0.031567  2.060041 -0.343186  0.073287  12367
2019-03-31  0.047785  0.004065  2.275248 -0.643750  0.146959  22584
2019-06-30 -0.019767 -0.031667  0.566667 -0.680233  0.066161  24785
2019-09-30 -0.001096 -0.024540  0.865332 -0.317718  0.083108  21064
2019-12-31  0.014648 -0.010989  1.704486 -0.359756  0.111326  20419
2020-03-31 -0.018133 -0.033515  1.028526 -0.301961  0.099270  32503
2020-06-30 -0.011432 -0.026504  0.630499 -0.326328  0.061965  18234

In [8]:
%time df['5ma_pct'] = df['5ma'].sort_index().groupby('code').pct_change()*100 # 7s

Wall time: 7.29 s

In [9]:
target_col = '5ma_pct'
min_periods=1

for k in [5,10,15,20,25,30]:
    %time tmp = groupby_rolling(df[target_col],level="code",window=k,ops=['mean','median','std'],min_periods=min_periods)
    df[tmp.columns] = tmp

Wall time: 21.3 s
Wall time: 16.9 s
Wall time: 17.9 s
Wall time: 21.9 s
Wall time: 25.2 s
Wall time: 22.4 s

In [31]:
# list(df.columns)

# for k in [5,10,15,20,25,30]:
# #     %time tmp = groupby_rolling(df[[target_col,'close']],level="code",window=k,ops=['mean','median','std'],min_periods=min_periods)
# #     df[tmp.columns] = tmp
#     df['p{}mean-std_5ma_pct'.format(k)] = df['p{}mean_5ma_pct'.format(k)]-df['p{}std_5ma_pct'.format(k)]
    
# list(df.columns)

# %time df_tmp = df[mask_date] # 21s
for k in [5,10,15,20,25,30]:
    print('\nk={}'.format(k))
    for p in [0.5,0.8,0.9,0.95,0.99]:
        col1 = 'p{}mean_5ma_pct'.format(k)
        col2 = 'p{}mean-std_5ma_pct'.format(k)
        '{}:{:.1%}={:.3f}'.format(col1,p,df_tmp[col1].quantile(p))
        '{}:{:.1%}={:.3f}'.format(col2,p,df_tmp[col2].quantile(p))

k=5

'p5mean_5ma_pct50.0%=-0.024'

'p5mean-std_5ma_pct50.0%=-0.550'

'p5mean_5ma_pct80.0%=0.634'

'p5mean-std_5ma_pct80.0%=0.076'

'p5mean_5ma_pct90.0%=1.094'

'p5mean-std_5ma_pct90.0%=0.427'

'p5mean_5ma_pct95.0%=1.597'

'p5mean-std_5ma_pct95.0%=0.786'

'p5mean_5ma_pct99.0%=3.250'

'p5mean-std_5ma_pct99.0%=1.866'

k=10

'p10mean_5ma_pct50.0%=-0.036'

'p10mean-std_5ma_pct50.0%=-0.743'

'p10mean_5ma_pct80.0%=0.501'

'p10mean-std_5ma_pct80.0%=-0.189'

'p10mean_5ma_pct90.0%=0.868'

'p10mean-std_5ma_pct90.0%=0.058'

'p10mean_5ma_pct95.0%=1.251'

'p10mean-std_5ma_pct95.0%=0.288'

'p10mean_5ma_pct99.0%=2.470'

'p10mean-std_5ma_pct99.0%=0.886'

k=15

'p15mean_5ma_pct50.0%=-0.040'

'p15mean-std_5ma_pct50.0%=-0.849'

'p15mean_5ma_pct80.0%=0.424'

'p15mean-std_5ma_pct80.0%=-0.329'

'p15mean_5ma_pct90.0%=0.734'

'p15mean-std_5ma_pct90.0%=-0.121'

'p15mean_5ma_pct95.0%=1.053'

'p15mean-std_5ma_pct95.0%=0.051'

'p15mean_5ma_pct99.0%=2.027'

'p15mean-std_5ma_pct99.0%=0.497'

k=20

'p20mean_5ma_pct50.0%=-0.048'

'p20mean-std_5ma_pct50.0%=-0.925'

'p20mean_5ma_pct80.0%=0.365'

'p20mean-std_5ma_pct80.0%=-0.427'

'p20mean_5ma_pct90.0%=0.640'

'p20mean-std_5ma_pct90.0%=-0.228'

'p20mean_5ma_pct95.0%=0.921'

'p20mean-std_5ma_pct95.0%=-0.082'

'p20mean_5ma_pct99.0%=1.741'

'p20mean-std_5ma_pct99.0%=0.254'

k=25

'p25mean_5ma_pct50.0%=-0.052'

'p25mean-std_5ma_pct50.0%=-0.975'

'p25mean_5ma_pct80.0%=0.325'

'p25mean-std_5ma_pct80.0%=-0.497'

'p25mean_5ma_pct90.0%=0.571'

'p25mean-std_5ma_pct90.0%=-0.308'

'p25mean_5ma_pct95.0%=0.823'

'p25mean-std_5ma_pct95.0%=-0.173'

'p25mean_5ma_pct99.0%=1.527'

'p25mean-std_5ma_pct99.0%=0.076'

k=30

'p30mean_5ma_pct50.0%=-0.054'

'p30mean-std_5ma_pct50.0%=-1.015'

'p30mean_5ma_pct80.0%=0.292'

'p30mean-std_5ma_pct80.0%=-0.551'

'p30mean_5ma_pct90.0%=0.520'

'p30mean-std_5ma_pct90.0%=-0.371'

'p30mean_5ma_pct95.0%=0.748'

'p30mean-std_5ma_pct95.0%=-0.242'

'p30mean_5ma_pct99.0%=1.373'

'p30mean-std_5ma_pct99.0%=-0.025'

In [53]:
r_columns = ['buy_at','max','max_idx', 'idx', 'is_selled', 'sell_at', 'sell_date', 'r']


mask_trend = [
    df['p15mean-std_5ma_pct'] > 0.5,
]



# mask_low_pos = [
#     df[['close/60ma','close/30ma']].min(axis=1)<1.03,
# #     df[['close/60ma','close/30ma']].max(axis=1)<1.05,
    
#     df['close/5ma']<1.03,
# #     df['close/10ma']<1.03,
# #     df['close/20ma']<1.03,
    
# #     df['close/120ma']>1.07,
# #     df['close/250ma']>1.1,
# #     df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
# ]

mask_low_pos = [
#     df['close/60ma']<1.125,
    df['close/60ma']<1.125,
#     df['close/30ma']<1.05,
    df['close/5ma']<1.05,
    df['close/10ma']<1.05,

#     df['close/120ma']<1.07,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]


mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    
#     (df['pb']<10) | (df['pe']>0),
    
    
#     df['close0']>5,
#     df['close0_rank']<100,
#     df['close0_rank']>10,
#     df['close0_pct']<0.015,
#     df['close0_pct']>0.01,

    df.index.get_level_values('code').str[:3]!='688',
]



mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_trend+mask_low_pos+mask_basic
# masks = mask_shrink_amt+mask_trend+mask_basic


for m in masks+[mask_date]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q


df.loc[mask_final,'r'].agg(agg_operations)
df.loc[mask_final,'r'].reset_index('code').resample('Q').agg(agg_operations)
# df.loc[mask_final,'r'].reset_index('code').groupby('date').agg(agg_operations)

tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
# tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]
tmp.sort_values('date').tail(70)
tmp.sort_values('date').iloc[-1000:-950]

(65157, 4593560, 0.0142, 0.0142)

(3289898, 4593560, 0.7162, 0.0014)

(4260136, 4593560, 0.9274, 0.0014)

(3918805, 4593560, 0.8531, 0.001)

(4110067, 4593560, 0.8947, 0.001)

(1056950, 4593560, 0.2301, 0.0002)

(4348257, 4593560, 0.9466, 0.0002)

(2056374, 4593560, 0.4477, 0.0002)

(1433930, 4593560, 0.3122, 0.0001)

(4580262, 4593560, 0.9971, 0.0001)

(3453794, 4593560, 0.7519, 0.0001)

mean        0.007027
median     -0.016070
max         0.745222
min        -0.179823
std         0.117144
size      358.000000
Name: r, dtype: float64

                   r
                mean    median       max       min       std size
date
2016-03-31 -0.013237 -0.009479  0.220253 -0.124339  0.076494   20
2016-06-30 -0.031794 -0.036667  0.115527 -0.128713  0.077548   10
2016-09-30  0.001609 -0.008088  0.184009 -0.059204  0.062561   15
2016-12-31 -0.020850 -0.019313  0.003096 -0.056494  0.022023    5
2017-03-31 -0.015455 -0.008704  0.008257 -0.048571  0.019567    7
2017-06-30 -0.009440  0.006337  0.024641 -0.100518  0.040904   11
2017-09-30  0.015623 -0.014844  0.206394 -0.046725  0.085911    8
2017-12-31 -0.026294 -0.024706 -0.012305 -0.041870  0.014846    3
2018-03-31 -0.045794 -0.046358  0.178411 -0.149723  0.052649   77
2018-06-30 -0.028714 -0.029231 -0.004444 -0.056490  0.023209    7
2018-09-30 -0.022539 -0.023376  0.001955 -0.045837  0.019561    6
2018-12-31 -0.026623 -0.025941  0.018994 -0.063325  0.029124    6
2019-03-31  0.095484  0.031700  0.745222 -0.060246  0.188022   71
2019-06-30  0.017226  0.009651  0.089569 -0.039966  0.066868    4
2019-09-30 -0.011948 -0.018609  0.093220 -0.069178  0.036292   32
2019-12-31  0.012605  0.041316  0.127207 -0.120782  0.069455   27
2020-03-31  0.016297 -0.016268  0.507850 -0.179823  0.158322   27
2020-06-30  0.001282  0.017722  0.059036 -0.100865  0.055647   22

                           buy_at          max  max_idx   idx  is_selled  \
code      date
002008.SZ 2019-12-19   502.057098   568.547119   2409.0  2397       True
300433.SZ 2019-12-19    81.336800    82.447205   1139.0  1138       True
300166.SZ 2019-12-19   250.957153   251.888016   1938.0  1937       True
600667.SH 2019-12-19    39.378242    39.577122   2280.0  2279       True
000961.SZ 2019-12-19    52.386410    60.686882   2392.0  2383       True
002384.SZ 2019-12-19   165.007782   166.321426   2148.0  2147       True
002217.SZ 2019-12-19    32.518452    32.860149   2218.0  2217       True
000961.SZ 2019-12-20    52.771206    60.686882   2392.0  2384       True
002217.SZ 2019-12-20    32.062851    36.846649   2241.0  2218       True
300433.SZ 2019-12-20    79.393600    79.948799   1140.0  1139       True
600667.SH 2019-12-20    37.737480    51.112160   2303.0  2280       True
002008.SZ 2019-12-20   500.398010   568.547119   2409.0  2398       True
300166.SZ 2019-12-20   243.324188   304.760315   1956.0  1938       True
002384.SZ 2019-12-20   161.212814   229.741028   2170.0  2148       True
002402.SZ 2019-12-20   151.001602   172.659195   2323.0  2310       True
000021.SZ 2019-12-20   160.042862   222.491776   2415.0  2392       True
601099.SH 2019-12-20    10.609440    11.037240   2409.0  2401       True
002815.SZ 2019-12-20    36.529739    40.786648    792.0   781       True
002436.SZ 2019-12-20   100.375435   114.677635   2157.0  2152       True
601519.SH 2019-12-20    24.306850    24.306850   2014.0  2013       True
000961.SZ 2019-12-23    52.716232    60.686882   2392.0  2385       True
002311.SZ 2020-01-10   257.217712   257.974823   2415.0  2413       True
          2020-01-13   254.051529   257.974823   2415.0  2414       True
300347.SZ 2020-01-23   817.970581  1051.658813   1676.0  1671       True
000710.SZ 2020-01-23   128.514755   150.580826   2144.0  2140       True
600588.SH 2020-01-23  1238.042236  2317.631836   2443.0  2420       True
002475.SZ 2020-02-03  1076.381470  1216.171265   2249.0  2247       True
600410.SH 2020-02-27   139.570557   161.508484   2403.0  2397       True
000066.SZ 2020-02-27   155.707199   174.521805   2228.0  2225       True
600131.SH 2020-02-28   106.791306   110.763725   2447.0  2445       True
002171.SZ 2020-02-28    39.915958    48.119240   2220.0  2216       True
002302.SZ 2020-02-28    45.175678    50.454361   2360.0  2358       True
002075.SZ 2020-02-28    18.761219    35.127991   1555.0  1545       True
002456.SZ 2020-02-28   387.790009   424.323914   2255.0  2253       True
002463.SZ 2020-02-28    74.498276    83.649117   2307.0  2305       True
600260.SH 2020-02-28    86.852119    93.310669   2336.0  2334       True
600801.SH 2020-02-28   228.770767   258.453644   2457.0  2455       True
300017.SZ 2020-02-28   229.056625   255.729218   2416.0  2412       True
000723.SZ 2020-02-28    54.964600    59.254520   2159.0  2157       True
000877.SZ 2020-02-28    74.545929    84.640678   2429.0  2425       True
601633.SH 2020-02-28    31.855999    34.209000   2020.0  2018       True
002138.SZ 2020-02-28   178.131149   184.167267   2454.0  2452       True
000012.SZ 2020-02-28   135.985764   157.901901   2426.0  2421       True
          2020-03-02   145.755600   157.901901   2426.0  2422       True
600131.SH 2020-03-02   107.823097   110.763725   2447.0  2446       True
000877.SZ 2020-03-06    76.940193    79.916855   2431.0  2430       True
002302.SZ 2020-03-06    46.648800    47.262600   2364.0  2363       True
600801.SH 2020-03-06   230.712646   243.288559   2462.0  2460       True
600763.SH 2020-04-14   279.970947   345.948730   2365.0  2335      False
000987.SZ 2020-04-15    39.803398    53.381859   2338.0  2313      False
600763.SH 2020-04-15   274.102509   345.948730   2365.0  2336      False
300595.SZ 2020-04-15   361.569183   483.240845    817.0   788      False
600031.SH 2020-04-15   901.146667   960.339172   2488.0  2485       True
000858.SZ 2020-04-15  2200.067383  2659.446777   2457.0  2434      False
300015.SZ 2020-04-16   954.621887  1143.438354   2503.0  2476      False
300595.SZ 2020-04-16   366.628540   483.240845    817.0   789      False
600763.SH 2020-04-16   276.759003   345.948730   2365.0  2337      False
600031.SH 2020-04-16   916.773499   960.339172   2488.0  2486       True
300124.SZ 2020-04-16   476.382416   581.798096   2325.0  2300      False
          2020-04-17   482.820007   581.798096   2325.0  2301      False
600763.SH 2020-04-17   283.690063   345.948730   2365.0  2338      False
300595.SZ 2020-04-17   362.275146   483.240845    817.0   790      False
300124.SZ 2020-04-20   483.946564   581.798096   2325.0  2302      False
002675.SZ 2020-04-24    80.318596    96.939842   1566.0  1544      False
600143.SH 2020-04-24   201.173248   209.676270   2406.0  2405       True
601888.SH 2020-04-27   186.424713   203.524307   2443.0  2440       True
002683.SZ 2020-04-28    81.682709    98.587196   1760.0  1748       True
000596.SZ 2020-04-30   456.298553   536.499329   2510.0  2499      False
300724.SZ 2020-05-11    64.645561    66.275284    422.0   421       True
600060.SH 2020-05-22    70.214844    80.790413   2517.0  2512      False

                          sell_at  sell_date         r
code      date
002008.SZ 2019-12-19   547.362183 2020-01-20  0.090239
300433.SZ 2019-12-19    78.283203 2019-12-24 -0.037543
300166.SZ 2019-12-19   236.808258 2019-12-30 -0.056380
600667.SH 2019-12-19    36.991680 2019-12-24 -0.060606
000961.SZ 2019-12-19    55.299824 2020-01-13  0.055614
002384.SZ 2019-12-19   158.001694 2019-12-24 -0.042459
002217.SZ 2019-12-19    30.639101 2019-12-24 -0.057793
000961.SZ 2019-12-20    55.299824 2020-01-13  0.047917
002217.SZ 2019-12-20    28.190250 2020-02-04 -0.120782
300433.SZ 2019-12-20    75.063042 2019-12-30 -0.054545
600667.SH 2019-12-20    40.521801 2020-02-04  0.073781
002008.SZ 2019-12-20   547.362183 2020-01-20  0.093854
300166.SZ 2019-12-20   253.377365 2020-02-04  0.041316
002384.SZ 2019-12-20   181.720200 2020-02-04  0.127207
002402.SZ 2019-12-20   161.830399 2020-01-22  0.071713
000021.SZ 2019-12-20   169.144150 2020-02-04  0.056868
601099.SH 2019-12-20    10.495360 2020-01-15 -0.010753
002815.SZ 2019-12-20    38.270248 2020-01-20  0.047646
002436.SZ 2019-12-20   110.386978 2020-01-10  0.099741
601519.SH 2019-12-20    22.210930 2019-12-30 -0.086228
000961.SZ 2019-12-23    55.299824 2020-01-13  0.049009
002311.SZ 2020-01-10   210.963943 2020-02-03 -0.179823
          2020-01-13   210.963943 2020-02-03 -0.169602
300347.SZ 2020-01-23   934.752747 2020-02-12  0.142771
000710.SZ 2020-01-23   141.628494 2020-02-19  0.102041
600588.SH 2020-01-23  1866.781860 2020-03-10  0.507850
002475.SZ 2020-02-03  1074.828247 2020-02-10 -0.001443
600410.SH 2020-02-27   145.118088 2020-03-10  0.039747
000066.SZ 2020-02-27   154.625900 2020-03-09 -0.006944
600131.SH 2020-02-28    99.052803 2020-03-04 -0.072464
002171.SZ 2020-02-28    42.767101 2020-03-10  0.071429
002302.SZ 2020-02-28    43.866241 2020-03-10 -0.028985
002075.SZ 2020-02-28    28.169998 2020-03-18  0.501501
002456.SZ 2020-02-28   392.892487 2020-03-05  0.013158
002463.SZ 2020-02-28    78.537834 2020-03-05  0.054224
600260.SH 2020-02-28    85.437393 2020-03-09 -0.016289
600801.SH 2020-02-28   230.712646 2020-03-09  0.008488
300017.SZ 2020-02-28   216.422241 2020-03-10 -0.055158
000723.SZ 2020-02-28    51.210918 2020-03-10 -0.068293
000877.SZ 2020-02-28    74.869469 2020-03-10  0.004340
601633.SH 2020-02-28    30.733799 2020-03-10 -0.035227
002138.SZ 2020-02-28   173.866501 2020-03-05 -0.023941
000012.SZ 2020-02-28   137.570053 2020-03-10  0.011650
          2020-03-02   137.570053 2020-03-10 -0.056159
600131.SH 2020-03-02   106.069038 2020-03-05 -0.016268
000877.SZ 2020-03-06    69.886803 2020-03-13 -0.091674
002302.SZ 2020-03-06    41.165524 2020-03-13 -0.117544
600801.SH 2020-03-06   212.865936 2020-03-13 -0.077355
600763.SH 2020-04-14          NaN        NaT       NaN
000987.SZ 2020-04-15          NaN        NaT       NaN
600763.SH 2020-04-15          NaN        NaT       NaN
300595.SZ 2020-04-15          NaN        NaT       NaN
600031.SH 2020-04-15   928.138428 2020-05-06  0.029953
000858.SZ 2020-04-15          NaN        NaT       NaN
300015.SZ 2020-04-16          NaN        NaT       NaN
300595.SZ 2020-04-16          NaN        NaT       NaN
600763.SH 2020-04-16          NaN        NaT       NaN
600031.SH 2020-04-16   928.138428 2020-05-06  0.012397
300124.SZ 2020-04-16          NaN        NaT       NaN
          2020-04-17          NaN        NaT       NaN
600763.SH 2020-04-17          NaN        NaT       NaN
300595.SZ 2020-04-17          NaN        NaT       NaN
300124.SZ 2020-04-20          NaN        NaT       NaN
002675.SZ 2020-04-24          NaN        NaT       NaN
600143.SH 2020-04-24   180.882004 2020-04-29 -0.100865
601888.SH 2020-04-27   190.721298 2020-05-18  0.023047
002683.SZ 2020-04-28    86.504906 2020-05-25  0.059036
000596.SZ 2020-04-30          NaN        NaT       NaN
300724.SZ 2020-05-11    63.619446 2020-05-18 -0.015873
600060.SH 2020-05-22          NaN        NaT       NaN

In [72]:
r_columns = ['buy_at','max','max_idx', 'idx', 'is_selled', 'sell_at', 'sell_date', 'r']


mask_trend = [
    df['p10mean_5ma_pct'] > 1.2,
    df['p10mean_5ma_pct'] < 2,
    df['p10mean_5ma_pct'] > 1.3 * df['p20std_5ma_pct'],
]



# mask_low_pos = [
#     df[['close/60ma','close/30ma']].min(axis=1)<1.03,
# #     df[['close/60ma','close/30ma']].max(axis=1)<1.05,
    
#     df['close/5ma']<1.03,
# #     df['close/10ma']<1.03,
# #     df['close/20ma']<1.03,
    
# #     df['close/120ma']>1.07,
# #     df['close/250ma']>1.1,
# #     df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
# ]

mask_low_pos = [
#     df['close/60ma']<1.125,
    df['close/60ma']<1.125,
#     df['close/30ma']<1.05,
    df['close/5ma']<1.05,
    df['close/10ma']<1.05,

#     df['close/120ma']<1.07,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]


mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    
#     (df['pb']<10) | (df['pe']>0),
    
    
#     df['close0']>5,
#     df['close0_rank']<100,
#     df['close0_rank']>10,
#     df['close0_pct']<0.015,
#     df['close0_pct']>0.01,

    df.index.get_level_values('code').str[:3]!='688',
]



mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_trend+mask_low_pos+mask_basic
# masks = mask_shrink_amt+mask_trend+mask_basic


for m in masks+[mask_date]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q


df.loc[mask_final,'r'].agg(agg_operations)
df.loc[mask_final,'r'].reset_index('code').resample('Q').agg(agg_operations)
# df.loc[mask_final,'r'].reset_index('code').groupby('date').agg(agg_operations)

tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
# tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]
tmp.sort_values('date').tail(70)
tmp.sort_values('date').iloc[-1000:-950]

(358192, 4593560, 0.078, 0.078)

(4434792, 4593560, 0.9654, 0.051)

(168838, 4593560, 0.0368, 0.0115)

(3289898, 4593560, 0.7162, 0.0015)

(4260136, 4593560, 0.9274, 0.0015)

(3918805, 4593560, 0.8531, 0.001)

(4110067, 4593560, 0.8947, 0.001)

(1056950, 4593560, 0.2301, 0.0003)

(4348257, 4593560, 0.9466, 0.0003)

(2056374, 4593560, 0.4477, 0.0002)

(1433930, 4593560, 0.3122, 0.0002)

(4580262, 4593560, 0.9971, 0.0002)

(3453794, 4593560, 0.7519, 0.0001)

mean        0.000901
median     -0.024784
max         0.535270
min        -0.206349
std         0.092699
size      566.000000
Name: r, dtype: float64

                   r
                mean    median       max       min       std size
date
2016-03-31 -0.024639 -0.035984  0.142450 -0.124339  0.072152   22
2016-06-30  0.029687  0.006774  0.240055 -0.054697  0.087449   20
2016-09-30 -0.005761 -0.025841  0.206977 -0.086486  0.068344   42
2016-12-31 -0.007353 -0.012431  0.125599 -0.094766  0.063944   21
2017-03-31  0.004684 -0.012478  0.114754 -0.069697  0.057439   26
2017-06-30  0.073938 -0.013328  0.535270 -0.065421  0.189781   10
2017-09-30 -0.008719 -0.021739  0.170268 -0.143291  0.053945   37
2017-12-31  0.005693 -0.015581  0.146342 -0.084695  0.063628   26
2018-03-31 -0.030180 -0.034442  0.253521 -0.149723  0.060676   54
2018-06-30 -0.027297 -0.038003  0.118012 -0.096267  0.053192   15
2018-09-30 -0.047773 -0.048819  0.040404 -0.121474  0.038522   25
2018-12-31 -0.043991 -0.036126 -0.015038 -0.093656  0.028443    6
2019-03-31  0.093351  0.021751  0.449735 -0.052055  0.145688   62
2019-06-30 -0.013392 -0.022952  0.091437 -0.064198  0.041842   15
2019-09-30 -0.029890 -0.036252  0.277580 -0.108140  0.042146   88
2019-12-31  0.018052 -0.019708  0.334359 -0.166000  0.104241   28
2020-03-31  0.014050 -0.020029  0.384347 -0.206349  0.127955   44
2020-06-30 -0.023384 -0.036572  0.093878 -0.070423  0.047666   25

                           buy_at          max  max_idx   idx  is_selled  \
code      date
000723.SZ 2019-12-30    63.745533    66.091576   2125.0  2120       True
002078.SZ 2020-01-08    83.843903    87.302261   2400.0  2395       True
000975.SZ 2020-01-09    97.021194    97.298805   2107.0  2106       True
002155.SZ 2020-01-09    22.530388    22.557178   2359.0  2358       True
600893.SH 2020-01-09    75.226501    76.277702   2277.0  2276       True
600547.SH 2020-01-10   543.051086   547.103699   2244.0  2243       True
300134.SZ 2020-01-10    73.861893    75.895584   1863.0  1861       True
002155.SZ 2020-01-10    22.396439    22.476810   2361.0  2359       True
600741.SH 2020-01-13  1287.791992  1309.255249   2372.0  2369       True
300134.SZ 2020-01-13    75.333069    75.895584   1863.0  1862       True
600741.SH 2020-01-14  1257.385864  1309.255249   2372.0  2370       True
300529.SZ 2020-01-22    83.639999    85.751503    848.0   847       True
300357.SZ 2020-01-22   269.056641   275.705994   1464.0  1463       True
000739.SZ 2020-01-23   158.805450   211.497208   2345.0  2340       True
603939.SH 2020-01-23   164.160004   187.347610   1088.0  1087       True
603658.SH 2020-01-23   118.721001   138.291672    830.0   826       True
600845.SH 2020-01-23   192.595688   293.500793   2383.0  2377       True
300347.SZ 2020-01-23   817.970581  1051.658813   1676.0  1671       True
300357.SZ 2020-01-23   235.485367   267.218597   1479.0  1464       True
300529.SZ 2020-01-23    74.517494   100.449997    870.0   848       True
300326.SZ 2020-01-23   159.170135   264.727386   1609.0  1583       True
300630.SZ 2020-02-03   141.865204   151.104507    699.0   692       True
002821.SZ 2020-02-03   297.082703   404.557129    793.0   778       True
002475.SZ 2020-02-03  1076.381470  1216.171265   2249.0  2247       True
002410.SZ 2020-02-03   489.723999   568.044495   2312.0  2308       True
600436.SH 2020-02-03   782.001282   896.346802   2427.0  2424       True
002180.SZ 2020-02-03   170.692215   237.389053   2131.0  2114       True
603939.SH 2020-02-03   167.894638   185.890671   1093.0  1088       True
002424.SZ 2020-02-07   103.924393   104.556801   2333.0  2332       True
000877.SZ 2020-03-06    76.940193    79.916855   2431.0  2430       True
000768.SZ 2020-03-06   155.047195   160.249008   2443.0  2440       True
600801.SH 2020-03-06   230.712646   243.288559   2462.0  2460       True
601618.SH 2020-03-06     3.129840     3.175200   2394.0  2392       True
600582.SH 2020-03-09   123.883194   129.413696   2406.0  2404       True
002063.SZ 2020-03-09    98.684700   116.925003   2377.0  2375       True
600195.SH 2020-03-09    68.310005    73.588501   2397.0  2395       True
          2020-03-10    71.829002    73.588501   2397.0  2396       True
600989.SH 2020-03-10    10.238880    10.269720    200.0   199       True
600089.SH 2020-03-12   269.504547   320.676300   2449.0  2446       True
603517.SH 2020-03-16    66.805199    76.334343    740.0   729       True
002063.SZ 2020-03-16    97.905205   118.484001   2389.0  2380       True
603517.SH 2020-03-17    68.930817    76.334343    740.0   730       True
000735.SZ 2020-03-17    61.739700    62.322697   2452.0  2451       True
002839.SZ 2020-03-17     6.411980     6.443360    753.0   752       True
603517.SH 2020-03-18    67.961998    76.334343    740.0   731       True
002019.SZ 2020-04-20   271.870636   320.345947   2403.0  2384       True
601899.SH 2020-04-20     8.017520     8.270500   2466.0  2462       True
600380.SH 2020-04-20   139.141800   148.859634   2444.0  2441       True
002019.SZ 2020-04-21   265.592194   320.345947   2403.0  2385       True
300685.SZ 2020-04-21   142.084991   161.234802    674.0   661       True
300244.SZ 2020-04-22   268.777588   279.187988   2038.0  2037       True
          2020-04-24   249.849594   256.095825   2040.0  2039       True
000596.SZ 2020-04-27   460.359344   536.499329   2510.0  2496      False
300144.SZ 2020-05-13   251.696213   284.215363   2210.0  2198      False
300251.SZ 2020-05-14   285.003632   300.488434   2026.0  2015      False
000009.SZ 2020-05-14    63.696213    65.290833   2407.0  2406       True
002414.SZ 2020-05-14   139.835510   145.379517   2299.0  2296       True
300144.SZ 2020-05-14   250.943634   284.215363   2210.0  2199      False
002434.SZ 2020-05-15    61.823360    61.889980   2262.0  2261       True
300638.SZ 2020-05-15   128.193237   130.822388    754.0   752       True
002414.SZ 2020-05-15   140.247360   145.379517   2299.0  2297       True
300144.SZ 2020-05-15   247.515213   284.215363   2210.0  2200      False
300251.SZ 2020-05-18   288.598236   300.488434   2026.0  2017      False
300182.SZ 2020-05-18   142.895691   147.833771   2097.0  2094       True
300638.SZ 2020-05-18   126.470695   130.822388    754.0   753       True
002129.SZ 2020-05-18    78.178070    87.037964   2043.0  2041       True
603444.SH 2020-05-18   465.856964   465.900177    818.0   817       True
          2020-05-19   464.731171   464.982819    819.0   818       True
300182.SZ 2020-05-19   137.957611   147.833771   2097.0  2095       True
600037.SH 2020-05-21    51.012299    55.009140   2493.0  2490      False

                          sell_at  sell_date         r
code      date
000723.SZ 2019-12-30    62.069782 2020-01-13 -0.026288
002078.SZ 2020-01-08    82.663002 2020-01-20 -0.014085
000975.SZ 2020-01-09    91.261002 2020-01-20 -0.059370
002155.SZ 2020-01-09    21.083729 2020-01-23 -0.064209
600893.SH 2020-01-09    71.612999 2020-01-23 -0.048035
600547.SH 2020-01-10   519.203003 2020-01-23 -0.043915
300134.SZ 2020-01-10    70.313751 2020-01-17 -0.048038
002155.SZ 2020-01-10    21.083729 2020-01-23 -0.058612
600741.SH 2020-01-13  1233.239746 2020-01-22 -0.042361
300134.SZ 2020-01-13    70.313751 2020-01-17 -0.066628
600741.SH 2020-01-14  1074.501465 2020-02-03 -0.145448
300529.SZ 2020-01-22    78.545746 2020-02-04 -0.060907
300357.SZ 2020-01-22   213.537003 2020-02-04 -0.206349
000739.SZ 2020-01-23   181.683167 2020-02-11  0.144061
603939.SH 2020-01-23   169.290009 2020-02-05  0.031250
603658.SH 2020-01-23   125.478157 2020-02-11  0.056916
600845.SH 2020-01-23   266.255310 2020-02-21  0.382457
300347.SZ 2020-01-23   934.752747 2020-02-12  0.142771
300357.SZ 2020-01-23   245.973007 2020-02-27  0.044536
300529.SZ 2020-01-23    92.444748 2020-03-16  0.240578
300326.SZ 2020-01-23   220.346634 2020-03-17  0.384347
300630.SZ 2020-02-03   140.329086 2020-02-17 -0.010828
002821.SZ 2020-02-03   386.280396 2020-03-06  0.300245
002475.SZ 2020-02-03  1074.828247 2020-02-10 -0.001443
002410.SZ 2020-02-03   528.442810 2020-02-20  0.079063
600436.SH 2020-02-03   827.492188 2020-02-19  0.058172
002180.SZ 2020-02-03   207.559799 2020-03-02  0.215989
603939.SH 2020-02-03   171.075256 2020-02-20  0.018944
002424.SZ 2020-02-07    98.127403 2020-02-14 -0.055781
000877.SZ 2020-03-06    69.886803 2020-03-13 -0.091674
000768.SZ 2020-03-06   151.020004 2020-03-16 -0.025974
600801.SH 2020-03-06   212.865936 2020-03-13 -0.077355
601618.SH 2020-03-06     2.948400 2020-03-19 -0.057971
600582.SH 2020-03-09   115.034393 2020-03-13 -0.071429
002063.SZ 2020-03-09    97.437500 2020-03-13 -0.012638
600195.SH 2020-03-09    62.358753 2020-03-13 -0.087121
          2020-03-10    62.358753 2020-03-13 -0.131844
600989.SH 2020-03-10     9.231440 2020-03-13 -0.098394
600089.SH 2020-03-12   287.698944 2020-03-24  0.067511
603517.SH 2020-03-16    70.434654 2020-04-14  0.054329
002063.SZ 2020-03-16    99.308296 2020-03-31  0.014331
603517.SH 2020-03-17    70.333435 2020-04-09  0.020348
000735.SZ 2020-03-17    59.174496 2020-03-20 -0.041549
002839.SZ 2020-03-17     6.087720 2020-03-20 -0.050571
603517.SH 2020-03-18    70.333435 2020-04-09  0.034894
002019.SZ 2020-04-20   290.525391 2020-05-29  0.068616
601899.SH 2020-04-20     7.472640 2020-04-28 -0.067961
600380.SH 2020-04-20   137.154068 2020-04-28 -0.014286
002019.SZ 2020-04-21   290.525391 2020-05-29  0.093878
300685.SZ 2020-04-21   145.849792 2020-05-25  0.026497
300244.SZ 2020-04-22   249.849594 2020-04-27 -0.070423
          2020-04-24   238.208878 2020-04-29 -0.046591
000596.SZ 2020-04-27          NaN        NaT       NaN
300144.SZ 2020-05-13          NaN        NaT       NaN
300251.SZ 2020-05-14          NaN        NaT       NaN
000009.SZ 2020-05-14    61.747231 2020-05-19 -0.030598
002414.SZ 2020-05-14   136.952637 2020-05-25 -0.020616
300144.SZ 2020-05-14          NaN        NaT       NaN
002434.SZ 2020-05-15    58.492359 2020-05-22 -0.053879
300638.SZ 2020-05-15   121.181221 2020-05-22 -0.054699
002414.SZ 2020-05-15   136.952637 2020-05-25 -0.023492
300144.SZ 2020-05-15          NaN        NaT       NaN
300251.SZ 2020-05-18          NaN        NaT       NaN
300182.SZ 2020-05-18   133.636795 2020-05-25 -0.064795
300638.SZ 2020-05-18   121.181221 2020-05-22 -0.041824
002129.SZ 2020-05-18    80.160995 2020-05-22  0.025364
603444.SH 2020-05-18   445.039185 2020-05-25 -0.044687
          2020-05-19   432.151855 2020-05-28 -0.070104
300182.SZ 2020-05-19   133.636795 2020-05-25 -0.031320
600037.SH 2020-05-21          NaN        NaT       NaN

Empty DataFrame
Columns: [buy_at, max, max_idx, idx, is_selled, sell_at, sell_date, r]
Index: []

In [80]:
# df['f1_open'] = df['open'].sort_index().groupby('code').shift(-1)
# df['f2_close'] = df['close'].sort_index().groupby('code').shift(-2)
df['f2_open'] = df['open'].sort_index().groupby('code').shift(-2)

df[['open','close','f1_open','f2_open','f2_close']].tail(50)

                            open      close    f1_open    f2_open   f2_close
code      date
688466.SH 2020-05-20   42.990002  43.750000  43.790001  44.389999  40.849998
          2020-05-21   43.790001  44.380001  44.389999  40.900002  37.700001
          2020-05-22   44.389999  40.849998  40.900002  37.700001  38.500000
          2020-05-25   40.900002  37.700001  37.700001  38.560001  38.919998
          2020-05-26   37.700001  38.500000  38.560001  39.000000  37.980000
          2020-05-27   38.560001  38.919998  39.000000  37.980000  39.360001
          2020-05-28   39.000000  37.980000  37.980000        NaN        NaN
          2020-05-29   37.980000  39.360001        NaN        NaN        NaN
688516.SH 2020-05-21   55.020000  62.200001  61.599998  64.199997  56.680000
          2020-05-22   61.599998  64.300003  64.199997  55.500000  61.160000
          2020-05-25   64.199997  56.680000  55.500000  59.270000  58.889999
          2020-05-26   55.500000  61.160000  59.270000  58.310001  56.400002
          2020-05-27   59.270000  58.889999  58.310001  55.500000  53.980000
          2020-05-28   58.310001  56.400002  55.500000        NaN        NaN
          2020-05-29   55.500000  53.980000        NaN        NaN        NaN
688566.SH 2020-05-18   49.500000  45.700001  45.599998  53.599998  52.020000
          2020-05-19   45.599998  54.799999  53.599998  51.099998  49.189999
          2020-05-20   53.599998  52.020000  51.099998  49.049999  45.599998
          2020-05-21   51.099998  49.189999  49.049999  45.759998  43.169998
          2020-05-22   49.049999  45.599998  45.759998  42.990002  44.750000
          2020-05-25   45.759998  43.169998  42.990002  44.380001  45.139999
          2020-05-26   42.990002  44.750000  44.380001  44.299999  43.169998
          2020-05-27   44.380001  45.139999  44.299999  43.000000  42.990002
          2020-05-28   44.299999  43.169998  43.000000        NaN        NaN
          2020-05-29   43.000000  42.990002        NaN        NaN        NaN
688588.SH 2020-05-11   48.000000  41.930000  39.099998  40.119999  48.590000
          2020-05-12   39.099998  40.959999  40.119999  46.889999  46.580002
          2020-05-13   40.119999  48.590000  46.889999  46.040001  49.720001
          2020-05-14   46.889999  46.580002  46.040001  48.000000  45.520000
          2020-05-15   46.040001  49.720001  48.000000  45.599998  47.200001
          2020-05-18   48.000000  45.520000  45.599998  46.000000  48.619999
          2020-05-19   45.599998  47.200001  46.000000  48.310001  46.299999
          2020-05-20   46.000000  48.619999  48.310001  45.799999  42.160000
          2020-05-21   48.310001  46.299999  45.799999  41.820000  39.450001
          2020-05-22   45.799999  42.160000  41.820000  39.810001  40.930000
          2020-05-25   41.820000  39.450001  39.810001  40.660000  42.009998
          2020-05-26   39.810001  40.930000  40.660000  41.799999  43.320000
          2020-05-27   40.660000  42.009998  41.799999  42.110001  41.330002
          2020-05-28   41.799999  43.320000  42.110001        NaN        NaN
          2020-05-29   42.110001  41.330002        NaN        NaN        NaN
688598.SH 2020-05-18  110.000000  90.930000  90.300003  95.699997  92.150002
          2020-05-19   90.300003  96.150002  95.699997  90.300003  87.000000
          2020-05-20   95.699997  92.150002  90.300003  87.879997  88.000000
          2020-05-21   90.300003  87.000000  87.879997  88.669998  78.300003
          2020-05-22   87.879997  88.000000  88.669998  78.470001  79.580002
          2020-05-25   88.669998  78.300003  78.470001  82.040001  90.300003
          2020-05-26   78.470001  79.580002  82.040001  93.059998  92.360001
          2020-05-27   82.040001  90.300003  93.059998  88.000000  88.099998
          2020-05-28   93.059998  92.360001  88.000000        NaN        NaN
          2020-05-29   88.000000  88.099998        NaN        NaN        NaN

In [81]:
%time df['r_t2'] = df['f2_close']/df['f1_open']-1
%time df['r_t1'] = df['f2_open']/df['f1_open']-1

Wall time: 73 ms

In [82]:
df[['open','close','f1_open','f2_close','r_t1','r_t2']].tail(50)

                            open      close    f1_open   f2_close      r_t1  \
code      date
688466.SH 2020-05-20   42.990002  43.750000  43.790001  40.849998  0.013702
          2020-05-21   43.790001  44.380001  44.389999  37.700001 -0.078621
          2020-05-22   44.389999  40.849998  40.900002  38.500000 -0.078240
          2020-05-25   40.900002  37.700001  37.700001  38.919998  0.022812
          2020-05-26   37.700001  38.500000  38.560001  37.980000  0.011411
          2020-05-27   38.560001  38.919998  39.000000  39.360001 -0.026154
          2020-05-28   39.000000  37.980000  37.980000        NaN       NaN
          2020-05-29   37.980000  39.360001        NaN        NaN       NaN
688516.SH 2020-05-21   55.020000  62.200001  61.599998  56.680000  0.042208
          2020-05-22   61.599998  64.300003  64.199997  61.160000 -0.135514
          2020-05-25   64.199997  56.680000  55.500000  58.889999  0.067928
          2020-05-26   55.500000  61.160000  59.270000  56.400002 -0.016197
          2020-05-27   59.270000  58.889999  58.310001  53.980000 -0.048191
          2020-05-28   58.310001  56.400002  55.500000        NaN       NaN
          2020-05-29   55.500000  53.980000        NaN        NaN       NaN
688566.SH 2020-05-18   49.500000  45.700001  45.599998  52.020000  0.175439
          2020-05-19   45.599998  54.799999  53.599998  49.189999 -0.046642
          2020-05-20   53.599998  52.020000  51.099998  45.599998 -0.040117
          2020-05-21   51.099998  49.189999  49.049999  43.169998 -0.067074
          2020-05-22   49.049999  45.599998  45.759998  44.750000 -0.060533
          2020-05-25   45.759998  43.169998  42.990002  45.139999  0.032333
          2020-05-26   42.990002  44.750000  44.380001  43.169998 -0.001803
          2020-05-27   44.380001  45.139999  44.299999  42.990002 -0.029345
          2020-05-28   44.299999  43.169998  43.000000        NaN       NaN
          2020-05-29   43.000000  42.990002        NaN        NaN       NaN
688588.SH 2020-05-11   48.000000  41.930000  39.099998  48.590000  0.026087
          2020-05-12   39.099998  40.959999  40.119999  46.580002  0.168744
          2020-05-13   40.119999  48.590000  46.889999  49.720001 -0.018128
          2020-05-14   46.889999  46.580002  46.040001  45.520000  0.042572
          2020-05-15   46.040001  49.720001  48.000000  47.200001 -0.050000
          2020-05-18   48.000000  45.520000  45.599998  48.619999  0.008772
          2020-05-19   45.599998  47.200001  46.000000  46.299999  0.050217
          2020-05-20   46.000000  48.619999  48.310001  42.160000 -0.051956
          2020-05-21   48.310001  46.299999  45.799999  39.450001 -0.086900
          2020-05-22   45.799999  42.160000  41.820000  40.930000 -0.048063
          2020-05-25   41.820000  39.450001  39.810001  42.009998  0.021351
          2020-05-26   39.810001  40.930000  40.660000  43.320000  0.028037
          2020-05-27   40.660000  42.009998  41.799999  41.330002  0.007416
          2020-05-28   41.799999  43.320000  42.110001        NaN       NaN
          2020-05-29   42.110001  41.330002        NaN        NaN       NaN
688598.SH 2020-05-18  110.000000  90.930000  90.300003  92.150002  0.059801
          2020-05-19   90.300003  96.150002  95.699997  87.000000 -0.056426
          2020-05-20   95.699997  92.150002  90.300003  88.000000 -0.026800
          2020-05-21   90.300003  87.000000  87.879997  78.300003  0.008990
          2020-05-22   87.879997  88.000000  88.669998  79.580002 -0.115033
          2020-05-25   88.669998  78.300003  78.470001  90.300003  0.045495
          2020-05-26   78.470001  79.580002  82.040001  92.360001  0.134325
          2020-05-27   82.040001  90.300003  93.059998  88.099998 -0.054374
          2020-05-28   93.059998  92.360001  88.000000        NaN       NaN
          2020-05-29   88.000000  88.099998        NaN        NaN       NaN

                          r_t2
code      date
688466.SH 2020-05-20 -0.067139
          2020-05-21 -0.150710
          2020-05-22 -0.058680
          2020-05-25  0.032361
          2020-05-26 -0.015042
          2020-05-27  0.009231
          2020-05-28       NaN
          2020-05-29       NaN
688516.SH 2020-05-21 -0.079870
          2020-05-22 -0.047352
          2020-05-25  0.061081
          2020-05-26 -0.048422
          2020-05-27 -0.074258
          2020-05-28       NaN
          2020-05-29       NaN
688566.SH 2020-05-18  0.140790
          2020-05-19 -0.082276
          2020-05-20 -0.107632
          2020-05-21 -0.119878
          2020-05-22 -0.022072
          2020-05-25  0.050012
          2020-05-26 -0.027265
          2020-05-27 -0.029571
          2020-05-28       NaN
          2020-05-29       NaN
688588.SH 2020-05-11  0.242711
          2020-05-12  0.161017
          2020-05-13  0.060354
          2020-05-14 -0.011295
          2020-05-15 -0.016667
          2020-05-18  0.066228
          2020-05-19  0.006522
          2020-05-20 -0.127303
          2020-05-21 -0.138646
          2020-05-22 -0.021282
          2020-05-25  0.055262
          2020-05-26  0.065421
          2020-05-27 -0.011244
          2020-05-28       NaN
          2020-05-29       NaN
688598.SH 2020-05-18  0.020487
          2020-05-19 -0.090909
          2020-05-20 -0.025471
          2020-05-21 -0.109012
          2020-05-22 -0.102515
          2020-05-25  0.150758
          2020-05-26  0.125792
          2020-05-27 -0.053299
          2020-05-28       NaN
          2020-05-29       NaN

In [77]:
r_columns = ['buy_at','max','max_idx', 'idx', 'is_selled', 'sell_at', 'sell_date', 'r','r_t2']


mask_trend = [
    df['p10mean_5ma_pct'] > 1.2,
    df['p10mean_5ma_pct'] < 2,
    df['p10mean_5ma_pct'] > 1.3 * df['p20std_5ma_pct'],
]



# mask_low_pos = [
#     df[['close/60ma','close/30ma']].min(axis=1)<1.03,
# #     df[['close/60ma','close/30ma']].max(axis=1)<1.05,
    
#     df['close/5ma']<1.03,
# #     df['close/10ma']<1.03,
# #     df['close/20ma']<1.03,
    
# #     df['close/120ma']>1.07,
# #     df['close/250ma']>1.1,
# #     df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
# ]

mask_low_pos = [
#     df['close/60ma']<1.125,
    df['close/60ma']<1.125,
#     df['close/30ma']<1.05,
    df['close/5ma']<1.05,
    df['close/10ma']<1.05,

#     df['close/120ma']<1.07,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]


mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    
#     (df['pb']<10) | (df['pe']>0),
    
    
#     df['close0']>5,
#     df['close0_rank']<100,
#     df['close0_rank']>10,
#     df['close0_pct']<0.015,
#     df['close0_pct']>0.01,

    df.index.get_level_values('code').str[:3]!='688',
]



mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_trend+mask_low_pos+mask_basic
# masks = mask_shrink_amt+mask_trend+mask_basic


for m in masks+[mask_date]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q


df.loc[mask_final,'r_t2'].agg(agg_operations)
df.loc[mask_final,'r_t2'].reset_index('code').resample('Q').agg(agg_operations)
# df.loc[mask_final,'r'].reset_index('code').groupby('date').agg(agg_operations)

tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
# tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]
tmp.sort_values('date').tail(70)
tmp.sort_values('date').iloc[-1000:-950]

(358192, 4593560, 0.078, 0.078)

(4434792, 4593560, 0.9654, 0.051)

(168838, 4593560, 0.0368, 0.0115)

(3289898, 4593560, 0.7162, 0.0015)

(4260136, 4593560, 0.9274, 0.0015)

(3918805, 4593560, 0.8531, 0.001)

(4110067, 4593560, 0.8947, 0.001)

(1056950, 4593560, 0.2301, 0.0003)

(4348257, 4593560, 0.9466, 0.0003)

(2056374, 4593560, 0.4477, 0.0002)

(1433930, 4593560, 0.3122, 0.0002)

(4580262, 4593560, 0.9971, 0.0002)

(3453794, 4593560, 0.7519, 0.0001)

mean        0.005591
median      0.000874
max         0.176056
min        -0.127542
std         0.041316
size      566.000000
Name: r_t2, dtype: float64

                r_t2
                mean    median       max       min       std size
date
2016-03-31 -0.003341 -0.008431  0.116238 -0.124868  0.062969   22
2016-06-30  0.022596  0.021674  0.115790 -0.053978  0.041976   20
2016-09-30  0.003345 -0.003662  0.108145 -0.039038  0.031807   42
2016-12-31 -0.005098 -0.000888  0.031083 -0.081543  0.024503   21
2017-03-31 -0.005392 -0.006332  0.053279 -0.068485  0.030779   26
2017-06-30 -0.002143  0.004774  0.028777 -0.045393  0.022126   10
2017-09-30 -0.000159 -0.000957  0.061513 -0.040526  0.023743   37
2017-12-31  0.023255  0.031452  0.090732 -0.033040  0.035500   26
2018-03-31 -0.004726 -0.010501  0.176056 -0.127542  0.049816   54
2018-06-30  0.001323  0.007122  0.060201 -0.040339  0.029546   15
2018-09-30 -0.000312 -0.003150  0.089888 -0.067661  0.034355   25
2018-12-31  0.029886  0.029250  0.092231 -0.041289  0.046492    6
2019-03-31  0.036112  0.033309  0.144607 -0.038220  0.038339   62
2019-06-30  0.012793  0.013191  0.116065 -0.064198  0.044943   15
2019-09-30 -0.010419 -0.010123  0.074410 -0.078014  0.028441   88
2019-12-31  0.006438 -0.000185  0.106707 -0.061958  0.042645   28
2020-03-31  0.018015  0.011848  0.163024 -0.125176  0.058068   44
2020-06-30 -0.004314 -0.007519  0.070270 -0.088028  0.032296   25

                           buy_at          max  max_idx   idx  is_selled  \
code      date
000723.SZ 2019-12-30    63.745533    66.091576   2125.0  2120       True
002078.SZ 2020-01-08    83.843903    87.302261   2400.0  2395       True
000975.SZ 2020-01-09    97.021194    97.298805   2107.0  2106       True
002155.SZ 2020-01-09    22.530388    22.557178   2359.0  2358       True
600893.SH 2020-01-09    75.226501    76.277702   2277.0  2276       True
600547.SH 2020-01-10   543.051086   547.103699   2244.0  2243       True
300134.SZ 2020-01-10    73.861893    75.895584   1863.0  1861       True
002155.SZ 2020-01-10    22.396439    22.476810   2361.0  2359       True
600741.SH 2020-01-13  1287.791992  1309.255249   2372.0  2369       True
300134.SZ 2020-01-13    75.333069    75.895584   1863.0  1862       True
600741.SH 2020-01-14  1257.385864  1309.255249   2372.0  2370       True
300529.SZ 2020-01-22    83.639999    85.751503    848.0   847       True
300357.SZ 2020-01-22   269.056641   275.705994   1464.0  1463       True
000739.SZ 2020-01-23   158.805450   211.497208   2345.0  2340       True
603939.SH 2020-01-23   164.160004   187.347610   1088.0  1087       True
603658.SH 2020-01-23   118.721001   138.291672    830.0   826       True
600845.SH 2020-01-23   192.595688   293.500793   2383.0  2377       True
300347.SZ 2020-01-23   817.970581  1051.658813   1676.0  1671       True
300357.SZ 2020-01-23   235.485367   267.218597   1479.0  1464       True
300529.SZ 2020-01-23    74.517494   100.449997    870.0   848       True
300326.SZ 2020-01-23   159.170135   264.727386   1609.0  1583       True
300630.SZ 2020-02-03   141.865204   151.104507    699.0   692       True
002821.SZ 2020-02-03   297.082703   404.557129    793.0   778       True
002475.SZ 2020-02-03  1076.381470  1216.171265   2249.0  2247       True
002410.SZ 2020-02-03   489.723999   568.044495   2312.0  2308       True
600436.SH 2020-02-03   782.001282   896.346802   2427.0  2424       True
002180.SZ 2020-02-03   170.692215   237.389053   2131.0  2114       True
603939.SH 2020-02-03   167.894638   185.890671   1093.0  1088       True
002424.SZ 2020-02-07   103.924393   104.556801   2333.0  2332       True
000877.SZ 2020-03-06    76.940193    79.916855   2431.0  2430       True
000768.SZ 2020-03-06   155.047195   160.249008   2443.0  2440       True
600801.SH 2020-03-06   230.712646   243.288559   2462.0  2460       True
601618.SH 2020-03-06     3.129840     3.175200   2394.0  2392       True
600582.SH 2020-03-09   123.883194   129.413696   2406.0  2404       True
002063.SZ 2020-03-09    98.684700   116.925003   2377.0  2375       True
600195.SH 2020-03-09    68.310005    73.588501   2397.0  2395       True
          2020-03-10    71.829002    73.588501   2397.0  2396       True
600989.SH 2020-03-10    10.238880    10.269720    200.0   199       True
600089.SH 2020-03-12   269.504547   320.676300   2449.0  2446       True
603517.SH 2020-03-16    66.805199    76.334343    740.0   729       True
002063.SZ 2020-03-16    97.905205   118.484001   2389.0  2380       True
603517.SH 2020-03-17    68.930817    76.334343    740.0   730       True
000735.SZ 2020-03-17    61.739700    62.322697   2452.0  2451       True
002839.SZ 2020-03-17     6.411980     6.443360    753.0   752       True
603517.SH 2020-03-18    67.961998    76.334343    740.0   731       True
002019.SZ 2020-04-20   271.870636   320.345947   2403.0  2384       True
601899.SH 2020-04-20     8.017520     8.270500   2466.0  2462       True
600380.SH 2020-04-20   139.141800   148.859634   2444.0  2441       True
002019.SZ 2020-04-21   265.592194   320.345947   2403.0  2385       True
300685.SZ 2020-04-21   142.084991   161.234802    674.0   661       True
300244.SZ 2020-04-22   268.777588   279.187988   2038.0  2037       True
          2020-04-24   249.849594   256.095825   2040.0  2039       True
000596.SZ 2020-04-27   460.359344   536.499329   2510.0  2496      False
300144.SZ 2020-05-13   251.696213   284.215363   2210.0  2198      False
300251.SZ 2020-05-14   285.003632   300.488434   2026.0  2015      False
000009.SZ 2020-05-14    63.696213    65.290833   2407.0  2406       True
002414.SZ 2020-05-14   139.835510   145.379517   2299.0  2296       True
300144.SZ 2020-05-14   250.943634   284.215363   2210.0  2199      False
002434.SZ 2020-05-15    61.823360    61.889980   2262.0  2261       True
300638.SZ 2020-05-15   128.193237   130.822388    754.0   752       True
002414.SZ 2020-05-15   140.247360   145.379517   2299.0  2297       True
300144.SZ 2020-05-15   247.515213   284.215363   2210.0  2200      False
300251.SZ 2020-05-18   288.598236   300.488434   2026.0  2017      False
300182.SZ 2020-05-18   142.895691   147.833771   2097.0  2094       True
300638.SZ 2020-05-18   126.470695   130.822388    754.0   753       True
002129.SZ 2020-05-18    78.178070    87.037964   2043.0  2041       True
603444.SH 2020-05-18   465.856964   465.900177    818.0   817       True
          2020-05-19   464.731171   464.982819    819.0   818       True
300182.SZ 2020-05-19   137.957611   147.833771   2097.0  2095       True
600037.SH 2020-05-21    51.012299    55.009140   2493.0  2490      False

                          sell_at  sell_date         r      r_t2
code      date
000723.SZ 2019-12-30    62.069782 2020-01-13 -0.026288 -0.025237
002078.SZ 2020-01-08    82.663002 2020-01-20 -0.014085  0.008048
000975.SZ 2020-01-09    91.261002 2020-01-20 -0.059370 -0.010730
002155.SZ 2020-01-09    21.083729 2020-01-23 -0.064209 -0.009512
600893.SH 2020-01-09    71.612999 2020-01-23 -0.048035 -0.013974
600547.SH 2020-01-10   519.203003 2020-01-23 -0.043915 -0.012916
300134.SZ 2020-01-10    70.313751 2020-01-17 -0.048038 -0.009959
002155.SZ 2020-01-10    21.083729 2020-01-23 -0.058612 -0.003588
600741.SH 2020-01-13  1233.239746 2020-01-22 -0.042361 -0.013542
300134.SZ 2020-01-13    70.313751 2020-01-17 -0.066628 -0.020103
600741.SH 2020-01-14  1074.501465 2020-02-03 -0.145448  0.015647
300529.SZ 2020-01-22    78.545746 2020-02-04 -0.060907 -0.074755
300357.SZ 2020-01-22   213.537003 2020-02-04 -0.206349 -0.125176
000739.SZ 2020-01-23   181.683167 2020-02-11  0.144061  0.075096
603939.SH 2020-01-23   169.290009 2020-02-05  0.031250  0.030000
603658.SH 2020-01-23   125.478157 2020-02-11  0.056916  0.028899
600845.SH 2020-01-23   266.255310 2020-02-21  0.382457  0.163024
300347.SZ 2020-01-23   934.752747 2020-02-12  0.142771  0.091954
300357.SZ 2020-01-23   245.973007 2020-02-27  0.044536  0.022039
300529.SZ 2020-01-23    92.444748 2020-03-16  0.240578  0.083907
300326.SZ 2020-01-23   220.346634 2020-03-17  0.384347  0.071279
300630.SZ 2020-02-03   140.329086 2020-02-17 -0.010828  0.016083
002821.SZ 2020-02-03   386.280396 2020-03-06  0.300245  0.060976
002475.SZ 2020-02-03  1074.828247 2020-02-10 -0.001443  0.072872
002410.SZ 2020-02-03   528.442810 2020-02-20  0.079063  0.079320
600436.SH 2020-02-03   827.492188 2020-02-19  0.058172  0.129910
002180.SZ 2020-02-03   207.559799 2020-03-02  0.215989  0.000000
603939.SH 2020-02-03   171.075256 2020-02-20  0.018944  0.002200
002424.SZ 2020-02-07    98.127403 2020-02-14 -0.055781 -0.025355
000877.SZ 2020-03-06    69.886803 2020-03-13 -0.091674  0.017662
000768.SZ 2020-03-06   151.020004 2020-03-16 -0.025974 -0.005411
600801.SH 2020-03-06   212.865936 2020-03-13 -0.077355  0.035671
601618.SH 2020-03-06     2.948400 2020-03-19 -0.057971  0.007246
600582.SH 2020-03-09   115.034393 2020-03-13 -0.071429  0.017857
002063.SZ 2020-03-09    97.437500 2020-03-13 -0.012638  0.130332
600195.SH 2020-03-09    62.358753 2020-03-13 -0.087121  0.027273
          2020-03-10    62.358753 2020-03-13 -0.131844 -0.071326
600989.SH 2020-03-10     9.231440 2020-03-13 -0.098394 -0.051205
600089.SH 2020-03-12   287.698944 2020-03-24  0.067511  0.099859
603517.SH 2020-03-16    70.434654 2020-04-14  0.054329  0.017316
002063.SZ 2020-03-16    99.308296 2020-03-31  0.014331  0.067675
603517.SH 2020-03-17    70.333435 2020-04-09  0.020348 -0.019509
000735.SZ 2020-03-17    59.174496 2020-03-20 -0.041549 -0.053824
002839.SZ 2020-03-17     6.087720 2020-03-20 -0.050571 -0.052202
603517.SH 2020-03-18    70.333435 2020-04-09  0.034894 -0.006383
002019.SZ 2020-04-20   290.525391 2020-05-29  0.068616 -0.007519
601899.SH 2020-04-20     7.472640 2020-04-28 -0.067961 -0.014563
600380.SH 2020-04-20   137.154068 2020-04-28 -0.014286  0.019048
002019.SZ 2020-04-21   290.525391 2020-05-29  0.093878  0.003299
300685.SZ 2020-04-21   145.849792 2020-05-25  0.026497  0.008662
300244.SZ 2020-04-22   249.849594 2020-04-27 -0.070423 -0.088028
          2020-04-24   238.208878 2020-04-29 -0.046591 -0.037121
000596.SZ 2020-04-27          NaN        NaT       NaN -0.009335
300144.SZ 2020-05-13          NaN        NaT       NaN -0.016611
300251.SZ 2020-05-14          NaN        NaT       NaN  0.012612
000009.SZ 2020-05-14    61.747231 2020-05-19 -0.030598 -0.040334
002414.SZ 2020-05-14   136.952637 2020-05-25 -0.020616 -0.000680
300144.SZ 2020-05-14          NaN        NaT       NaN -0.009663
002434.SZ 2020-05-15    58.492359 2020-05-22 -0.053879 -0.034483
300638.SZ 2020-05-15   121.181221 2020-05-22 -0.054699  0.000236
002414.SZ 2020-05-15   136.952637 2020-05-25 -0.023492  0.021007
300144.SZ 2020-05-15          NaN        NaT       NaN  0.070270
300251.SZ 2020-05-18          NaN        NaT       NaN -0.004448
300182.SZ 2020-05-18   133.636795 2020-05-25 -0.064795 -0.006479
300638.SZ 2020-05-18   121.181221 2020-05-22 -0.041824 -0.020862
002129.SZ 2020-05-18    80.160995 2020-05-22  0.025364  0.048030
603444.SH 2020-05-18   445.039185 2020-05-25 -0.044687 -0.025830
          2020-05-19   432.151855 2020-05-28 -0.070104 -0.020504
300182.SZ 2020-05-19   133.636795 2020-05-25 -0.031320  0.053691
600037.SH 2020-05-21          NaN        NaT       NaN -0.008247

Empty DataFrame
Columns: [buy_at, max, max_idx, idx, is_selled, sell_at, sell_date, r, r_t2]
Index: []

In [79]:
r_columns = ['buy_at','max','max_idx', 'idx', 'is_selled', 'sell_at', 'sell_date', 'r','r_t2']


mask_trend = [
    df['p15mean-std_5ma_pct'] > 0.3,
]



# mask_low_pos = [
#     df[['close/60ma','close/30ma']].min(axis=1)<1.03,
# #     df[['close/60ma','close/30ma']].max(axis=1)<1.05,
    
#     df['close/5ma']<1.03,
# #     df['close/10ma']<1.03,
# #     df['close/20ma']<1.03,
    
# #     df['close/120ma']>1.07,
# #     df['close/250ma']>1.1,
# #     df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
# ]

mask_low_pos = [
#     df['close/60ma']<1.125,
    df['close/60ma']<1.125,
#     df['close/30ma']<1.05,
    df['close/5ma']<1.05,
    df['close/10ma']<1.05,

#     df['close/120ma']<1.07,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]


mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    
#     (df['pb']<10) | (df['pe']>0),
    
    
#     df['close0']>5,
#     df['close0_rank']<100,
#     df['close0_rank']>10,
#     df['close0_pct']<0.015,
#     df['close0_pct']>0.01,

    df.index.get_level_values('code').str[:3]!='688',
]



mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_trend+mask_low_pos+mask_basic
# masks = mask_shrink_amt+mask_trend+mask_basic


for m in masks+[mask_date]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q


df.loc[mask_final,'r_t2'].agg(agg_operations)
df.loc[mask_final,'r_t2'].reset_index('code').resample('Q').agg(agg_operations)
# df.loc[mask_final,'r'].reset_index('code').groupby('date').agg(agg_operations)

tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
# tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]
tmp.sort_values('date').tail(70)
tmp.sort_values('date').iloc[-1000:-950]

(121436, 4593560, 0.0264, 0.0264)

(3289898, 4593560, 0.7162, 0.0051)

(4260136, 4593560, 0.9274, 0.0049)

(3918805, 4593560, 0.8531, 0.004)

(4110067, 4593560, 0.8947, 0.004)

(1056950, 4593560, 0.2301, 0.0008)

(4348257, 4593560, 0.9466, 0.0007)

(2056374, 4593560, 0.4477, 0.0006)

(1433930, 4593560, 0.3122, 0.0005)

(4580262, 4593560, 0.9971, 0.0005)

(3453794, 4593560, 0.7519, 0.0004)

mean         0.005888
median       0.002014
max          0.205608
min         -0.127542
std          0.037038
size      1741.000000
Name: r_t2, dtype: float64

                r_t2
                mean    median       max       min       std size
date
2016-03-31  0.010964  0.004284  0.200503 -0.124868  0.061324   54
2016-06-30 -0.002006 -0.003425  0.115790 -0.111551  0.039378   72
2016-09-30  0.006719  0.000819  0.129630 -0.043612  0.030845  106
2016-12-31 -0.000209 -0.001902  0.100543 -0.050795  0.026542   40
2017-03-31 -0.005000 -0.003620  0.038429 -0.061559  0.020770   80
2017-06-30 -0.009156 -0.006353  0.057746 -0.090260  0.026199   67
2017-09-30  0.012424  0.008951  0.167266 -0.047162  0.030165  111
2017-12-31  0.006802  0.006388  0.113044 -0.100642  0.041145   54
2018-03-31 -0.003678 -0.006936  0.139600 -0.127542  0.032826  265
2018-06-30 -0.000348 -0.000550  0.091023 -0.064429  0.031736   47
2018-09-30 -0.004844 -0.006738  0.067362 -0.058486  0.036598   30
2018-12-31  0.000383  0.001719  0.099441 -0.070312  0.042711   30
2019-03-31  0.025137  0.022106  0.205608 -0.076327  0.039949  261
2019-06-30  0.012129  0.003406  0.093110 -0.070742  0.035776   30
2019-09-30 -0.000611 -0.004608  0.085052 -0.062060  0.026440  191
2019-12-31 -0.004640 -0.009001  0.089474 -0.076796  0.033668   96
2020-03-31  0.026610  0.018487  0.174667 -0.051208  0.050070   96
2020-06-30  0.005164  0.003714  0.102756 -0.087678  0.030456  111

                           buy_at           max  max_idx   idx  is_selled  \
code      date
600519.SH 2020-04-22  9148.750000  10041.375000   2515.0  2497      False
300759.SZ 2020-04-22    66.057579     71.112701    303.0   298       True
002151.SZ 2020-04-23   170.059509    202.617889   2326.0  2305      False
300124.SZ 2020-04-23   491.027954    581.798096   2325.0  2305      False
600809.SH 2020-04-23   437.466644    570.560913   2510.0  2488      False
600118.SH 2020-04-23   573.516968    581.535889   2493.0  2492       True
600143.SH 2020-04-24   201.173248    209.676270   2406.0  2405       True
600009.SH 2020-04-24   215.910995    218.769547   2506.0  2502       True
002675.SZ 2020-04-24    80.318596     96.939842   1566.0  1544      False
300630.SZ 2020-04-24   162.648010    171.684006    753.0   750       True
600519.SH 2020-04-24  9199.982422  10041.375000   2515.0  2499      False
600809.SH 2020-04-24   435.313599    570.560913   2510.0  2489      False
300124.SZ 2020-04-24   487.648193    581.798096   2325.0  2306      False
603658.SH 2020-04-24   138.793747    157.945999    888.0   885       True
600201.SH 2020-04-24   370.081390    407.935883   2481.0  2473       True
603658.SH 2020-04-27   141.701614    157.945999    888.0   886       True
600201.SH 2020-04-27   375.159424    407.935883   2481.0  2474       True
601888.SH 2020-04-27   186.424713    203.524307   2443.0  2440       True
600809.SH 2020-04-27   456.976013    570.560913   2510.0  2490      False
600845.SH 2020-04-27   269.213074    327.344421   2450.0  2437       True
000596.SZ 2020-04-27   460.359344    536.499329   2510.0  2496      False
300124.SZ 2020-04-27   506.639099    581.798096   2325.0  2307      False
002683.SZ 2020-04-28    81.682709     98.587196   1760.0  1748       True
600201.SH 2020-04-28   373.466766    407.935883   2481.0  2475       True
300146.SZ 2020-04-29   529.915344    556.960449   2110.0  2107       True
300630.SZ 2020-04-29   164.138947    186.819305    762.0   753       True
000596.SZ 2020-04-30   456.298553    536.499329   2510.0  2499      False
600519.SH 2020-04-30  9156.068359  10041.375000   2515.0  2503      False
300146.SZ 2020-04-30   521.463745    556.960449   2110.0  2108       True
000596.SZ 2020-05-06   455.655579    536.499329   2510.0  2500      False
002508.SZ 2020-05-06   217.299988    224.852493   2292.0  2289       True
300146.SZ 2020-05-06   536.113220    556.960449   2110.0  2109       True
603228.SH 2020-05-06    73.979401     74.850601    809.0   807       True
          2020-05-07    73.326004     74.850601    809.0   808       True
000596.SZ 2020-05-07   466.145996    536.499329   2510.0  2501      False
300146.SZ 2020-05-07   539.775513    546.255066   2111.0  2110       True
603228.SH 2020-05-08    72.599998     74.647324    817.0   809       True
300413.SZ 2020-05-08    82.697304     89.608749   1035.0  1028       True
002850.SZ 2020-05-08    88.557823     88.956665    776.0   775       True
600438.SH 2020-05-11   155.044800    162.258682   2363.0  2362       True
300724.SZ 2020-05-11    64.645561     66.275284    422.0   421       True
300413.SZ 2020-05-11    82.697304     89.608749   1035.0  1029       True
601012.SH 2020-05-11   297.484375    321.944397   1930.0  1924       True
300454.SZ 2020-05-11   189.558350    202.403992    489.0   482       True
300724.SZ 2020-05-12    64.866882     71.285164    428.0   422       True
002027.SZ 2020-05-12    63.364944     65.029076   2410.0  2409       True
601615.SH 2020-05-12    11.830561     12.353681    314.0   312       True
300454.SZ 2020-05-12   192.303833    202.403992    489.0   483       True
300413.SZ 2020-05-13    83.606255     89.608749   1035.0  1031       True
          2020-05-14    83.692001     89.608749   1035.0  1032       True
000877.SZ 2020-05-14    85.287781     89.623352   2477.0  2475       True
601615.SH 2020-05-14    11.589121     12.419380    324.0   314      False
000333.SZ 2020-05-14   261.753998    269.155304   1560.0  1555      False
300413.SZ 2020-05-15    83.777748     89.608749   1035.0  1033       True
000333.SZ 2020-05-15   259.497498    269.155304   1560.0  1556      False
000877.SZ 2020-05-15    88.005608     89.623352   2477.0  2476       True
000333.SZ 2020-05-18   263.559204    269.155304   1560.0  1557      False
300413.SZ 2020-05-18    85.235504     89.608749   1035.0  1034       True
300182.SZ 2020-05-18   142.895691    147.833771   2097.0  2094       True
000423.SZ 2020-05-19   332.176331    369.935089   2515.0  2510      False
300182.SZ 2020-05-19   137.957611    147.833771   2097.0  2095       True
300413.SZ 2020-05-20    85.561348     87.276352   1037.0  1036       True
002129.SZ 2020-05-21    80.160995     80.160995   2045.0  2044       True
300413.SZ 2020-05-21    84.378006     90.895004   1043.0  1037      False
002019.SZ 2020-05-22   302.240723    310.187225   2407.0  2405       True
600060.SH 2020-05-22    70.214844     80.790413   2517.0  2512      False
600641.SH 2020-05-25   353.327454    367.384186   2332.0  2331       True
002429.SZ 2020-05-25    43.446301     44.610840   2324.0  2323       True
603195.SH 2020-05-27   179.029999    185.199997     77.0    75      False
          2020-05-28   180.000000    185.199997     77.0    76      False

                         sell_at                     sell_date         r  \
code      date
600519.SH 2020-04-22         NaN                           NaT       NaN
300759.SZ 2020-04-22   65.305328 2020-04-30 00:00:00.000000000 -0.011388
002151.SZ 2020-04-23         NaN                           NaT       NaN
300124.SZ 2020-04-23         NaN                           NaT       NaN
600809.SH 2020-04-23         NaN                           NaT       NaN
600118.SH 2020-04-23  519.890686 2020-04-28 00:00:00.000000000 -0.093504
600143.SH 2020-04-24  180.882004 2020-04-29 00:00:00.000000000 -0.100865
600009.SH 2020-04-24  206.483902 2020-05-13 00:00:00.000000000 -0.043662
002675.SZ 2020-04-24         NaN                           NaT       NaN
300630.SZ 2020-04-24  157.497482 2020-05-06 00:00:00.000000000 -0.031667
600519.SH 2020-04-24         NaN                           NaT       NaN
600809.SH 2020-04-24         NaN                           NaT       NaN
300124.SZ 2020-04-24         NaN                           NaT       NaN
603658.SH 2020-04-24  140.686996 2020-05-06 00:00:00.000000000  0.013641
600201.SH 2020-04-24  387.008179 2020-05-22 00:00:00.000000000  0.045738
603658.SH 2020-04-27  140.686996 2020-05-06 00:00:00.000000000 -0.007160
600201.SH 2020-04-27  387.008179 2020-05-22 00:00:00.000000000  0.031583
601888.SH 2020-04-27  190.721298 2020-05-18 00:00:00.000000000  0.023047
600809.SH 2020-04-27         NaN                           NaT       NaN
600845.SH 2020-04-27         NaN 1754-08-30 22:43:41.128654848       NaN
000596.SZ 2020-04-27         NaN                           NaT       NaN
300124.SZ 2020-04-27         NaN                           NaT       NaN
002683.SZ 2020-04-28   86.504906 2020-05-25 00:00:00.000000000  0.059036
600201.SH 2020-04-28  387.008179 2020-05-22 00:00:00.000000000  0.036259
300146.SZ 2020-04-29  521.463745 2020-05-18 00:00:00.000000000 -0.015949
300630.SZ 2020-04-29  171.684006 2020-05-21 00:00:00.000000000  0.045968
000596.SZ 2020-04-30         NaN                           NaT       NaN
600519.SH 2020-04-30         NaN                           NaT       NaN
300146.SZ 2020-04-30  526.816467 2020-05-20 00:00:00.000000000  0.010265
000596.SZ 2020-05-06         NaN                           NaT       NaN
002508.SZ 2020-05-06  210.078751 2020-05-12 00:00:00.000000000 -0.033232
300146.SZ 2020-05-06  521.463745 2020-05-18 00:00:00.000000000 -0.027325
603228.SH 2020-05-06   70.799522 2020-05-12 00:00:00.000000000 -0.042983
          2020-05-07   70.799522 2020-05-12 00:00:00.000000000 -0.034455
000596.SZ 2020-05-07         NaN                           NaT       NaN
300146.SZ 2020-05-07  522.308899 2020-05-21 00:00:00.000000000 -0.032359
603228.SH 2020-05-08   69.202324 2020-05-22 00:00:00.000000000 -0.046800
300413.SZ 2020-05-08   81.136658 2020-05-25 00:00:00.000000000 -0.018872
002850.SZ 2020-05-08   84.155243 2020-05-15 00:00:00.000000000 -0.049714
600438.SH 2020-05-11  151.384033 2020-05-15 00:00:00.000000000 -0.023611
300724.SZ 2020-05-11   63.619446 2020-05-18 00:00:00.000000000 -0.015873
300413.SZ 2020-05-11   81.136658 2020-05-25 00:00:00.000000000 -0.018872
601012.SH 2020-05-11  297.581055 2020-05-25 00:00:00.000000000  0.000325
300454.SZ 2020-05-11  187.474197 2020-05-22 00:00:00.000000000 -0.010995
300724.SZ 2020-05-12   64.685806 2020-05-25 00:00:00.000000000 -0.002792
002027.SZ 2020-05-12   60.420715 2020-05-25 00:00:00.000000000 -0.046465
601615.SH 2020-05-12   11.357740 2020-05-18 00:00:00.000000000 -0.039966
300454.SZ 2020-05-12  187.474197 2020-05-22 00:00:00.000000000 -0.025115
300413.SZ 2020-05-13   84.378006 2020-05-22 00:00:00.000000000  0.009231
          2020-05-14   84.378006 2020-05-22 00:00:00.000000000  0.008197
000877.SZ 2020-05-14   82.246414 2020-05-19 00:00:00.000000000 -0.035660
601615.SH 2020-05-14         NaN                           NaT       NaN
000333.SZ 2020-05-14         NaN                           NaT       NaN
300413.SZ 2020-05-15   84.378006 2020-05-22 00:00:00.000000000  0.007165
000333.SZ 2020-05-15         NaN                           NaT       NaN
000877.SZ 2020-05-15   81.728737 2020-05-20 00:00:00.000000000 -0.071324
000333.SZ 2020-05-18         NaN                           NaT       NaN
300413.SZ 2020-05-18   84.378006 2020-05-22 00:00:00.000000000 -0.010060
300182.SZ 2020-05-18  133.636795 2020-05-25 00:00:00.000000000 -0.064795
000423.SZ 2020-05-19         NaN                           NaT       NaN
300182.SZ 2020-05-19  133.636795 2020-05-25 00:00:00.000000000 -0.031320
300413.SZ 2020-05-20   81.136658 2020-05-25 00:00:00.000000000 -0.051714
002129.SZ 2020-05-21   75.984192 2020-05-26 00:00:00.000000000 -0.052105
300413.SZ 2020-05-21         NaN                           NaT       NaN
002019.SZ 2020-05-22  290.525391 2020-05-29 00:00:00.000000000 -0.038762
600060.SH 2020-05-22         NaN                           NaT       NaN
600641.SH 2020-05-25         NaN 1754-08-30 22:43:41.128654848       NaN
002429.SZ 2020-05-25   41.565121 2020-05-29 00:00:00.000000000 -0.043299
603195.SH 2020-05-27         NaN                           NaT       NaN
          2020-05-28         NaN                           NaT       NaN

                          r_t2
code      date
600519.SH 2020-04-22  0.000448
300759.SZ 2020-04-22 -0.020650
002151.SZ 2020-04-23 -0.016410
300124.SZ 2020-04-23  0.020649
600809.SH 2020-04-23 -0.002411
600118.SH 2020-04-23 -0.087678
600143.SH 2020-04-24 -0.074928
600009.SH 2020-04-24 -0.007042
002675.SZ 2020-04-24  0.014206
300630.SZ 2020-04-24  0.022500
600519.SH 2020-04-24  0.017605
600809.SH 2020-04-24  0.102756
300124.SZ 2020-04-24  0.088449
603658.SH 2020-04-24  0.074761
600201.SH 2020-04-24  0.006653
603658.SH 2020-04-27  0.041707
600201.SH 2020-04-27 -0.020509
601888.SH 2020-04-27  0.051100
600809.SH 2020-04-27 -0.004904
600845.SH 2020-04-27  0.056412
000596.SZ 2020-04-27 -0.009335
300124.SZ 2020-04-27  0.032402
002683.SZ 2020-04-28 -0.013775
600201.SH 2020-04-28 -0.014833
300146.SZ 2020-04-29  0.007443
300630.SZ 2020-04-29 -0.013212
000596.SZ 2020-04-30  0.012311
600519.SH 2020-04-30  0.048761
300146.SZ 2020-04-30  0.035116
000596.SZ 2020-05-06  0.041515
002508.SZ 2020-05-06 -0.006402
300146.SZ 2020-05-06  0.000525
603228.SH 2020-05-06 -0.018646
          2020-05-07 -0.037624
000596.SZ 2020-05-07  0.059020
300146.SZ 2020-05-07 -0.018789
603228.SH 2020-05-08  0.012000
300413.SZ 2020-05-08  0.006844
002850.SZ 2020-05-08 -0.016109
600438.SH 2020-05-11  0.016667
300724.SZ 2020-05-11 -0.003735
300413.SZ 2020-05-11  0.016176
601012.SH 2020-05-11  0.041274
300454.SZ 2020-05-11  0.001057
300724.SZ 2020-05-12 -0.028846
002027.SZ 2020-05-12 -0.010101
601615.SH 2020-05-12 -0.010204
300454.SZ 2020-05-12 -0.039391
300413.SZ 2020-05-13  0.008205
          2020-05-14  0.009221
000877.SZ 2020-05-14 -0.041730
601615.SH 2020-05-14  0.024306
000333.SZ 2020-05-14 -0.008793
300413.SZ 2020-05-15  0.046469
000333.SZ 2020-05-15  0.021913
000877.SZ 2020-05-15 -0.061765
000333.SZ 2020-05-18  0.010788
300413.SZ 2020-05-18  0.004225
300182.SZ 2020-05-18 -0.006479
000423.SZ 2020-05-19  0.047590
300182.SZ 2020-05-19  0.053691
300413.SZ 2020-05-20 -0.053317
002129.SZ 2020-05-21 -0.058947
300413.SZ 2020-05-21 -0.048171
002019.SZ 2020-05-22  0.005902
600060.SH 2020-05-22  0.011523
600641.SH 2020-05-25  0.001965
002429.SZ 2020-05-25 -0.004124
603195.SH 2020-05-27  0.018880
          2020-05-28       NaN

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r,r_t2
code,date,,,,,,,,,
300244.SZ,2018-03-13,218.345291,230.055847,1528.0,1523,True,202.857117,2018-03-26,-0.070934,-0.002595
002439.SZ,2018-03-14,196.902161,202.544296,1637.0,1634,True,186.435593,2018-03-26,-0.053156,-0.009551
300433.SZ,2018-03-14,103.842506,104.134506,707.0,706,True,97.455002,2018-03-20,-0.061511,-0.031283
000519.SZ,2018-03-14,66.408546,76.232300,1794.0,1785,True,67.901764,2018-04-11,0.022485,0.039053
002049.SZ,2018-03-14,201.914108,225.668701,1727.0,1722,True,203.013870,2018-03-26,0.005447,0.033333
300316.SZ,2018-03-14,147.874725,156.352493,1320.0,1319,True,145.025635,2018-03-22,-0.019267,0.019267
002371.SZ,2018-03-14,173.400009,182.404114,1866.0,1862,True,164.680252,2018-03-26,-0.050287,-0.013938
002396.SZ,2018-03-14,72.891502,75.762505,1675.0,1670,True,70.818001,2018-03-22,-0.028446,-0.019694
002065.SZ,2018-03-14,253.984467,256.380585,1686.0,1685,True,242.902603,2018-03-22,-0.043632,-0.016509
600760.SH,2018-03-14,147.640503,159.118195,1835.0,1830,True,147.640503,2018-03-26,0.000000,0.007973
300274.SZ,2018-03-14,117.957687,123.479675,1524.0,1519,True,104.784744,2018-03-26,-0.111675,-0.026509
600874.SH,2018-03-14,21.888630,23.387400,1979.0,1978,True,21.658049,2018-03-22,-0.010534,0.003010
600110.SH,2018-03-14,126.275520,127.953598,1704.0,1703,True,120.122566,2018-03-22,-0.048726,-0.026578
000977.SZ,2018-03-14,121.786087,133.910400,1917.0,1913,True,122.449600,2018-03-26,0.005448,0.002972
002156.SZ,2018-03-14,33.674301,35.288441,1887.0,1885,True,33.396000,2018-03-21,-0.008264,0.013223
600104.SH,2018-03-14,306.244812,313.417206,1928.0,1924,True,287.313019,2018-03-27,-0.061819,0.002996
002019.SZ,2018-03-14,307.760712,319.003113,1878.0,1873,True,285.275909,2018-03-23,-0.073059,-0.022375
002281.SZ,2018-03-14,88.987801,92.829002,1930.0,1925,True,80.665199,2018-03-26,-0.093525,-0.010791
002383.SZ,2018-03-14,91.852798,96.014877,1711.0,1709,True,90.321915,2018-03-22,-0.016667,0.014063
300496.SZ,2018-03-14,123.449036,128.511002,491.0,488,True,108.930244,2018-03-26,-0.117610,-0.008264
000938.SZ,2018-03-14,170.193436,177.875519,1789.0,1784,True,151.619995,2018-03-26,-0.109131,-0.007127
300222.SZ,2018-03-14,143.627701,147.045898,1335.0,1334,True,137.044495,2018-03-22,-0.045835,-0.015425
000066.SZ,2018-03-14,75.202354,82.775925,1754.0,1750,True,72.322258,2018-03-26,-0.038298,-0.001418
300070.SZ,2018-03-14,305.626007,308.862061,1839.0,1838,True,284.052399,2018-03-23,-0.070588,-0.018824
000963.SZ,2018-03-14,411.688995,491.327240,1963.0,1943,True,440.777191,2018-04-18,0.070656,0.016557
600570.SH,2018-03-14,732.884338,791.366699,1925.0,1923,True,727.606628,2018-03-22,-0.007201,0.027637
600392.SH,2018-03-14,137.443649,140.390488,1737.0,1736,True,131.096603,2018-03-19,-0.046179,-0.035734
600584.SH,2018-03-14,98.686348,103.656509,1761.0,1756,True,88.459290,2018-03-26,-0.103632,-0.001937
002600.SZ,2018-03-14,36.182949,36.810402,1365.0,1363,True,34.300598,2018-03-20,-0.052023,-0.006936
002405.SZ,2018-03-14,63.815998,65.836838,1762.0,1759,True,58.365051,2018-03-23,-0.085417,0.005833
002013.SZ,2018-03-14,199.674332,249.352234,1865.0,1840,True,235.298462,2018-05-07,0.178411,0.036644
600276.SH,2018-03-14,2252.626709,2526.101318,1991.0,1983,True,2351.145508,2018-04-10,0.043735,0.029911
600703.SH,2018-03-14,537.816650,558.834778,1941.0,1936,True,502.786407,2018-03-26,-0.065134,-0.023755
300009.SZ,2018-03-14,202.853867,217.802689,1853.0,1849,True,189.271332,2018-03-26,-0.066957,0.005547
300122.SZ,2018-03-14,127.284882,142.678238,1741.0,1736,True,127.946960,2018-03-26,0.005202,0.013654
002152.SZ,2018-03-14,115.975159,118.917122,1926.0,1924,True,101.110527,2018-03-26,-0.128171,-0.001335
600884.SH,2018-03-15,373.503815,376.459351,1963.0,1962,True,355.770721,2018-03-22,-0.047478,-0.022255
002281.SZ,2018-03-15,90.204178,92.829002,1930.0,1926,True,80.665199,2018-03-26,-0.105749,-0.011356
300024.SZ,2018-03-15,450.211761,463.223663,1984.0,1981,True,404.551819,2018-03-26,-0.101419,-0.001051
002156.SZ,2018-03-15,35.288441,35.288441,1887.0,1886,True,33.396000,2018-03-21,-0.053628,-0.037855
600760.SH,2018-03-15,148.866760,159.118195,1835.0,1831,True,147.640503,2018-03-26,-0.008237,0.018122
600584.SH,2018-03-15,101.792694,103.656509,1761.0,1757,True,88.459290,2018-03-26,-0.130986,0.004695
002049.SZ,2018-03-15,214.275299,225.668701,1727.0,1723,True,203.013870,2018-03-26,-0.052556,0.006775
002405.SZ,2018-03-15,63.576687,65.836838,1762.0,1760,True,58.365051,2018-03-23,-0.081974,0.010456
002354.SZ,2018-03-15,52.810143,55.820492,1642.0,1641,True,50.860580,2018-03-21,-0.036916,-0.002172
300274.SZ,2018-03-15,118.290344,123.479675,1524.0,1520,True,104.784744,2018-03-26,-0.114173,0.010124
002024.SZ,2018-03-15,1202.140137,1208.159546,1971.0,1970,True,1147.966553,2018-03-21,-0.045064,-0.042918
002019.SZ,2018-03-15,310.571320,319.003113,1878.0,1874,True,285.275909,2018-03-23,-0.081448,-0.027602
300433.SZ,2018-03-15,102.930008,103.112503,708.0,707,True,96.725006,2018-03-22,-0.060284,-0.041844
002371.SZ,2018-03-15,175.816895,182.404114,1866.0,1863,True,164.680252,2018-03-26,-0.063342,-0.001078

In [83]:
r_columns = ['buy_at','max','max_idx', 'idx', 'is_selled', 'sell_at', 'sell_date', 'r','r_t1','r_t2']


mask_trend = [
    df['p10mean_5ma_pct'] > 1.2,
    df['p10mean_5ma_pct'] < 2,
    df['p10mean_5ma_pct'] > 1.3 * df['p20std_5ma_pct'],
]



# mask_low_pos = [
#     df[['close/60ma','close/30ma']].min(axis=1)<1.03,
# #     df[['close/60ma','close/30ma']].max(axis=1)<1.05,
    
#     df['close/5ma']<1.03,
# #     df['close/10ma']<1.03,
# #     df['close/20ma']<1.03,
    
# #     df['close/120ma']>1.07,
# #     df['close/250ma']>1.1,
# #     df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
# ]

mask_low_pos = [
#     df['close/60ma']<1.125,
    df['close/60ma']<1.125,
#     df['close/30ma']<1.05,
    df['close/5ma']<1.05,
    df['close/10ma']<1.05,

#     df['close/120ma']<1.07,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]


mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    
#     (df['pb']<10) | (df['pe']>0),
    
#     df['close0']>5,
#     df['close0_rank']<100,
#     df['close0_rank']>10,
#     df['close0_pct']<0.015,
#     df['close0_pct']>0.01,

    df.index.get_level_values('code').str[:3]!='688',
]



mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_trend+mask_low_pos+mask_basic
# masks = mask_shrink_amt+mask_trend+mask_basic


for m in masks+[mask_date]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q


df.loc[mask_final,'r_t1'].agg(agg_operations)
df.loc[mask_final,'r_t1'].reset_index('code').resample('Q').agg(agg_operations)
# df.loc[mask_final,'r'].reset_index('code').groupby('date').agg(agg_operations)

tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
# tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]
tmp.sort_values('date').tail(70)
tmp.sort_values('date').iloc[-1000:-950]

(358192, 4593560, 0.078, 0.078)

(4434792, 4593560, 0.9654, 0.051)

(168838, 4593560, 0.0368, 0.0115)

(3289898, 4593560, 0.7162, 0.0015)

(4260136, 4593560, 0.9274, 0.0015)

(3918805, 4593560, 0.8531, 0.001)

(4110067, 4593560, 0.8947, 0.001)

(1056950, 4593560, 0.2301, 0.0003)

(4348257, 4593560, 0.9466, 0.0003)

(2056374, 4593560, 0.4477, 0.0002)

(1433930, 4593560, 0.3122, 0.0002)

(4580262, 4593560, 0.9971, 0.0002)

(3453794, 4593560, 0.7519, 0.0001)

mean        0.004161
median      0.002520
max         0.160338
min        -0.124774
std         0.032628
size      566.000000
Name: r_t1, dtype: float64

                r_t1
                mean    median       max       min       std size
date
2016-03-31  0.003306  0.003841  0.088825 -0.074603  0.041761   22
2016-06-30  0.019297  0.011056  0.087719 -0.034786  0.033317   20
2016-09-30  0.002723 -0.003028  0.108408 -0.028786  0.026450   42
2016-12-31  0.004289  0.002822  0.050375 -0.025738  0.019972   21
2017-03-31 -0.005313 -0.004589  0.056338 -0.054545  0.023693   26
2017-06-30  0.003041  0.008823  0.031655 -0.029907  0.017477   10
2017-09-30 -0.002210  0.000000  0.048175 -0.047923  0.020857   37
2017-12-31  0.005725  0.008420  0.074634 -0.044719  0.028288   26
2018-03-31 -0.001234  0.001831  0.119718 -0.102622  0.036486   54
2018-06-30  0.004985  0.000162  0.037891 -0.034740  0.019843   15
2018-09-30 -0.000788  0.005000  0.033566 -0.052748  0.024802   25
2018-12-31  0.034040  0.036110  0.063492 -0.005035  0.025143    6
2019-03-31  0.024807  0.021096  0.121841 -0.080200  0.033458   62
2019-06-30  0.009377  0.001885  0.096957 -0.040127  0.037848   15
2019-09-30 -0.005906 -0.005955  0.063174 -0.076115  0.020943   88
2019-12-31  0.003147 -0.005123  0.137493 -0.044405  0.035741   28
2020-03-31  0.005634  0.009205  0.160338 -0.124774  0.056232   44
2020-06-30  0.001809 -0.002381  0.069077 -0.034557  0.021953   25

                           buy_at          max  max_idx   idx  is_selled  \
code      date
000723.SZ 2019-12-30    63.745533    66.091576   2125.0  2120       True
002078.SZ 2020-01-08    83.843903    87.302261   2400.0  2395       True
000975.SZ 2020-01-09    97.021194    97.298805   2107.0  2106       True
002155.SZ 2020-01-09    22.530388    22.557178   2359.0  2358       True
600893.SH 2020-01-09    75.226501    76.277702   2277.0  2276       True
600547.SH 2020-01-10   543.051086   547.103699   2244.0  2243       True
300134.SZ 2020-01-10    73.861893    75.895584   1863.0  1861       True
002155.SZ 2020-01-10    22.396439    22.476810   2361.0  2359       True
600741.SH 2020-01-13  1287.791992  1309.255249   2372.0  2369       True
300134.SZ 2020-01-13    75.333069    75.895584   1863.0  1862       True
600741.SH 2020-01-14  1257.385864  1309.255249   2372.0  2370       True
300529.SZ 2020-01-22    83.639999    85.751503    848.0   847       True
300357.SZ 2020-01-22   269.056641   275.705994   1464.0  1463       True
000739.SZ 2020-01-23   158.805450   211.497208   2345.0  2340       True
603939.SH 2020-01-23   164.160004   187.347610   1088.0  1087       True
603658.SH 2020-01-23   118.721001   138.291672    830.0   826       True
600845.SH 2020-01-23   192.595688   293.500793   2383.0  2377       True
300347.SZ 2020-01-23   817.970581  1051.658813   1676.0  1671       True
300357.SZ 2020-01-23   235.485367   267.218597   1479.0  1464       True
300529.SZ 2020-01-23    74.517494   100.449997    870.0   848       True
300326.SZ 2020-01-23   159.170135   264.727386   1609.0  1583       True
300630.SZ 2020-02-03   141.865204   151.104507    699.0   692       True
002821.SZ 2020-02-03   297.082703   404.557129    793.0   778       True
002475.SZ 2020-02-03  1076.381470  1216.171265   2249.0  2247       True
002410.SZ 2020-02-03   489.723999   568.044495   2312.0  2308       True
600436.SH 2020-02-03   782.001282   896.346802   2427.0  2424       True
002180.SZ 2020-02-03   170.692215   237.389053   2131.0  2114       True
603939.SH 2020-02-03   167.894638   185.890671   1093.0  1088       True
002424.SZ 2020-02-07   103.924393   104.556801   2333.0  2332       True
000877.SZ 2020-03-06    76.940193    79.916855   2431.0  2430       True
000768.SZ 2020-03-06   155.047195   160.249008   2443.0  2440       True
600801.SH 2020-03-06   230.712646   243.288559   2462.0  2460       True
601618.SH 2020-03-06     3.129840     3.175200   2394.0  2392       True
600582.SH 2020-03-09   123.883194   129.413696   2406.0  2404       True
002063.SZ 2020-03-09    98.684700   116.925003   2377.0  2375       True
600195.SH 2020-03-09    68.310005    73.588501   2397.0  2395       True
          2020-03-10    71.829002    73.588501   2397.0  2396       True
600989.SH 2020-03-10    10.238880    10.269720    200.0   199       True
600089.SH 2020-03-12   269.504547   320.676300   2449.0  2446       True
603517.SH 2020-03-16    66.805199    76.334343    740.0   729       True
002063.SZ 2020-03-16    97.905205   118.484001   2389.0  2380       True
603517.SH 2020-03-17    68.930817    76.334343    740.0   730       True
000735.SZ 2020-03-17    61.739700    62.322697   2452.0  2451       True
002839.SZ 2020-03-17     6.411980     6.443360    753.0   752       True
603517.SH 2020-03-18    67.961998    76.334343    740.0   731       True
002019.SZ 2020-04-20   271.870636   320.345947   2403.0  2384       True
601899.SH 2020-04-20     8.017520     8.270500   2466.0  2462       True
600380.SH 2020-04-20   139.141800   148.859634   2444.0  2441       True
002019.SZ 2020-04-21   265.592194   320.345947   2403.0  2385       True
300685.SZ 2020-04-21   142.084991   161.234802    674.0   661       True
300244.SZ 2020-04-22   268.777588   279.187988   2038.0  2037       True
          2020-04-24   249.849594   256.095825   2040.0  2039       True
000596.SZ 2020-04-27   460.359344   536.499329   2510.0  2496      False
300144.SZ 2020-05-13   251.696213   284.215363   2210.0  2198      False
300251.SZ 2020-05-14   285.003632   300.488434   2026.0  2015      False
000009.SZ 2020-05-14    63.696213    65.290833   2407.0  2406       True
002414.SZ 2020-05-14   139.835510   145.379517   2299.0  2296       True
300144.SZ 2020-05-14   250.943634   284.215363   2210.0  2199      False
002434.SZ 2020-05-15    61.823360    61.889980   2262.0  2261       True
300638.SZ 2020-05-15   128.193237   130.822388    754.0   752       True
002414.SZ 2020-05-15   140.247360   145.379517   2299.0  2297       True
300144.SZ 2020-05-15   247.515213   284.215363   2210.0  2200      False
300251.SZ 2020-05-18   288.598236   300.488434   2026.0  2017      False
300182.SZ 2020-05-18   142.895691   147.833771   2097.0  2094       True
300638.SZ 2020-05-18   126.470695   130.822388    754.0   753       True
002129.SZ 2020-05-18    78.178070    87.037964   2043.0  2041       True
603444.SH 2020-05-18   465.856964   465.900177    818.0   817       True
          2020-05-19   464.731171   464.982819    819.0   818       True
300182.SZ 2020-05-19   137.957611   147.833771   2097.0  2095       True
600037.SH 2020-05-21    51.012299    55.009140   2493.0  2490      False

                          sell_at  sell_date         r      r_t1      r_t2
code      date
000723.SZ 2019-12-30    62.069782 2020-01-13 -0.026288 -0.032597 -0.025237
002078.SZ 2020-01-08    82.663002 2020-01-20 -0.014085  0.023139  0.008048
000975.SZ 2020-01-09    91.261002 2020-01-20 -0.059370 -0.008584 -0.010730
002155.SZ 2020-01-09    21.083729 2020-01-23 -0.064209 -0.005945 -0.009512
600893.SH 2020-01-09    71.612999 2020-01-23 -0.048035 -0.009170 -0.013974
600547.SH 2020-01-10   519.203003 2020-01-23 -0.043915 -0.020379 -0.012916
300134.SZ 2020-01-10    70.313751 2020-01-17 -0.048038  0.019918 -0.009959
002155.SZ 2020-01-10    21.083729 2020-01-23 -0.058612 -0.020335 -0.003588
600741.SH 2020-01-13  1233.239746 2020-01-22 -0.042361 -0.023611 -0.013542
300134.SZ 2020-01-13    70.313751 2020-01-17 -0.066628 -0.029294 -0.020103
600741.SH 2020-01-14  1074.501465 2020-02-03 -0.145448  0.016003  0.015647
300529.SZ 2020-01-22    78.545746 2020-02-04 -0.060907 -0.109069 -0.074755
300357.SZ 2020-01-22   213.537003 2020-02-04 -0.206349 -0.124774 -0.125176
000739.SZ 2020-01-23   181.683167 2020-02-11  0.144061  0.047510  0.075096
603939.SH 2020-01-23   169.290009 2020-02-05  0.031250  0.022750  0.030000
603658.SH 2020-01-23   125.478157 2020-02-11  0.056916  0.047048  0.028899
600845.SH 2020-01-23   266.255310 2020-02-21  0.382457  0.090667  0.163024
300347.SZ 2020-01-23   934.752747 2020-02-12  0.142771  0.044767  0.091954
300357.SZ 2020-01-23   245.973007 2020-02-27  0.044536 -0.093205  0.022039
300529.SZ 2020-01-23    92.444748 2020-03-16  0.240578  0.054058  0.083907
300326.SZ 2020-01-23   220.346634 2020-03-17  0.384347  0.036338  0.071279
300630.SZ 2020-02-03   140.329086 2020-02-17 -0.010828  0.026752  0.016083
002821.SZ 2020-02-03   386.280396 2020-03-06  0.300245  0.090067  0.060976
002475.SZ 2020-02-03  1074.828247 2020-02-10 -0.001443  0.062530  0.072872
002410.SZ 2020-02-03   528.442810 2020-02-20  0.079063  0.039660  0.079320
600436.SH 2020-02-03   827.492188 2020-02-19  0.058172  0.030043  0.129910
002180.SZ 2020-02-03   207.559799 2020-03-02  0.215989  0.010098  0.000000
603939.SH 2020-02-03   171.075256 2020-02-20  0.018944  0.008311  0.002200
002424.SZ 2020-02-07    98.127403 2020-02-14 -0.055781 -0.035497 -0.025355
000877.SZ 2020-03-06    69.886803 2020-03-13 -0.091674 -0.026913  0.017662
000768.SZ 2020-03-06   151.020004 2020-03-16 -0.025974 -0.044372 -0.005411
600801.SH 2020-03-06   212.865936 2020-03-13 -0.077355 -0.051303  0.035671
601618.SH 2020-03-06     2.948400 2020-03-19 -0.057971 -0.021739  0.007246
600582.SH 2020-03-09   115.034393 2020-03-13 -0.071429  0.038691  0.017857
002063.SZ 2020-03-09    97.437500 2020-03-13 -0.012638  0.093997  0.130332
600195.SH 2020-03-09    62.358753 2020-03-13 -0.087121  0.051515  0.027273
          2020-03-10    62.358753 2020-03-13 -0.131844 -0.041787 -0.071326
600989.SH 2020-03-10     9.231440 2020-03-13 -0.098394 -0.029117 -0.051205
600089.SH 2020-03-12   287.698944 2020-03-24  0.067511  0.160338  0.099859
603517.SH 2020-03-16    70.434654 2020-04-14  0.054329  0.031818  0.017316
002063.SZ 2020-03-16    99.308296 2020-03-31  0.014331  0.054140  0.067675
603517.SH 2020-03-17    70.333435 2020-04-09  0.020348 -0.014055 -0.019509
000735.SZ 2020-03-17    59.174496 2020-03-20 -0.041549 -0.074599 -0.053824
002839.SZ 2020-03-17     6.087720 2020-03-20 -0.050571 -0.068516 -0.052202
603517.SH 2020-03-18    70.333435 2020-04-09  0.034894  0.000000 -0.006383
002019.SZ 2020-04-20   290.525391 2020-05-29  0.068616 -0.023094 -0.007519
601899.SH 2020-04-20     7.472640 2020-04-28 -0.067961 -0.016990 -0.014563
600380.SH 2020-04-20   137.154068 2020-04-28 -0.014286 -0.002381  0.019048
002019.SZ 2020-04-21   290.525391 2020-05-29  0.093878  0.024739  0.003299
300685.SZ 2020-04-21   145.849792 2020-05-25  0.026497  0.018981  0.008662
300244.SZ 2020-04-22   249.849594 2020-04-27 -0.070423 -0.003521 -0.088028
          2020-04-24   238.208878 2020-04-29 -0.046591 -0.004545 -0.037121
000596.SZ 2020-04-27          NaN        NaT       NaN  0.021758 -0.009335
300144.SZ 2020-05-13          NaN        NaT       NaN -0.002990 -0.016611
300251.SZ 2020-05-14          NaN        NaT       NaN  0.000000  0.012612
000009.SZ 2020-05-14    61.747231 2020-05-19 -0.030598  0.006954 -0.040334
002414.SZ 2020-05-14   136.952637 2020-05-25 -0.020616  0.002945 -0.000680
300144.SZ 2020-05-14          NaN        NaT       NaN -0.013662 -0.009663
002434.SZ 2020-05-15    58.492359 2020-05-22 -0.053879 -0.028017 -0.034483
300638.SZ 2020-05-15   121.181221 2020-05-22 -0.054699 -0.013437  0.000236
002414.SZ 2020-05-15   136.952637 2020-05-25 -0.023492  0.004744  0.021007
300144.SZ 2020-05-15          NaN        NaT       NaN  0.026351  0.070270
300251.SZ 2020-05-18          NaN        NaT       NaN  0.008007 -0.004448
300182.SZ 2020-05-18   133.636795 2020-05-25 -0.064795 -0.034557 -0.006479
300638.SZ 2020-05-18   121.181221 2020-05-22 -0.041824  0.014578 -0.020862
002129.SZ 2020-05-18    80.160995 2020-05-22  0.025364  0.069077  0.048030
603444.SH 2020-05-18   445.039185 2020-05-25 -0.044687 -0.002417 -0.025830
          2020-05-19   432.151855 2020-05-28 -0.070104 -0.011299 -0.020504
300182.SZ 2020-05-19   133.636795 2020-05-25 -0.031320  0.024608  0.053691
600037.SH 2020-05-21          NaN        NaT       NaN -0.020619 -0.008247

Empty DataFrame
Columns: [buy_at, max, max_idx, idx, is_selled, sell_at, sell_date, r, r_t1, r_t2]
Index: []

In [84]:
r_columns = ['buy_at','max','max_idx', 'idx', 'is_selled', 'sell_at', 'sell_date', 'r','r_t1','r_t2']


mask_trend = [
    df['p15mean-std_5ma_pct'] > 0.3,
]



# mask_low_pos = [
#     df[['close/60ma','close/30ma']].min(axis=1)<1.03,
# #     df[['close/60ma','close/30ma']].max(axis=1)<1.05,
    
#     df['close/5ma']<1.03,
# #     df['close/10ma']<1.03,
# #     df['close/20ma']<1.03,
    
# #     df['close/120ma']>1.07,
# #     df['close/250ma']>1.1,
# #     df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
# ]

mask_low_pos = [
#     df['close/60ma']<1.125,
    df['close/60ma']<1.125,
#     df['close/30ma']<1.05,
    df['close/5ma']<1.05,
    df['close/10ma']<1.05,

#     df['close/120ma']<1.07,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]


mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    
#     (df['pb']<10) | (df['pe']>0),
    
    
#     df['close0']>5,
#     df['close0_rank']<100,
#     df['close0_rank']>10,
#     df['close0_pct']<0.015,
#     df['close0_pct']>0.01,

    df.index.get_level_values('code').str[:3]!='688',
]



mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_trend+mask_low_pos+mask_basic
# masks = mask_shrink_amt+mask_trend+mask_basic


for m in masks+[mask_date]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q


df.loc[mask_final,'r_t1'].agg(agg_operations)
df.loc[mask_final,'r_t1'].reset_index('code').resample('Q').agg(agg_operations)
# df.loc[mask_final,'r'].reset_index('code').groupby('date').agg(agg_operations)

tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
# tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]
tmp.sort_values('date').tail(70)
tmp.sort_values('date').iloc[-1000:-950]

(121436, 4593560, 0.0264, 0.0264)

(3289898, 4593560, 0.7162, 0.0051)

(4260136, 4593560, 0.9274, 0.0049)

(3918805, 4593560, 0.8531, 0.004)

(4110067, 4593560, 0.8947, 0.004)

(1056950, 4593560, 0.2301, 0.0008)

(4348257, 4593560, 0.9466, 0.0007)

(2056374, 4593560, 0.4477, 0.0006)

(1433930, 4593560, 0.3122, 0.0005)

(4580262, 4593560, 0.9971, 0.0005)

(3453794, 4593560, 0.7519, 0.0004)

mean         0.003402
median       0.000630
max          0.175556
min         -0.092077
std          0.030007
size      1741.000000
Name: r_t1, dtype: float64

                r_t1
                mean    median       max       min       std size
date
2016-03-31  0.006955  0.002268  0.155877 -0.074603  0.040038   54
2016-06-30  0.000017 -0.000301  0.136744 -0.089655  0.033619   72
2016-09-30  0.002385 -0.000542  0.094049 -0.049734  0.023848  106
2016-12-31  0.003753 -0.003335  0.100543 -0.035065  0.028578   40
2017-03-31 -0.003642 -0.004417  0.064485 -0.042691  0.017884   80
2017-06-30 -0.006863 -0.005452  0.039247 -0.081818  0.018501   67
2017-09-30  0.005057  0.004423  0.109767 -0.070959  0.024360  111
2017-12-31  0.001800 -0.002690  0.101799 -0.092077  0.028636   54
2018-03-31 -0.002454 -0.004255  0.124400 -0.077634  0.027664  265
2018-06-30 -0.001604 -0.004983  0.055619 -0.055556  0.024412   47
2018-09-30 -0.002909 -0.001120  0.058296 -0.057891  0.027995   30
2018-12-31  0.004958  0.004183  0.117319 -0.085938  0.040762   30
2019-03-31  0.015542  0.010947  0.165109 -0.080200  0.031956  261
2019-06-30  0.005652  0.000152  0.080074 -0.047725  0.030719   30
2019-09-30  0.000694  0.000000  0.074211 -0.047985  0.020235  191
2019-12-31 -0.005329 -0.004511  0.076097 -0.050299  0.024131   96
2020-03-31  0.018305  0.006194  0.175556 -0.090683  0.054077   96
2020-06-30  0.002666  0.001936  0.049763 -0.070526  0.022444  111

                           buy_at           max  max_idx   idx  is_selled  \
code      date
600519.SH 2020-04-22  9148.750000  10041.375000   2515.0  2497      False
300759.SZ 2020-04-22    66.057579     71.112701    303.0   298       True
002151.SZ 2020-04-23   170.059509    202.617889   2326.0  2305      False
300124.SZ 2020-04-23   491.027954    581.798096   2325.0  2305      False
600809.SH 2020-04-23   437.466644    570.560913   2510.0  2488      False
600118.SH 2020-04-23   573.516968    581.535889   2493.0  2492       True
600143.SH 2020-04-24   201.173248    209.676270   2406.0  2405       True
600009.SH 2020-04-24   215.910995    218.769547   2506.0  2502       True
002675.SZ 2020-04-24    80.318596     96.939842   1566.0  1544      False
300630.SZ 2020-04-24   162.648010    171.684006    753.0   750       True
600519.SH 2020-04-24  9199.982422  10041.375000   2515.0  2499      False
600809.SH 2020-04-24   435.313599    570.560913   2510.0  2489      False
300124.SZ 2020-04-24   487.648193    581.798096   2325.0  2306      False
603658.SH 2020-04-24   138.793747    157.945999    888.0   885       True
600201.SH 2020-04-24   370.081390    407.935883   2481.0  2473       True
603658.SH 2020-04-27   141.701614    157.945999    888.0   886       True
600201.SH 2020-04-27   375.159424    407.935883   2481.0  2474       True
601888.SH 2020-04-27   186.424713    203.524307   2443.0  2440       True
600809.SH 2020-04-27   456.976013    570.560913   2510.0  2490      False
600845.SH 2020-04-27   269.213074    327.344421   2450.0  2437       True
000596.SZ 2020-04-27   460.359344    536.499329   2510.0  2496      False
300124.SZ 2020-04-27   506.639099    581.798096   2325.0  2307      False
002683.SZ 2020-04-28    81.682709     98.587196   1760.0  1748       True
600201.SH 2020-04-28   373.466766    407.935883   2481.0  2475       True
300146.SZ 2020-04-29   529.915344    556.960449   2110.0  2107       True
300630.SZ 2020-04-29   164.138947    186.819305    762.0   753       True
000596.SZ 2020-04-30   456.298553    536.499329   2510.0  2499      False
600519.SH 2020-04-30  9156.068359  10041.375000   2515.0  2503      False
300146.SZ 2020-04-30   521.463745    556.960449   2110.0  2108       True
000596.SZ 2020-05-06   455.655579    536.499329   2510.0  2500      False
002508.SZ 2020-05-06   217.299988    224.852493   2292.0  2289       True
300146.SZ 2020-05-06   536.113220    556.960449   2110.0  2109       True
603228.SH 2020-05-06    73.979401     74.850601    809.0   807       True
          2020-05-07    73.326004     74.850601    809.0   808       True
000596.SZ 2020-05-07   466.145996    536.499329   2510.0  2501      False
300146.SZ 2020-05-07   539.775513    546.255066   2111.0  2110       True
603228.SH 2020-05-08    72.599998     74.647324    817.0   809       True
300413.SZ 2020-05-08    82.697304     89.608749   1035.0  1028       True
002850.SZ 2020-05-08    88.557823     88.956665    776.0   775       True
600438.SH 2020-05-11   155.044800    162.258682   2363.0  2362       True
300724.SZ 2020-05-11    64.645561     66.275284    422.0   421       True
300413.SZ 2020-05-11    82.697304     89.608749   1035.0  1029       True
601012.SH 2020-05-11   297.484375    321.944397   1930.0  1924       True
300454.SZ 2020-05-11   189.558350    202.403992    489.0   482       True
300724.SZ 2020-05-12    64.866882     71.285164    428.0   422       True
002027.SZ 2020-05-12    63.364944     65.029076   2410.0  2409       True
601615.SH 2020-05-12    11.830561     12.353681    314.0   312       True
300454.SZ 2020-05-12   192.303833    202.403992    489.0   483       True
300413.SZ 2020-05-13    83.606255     89.608749   1035.0  1031       True
          2020-05-14    83.692001     89.608749   1035.0  1032       True
000877.SZ 2020-05-14    85.287781     89.623352   2477.0  2475       True
601615.SH 2020-05-14    11.589121     12.419380    324.0   314      False
000333.SZ 2020-05-14   261.753998    269.155304   1560.0  1555      False
300413.SZ 2020-05-15    83.777748     89.608749   1035.0  1033       True
000333.SZ 2020-05-15   259.497498    269.155304   1560.0  1556      False
000877.SZ 2020-05-15    88.005608     89.623352   2477.0  2476       True
000333.SZ 2020-05-18   263.559204    269.155304   1560.0  1557      False
300413.SZ 2020-05-18    85.235504     89.608749   1035.0  1034       True
300182.SZ 2020-05-18   142.895691    147.833771   2097.0  2094       True
000423.SZ 2020-05-19   332.176331    369.935089   2515.0  2510      False
300182.SZ 2020-05-19   137.957611    147.833771   2097.0  2095       True
300413.SZ 2020-05-20    85.561348     87.276352   1037.0  1036       True
002129.SZ 2020-05-21    80.160995     80.160995   2045.0  2044       True
300413.SZ 2020-05-21    84.378006     90.895004   1043.0  1037      False
002019.SZ 2020-05-22   302.240723    310.187225   2407.0  2405       True
600060.SH 2020-05-22    70.214844     80.790413   2517.0  2512      False
600641.SH 2020-05-25   353.327454    367.384186   2332.0  2331       True
002429.SZ 2020-05-25    43.446301     44.610840   2324.0  2323       True
603195.SH 2020-05-27   179.029999    185.199997     77.0    75      False
          2020-05-28   180.000000    185.199997     77.0    76      False

                         sell_at                     sell_date         r  \
code      date
600519.SH 2020-04-22         NaN                           NaT       NaN
300759.SZ 2020-04-22   65.305328 2020-04-30 00:00:00.000000000 -0.011388
002151.SZ 2020-04-23         NaN                           NaT       NaN
300124.SZ 2020-04-23         NaN                           NaT       NaN
600809.SH 2020-04-23         NaN                           NaT       NaN
600118.SH 2020-04-23  519.890686 2020-04-28 00:00:00.000000000 -0.093504
600143.SH 2020-04-24  180.882004 2020-04-29 00:00:00.000000000 -0.100865
600009.SH 2020-04-24  206.483902 2020-05-13 00:00:00.000000000 -0.043662
002675.SZ 2020-04-24         NaN                           NaT       NaN
300630.SZ 2020-04-24  157.497482 2020-05-06 00:00:00.000000000 -0.031667
600519.SH 2020-04-24         NaN                           NaT       NaN
600809.SH 2020-04-24         NaN                           NaT       NaN
300124.SZ 2020-04-24         NaN                           NaT       NaN
603658.SH 2020-04-24  140.686996 2020-05-06 00:00:00.000000000  0.013641
600201.SH 2020-04-24  387.008179 2020-05-22 00:00:00.000000000  0.045738
603658.SH 2020-04-27  140.686996 2020-05-06 00:00:00.000000000 -0.007160
600201.SH 2020-04-27  387.008179 2020-05-22 00:00:00.000000000  0.031583
601888.SH 2020-04-27  190.721298 2020-05-18 00:00:00.000000000  0.023047
600809.SH 2020-04-27         NaN                           NaT       NaN
600845.SH 2020-04-27         NaN 1754-08-30 22:43:41.128654848       NaN
000596.SZ 2020-04-27         NaN                           NaT       NaN
300124.SZ 2020-04-27         NaN                           NaT       NaN
002683.SZ 2020-04-28   86.504906 2020-05-25 00:00:00.000000000  0.059036
600201.SH 2020-04-28  387.008179 2020-05-22 00:00:00.000000000  0.036259
300146.SZ 2020-04-29  521.463745 2020-05-18 00:00:00.000000000 -0.015949
300630.SZ 2020-04-29  171.684006 2020-05-21 00:00:00.000000000  0.045968
000596.SZ 2020-04-30         NaN                           NaT       NaN
600519.SH 2020-04-30         NaN                           NaT       NaN
300146.SZ 2020-04-30  526.816467 2020-05-20 00:00:00.000000000  0.010265
000596.SZ 2020-05-06         NaN                           NaT       NaN
002508.SZ 2020-05-06  210.078751 2020-05-12 00:00:00.000000000 -0.033232
300146.SZ 2020-05-06  521.463745 2020-05-18 00:00:00.000000000 -0.027325
603228.SH 2020-05-06   70.799522 2020-05-12 00:00:00.000000000 -0.042983
          2020-05-07   70.799522 2020-05-12 00:00:00.000000000 -0.034455
000596.SZ 2020-05-07         NaN                           NaT       NaN
300146.SZ 2020-05-07  522.308899 2020-05-21 00:00:00.000000000 -0.032359
603228.SH 2020-05-08   69.202324 2020-05-22 00:00:00.000000000 -0.046800
300413.SZ 2020-05-08   81.136658 2020-05-25 00:00:00.000000000 -0.018872
002850.SZ 2020-05-08   84.155243 2020-05-15 00:00:00.000000000 -0.049714
600438.SH 2020-05-11  151.384033 2020-05-15 00:00:00.000000000 -0.023611
300724.SZ 2020-05-11   63.619446 2020-05-18 00:00:00.000000000 -0.015873
300413.SZ 2020-05-11   81.136658 2020-05-25 00:00:00.000000000 -0.018872
601012.SH 2020-05-11  297.581055 2020-05-25 00:00:00.000000000  0.000325
300454.SZ 2020-05-11  187.474197 2020-05-22 00:00:00.000000000 -0.010995
300724.SZ 2020-05-12   64.685806 2020-05-25 00:00:00.000000000 -0.002792
002027.SZ 2020-05-12   60.420715 2020-05-25 00:00:00.000000000 -0.046465
601615.SH 2020-05-12   11.357740 2020-05-18 00:00:00.000000000 -0.039966
300454.SZ 2020-05-12  187.474197 2020-05-22 00:00:00.000000000 -0.025115
300413.SZ 2020-05-13   84.378006 2020-05-22 00:00:00.000000000  0.009231
          2020-05-14   84.378006 2020-05-22 00:00:00.000000000  0.008197
000877.SZ 2020-05-14   82.246414 2020-05-19 00:00:00.000000000 -0.035660
601615.SH 2020-05-14         NaN                           NaT       NaN
000333.SZ 2020-05-14         NaN                           NaT       NaN
300413.SZ 2020-05-15   84.378006 2020-05-22 00:00:00.000000000  0.007165
000333.SZ 2020-05-15         NaN                           NaT       NaN
000877.SZ 2020-05-15   81.728737 2020-05-20 00:00:00.000000000 -0.071324
000333.SZ 2020-05-18         NaN                           NaT       NaN
300413.SZ 2020-05-18   84.378006 2020-05-22 00:00:00.000000000 -0.010060
300182.SZ 2020-05-18  133.636795 2020-05-25 00:00:00.000000000 -0.064795
000423.SZ 2020-05-19         NaN                           NaT       NaN
300182.SZ 2020-05-19  133.636795 2020-05-25 00:00:00.000000000 -0.031320
300413.SZ 2020-05-20   81.136658 2020-05-25 00:00:00.000000000 -0.051714
002129.SZ 2020-05-21   75.984192 2020-05-26 00:00:00.000000000 -0.052105
300413.SZ 2020-05-21         NaN                           NaT       NaN
002019.SZ 2020-05-22  290.525391 2020-05-29 00:00:00.000000000 -0.038762
600060.SH 2020-05-22         NaN                           NaT       NaN
600641.SH 2020-05-25         NaN 1754-08-30 22:43:41.128654848       NaN
002429.SZ 2020-05-25   41.565121 2020-05-29 00:00:00.000000000 -0.043299
603195.SH 2020-05-27         NaN                           NaT       NaN
          2020-05-28         NaN                           NaT       NaN

                          r_t1      r_t2
code      date
600519.SH 2020-04-22 -0.001600  0.000448
300759.SZ 2020-04-22 -0.013665 -0.020650
002151.SZ 2020-04-23 -0.013333 -0.016410
300124.SZ 2020-04-23 -0.006883  0.020649
600809.SH 2020-04-23 -0.004922 -0.002411
600118.SH 2020-04-23 -0.047189 -0.087678
600143.SH 2020-04-24 -0.022094 -0.074928
600009.SH 2020-04-24 -0.035211 -0.007042
002675.SZ 2020-04-24  0.003088  0.014206
300630.SZ 2020-04-24  0.022361  0.022500
600519.SH 2020-04-24  0.022522  0.017605
600809.SH 2020-04-24  0.049763  0.102756
300124.SZ 2020-04-24  0.038944  0.088449
603658.SH 2020-04-24  0.020951  0.074761
600201.SH 2020-04-24  0.013721  0.006653
603658.SH 2020-04-27  0.011515  0.041707
600201.SH 2020-04-27 -0.004512 -0.020509
601888.SH 2020-04-27  0.039925  0.051100
600809.SH 2020-04-27  0.041346 -0.004904
600845.SH 2020-04-27  0.020494  0.056412
000596.SZ 2020-04-27  0.021758 -0.009335
300124.SZ 2020-04-27  0.045426  0.032402
002683.SZ 2020-04-28 -0.027878 -0.013775
600201.SH 2020-04-28 -0.011537 -0.014833
300146.SZ 2020-04-29 -0.015949  0.007443
300630.SZ 2020-04-29 -0.040462 -0.013212
000596.SZ 2020-04-30 -0.001409  0.012311
600519.SH 2020-04-30  0.038689  0.048761
300146.SZ 2020-04-30  0.028093  0.035116
000596.SZ 2020-05-06  0.023023  0.041515
002508.SZ 2020-05-06 -0.030488 -0.006402
300146.SZ 2020-05-06  0.006831  0.000525
603228.SH 2020-05-06 -0.008832 -0.018646
          2020-05-07 -0.009901 -0.037624
000596.SZ 2020-05-07  0.018076  0.059020
300146.SZ 2020-05-07  0.000522 -0.018789
603228.SH 2020-05-08 -0.024800  0.012000
300413.SZ 2020-05-08  0.000000  0.006844
002850.SZ 2020-05-08 -0.022692 -0.016109
600438.SH 2020-05-11  0.020833  0.016667
300724.SZ 2020-05-11  0.003424 -0.003735
300413.SZ 2020-05-11  0.011821  0.016176
601012.SH 2020-05-11  0.035424  0.041274
300454.SZ 2020-05-11  0.014484  0.001057
300724.SZ 2020-05-12 -0.016439 -0.028846
002027.SZ 2020-05-12  0.012121 -0.010101
601615.SH 2020-05-12 -0.008503 -0.010204
300454.SZ 2020-05-12 -0.017820 -0.039391
300413.SZ 2020-05-13  0.001026  0.008205
          2020-05-14  0.001025  0.009221
000877.SZ 2020-05-14  0.031867 -0.041730
601615.SH 2020-05-14 -0.019965  0.024306
000333.SZ 2020-05-14 -0.008621 -0.008793
300413.SZ 2020-05-15  0.017400  0.046469
000333.SZ 2020-05-15  0.015652  0.021913
000877.SZ 2020-05-15 -0.065441 -0.061765
000333.SZ 2020-05-18  0.002226  0.010788
300413.SZ 2020-05-18  0.029376  0.004225
300182.SZ 2020-05-18 -0.034557 -0.006479
000423.SZ 2020-05-19  0.013337  0.047590
300182.SZ 2020-05-19  0.024608  0.053691
300413.SZ 2020-05-20 -0.013830 -0.053317
002129.SZ 2020-05-21 -0.070526 -0.058947
300413.SZ 2020-05-21 -0.038415 -0.048171
002019.SZ 2020-05-22  0.004931  0.005902
600060.SH 2020-05-22  0.001646  0.011523
600641.SH 2020-05-25  0.027014  0.001965
002429.SZ 2020-05-25  0.026804 -0.004124
603195.SH 2020-05-27  0.005418  0.018880
          2020-05-28       NaN       NaN

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r,r_t1,r_t2
code,date,,,,,,,,,,
300244.SZ,2018-03-13,218.345291,230.055847,1528.0,1523,True,202.857117,2018-03-26,-0.070934,-0.011678,-0.002595
002439.SZ,2018-03-14,196.902161,202.544296,1637.0,1634,True,186.435593,2018-03-26,-0.053156,0.007060,-0.009551
300433.SZ,2018-03-14,103.842506,104.134506,707.0,706,True,97.455002,2018-03-20,-0.061511,-0.008787,-0.031283
000519.SZ,2018-03-14,66.408546,76.232300,1794.0,1785,True,67.901764,2018-04-11,0.022485,0.046154,0.039053
002049.SZ,2018-03-14,201.914108,225.668701,1727.0,1722,True,203.013870,2018-03-26,0.005447,0.061220,0.033333
300316.SZ,2018-03-14,147.874725,156.352493,1320.0,1319,True,145.025635,2018-03-22,-0.019267,0.027726,0.019267
002371.SZ,2018-03-14,173.400009,182.404114,1866.0,1862,True,164.680252,2018-03-26,-0.050287,0.013938,-0.013938
002396.SZ,2018-03-14,72.891502,75.762505,1675.0,1670,True,70.818001,2018-03-22,-0.028446,0.006564,-0.019694
002065.SZ,2018-03-14,253.984467,256.380585,1686.0,1685,True,242.902603,2018-03-22,-0.043632,-0.008255,-0.016509
600760.SH,2018-03-14,147.640503,159.118195,1835.0,1830,True,147.640503,2018-03-26,0.000000,0.008306,0.007973
300274.SZ,2018-03-14,117.957687,123.479675,1524.0,1519,True,104.784744,2018-03-26,-0.111675,0.002820,-0.026509
600874.SH,2018-03-14,21.888630,23.387400,1979.0,1978,True,21.658049,2018-03-22,-0.010534,-0.006772,0.003010
600110.SH,2018-03-14,126.275520,127.953598,1704.0,1703,True,120.122566,2018-03-22,-0.048726,-0.021041,-0.026578
000977.SZ,2018-03-14,121.786087,133.910400,1917.0,1913,True,122.449600,2018-03-26,0.005448,0.011887,0.002972
002156.SZ,2018-03-14,33.674301,35.288441,1887.0,1885,True,33.396000,2018-03-21,-0.008264,0.047934,0.013223
600104.SH,2018-03-14,306.244812,313.417206,1928.0,1924,True,287.313019,2018-03-27,-0.061819,0.001362,0.002996
002019.SZ,2018-03-14,307.760712,319.003113,1878.0,1873,True,285.275909,2018-03-23,-0.073059,0.009133,-0.022375
002281.SZ,2018-03-14,88.987801,92.829002,1930.0,1925,True,80.665199,2018-03-26,-0.093525,0.013669,-0.010791
002383.SZ,2018-03-14,91.852798,96.014877,1711.0,1709,True,90.321915,2018-03-22,-0.016667,0.031250,0.014063
300496.SZ,2018-03-14,123.449036,128.511002,491.0,488,True,108.930244,2018-03-26,-0.117610,0.007629,-0.008264
000938.SZ,2018-03-14,170.193436,177.875519,1789.0,1784,True,151.619995,2018-03-26,-0.109131,0.012621,-0.007127
300222.SZ,2018-03-14,143.627701,147.045898,1335.0,1334,True,137.044495,2018-03-22,-0.045835,-0.010577,-0.015425
000066.SZ,2018-03-14,75.202354,82.775925,1754.0,1750,True,72.322258,2018-03-26,-0.038298,-0.004255,-0.001418
300070.SZ,2018-03-14,305.626007,308.862061,1839.0,1838,True,284.052399,2018-03-23,-0.070588,0.000588,-0.018824
000963.SZ,2018-03-14,411.688995,491.327240,1963.0,1943,True,440.777191,2018-04-18,0.070656,0.006721,0.016557
600570.SH,2018-03-14,732.884338,791.366699,1925.0,1923,True,727.606628,2018-03-22,-0.007201,0.057804,0.027637
600392.SH,2018-03-14,137.443649,140.390488,1737.0,1736,True,131.096603,2018-03-19,-0.046179,0.017042,-0.035734
600584.SH,2018-03-14,98.686348,103.656509,1761.0,1756,True,88.459290,2018-03-26,-0.103632,0.031477,-0.001937
002600.SZ,2018-03-14,36.182949,36.810402,1365.0,1363,True,34.300598,2018-03-20,-0.052023,-0.004624,-0.006936
002405.SZ,2018-03-14,63.815998,65.836838,1762.0,1759,True,58.365051,2018-03-23,-0.085417,-0.003750,0.005833
002013.SZ,2018-03-14,199.674332,249.352234,1865.0,1840,True,235.298462,2018-05-07,0.178411,0.026037,0.036644
600276.SH,2018-03-14,2252.626709,2526.101318,1991.0,1983,True,2351.145508,2018-04-10,0.043735,0.033053,0.029911
600703.SH,2018-03-14,537.816650,558.834778,1941.0,1936,True,502.786407,2018-03-26,-0.065134,0.006513,-0.023755
300009.SZ,2018-03-14,202.853867,217.802689,1853.0,1849,True,189.271332,2018-03-26,-0.066957,0.018621,0.005547
300122.SZ,2018-03-14,127.284882,142.678238,1741.0,1736,True,127.946960,2018-03-26,0.005202,0.024057,0.013654
002152.SZ,2018-03-14,115.975159,118.917122,1926.0,1924,True,101.110527,2018-03-26,-0.128171,0.014686,-0.001335
600884.SH,2018-03-15,373.503815,376.459351,1963.0,1962,True,355.770721,2018-03-22,-0.047478,-0.030663,-0.022255
002281.SZ,2018-03-15,90.204178,92.829002,1930.0,1926,True,80.665199,2018-03-26,-0.105749,-0.023421,-0.011356
300024.SZ,2018-03-15,450.211761,463.223663,1984.0,1981,True,404.551819,2018-03-26,-0.101419,-0.021545,-0.001051
002156.SZ,2018-03-15,35.288441,35.288441,1887.0,1886,True,33.396000,2018-03-21,-0.053628,-0.032334,-0.037855
600760.SH,2018-03-15,148.866760,159.118195,1835.0,1831,True,147.640503,2018-03-26,-0.008237,0.011532,0.018122
600584.SH,2018-03-15,101.792694,103.656509,1761.0,1757,True,88.459290,2018-03-26,-0.130986,-0.026761,0.004695
002049.SZ,2018-03-15,214.275299,225.668701,1727.0,1723,True,203.013870,2018-03-26,-0.052556,-0.036132,0.006775
002405.SZ,2018-03-15,63.576687,65.836838,1762.0,1760,True,58.365051,2018-03-23,-0.081974,0.001673,0.010456
002354.SZ,2018-03-15,52.810143,55.820492,1642.0,1641,True,50.860580,2018-03-21,-0.036916,0.005972,-0.002172
300274.SZ,2018-03-15,118.290344,123.479675,1524.0,1520,True,104.784744,2018-03-26,-0.114173,-0.037120,0.010124
002024.SZ,2018-03-15,1202.140137,1208.159546,1971.0,1970,True,1147.966553,2018-03-21,-0.045064,-0.051502,-0.042918
002019.SZ,2018-03-15,310.571320,319.003113,1878.0,1874,True,285.275909,2018-03-23,-0.081448,-0.030317,-0.027602
300433.SZ,2018-03-15,102.930008,103.112503,708.0,707,True,96.725006,2018-03-22,-0.060284,-0.037589,-0.041844
002371.SZ,2018-03-15,175.816895,182.404114,1866.0,1863,True,164.680252,2018-03-26,-0.063342,-0.024259,-0.001078