In [1]:
import pandas as pd
import numpy as np
import itertools
import lightgbm as lgbm
import matplotlib.pyplot as plt

from script import *
from feature_engineering import *
import db_operations as dbop
from constants import *
import data_process as dp

import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
pd.set_option('display.max_rows',200)
idx = pd.IndexSlice
agg_operations =['mean','median','max','min','std','size']

In [3]:
start = 20150101
cursor = dbop.connect_db("sqlite3").cursor()

df_d = dbop.create_df(cursor, STOCK_DAY[TABLE], start=start)
df_d = dp.proc_stock_d(dp.prepare_stock_d(df_d))
df_d.drop(columns=['open0','high0','low0','vol0'],inplace=True)
df_d['pct'] = df_d.sort_index().groupby('code')['close'].pct_change()*100
df_d['amt']/=1e5
df_d = df_d.astype('float32')
print(df_d.columns)
print(df_d.shape)
df_d.info(memory_usage='deep')
df_d.tail()

df_d_basic = dbop.create_df(cursor, STOCK_DAILY_BASIC[TABLE], start=start)
df_d_basic = dp.prepare_stock_d_basic(df_d_basic)
#
df_d_basic["pb*pe_ttm"] = df_d_basic["pb"] * df_d_basic["pe_ttm"]
df_d_basic["pb*pe"] = df_d_basic["pb"] * df_d_basic["pe"]

df_d_basic = df_d_basic.astype('float32')
print(df_d_basic.columns)
print(df_d_basic.shape)
df_d_basic.info(memory_usage='deep')
# df_d_basic.index.tail()

df = df_d
periods = [5,10,20,30,60,120,250]
for k in periods:
    df['{:d}ma'.format(k)]=df.reset_index('code').groupby('code')['close'].rolling(k).mean()
print(df.columns)
    
for col2 in ["{}ma".format(k) for k in periods]:
    col1 = 'close'
    df['{}/{}'.format(col1,col2)] = df[col1]/df[col2]
print(df.columns)

select * from stock_day where date>=20150101
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct'],
      dtype='object')
(4200635, 11)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4200635 entries, (000001.SZ, 2015-01-05 00:00:00) to (688399.SH, 2020-04-28 00:00:00)
Data columns (total 11 columns):
open          float32
high          float32
low           float32
close         float32
vol           float32
amt           float32
adj_factor    float32
avg           float32
close0        float32
avg0          float32
pct           float32
dtypes: float32(11)
memory usage: 352.7 MB

                            open        high         low       close  \
code      date
688399.SH 2020-04-22  108.000000  118.500000  107.489998  109.089996
          2020-04-23  117.029999  128.880005  117.029999  128.880005
          2020-04-24  150.000000  153.000000  138.080002  144.080002
          2020-04-27  135.000000  140.000000  126.000000  126.199997
          2020-04-28  123.199997  134.990005  121.760002  127.599998

                               vol       amt  adj_factor         avg  \
code      date
688399.SH 2020-04-22  21584.169922  2.432959         1.0  112.719612
          2020-04-23  36237.828125  4.511718         1.0  124.502983
          2020-04-24  46408.371094  6.756642         1.0  145.591034
          2020-04-27  35730.238281  4.691092         1.0  131.291931
          2020-04-28  26022.019531  3.358797         1.0  129.075180

                          close0        avg0        pct
code      date
688399.SH 2020-04-22  109.089996  112.719612  -4.674941
          2020-04-23  128.880005  124.502983  18.140995
          2020-04-24  144.080002  145.591034  11.793911
          2020-04-27  126.199997  131.291931 -12.409777
          2020-04-28  127.599998  129.075180   1.109350

select * from stock_daily_basic where date>=20150101
Index(['close', 'turnover_rate', 'turnover_rate_f', 'volume_ratio', 'pe',
       'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share', 'float_share',
       'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm', 'pb*pe'],
      dtype='object')
(3948151, 16)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3948151 entries, (000001.SZ, 2015-01-05 00:00:00) to (688399.SH, 2020-04-28 00:00:00)
Data columns (total 16 columns):
close              float32
turnover_rate      float32
turnover_rate_f    float32
volume_ratio       float32
pe                 float32
pe_ttm             float32
pb                 float32
ps                 float32
ps_ttm             float32
total_share        float32
float_share        float32
free_share         float32
total_mv           float32
circ_mv            float32
pb*pe_ttm          float32
pb*pe              float32
dtypes: float32(16)
memory usage: 256.3 MB
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '10ma', '20ma', '30ma', '60ma', '120ma',
       '250ma'],
      dtype='object')
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '10ma', '20ma', '30ma', '60ma', '120ma',
       '250ma', 'close/5ma', 'close/10ma', 'close/20ma', 'close/30ma',
       'close/60ma', 'close/120ma', 'close/250ma'],
      dtype='object')

In [4]:
start = 20100101
cursor = dbop.connect_db("sqlite3").cursor()

df_d = dbop.create_df(cursor, STOCK_DAY[TABLE], start=start)
df_d = dp.proc_stock_d(dp.prepare_stock_d(df_d))
df_d.drop(columns=['open0','high0','low0','vol0'],inplace=True)
df_d['pct'] = df_d.sort_index().groupby('code')['close'].pct_change()*100
df_d['amt']/=1e5
df_d = df_d.astype('float32')
print(df_d.columns)
print(df_d.shape)
df_d.info(memory_usage='deep')
df_d.tail()

df_d_basic = dbop.create_df(cursor, STOCK_DAILY_BASIC[TABLE], start=start)
df_d_basic = dp.prepare_stock_d_basic(df_d_basic)
#
df_d_basic["pb*pe_ttm"] = df_d_basic["pb"] * df_d_basic["pe_ttm"]
df_d_basic["pb*pe"] = df_d_basic["pb"] * df_d_basic["pe"]

df_d_basic = df_d_basic.astype('float32')
print(df_d_basic.columns)
print(df_d_basic.shape)
df_d_basic.info(memory_usage='deep')
# df_d_basic.index.tail()

select * from stock_day where date>=20100101
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct'],
      dtype='object')
(6971029, 11)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6971029 entries, (000001.SZ, 2010-01-04 00:00:00) to (688399.SH, 2020-04-28 00:00:00)
Data columns (total 11 columns):
open          float32
high          float32
low           float32
close         float32
vol           float32
amt           float32
adj_factor    float32
avg           float32
close0        float32
avg0          float32
pct           float32
dtypes: float32(11)
memory usage: 639.5 MB

                            open        high         low       close  \
code      date
688399.SH 2020-04-22  108.000000  118.500000  107.489998  109.089996
          2020-04-23  117.029999  128.880005  117.029999  128.880005
          2020-04-24  150.000000  153.000000  138.080002  144.080002
          2020-04-27  135.000000  140.000000  126.000000  126.199997
          2020-04-28  123.199997  134.990005  121.760002  127.599998

                               vol       amt  adj_factor         avg  \
code      date
688399.SH 2020-04-22  21584.169922  2.432959         1.0  112.719612
          2020-04-23  36237.828125  4.511718         1.0  124.502983
          2020-04-24  46408.371094  6.756642         1.0  145.591034
          2020-04-27  35730.238281  4.691092         1.0  131.291931
          2020-04-28  26022.019531  3.358797         1.0  129.075180

                          close0        avg0        pct
code      date
688399.SH 2020-04-22  109.089996  112.719612  -4.674941
          2020-04-23  128.880005  124.502983  18.140995
          2020-04-24  144.080002  145.591034  11.793911
          2020-04-27  126.199997  131.291931 -12.409777
          2020-04-28  127.599998  129.075180   1.109350

select * from stock_daily_basic where date>=20100101
Index(['close', 'turnover_rate', 'turnover_rate_f', 'volume_ratio', 'pe',
       'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share', 'float_share',
       'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm', 'pb*pe'],
      dtype='object')
(6592160, 16)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6592160 entries, (000001.SZ, 2010-01-04 00:00:00) to (688399.SH, 2020-04-28 00:00:00)
Data columns (total 16 columns):
close              float32
turnover_rate      float32
turnover_rate_f    float32
volume_ratio       float32
pe                 float32
pe_ttm             float32
pb                 float32
ps                 float32
ps_ttm             float32
total_share        float32
float_share        float32
free_share         float32
total_mv           float32
circ_mv            float32
pb*pe_ttm          float32
pb*pe              float32
dtypes: float32(16)
memory usage: 427.8 MB
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '10ma', '20ma', '30ma', '60ma', '120ma',
       '250ma'],
      dtype='object')
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '10ma', '20ma', '30ma', '60ma', '120ma',
       '250ma', 'close/5ma', 'close/10ma', 'close/20ma', 'close/30ma',
       'close/60ma', 'close/120ma', 'close/250ma'],
      dtype='object')

In [5]:
df = df_d.join(df_d_basic.drop(columns=['close']),how='left')
periods = [5,10,20,30,40,50,60,70,80,120,250]
for k in periods:
    df['{:d}ma'.format(k)]=df.reset_index('code').groupby('code')['close'].rolling(k).mean()
    df['{:d}ma_avg'.format(k)]=df.reset_index('code').groupby('code')['amt'].rolling(k).sum()\
            /df.reset_index('code').groupby('code')['vol'].rolling(k).sum()*1e6
print(df.columns)
    
for col2 in ["{}ma".format(k) for k in periods]:
    col1 = 'close'
    df['{}/{}'.format(col1,col2)] = df[col1]/df[col2]

for col2 in ["{}ma_avg".format(k) for k in periods]:
    col1 = 'close'
    df['{}/{}'.format(col1,col2)] = df[col1]/df[col2]

print(df.columns)

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '10ma', '20ma', '30ma', '60ma', '120ma',
       '250ma', 'close/5ma', 'close/10ma', 'close/20ma', 'close/30ma',
       'close/60ma', 'close/120ma', 'close/250ma', 'turnover_rate',
       'turnover_rate_f', 'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm',
       'total_share', 'float_share', 'free_share', 'total_mv', 'circ_mv',
       'pb*pe_ttm', 'pb*pe', '5ma_avg', '10ma_avg', '20ma_avg', '30ma_avg',
       '40ma', '40ma_avg', '50ma', '50ma_avg', '60ma_avg', '70ma', '70ma_avg',
       '80ma', '80ma_avg', '120ma_avg', '250ma_avg'],
      dtype='object')
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', '5ma', '10ma', '20ma', '30ma', '60ma', '120ma',
       '250ma', 'close/5ma', 'close/10ma', 'close/20ma', 'close/30ma',
       'close/60ma', 'close/120ma', 'close/250ma', 'turnover_rate',
       'turnover_rate_f', 'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm',
       'total_share', 'float_share', 'free_share', 'total_mv', 'circ_mv',
       'pb*pe_ttm', 'pb*pe', '5ma_avg', '10ma_avg', '20ma_avg', '30ma_avg',
       '40ma', '40ma_avg', '50ma', '50ma_avg', '60ma_avg', '70ma', '70ma_avg',
       '80ma', '80ma_avg', '120ma_avg', '250ma_avg', 'close/40ma',
       'close/50ma', 'close/70ma', 'close/80ma', 'close/5ma_avg',
       'close/10ma_avg', 'close/20ma_avg', 'close/30ma_avg', 'close/40ma_avg',
       'close/50ma_avg', 'close/60ma_avg', 'close/70ma_avg', 'close/80ma_avg',
       'close/120ma_avg', 'close/250ma_avg'],
      dtype='object')

In [7]:
df = df.astype('float32')

In [ ]:
df.info()