In [1]:
import pandas as pd
import numpy as np
import itertools
import lightgbm as lgbm
import matplotlib.pyplot as plt

from script import *
from feature_engineering import *
import db_operations as dbop
from constants import *
import data_process as dp

import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [9]:
pd.set_option('display.max_rows',200)
idx = pd.IndexSlice
agg_operations =['mean','median','max','min','std','size']

In [3]:
start = 20140101
cursor = dbop.connect_db("sqlite3").cursor()

df_d = dbop.create_df(cursor, STOCK_DAY[TABLE], start=start)
df_d = dp.proc_stock_d(dp.prepare_stock_d(df_d))
df_d.drop(columns=['open0','high0','low0','vol0'],inplace=True)
df_d['pct'] = df_d.sort_index().groupby('code')['close'].pct_change()*100
df_d['amt']/=1e5
df_d = df_d.astype('float32')
print(df_d.columns)
print(df_d.shape)
df_d.info(memory_usage='deep')
df_d.tail()

select * from stock_day where date>=20140101
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct'],
      dtype='object')
(4896413, 11)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4896413 entries, (000001.SZ, 2014-01-02 00:00:00) to (688598.SH, 2020-05-29 00:00:00)
Data columns (total 11 columns):
open          float32
high          float32
low           float32
close         float32
vol           float32
amt           float32
adj_factor    float32
avg           float32
close0        float32
avg0          float32
pct           float32
dtypes: float32(11)
memory usage: 384.6 MB

                           open       high        low      close  \
code      date
688598.SH 2020-05-25  88.669998  88.669998  76.720001  78.300003
          2020-05-26  78.470001  81.500000  77.510002  79.580002
          2020-05-27  82.040001  93.150002  82.040001  90.300003
          2020-05-28  93.059998  94.970001  86.379997  92.360001
          2020-05-29  88.000000  91.330002  87.000000  88.099998

                               vol       amt  adj_factor        avg  \
code      date
688598.SH 2020-05-25  53744.101562  4.323187         1.0  80.440216
          2020-05-26  35312.359375  2.802792         1.0  79.371414
          2020-05-27  75112.562500  6.597441         1.0  87.834061
          2020-05-28  69327.757812  6.323590         1.0  91.212959
          2020-05-29  45330.218750  4.034555         1.0  89.003647

                         close0       avg0        pct
code      date
688598.SH 2020-05-25  78.300003  80.440216 -11.022722
          2020-05-26  79.580002  79.371414   1.634741
          2020-05-27  90.300003  87.834061  13.470721
          2020-05-28  92.360001  91.212959   2.281284
          2020-05-29  88.099998  89.003647  -4.612386

In [4]:
df_d_basic = dbop.create_df(cursor, STOCK_DAILY_BASIC[TABLE], start=start)
df_d_basic = dp.prepare_stock_d_basic(df_d_basic)
#
df_d_basic["pb*pe_ttm"] = df_d_basic["pb"] * df_d_basic["pe_ttm"]
df_d_basic["pb*pe"] = df_d_basic["pb"] * df_d_basic["pe"]

df_d_basic = df_d_basic.astype('float32')
print(df_d_basic.columns)
print(df_d_basic.shape)
df_d_basic.info(memory_usage='deep')
df_d_basic.tail()

select * from stock_daily_basic where date>=20140101
Index(['close', 'turnover_rate', 'turnover_rate_f', 'volume_ratio', 'pe',
       'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share', 'float_share',
       'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm', 'pb*pe'],
      dtype='object')
(4594496, 16)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4594496 entries, (000001.SZ, 2014-01-02 00:00:00) to (688598.SH, 2020-05-29 00:00:00)
Data columns (total 16 columns):
close              float32
turnover_rate      float32
turnover_rate_f    float32
volume_ratio       float32
pe                 float32
pe_ttm             float32
pb                 float32
ps                 float32
ps_ttm             float32
total_share        float32
float_share        float32
free_share         float32
total_mv           float32
circ_mv            float32
pb*pe_ttm          float32
pb*pe              float32
dtypes: float32(16)
memory usage: 298.2 MB

                          close  turnover_rate  turnover_rate_f  volume_ratio  \
code      date
688598.SH 2020-05-25  78.300003      29.393801        29.393801          0.67
          2020-05-26  79.580002      19.313101        19.313101          0.55
          2020-05-27  90.300003      41.080700        41.080700          1.43
          2020-05-28  92.360001      37.916901        37.916901          1.34
          2020-05-29  88.099998      24.792101        24.792101          0.82

                             pe     pe_ttm      pb         ps     ps_ttm  \
code      date
688598.SH 2020-05-25  80.646301  67.683403  5.3239  26.152000  23.463699
          2020-05-26  81.964699  68.789803  5.4109  26.579500  23.847200
          2020-05-27  93.005898  78.056297  6.1398  30.159901  27.059601
          2020-05-28  95.127701  79.836998  6.2799  30.848000  27.677000
          2020-05-29  90.739998  76.154602  5.9902  29.425100  26.400400

                      total_share  float_share   free_share  total_mv  \
code      date
688598.SH 2020-05-25       8000.0  1828.415039  1828.415039  626400.0
          2020-05-26       8000.0  1828.415039  1828.415039  636640.0
          2020-05-27       8000.0  1828.415039  1828.415039  722400.0
          2020-05-28       8000.0  1828.415039  1828.415039  738880.0
          2020-05-29       8000.0  1828.415039  1828.415039  704800.0

                            circ_mv   pb*pe_ttm       pb*pe
code      date
688598.SH 2020-05-25  143164.890625  360.339691  429.352875
          2020-05-26  145505.265625  372.214752  443.502808
          2020-05-27  165105.875000  479.250061  571.037598
          2020-05-28  168872.406250  501.368378  597.392456
          2020-05-29  161083.359375  456.181305  543.550720

In [5]:
df = df_d.join(df_d_basic.drop(columns=['close']),how='left')
periods = [5,10,20,40,60,120,250]
for k in periods:
    df['{:d}ma'.format(k)]=df.reset_index('code').groupby('code')['close'].rolling(k).mean()
#     df['{:d}ma_avg'.format(k)]=df.reset_index('code').groupby('code')['amt'].rolling(k).sum()\
#             /df.reset_index('code').groupby('code')['vol'].rolling(k).sum()*1e6
print(df.columns)
    
for col2 in ["{}ma".format(k) for k in periods]:
    col1 = 'close'
    df['{}/{}'.format(col1,col2)] = df[col1]/df[col2]

# for col2 in ["{}ma_avg".format(k) for k in periods]:
#     col1 = 'close'
#     df['{}/{}'.format(col1,col2)] = df[col1]/df[col2]

print(df.columns)

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share',
       'float_share', 'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm',
       'pb*pe', '5ma', '10ma', '20ma', '40ma', '60ma', '120ma', '250ma'],
      dtype='object')
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share',
       'float_share', 'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm',
       'pb*pe', '5ma', '10ma', '20ma', '40ma', '60ma', '120ma', '250ma',
       'close/5ma', 'close/10ma', 'close/20ma', 'close/40ma', 'close/60ma',
       'close/120ma', 'close/250ma'],
      dtype='object')

In [7]:
start_date = '-'.join([str(start)[:4],str(start)[4:6],str(start)[6:8]])
t0 = time.time()
df_r = pd.read_parquet(r"database\return_spc_5%_10%_20_8_inf%").loc[idx[:,start_date:],:].sort_index()
print(time.time()-t0)
df_r.shape
df_r.head()

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:707: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:734: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:751: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

13.231953620910645

(4593560, 8)

                          buy_at         max  max_idx  idx  is_selled  \
code      date
000001.SZ 2014-01-02  709.402039  709.985901    899.0  898       True
          2014-01-03  694.221436  700.644043    900.0  899       True
          2014-01-06  673.202087  700.060120    903.0  900       True
          2014-01-07  679.624695  700.060120    903.0  901       True
          2014-01-08  682.544006  700.060120    903.0  902       True

                         sell_at  sell_date         r
code      date
000001.SZ 2014-01-02  680.792419 2014-01-16 -0.040329
          2014-01-03  678.456970 2014-01-17 -0.022708
          2014-01-06  660.940857 2014-01-21 -0.018213
          2014-01-07  660.940857 2014-01-21 -0.027491
          2014-01-08  660.940857 2014-01-21 -0.031651

In [11]:
df_r.r.agg(agg_operations[:-1])

mean       0.002553
median    -0.014748
max       10.297887
min       -0.972953
std        0.095261
Name: r, dtype: float64

In [16]:
df.reset_index('code').groupby('code')['pct'].rolling(window=5).min().head(20)

code       date
000001.SZ  2014-01-02         NaN
           2014-01-03         NaN
           2014-01-06         NaN
           2014-01-07         NaN
           2014-01-08         NaN
           2014-01-09   -2.452976
           2014-01-10   -2.179384
           2014-01-13   -1.861244
           2014-01-14   -1.861244
           2014-01-15   -1.861244
           2014-01-16   -1.861244
           2014-01-17   -1.861244
           2014-01-20   -1.796412
           2014-01-21   -1.796412
           2014-01-22   -1.796412
           2014-01-23   -1.796412
           2014-01-24   -1.567930
           2014-01-27   -2.315605
           2014-01-28   -2.315605
           2014-01-29   -2.315605
Name: pct, dtype: float64

In [30]:
# ops = [('pct','min')]
r1 = groupby_rolling(df,level="code",window=5,ops=[('pct','min')],check_col="open")
r1.head(20)
r2 = groupby_rolling(df,level="code",window=5,ops=[('pct','max')],check_col="open")
r2.head(20)

                           pct
code      date
000001.SZ 2014-01-02       NaN
          2014-01-03       NaN
          2014-01-06       NaN
          2014-01-07       NaN
          2014-01-08       NaN
          2014-01-09 -2.452976
          2014-01-10 -2.179384
          2014-01-13 -1.861244
          2014-01-14 -1.861244
          2014-01-15 -1.861244
          2014-01-16 -1.861244
          2014-01-17 -1.861244
          2014-01-20 -1.796412
          2014-01-21 -1.796412
          2014-01-22 -1.796412
          2014-01-23 -1.796412
          2014-01-24 -1.567930
          2014-01-27 -2.315605
          2014-01-28 -2.315605
          2014-01-29 -2.315605

                           pct
code      date
000001.SZ 2014-01-02       NaN
          2014-01-03       NaN
          2014-01-06       NaN
          2014-01-07       NaN
          2014-01-08       NaN
          2014-01-09  1.117802
          2014-01-10  1.117802
          2014-01-13  1.117802
          2014-01-14  1.117802
          2014-01-15  1.034474
          2014-01-16  1.034474
          2014-01-17  1.034474
          2014-01-20  1.034474
          2014-01-21  0.530970
          2014-01-22  3.785217
          2014-01-23  3.785217
          2014-01-24  3.785217
          2014-01-27  3.785217
          2014-01-28  3.785217
          2014-01-29  0.965750

In [20]:
(r>0).sum(),len(r),(r>0).sum()/len(r)

(pct    118344
 dtype: int64, 4896413, pct    0.02417
 dtype: float64)

In [43]:
mask1 = (r1['pct']>0) & (r2['pct']<3)
mask1.head()
mask2 = (df['circ_mv']>50e4)
mask2.head()
mask3 = df['close/60ma']<1.1
index = df.index[mask1 & mask2 & mask3]
len(index),len(df),len(index)/len(df)
df_r.loc[index,'r'].agg(agg_operations)
df_r.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)

code       date
000001.SZ  2014-01-02    False
           2014-01-03    False
           2014-01-06    False
           2014-01-07    False
           2014-01-08    False
Name: pct, dtype: bool

code       date
000001.SZ  2014-01-02    True
           2014-01-03    True
           2014-01-06    True
           2014-01-07    True
           2014-01-08    True
Name: circ_mv, dtype: bool

(11946, 4896413, 0.0024397451767242673)

mean          0.009218
median       -0.007160
max           1.065528
min          -0.432886
std           0.075510
size      11946.000000
Name: r, dtype: float64

                mean    median       max       min       std  size
date
2014-06-30 -0.003223 -0.017605  0.340426 -0.118457  0.062916   378
2014-09-30  0.036918  0.018868  1.065528 -0.116552  0.084918   809
2014-12-31  0.012845 -0.007585  0.962989 -0.286520  0.089183   340
2015-03-31  0.108342  0.091924  0.823636 -0.067197  0.119949   641
2015-06-30 -0.005859 -0.018220  0.107812 -0.086924  0.058148    36
2015-09-30 -0.058713 -0.054348 -0.015732 -0.106061  0.045322     3
2015-12-31 -0.030291 -0.036397  0.188508 -0.149869  0.053817   169
2016-03-31 -0.007620 -0.012308  0.184339 -0.100577  0.051792   119
2016-06-30  0.008492 -0.004375  0.251087 -0.137370  0.070016   184
2016-09-30  0.008899  0.000000  0.306891 -0.088448  0.053559   555
2016-12-31  0.000101 -0.010130  0.584992 -0.221245  0.057844   637
2017-03-31  0.003664 -0.002328  0.236890 -0.135025  0.053234  1030
2017-06-30  0.009139 -0.002315  0.317173 -0.126975  0.061266   715
2017-09-30  0.003059 -0.006960  0.302719 -0.116364  0.053367   587
2017-12-31 -0.014467 -0.027206  0.319406 -0.234349  0.057946   554
2018-03-31 -0.009571 -0.018023  0.460817 -0.319489  0.062347   890
2018-06-30 -0.011596 -0.017826  0.290802 -0.432886  0.059174   408
2018-09-30 -0.027111 -0.032448  0.152074 -0.404334  0.050752   443
2018-12-31 -0.006678 -0.018634  0.230677 -0.216243  0.057677   334
2019-03-31  0.070963  0.061659  0.706667 -0.095699  0.094631   543
2019-06-30 -0.006434 -0.016800  0.267078 -0.109107  0.048396   327
2019-09-30 -0.012068 -0.027432  0.347746 -0.105116  0.055843   656
2019-12-31  0.008901 -0.005250  0.275093 -0.143275  0.062365   838
2020-03-31 -0.010315 -0.017341  0.424000 -0.240506  0.086083   512
2020-06-30 -0.001029 -0.016241  0.275229 -0.098746  0.056112   238

In [41]:
tmp = df_r.loc[index].sort_values('date',ascending=False)
tmp[tmp['r'].notnull()].head(100)

                           buy_at          max  max_idx   idx  is_selled  \
code      date
603839.SH 2020-05-20    18.999640    18.999640    795.0   794       True
600641.SH 2020-05-18   355.756989   406.777771   2328.0  2326       True
002428.SZ 2020-05-18    59.395470    63.626671   2399.0  2398       True
300559.SZ 2020-05-14   125.557892   128.807281    864.0   860       True
603131.SH 2020-05-14    51.818249    51.818249    868.0   867       True
002422.SZ 2020-05-14   134.789551   139.746445   2389.0  2388       True
          2020-05-13   130.213943   139.746445   2389.0  2387       True
002335.SZ 2020-05-13    76.844849    78.589073   2386.0  2385       True
603131.SH 2020-05-13    50.790451    52.189404    867.0   866       True
002036.SZ 2020-05-13    80.211060    83.033104   2400.0  2398       True
002422.SZ 2020-05-12   132.183990   139.746445   2389.0  2386       True
300034.SZ 2020-05-12    63.825001    67.895004   2421.0  2417       True
002389.SZ 2020-05-12    83.092506    85.369850   2168.0  2167       True
603131.SH 2020-05-12    51.532749    52.189404    867.0   865       True
002653.SZ 2020-05-12    67.826881    69.442558   2016.0  2013       True
000096.SZ 2020-05-12    29.044001    29.521002   2513.0  2508       True
600559.SH 2020-05-12    60.602482    64.339180   2284.0  2282       True
600624.SH 2020-05-12   150.415024   173.135803   2508.0  2497       True
002653.SZ 2020-05-11    67.066559    69.981117   2013.0  2012       True
600559.SH 2020-05-11    60.126904    64.339180   2284.0  2281       True
000550.SZ 2020-05-11    38.526840    38.681942   2508.0  2507       True
300145.SZ 2020-05-11    64.527519    65.110603   2145.0  2143       True
000012.SZ 2020-05-11   124.895653   124.895653   2469.0  2468       True
000601.SZ 2020-05-11    55.621140    55.720112   2442.0  2441       True
002746.SZ 2020-05-11    37.756542    38.002598   1260.0  1258       True
000060.SZ 2020-05-11   133.459198   138.649277   2497.0  2492       True
601003.SH 2020-05-11    24.341120    24.341120   2341.0  2340       True
000025.SZ 2020-05-11    49.212620    50.496189   2483.0  2479       True
002389.SZ 2020-05-11    81.984604    87.401001   2167.0  2166       True
600624.SH 2020-05-11   150.238892   173.135803   2508.0  2496       True
002422.SZ 2020-05-11   130.913010   139.746445   2389.0  2385       True
300034.SZ 2020-05-11    64.009995    67.895004   2421.0  2416       True
603337.SH 2020-05-11    42.183193    42.493851    804.0   801       True
600105.SH 2020-05-11    49.240620    49.929298   2422.0  2417       True
601018.SH 2020-05-11     4.109140     4.336760   2200.0  2196       True
601992.SH 2020-05-11     7.375160     7.375160   2208.0  2207       True
000096.SZ 2020-05-11    28.938002    29.521002   2513.0  2507       True
601636.SH 2020-05-11    17.549099    18.335350   2111.0  2109       True
601992.SH 2020-05-08     7.266059     7.440620   2207.0  2206       True
600516.SH 2020-05-08    77.286919    81.680252   2441.0  2437       True
601069.SH 2020-05-08    13.912980    14.908920   1183.0  1177       True
600017.SH 2020-05-08     8.129850     8.162500   2492.0  2491       True
600755.SH 2020-05-08   130.579208   131.191284   2499.0  2498       True
300145.SZ 2020-05-08    64.527519    65.499321   2143.0  2142       True
600936.SH 2020-05-08     3.733200     4.314600    915.0   905       True
601636.SH 2020-05-08    17.549099    18.335350   2111.0  2108       True
601003.SH 2020-05-08    23.920639    24.528000   2340.0  2339       True
000550.SZ 2020-05-08    38.216640    39.085201   2507.0  2506       True
600190.SH 2020-05-08     8.010000     8.010000   2497.0  2496       True
000488.SZ 2020-05-08    46.219379    47.797153   2481.0  2479       True
600515.SH 2020-05-08    10.614640    10.614640   2187.0  2186       True
600868.SH 2020-05-08    90.924118    92.327271   2474.0  2469       True
000012.SZ 2020-05-08   124.895653   127.008049   2468.0  2467       True
000932.SZ 2020-05-08     8.379359     8.662720   2339.0  2338       True
002258.SZ 2020-05-08    56.862000    57.190048   2476.0  2475       True
002640.SZ 2020-05-08    70.763283    71.131203   1870.0  1869       True
000060.SZ 2020-05-08   133.829910   138.649277   2497.0  2491       True
000157.SZ 2020-05-07   474.366821   507.032806   2501.0  2498       True
300219.SZ 2020-05-07    44.758018    50.878323   1962.0  1953       True
300418.SZ 2020-05-06    81.928978    91.403755   1225.0  1215       True
600085.SH 2020-05-06   292.735199   292.735199   2507.0  2506       True
601163.SH 2020-05-06    14.152319    14.331329    886.0   884       True
002558.SZ 2020-05-06    71.677437    73.834396   1866.0  1860       True
002745.SZ 2020-05-06    24.016918    29.118958   1067.0  1056       True
600674.SH 2020-04-30   170.942871   173.050903   2481.0  2476       True
603377.SH 2020-04-30    22.973200    23.482100   1032.0  1029       True
002531.SZ 2020-04-30    46.337780    48.705982   2224.0  2223       True
000656.SZ 2020-04-30    51.169048    54.763298   2430.0  2426       True
601615.SH 2020-04-29    11.669600    12.353681    314.0   306       True
600900.SH 2020-04-28    54.726845    54.757626   2391.0  2390       True
          2020-04-27    54.142021    54.973083   2390.0  2389       True
600217.SH 2020-04-24    25.074902    27.424261   2171.0  2165       True
002672.SZ 2020-04-24    60.599339    61.558384   1845.0  1844       True
603806.SH 2020-04-23    64.629997    76.873703   1367.0  1351       True
000928.SZ 2020-04-23     8.987550     9.071350   2394.0  2393       True
002672.SZ 2020-04-23    60.059883    61.558384   1845.0  1843       True
300369.SZ 2020-04-23   164.519913   186.526794   1432.0  1423       True
300523.SZ 2020-04-23   111.670227   117.089005    838.0   829       True
600999.SH 2020-04-22    28.814280    29.477039   2495.0  2489       True
002130.SZ 2020-04-22    96.274139    98.914574   2415.0  2412       True
600593.SH 2020-04-22    81.123833    84.466370   2440.0  2432       True
600939.SH 2020-04-22     4.192250     4.223000    774.0   773       True
002672.SZ 2020-04-22    58.501442    61.558384   1845.0  1842       True
300369.SZ 2020-04-22   166.483353   186.526794   1432.0  1422       True
601163.SH 2020-04-22    14.489280    14.489280    878.0   877       True
002212.SZ 2020-04-22    81.237206    94.261200   2251.0  2241       True
603816.SH 2020-04-22    59.094002    61.328403    860.0   859       True
603806.SH 2020-04-22    66.372200    67.032547   1351.0  1350       True
300523.SZ 2020-04-22   111.125633   117.089005    838.0   828       True
601163.SH 2020-04-21    14.004900    14.489280    878.0   876       True
601137.SH 2020-04-21    25.562601    32.680202   2195.0  2178       True
603816.SH 2020-04-21    56.742001    67.620003    876.0   858       True
002439.SZ 2020-04-21   319.165924   354.054169   2164.0  2146       True
300316.SZ 2020-04-21   190.427856   195.090286   1832.0  1831       True
300369.SZ 2020-04-21   165.419815   186.526794   1432.0  1421       True
600588.SH 2020-04-21  1920.866821  1937.768555   2477.0  2476       True
600593.SH 2020-04-21    80.067284    84.466370   2440.0  2431       True
600460.SH 2020-04-20   218.603699   219.198547   2418.0  2416       True
300369.SZ 2020-04-20   165.747055   186.526794   1432.0  1420       True
600170.SH 2020-04-20    49.150200    50.490662   2450.0  2447       True

                          sell_at  sell_date         r
code      date
603839.SH 2020-05-20    17.123499 2020-05-25 -0.098746
600641.SH 2020-05-18   374.846405 2020-05-22  0.053659
002428.SZ 2020-05-18    59.554142 2020-05-22  0.002671
300559.SZ 2020-05-14   123.041756 2020-05-22 -0.020040
603131.SH 2020-05-14    48.477898 2020-05-21 -0.064463
002422.SZ 2020-05-14   131.230743 2020-05-19 -0.026403
          2020-05-13   131.230743 2020-05-19  0.007809
002335.SZ 2020-05-13    73.948769 2020-05-19 -0.037687
603131.SH 2020-05-13    48.477898 2020-05-21 -0.045531
002036.SZ 2020-05-13    79.288467 2020-05-19 -0.011502
002422.SZ 2020-05-12   131.230743 2020-05-19 -0.007212
300034.SZ 2020-05-12    64.121002 2020-05-22  0.004638
002389.SZ 2020-05-12    80.876701 2020-05-15 -0.026667
603131.SH 2020-05-12    48.477898 2020-05-21 -0.059280
002653.SZ 2020-05-12    64.278725 2020-05-19 -0.052312
000096.SZ 2020-05-12    27.613001 2020-05-26 -0.049270
600559.SH 2020-05-12    61.961281 2020-05-27  0.022422
600624.SH 2020-05-12   160.278320 2020-05-29  0.065574
002653.SZ 2020-05-11    66.274559 2020-05-18 -0.011809
600559.SH 2020-05-11    61.961281 2020-05-27  0.030508
000550.SZ 2020-05-11    36.851761 2020-05-15 -0.043478
300145.SZ 2020-05-11    61.612125 2020-05-22 -0.045181
000012.SZ 2020-05-11   120.406799 2020-05-25 -0.035941
000601.SZ 2020-05-11    52.256165 2020-05-25 -0.060498
002746.SZ 2020-05-11    35.924759 2020-05-25 -0.048516
000060.SZ 2020-05-11   131.946426 2020-05-28 -0.011335
601003.SH 2020-05-11    23.687040 2020-05-25 -0.026871
000025.SZ 2020-05-11    47.410160 2020-05-25 -0.036626
002389.SZ 2020-05-11    81.861504 2020-05-14 -0.001502
600624.SH 2020-05-11   160.278320 2020-05-29  0.066823
002422.SZ 2020-05-11   131.230743 2020-05-19  0.002427
300034.SZ 2020-05-11    64.121002 2020-05-22  0.001734
603337.SH 2020-05-11    40.208282 2020-05-15 -0.046817
600105.SH 2020-05-11    45.911999 2020-05-21 -0.067599
601018.SH 2020-05-11     4.109140 2020-05-19  0.000000
601992.SH 2020-05-11     6.895120 2020-05-25 -0.065089
000096.SZ 2020-05-11    27.613001 2020-05-26 -0.045788
601636.SH 2020-05-11    17.454750 2020-05-15 -0.005376
601992.SH 2020-05-08     7.047860 2020-05-22 -0.030030
600516.SH 2020-05-08    75.942017 2020-05-21 -0.017401
601069.SH 2020-05-08    13.731900 2020-05-22 -0.013015
600017.SH 2020-05-08     8.031900 2020-05-22 -0.012048
600755.SH 2020-05-08   126.090538 2020-05-22 -0.034375
300145.SZ 2020-05-08    61.612125 2020-05-22 -0.045181
600936.SH 2020-05-08     3.865800 2020-05-26  0.035519
601636.SH 2020-05-08    17.454750 2020-05-15 -0.005376
601003.SH 2020-05-08    24.014078 2020-05-22  0.003906
000550.SZ 2020-05-08    36.851761 2020-05-15 -0.035714
600190.SH 2020-05-08     7.716300 2020-05-22 -0.036667
000488.SZ 2020-05-08    44.920044 2020-05-21 -0.028112
600515.SH 2020-05-08    10.038481 2020-05-13 -0.054280
600868.SH 2020-05-08    87.275925 2020-05-22 -0.040123
000012.SZ 2020-05-08   121.727058 2020-05-22 -0.025370
000932.SZ 2020-05-08     8.300599 2020-05-22 -0.009399
002258.SZ 2020-05-08    54.274052 2020-05-15 -0.045513
002640.SZ 2020-05-08    67.451996 2020-05-18 -0.046794
000060.SZ 2020-05-08   131.946426 2020-05-28 -0.014074
000157.SZ 2020-05-07   471.526306 2020-05-22 -0.005988
300219.SZ 2020-05-07    48.749519 2020-05-22  0.089180
300418.SZ 2020-05-06    85.989601 2020-05-25  0.049563
600085.SH 2020-05-06   287.188416 2020-05-20 -0.018948
601163.SH 2020-05-06    13.773239 2020-05-21 -0.026786
002558.SZ 2020-05-06    69.769356 2020-05-19 -0.026620
002745.SZ 2020-05-06    26.111658 2020-05-25  0.087219
600674.SH 2020-04-30   166.535141 2020-05-25 -0.025785
603377.SH 2020-04-30    22.173500 2020-05-13 -0.034810
002531.SZ 2020-04-30    47.600822 2020-05-19  0.027257
000656.SZ 2020-04-30    51.757198 2020-05-20  0.011494
601615.SH 2020-04-29    11.357740 2020-05-18 -0.026724
600900.SH 2020-04-28    52.787701 2020-05-15 -0.035433
          2020-04-27    53.126282 2020-05-14 -0.018761
600217.SH 2020-04-24    25.978500 2020-05-12  0.036036
002672.SZ 2020-04-24    59.220718 2020-05-13 -0.022750
603806.SH 2020-04-23    73.510597 2020-05-27  0.137407
000928.SZ 2020-04-23     8.505700 2020-04-29 -0.053613
002672.SZ 2020-04-23    59.220718 2020-05-13 -0.013972
300369.SZ 2020-04-23   169.755737 2020-05-15  0.031825
300523.SZ 2020-04-23   111.697464 2020-05-19  0.000244
600999.SH 2020-04-22    27.741240 2020-05-15 -0.037240
002130.SZ 2020-04-22    93.227493 2020-04-29 -0.031646
600593.SH 2020-04-22    82.122749 2020-05-20  0.012313
600939.SH 2020-04-22     3.987250 2020-04-29 -0.048900
002672.SZ 2020-04-22    59.220718 2020-05-13  0.012295
300369.SZ 2020-04-22   169.755737 2020-05-15  0.019656
601163.SH 2020-04-22    13.678470 2020-04-27 -0.055959
002212.SZ 2020-04-22    87.716644 2020-05-19  0.079759
603816.SH 2020-04-22    58.138500 2020-05-08 -0.016169
603806.SH 2020-04-22    62.578701 2020-04-28 -0.057155
300523.SZ 2020-04-22   111.697464 2020-05-19  0.005146
601163.SH 2020-04-21    13.678470 2020-04-27 -0.023308
601137.SH 2020-04-21    29.946001 2020-05-22  0.171477
603816.SH 2020-04-21    62.783699 2020-05-22  0.106477
002439.SZ 2020-04-21   332.792847 2020-05-22  0.042695
300316.SZ 2020-04-21   183.022842 2020-04-27 -0.038886
300369.SZ 2020-04-21   169.755737 2020-05-15  0.026212
600588.SH 2020-04-21  1830.020874 2020-04-27 -0.047294
600593.SH 2020-04-21    82.122749 2020-05-20  0.025672
600460.SH 2020-04-20   205.963364 2020-04-28 -0.057823
300369.SZ 2020-04-20   169.755737 2020-05-15  0.024186
600170.SH 2020-04-20    48.256561 2020-05-11 -0.018182

In [52]:
mask1 = (df['pct']>5) & (r2.sort_index().groupby('code')['pct'].shift(1)<df['pct']*0.6) & (df['volume_ratio']>2)
mask1.sum()/len(mask1)
mask2 = df['close/60ma']<1.1
mask2.sum()/len(mask2)

index = df.index[mask1 & mask2]
len(index),len(df),len(index)/len(df)
df_r.loc[index,'r'].agg(agg_operations)
df_r.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)

0.00957129229090765

0.6425471054014439

(24044, 4896413, 0.004910533486452226)

mean         -0.003677
median       -0.020307
max           2.648757
min          -0.675676
std           0.086758
size      24044.000000
Name: r, dtype: float64

                mean    median       max       min       std  size
date
2014-06-30 -0.004641 -0.021098  0.899057 -0.192727  0.076713   804
2014-09-30  0.026491  0.011552  0.592233 -0.118932  0.079795   325
2014-12-31  0.001006 -0.024581  2.648757 -0.174975  0.148587   445
2015-03-31  0.039919  0.004932  1.421053 -0.178060  0.128732   663
2015-06-30 -0.055422 -0.041262  0.271365 -0.258585  0.116568    75
2015-09-30  0.052858  0.043521  0.766149 -0.369934  0.135490   368
2015-12-31  0.005932 -0.006751  0.379360 -0.233156  0.082649   426
2016-03-31 -0.010270 -0.022863  0.361502 -0.218168  0.076544   815
2016-06-30 -0.004733 -0.026557  1.059885 -0.175448  0.085885   879
2016-09-30 -0.004520 -0.016000  0.436893 -0.192111  0.063493   629
2016-12-31 -0.006188 -0.018637  0.574279 -0.187965  0.063308   679
2017-03-31 -0.009537 -0.021508  0.494403 -0.317460  0.064178   765
2017-06-30 -0.019306 -0.029302  0.612378 -0.547900  0.066790  1028
2017-09-30 -0.001805 -0.014806  0.646097 -0.171882  0.069423  1208
2017-12-31 -0.018727 -0.029957  0.477246 -0.343821  0.059103   920
2018-03-31 -0.009945 -0.025000  0.827645 -0.418932  0.078978  1572
2018-06-30 -0.020054 -0.033363  0.720080 -0.492935  0.071400  1044
2018-09-30 -0.025222 -0.034575  0.634391 -0.226293  0.056554  1578
2018-12-31  0.005514 -0.018311  1.650641 -0.172859  0.105097  1758
2019-03-31  0.032464  0.005128  1.964467 -0.313559  0.125460  1039
2019-06-30 -0.015393 -0.024733  0.585047 -0.284073  0.069267  1220
2019-09-30 -0.005494 -0.020682  0.797914 -0.675676  0.075309  1740
2019-12-31  0.000969 -0.017793  1.626667 -0.224992  0.092882  1442
2020-03-31 -0.000494 -0.015648  1.112676 -0.270545  0.095787  1327
2020-06-30 -0.009740 -0.023759  0.751488 -0.203409  0.070573  1295

In [53]:
tmp = df_r.loc[index].sort_values('date',ascending=False)
tmp[tmp['r'].notnull()].head(1000)

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
300691.SZ,2020-05-26,39.697899,41.774811,677.0,676,True,38.988068,2020-05-29,-0.017881
002138.SZ,2020-05-26,155.617004,162.106567,2511.0,2510,True,153.431747,2020-05-29,-0.014043
002189.SZ,2020-05-26,17.800200,18.741360,2350.0,2349,True,16.920422,2020-05-29,-0.049425
603115.SH,2020-05-26,19.400000,19.490000,191.0,190,True,18.209999,2020-05-29,-0.061340
601996.SH,2020-05-26,11.919391,12.849901,2000.0,1999,True,10.988881,2020-05-29,-0.078067
...,...,...,...,...,...,...,...,...,...
600986.SH,2020-04-07,22.387749,22.678501,2278.0,2277,True,21.515501,2020-04-14,-0.038961
603499.SH,2020-04-07,22.862000,23.941200,603.0,602,True,22.904598,2020-04-13,0.001863
688366.SH,2020-04-07,77.000000,78.900002,107.0,106,True,75.010002,2020-04-21,-0.025844
002688.SZ,2020-04-07,45.078320,46.528862,1800.0,1799,True,43.906731,2020-04-13,-0.025990
601698.SH,2020-04-07,16.020000,17.620001,190.0,188,True,16.309999,2020-04-13,0.018102

In [56]:
# mid = (df['high']+df['low'])/2
# mid.head()
mid_pct = mid.sort_index().groupby('code').pct_change()*100
mid_pct.head()

code       date
000001.SZ  2014-01-02         NaN
           2014-01-03   -1.683784
           2014-01-06   -1.837921
           2014-01-07   -0.978720
           2014-01-08    0.902450
dtype: float32

In [57]:
tr1 = groupby_rolling(pd.DataFrame(mid_pct,columns=["pct"]),level="code",window=10,ops=[('pct','mean')],check_col="pct")
tr2 = groupby_rolling(pd.DataFrame(mid_pct,columns=["pct"]),level="code",window=10,ops=[('pct','std')],check_col="pct")

In [59]:
tr1.head(20)
tr2.head(20)

                           pct
code      date
000001.SZ 2014-01-02       NaN
          2014-01-03       NaN
          2014-01-06       NaN
          2014-01-07       NaN
          2014-01-08       NaN
          2014-01-09       NaN
          2014-01-10       NaN
          2014-01-13       NaN
          2014-01-14       NaN
          2014-01-15       NaN
          2014-01-16 -0.401471
          2014-01-17 -0.357131
          2014-01-20 -0.329251
          2014-01-21 -0.165387
          2014-01-22 -0.111400
          2014-01-23 -0.080449
          2014-01-24 -0.093356
          2014-01-27 -0.175497
          2014-01-28 -0.111551
          2014-01-29 -0.063287

                           pct
code      date
000001.SZ 2014-01-02       NaN
          2014-01-03       NaN
          2014-01-06       NaN
          2014-01-07       NaN
          2014-01-08       NaN
          2014-01-09       NaN
          2014-01-10       NaN
          2014-01-13       NaN
          2014-01-14       NaN
          2014-01-15       NaN
          2014-01-16  0.965038
          2014-01-17  0.908079
          2014-01-20  0.860602
          2014-01-21  0.879005
          2014-01-22  0.964315
          2014-01-23  0.997003
          2014-01-24  0.998506
          2014-01-27  1.099910
          2014-01-28  1.082771
          2014-01-29  1.113540

In [95]:
mask1 = (tr1['pct']>=0.5) &(tr1['pct']<=5) & (tr2['pct']<0.9*tr1['pct'])
mask1.sum()/len(mask1)
mask2 = (df['close/60ma']<1.1) & (df['close/120ma']>1) & (df['close/250ma']>1) 
mask2.sum()/len(mask2)
mask3 = (df['circ_mv']>50e4)

index = df.index[mask1 & mask2 & mask3]
len(index),len(df),len(index)/len(df)
df_r.loc[index,'r'].agg(agg_operations)
df_r.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)

0.003750092159301105

0.08871759796406063

(877, 4896413, 0.00017911070818576782)

mean        0.032803
median      0.002558
max         0.546667
min        -0.278527
std         0.109235
size      877.000000
Name: r, dtype: float64

                mean    median       max       min       std  size
date
2015-03-31  0.138214  0.136579  0.546667 -0.066852  0.113236   168
2015-06-30 -0.180295 -0.262886  0.000529 -0.278527  0.156793     3
2015-09-30 -0.111791 -0.110000  0.038716 -0.256727  0.087538    15
2015-12-31       NaN       NaN       NaN       NaN       NaN     0
2016-03-31       NaN       NaN       NaN       NaN       NaN     0
2016-06-30 -0.011654 -0.008248 -0.005729 -0.020984  0.008178     3
2016-09-30 -0.004841 -0.011867  0.056590 -0.057803  0.034993    11
2016-12-31 -0.022723 -0.015075  0.039254 -0.127249  0.044777    11
2017-03-31  0.011813 -0.019711  0.298206 -0.060870  0.080538    42
2017-06-30  0.033355  0.019803  0.249372 -0.068530  0.075206    34
2017-09-30  0.013041 -0.002029  0.102389 -0.063830  0.050235    20
2017-12-31 -0.020994 -0.010884  0.103330 -0.142196  0.067343    17
2018-03-31  0.012008 -0.025872  0.451746 -0.107349  0.120197    57
2018-06-30  0.012782  0.019185  0.104911 -0.070896  0.048007    39
2018-09-30 -0.037716 -0.051214  0.037567 -0.130819  0.046777    18
2018-12-31 -0.016851 -0.013916 -0.003610 -0.035962  0.013763     4
2019-03-31  0.099223  0.065864  0.357639 -0.014572  0.098671    55
2019-06-30 -0.015257 -0.019338  0.156905 -0.088752  0.037814    52
2019-09-30 -0.012417 -0.025862  0.309287 -0.090909  0.052886    88
2019-12-31  0.030996 -0.001262  0.494759 -0.084055  0.105755   133
2020-03-31 -0.024770 -0.019682  0.207643 -0.248544  0.091041    83
2020-06-30  0.015660 -0.012785  0.186585 -0.077829  0.087738    24

In [94]:
tmp = df_r.loc[index].sort_values('date',ascending=False)
tmp[tmp['r'].notnull()].head(100)

                           buy_at          max  max_idx   idx  is_selled  \
code      date
600316.SH 2020-05-18    61.968796    61.968796   2510.0  2509       True
300115.SZ 2020-05-15   210.088547   210.088547   2320.0  2319       True
002004.SZ 2020-04-17   103.013672   109.129517   2337.0  2335       True
603567.SH 2020-04-16    26.489101    28.520281   1201.0  1199       True
600486.SH 2020-04-15   282.219696   325.696198   2510.0  2490       True
002019.SZ 2020-04-15   267.198273   276.542938   2384.0  2381       True
300685.SZ 2020-04-15   142.989990   150.012787    663.0   657       True
000488.SZ 2020-04-15    48.168392    49.282108   2467.0  2465       True
000989.SZ 2020-04-15    38.526478    41.561096   2399.0  2388       True
000488.SZ 2020-04-14    48.632439    49.374924   2465.0  2464       True
002019.SZ 2020-04-14   280.339203   281.507294   2381.0  2380       True
300037.SZ 2020-04-10   127.360382   153.233704   2420.0  2402       True
600486.SH 2020-04-10   277.766388   313.959076   2507.0  2487       True
600491.SH 2020-04-09    87.592400   104.042679   2495.0  2475       True
600486.SH 2020-04-09   282.861298   311.543701   2506.0  2486       True
600592.SH 2020-04-09    50.313148    50.313148   2412.0  2411       True
          2020-04-08    50.778091    50.811302   2411.0  2410       True
002695.SZ 2020-03-03    72.008720    84.775040   1812.0  1803       True
          2020-03-02    72.384201    84.775040   1812.0  1802       True
          2020-02-28    67.586403    84.775040   1812.0  1801       True
002685.SZ 2020-02-25    19.494091    19.695061   1663.0  1662       True
000877.SZ 2020-02-24    72.669327    78.557945   2424.0  2421       True
002685.SZ 2020-02-24    19.551510    20.671200   1662.0  1661       True
601615.SH 2020-02-24    12.021700    12.072001    261.0   260       True
603298.SH 2020-02-24    13.904671    14.381220    769.0   766       True
002387.SZ 2020-02-24    55.077839    55.718281   2246.0  2245       True
600363.SH 2020-02-24    50.709122    51.549957   2318.0  2317       True
002698.SZ 2020-02-21    30.046700    31.429379   1788.0  1787       True
601375.SH 2020-02-21     5.779200     6.222960    764.0   761       True
002685.SZ 2020-02-21    19.350540    20.671200   1662.0  1660       True
000877.SZ 2020-02-21    73.187012    78.557945   2424.0  2420       True
000878.SZ 2020-02-21    33.280640    33.280640   2307.0  2306       True
600363.SH 2020-02-21    49.835938    52.455479   2317.0  2316       True
600761.SH 2020-02-21   119.953835   119.953835   2453.0  2452       True
603298.SH 2020-02-21    13.989390    14.381220    769.0   765       True
603638.SH 2020-02-21    70.299843    77.946960    755.0   748       True
603228.SH 2020-02-21    73.921318    81.137764    760.0   758       True
002698.SZ 2020-02-20    29.355358    31.429379   1788.0  1786       True
300349.SZ 2020-02-20    96.050003    99.835503   1626.0  1624       True
600446.SH 2020-02-20   358.886719   391.378510   2332.0  2331       True
002222.SZ 2020-02-20    35.400799    37.300987   2457.0  2455       True
603228.SH 2020-02-20    72.788765    81.137764    760.0   757       True
600363.SH 2020-02-20    49.350842    52.455479   2317.0  2315       True
002106.SZ 2020-02-20    36.311821    39.305519   2304.0  2302       True
601965.SH 2020-02-20    14.633960    16.166401   1866.0  1862       True
002698.SZ 2020-02-19    29.169230    31.429379   1788.0  1785       True
002458.SZ 2020-02-19   153.860168   167.174088   2204.0  2199       True
002222.SZ 2020-02-19    33.266338    37.300987   2457.0  2454       True
600363.SH 2020-02-19    49.059780    52.455479   2317.0  2314       True
002106.SZ 2020-02-19    34.832581    39.305519   2304.0  2301       True
300328.SZ 2020-02-19    56.958389    76.647705   1832.0  1827       True
002281.SZ 2020-02-19    97.869194   115.749138   2398.0  2394       True
002631.SZ 2020-02-19    35.481548    40.520348   1853.0  1848       True
002268.SZ 2020-02-19   241.088272   257.914307   2336.0  2331       True
          2020-02-18   238.028992   257.914307   2336.0  2330       True
002698.SZ 2020-02-18    28.132219    31.429379   1788.0  1784       True
600299.SH 2020-02-18    32.918701    33.155102   2320.0  2317       True
300059.SZ 2020-02-18   606.946289   780.911865   2350.0  2344       True
300114.SZ 2020-02-18    69.962402    76.161598   2225.0  2220       True
600491.SH 2020-02-18    84.387802    84.601440   2442.0  2439       True
002281.SZ 2020-02-18    98.128799   115.749138   2398.0  2393       True
002222.SZ 2020-02-18    33.839001    37.300987   2457.0  2453       True
600909.SH 2020-02-18     7.404670     9.037600    780.0   777       True
601808.SH 2020-02-17    21.082891    21.105671   2454.0  2453       True
000656.SZ 2020-02-17    49.143200    52.606750   2384.0  2374       True
603027.SH 2020-02-17    63.268078    70.007881    968.0   960       True
603259.SH 2020-01-21   138.377899   140.716843    421.0   419       True
          2020-01-20   138.941498   140.815460    419.0   418       True
603658.SH 2020-01-20   116.440720   124.264801    824.0   823       True
600093.SH 2020-01-15    54.548203    54.581356   2386.0  2385       True
600728.SH 2020-01-14   127.961906   133.213593   2212.0  2208       True
600460.SH 2020-01-14   244.627960   255.037643   2358.0  2354       True
002439.SZ 2020-01-14   303.322540   332.957031   2089.0  2083       True
601117.SH 2020-01-14     7.544331     8.317821   2435.0  2429       True
300020.SZ 2020-01-14    62.403000    64.858200   2268.0  2261       True
600588.SH 2020-01-14  1342.832153  1464.523682   2419.0  2413       True
002301.SZ 2020-01-14    62.820900    64.156502   2082.0  2078       True
002534.SZ 2020-01-14    16.951998    17.680000   2144.0  2139       True
600093.SH 2020-01-14    51.862240    54.581356   2386.0  2384       True
603108.SH 2020-01-14    58.289402    61.973732   1000.0   995       True
600894.SH 2020-01-14    26.386049    26.452429   2355.0  2354       True
600323.SH 2020-01-13    70.468399    76.645348   2357.0  2353       True
000028.SZ 2020-01-10   194.389908   202.709641   2319.0  2310       True
600057.SH 2020-01-10    40.816929    41.103703   1984.0  1983       True
603298.SH 2020-01-10    14.635380    14.974260    745.0   741       True
600285.SH 2020-01-10    72.758400    76.203400   2384.0  2379       True
600210.SH 2020-01-10    30.056170    30.440519   2427.0  2425       True
002818.SZ 2020-01-10    24.377401    24.807039    776.0   775       True
300244.SZ 2020-01-10   222.403992   288.651978   1985.0  1971       True
600057.SH 2020-01-09    41.868420    42.346367   1983.0  1982       True
002818.SZ 2020-01-09    24.750999    24.900440    775.0   774       True
603298.SH 2020-01-09    14.688330    14.974260    745.0   740       True
600210.SH 2020-01-09    30.363649    30.517389   2425.0  2424       True
300244.SZ 2020-01-09   226.757431   288.651978   1985.0  1970       True
002818.SZ 2020-01-08    24.377401    24.900440    775.0   773       True
603298.SH 2020-01-08    14.508300    15.037800    740.0   739       True
600728.SH 2020-01-08   128.474274   133.213593   2212.0  2204       True
600323.SH 2020-01-08    69.042946    76.645348   2357.0  2350       True
601118.SH 2020-01-07     5.325100     5.387140   2066.0  2057       True
603298.SH 2020-01-07    14.508300    15.037800    740.0   738       True

                          sell_at  sell_date         r
code      date
600316.SH 2020-05-18    58.390320 2020-05-22 -0.057746
300115.SZ 2020-05-15   198.456299 2020-05-21 -0.055368
002004.SZ 2020-04-17    99.764633 2020-04-23 -0.031540
603567.SH 2020-04-16    26.698502 2020-04-24  0.007905
600486.SH 2020-04-15   320.790009 2020-05-19  0.136668
002019.SZ 2020-04-15   270.994537 2020-05-06  0.014208
300685.SZ 2020-04-15   141.161896 2020-04-27 -0.012785
000488.SZ 2020-04-15    46.033760 2020-04-22 -0.044316
000989.SZ 2020-04-15    39.142197 2020-05-12  0.015982
000488.SZ 2020-04-14    46.033760 2020-04-22 -0.053435
002019.SZ 2020-04-14   265.592194 2020-04-22 -0.052604
300037.SZ 2020-04-10   146.938324 2020-05-14  0.153721
600486.SH 2020-04-10   310.902100 2020-05-14  0.119293
600491.SH 2020-04-09   103.935860 2020-05-13  0.186585
600486.SH 2020-04-09   309.090607 2020-05-13  0.092729
600592.SH 2020-04-09    46.527214 2020-04-14 -0.075247
          2020-04-08    46.826103 2020-04-13 -0.077829
002695.SZ 2020-03-03    77.849518 2020-03-18  0.081112
          2020-03-02    77.849518 2020-03-18  0.075504
          2020-02-28    77.849518 2020-03-18  0.151852
002685.SZ 2020-02-25    18.833759 2020-03-02 -0.033873
000877.SZ 2020-02-24    74.545929 2020-03-02  0.025824
002685.SZ 2020-02-24    18.833759 2020-02-27 -0.036711
601615.SH 2020-02-24    10.884920 2020-03-02 -0.094561
603298.SH 2020-02-24    13.714050 2020-03-02 -0.013709
002387.SZ 2020-02-24    51.911221 2020-02-27 -0.057494
600363.SH 2020-02-24    46.246201 2020-03-02 -0.088010
002698.SZ 2020-02-21    29.514900 2020-02-27 -0.017699
601375.SH 2020-02-21     5.624400 2020-02-28 -0.026786
002685.SZ 2020-02-21    18.833759 2020-02-27 -0.026706
000877.SZ 2020-02-21    74.545929 2020-03-02  0.018568
000878.SZ 2020-02-21    30.153601 2020-03-02 -0.093960
600363.SH 2020-02-21    49.771259 2020-02-27 -0.001298
600761.SH 2020-02-21   111.853683 2020-02-26 -0.067527
603298.SH 2020-02-21    13.714050 2020-03-02 -0.019682
603638.SH 2020-02-21    72.893600 2020-03-10  0.036896
603228.SH 2020-02-21    74.531166 2020-02-27  0.008250
002698.SZ 2020-02-20    29.514900 2020-02-27  0.005435
300349.SZ 2020-02-20    90.400002 2020-03-02 -0.058824
600446.SH 2020-02-20   353.143219 2020-02-26 -0.016004
002222.SZ 2020-02-20    34.411659 2020-02-27 -0.027941
603228.SH 2020-02-20    74.531166 2020-02-27  0.023938
600363.SH 2020-02-20    49.771259 2020-02-27  0.008519
002106.SZ 2020-02-20    36.804901 2020-02-27  0.013579
601965.SH 2020-02-20    14.970760 2020-02-28  0.023015
002698.SZ 2020-02-19    29.514900 2020-02-27  0.011851
002458.SZ 2020-02-19   149.453445 2020-03-02 -0.028641
002222.SZ 2020-02-19    34.411659 2020-02-27  0.034429
600363.SH 2020-02-19    49.771259 2020-02-27  0.014502
002106.SZ 2020-02-19    36.804901 2020-02-27  0.056623
300328.SZ 2020-02-19    65.322647 2020-02-27  0.146849
002281.SZ 2020-02-19   104.132050 2020-02-27  0.063992
002631.SZ 2020-02-19    35.649509 2020-02-28  0.004734
002268.SZ 2020-02-19   229.276047 2020-02-28 -0.048995
          2020-02-18   229.276047 2020-02-28 -0.036773
002698.SZ 2020-02-18    29.514900 2020-02-27  0.049149
600299.SH 2020-02-18    30.731998 2020-02-28 -0.066427
300059.SZ 2020-02-18   732.974609 2020-02-27  0.207643
300114.SZ 2020-02-18    71.733597 2020-02-27  0.025316
600491.SH 2020-02-18    80.649101 2020-03-02 -0.044304
002281.SZ 2020-02-18   104.132050 2020-02-27  0.061177
002222.SZ 2020-02-18    34.411659 2020-02-27  0.016923
600909.SH 2020-02-18     8.359780 2020-02-24  0.128988
601808.SH 2020-02-17    18.622652 2020-02-25 -0.116694
000656.SZ 2020-02-17    50.646248 2020-03-04  0.030585
603027.SH 2020-02-17    67.225922 2020-03-02  0.062557
603259.SH 2020-01-21   129.684372 2020-02-04 -0.062825
          2020-01-20   129.684372 2020-02-04 -0.066626
603658.SH 2020-01-20   116.754524 2020-01-23  0.002695
600093.SH 2020-01-15    51.696442 2020-01-20 -0.052280
600728.SH 2020-01-14   100.038292 2020-02-04 -0.218218
600460.SH 2020-01-14   238.233429 2020-01-22 -0.026140
002439.SZ 2020-01-14   297.329987 2020-02-04 -0.019756
601117.SH 2020-01-14     6.983830 2020-02-04 -0.074294
300020.SZ 2020-01-14    50.808998 2020-02-04 -0.185792
600588.SH 2020-01-14  1238.042236 2020-02-03 -0.078036
002301.SZ 2020-01-14    65.158195 2020-02-03  0.037206
002534.SZ 2020-01-14    13.624000 2020-02-04 -0.196319
600093.SH 2020-01-14    51.696442 2020-01-20 -0.003197
603108.SH 2020-01-14    52.460461 2020-02-03 -0.100000
600894.SH 2020-01-14    20.113140 2020-02-04 -0.237736
600323.SH 2020-01-13    70.176003 2020-02-04 -0.004149
000028.SZ 2020-01-10   185.320999 2020-02-04 -0.046653
600057.SH 2020-01-10    34.794762 2020-02-03 -0.147541
603298.SH 2020-01-10    12.782130 2020-02-03 -0.126628
600285.SH 2020-01-10    72.551697 2020-01-22 -0.002841
600210.SH 2020-01-10    24.367790 2020-02-04 -0.189258
002818.SZ 2020-01-10    19.557961 2020-02-04 -0.197701
300244.SZ 2020-01-10   263.288483 2020-02-11  0.183830
600057.SH 2020-01-09    40.052212 2020-01-17 -0.043379
002818.SZ 2020-01-09    23.480761 2020-01-22 -0.051321
603298.SH 2020-01-09    12.782130 2020-02-03 -0.129776
600210.SH 2020-01-09    29.441208 2020-01-23 -0.030380
300244.SZ 2020-01-09   263.288483 2020-02-11  0.161102
002818.SZ 2020-01-08    23.480761 2020-01-22 -0.036782
603298.SH 2020-01-08    14.328270 2020-01-22 -0.012409
600728.SH 2020-01-08   100.038292 2020-02-04 -0.221336
600323.SH 2020-01-08    70.176003 2020-02-04  0.016411
601118.SH 2020-01-07     4.001580 2020-02-04 -0.248544
603298.SH 2020-01-07    14.328270 2020-01-22 -0.012409

In [96]:
tmp.shape

(877, 8)

In [134]:
# //
# 5

# col0 = '5ma'
# df_tmp = df[[col]].copy()
# t0 = time.time()
# df_tmp['5ma_pct'] = df[col0].sort_index().groupby('code').pct_change()*100
# print(time.time()-t0)
# df_tmp.head(20)

t0 = time.time()
df_tmp['5ma_wd'] = 0
# df_tmp = df_tmp.drop(columns=['5ma_wd'])
mask_wd = df_tmp['5ma_pct']<0
df_tmp.loc[mask_wd,'5ma_wd'] = -df_tmp.loc[mask_wd,'5ma_pct']
print(time.time()-t0)
df_tmp.head(20)

win = 20
col1 = '5ma_pct'
col2 = '5ma_wd'
res = groupby_rolling(df_tmp,level="code",window=win,ops=[(col1,'mean'),(col1,'std'),(col2,np.nanmean),(col2,np.nanmedian)],check_col=col)
res_cols = ['p20mean_5ma_pct','p20std_5ma_pct','p20mean_5ma_wd','p20median_5ma_wd']
res.columns = res_cols
# res.head(100)
df_tmp[res_cols]= res
print(time.time()-t0)
df_tmp.head(100)

26.741673469543457

                             5ma   5ma_pct  p20mean_5ma_pct  p20std_5ma_pct  \
code      date
000001.SZ 2014-01-02         NaN       NaN              NaN             NaN
          2014-01-03         NaN       NaN              NaN             NaN
          2014-01-06         NaN       NaN              NaN             NaN
          2014-01-07         NaN       NaN              NaN             NaN
          2014-01-08  691.535645       NaN              NaN             NaN
          2014-01-09  686.747913 -0.692333              NaN             NaN
          2014-01-10  685.463391 -0.187044              NaN             NaN
          2014-01-13  684.645984 -0.119249              NaN             NaN
          2014-01-14  685.696948  0.153505              NaN             NaN
          2014-01-15  684.645972 -0.153271              NaN             NaN
          2014-01-16  683.127905 -0.221730              NaN             NaN
          2014-01-17  679.157581 -0.581198              NaN             NaN
          2014-01-20  675.654358 -0.515819              NaN             NaN
          2014-01-21  671.450488 -0.622192              NaN             NaN
          2014-01-22  672.851782  0.208697              NaN             NaN
          2014-01-23  672.968567  0.017357              NaN             NaN
          2014-01-24  675.070508  0.312339              NaN             NaN
          2014-01-27  676.121472  0.155682              NaN             NaN
          2014-01-28  677.756311  0.241797              NaN             NaN
          2014-01-29  675.070508 -0.396279              NaN             NaN

                      p20mean_5ma_wd  p20median_5ma_wd    5ma_wd
code      date
000001.SZ 2014-01-02             NaN               NaN  0.000000
          2014-01-03             NaN               NaN  0.000000
          2014-01-06             NaN               NaN  0.000000
          2014-01-07             NaN               NaN  0.000000
          2014-01-08             NaN               NaN  0.000000
          2014-01-09             NaN               NaN  0.692333
          2014-01-10             NaN               NaN  0.187044
          2014-01-13             NaN               NaN  0.119249
          2014-01-14             NaN               NaN  0.000000
          2014-01-15             NaN               NaN  0.153271
          2014-01-16             NaN               NaN  0.221730
          2014-01-17             NaN               NaN  0.581198
          2014-01-20             NaN               NaN  0.515819
          2014-01-21             NaN               NaN  0.622192
          2014-01-22             NaN               NaN  0.000000
          2014-01-23             NaN               NaN  0.000000
          2014-01-24             NaN               NaN  0.000000
          2014-01-27             NaN               NaN  0.000000
          2014-01-28             NaN               NaN  0.000000
          2014-01-29             NaN               NaN  0.396279

32.48338341712952

                             5ma   5ma_pct  p20mean_5ma_pct  p20std_5ma_pct  \
code      date
000001.SZ 2014-01-02         NaN       NaN              NaN             NaN
          2014-01-03         NaN       NaN              NaN             NaN
          2014-01-06         NaN       NaN              NaN             NaN
          2014-01-07         NaN       NaN              NaN             NaN
          2014-01-08  691.535645       NaN              NaN             NaN
          2014-01-09  686.747913 -0.692333              NaN             NaN
          2014-01-10  685.463391 -0.187044              NaN             NaN
          2014-01-13  684.645984 -0.119249              NaN             NaN
          2014-01-14  685.696948  0.153505              NaN             NaN
          2014-01-15  684.645972 -0.153271              NaN             NaN
          2014-01-16  683.127905 -0.221730              NaN             NaN
          2014-01-17  679.157581 -0.581198              NaN             NaN
          2014-01-20  675.654358 -0.515819              NaN             NaN
          2014-01-21  671.450488 -0.622192              NaN             NaN
          2014-01-22  672.851782  0.208697              NaN             NaN
          2014-01-23  672.968567  0.017357              NaN             NaN
          2014-01-24  675.070508  0.312339              NaN             NaN
          2014-01-27  676.121472  0.155682              NaN             NaN
          2014-01-28  677.756311  0.241797              NaN             NaN
          2014-01-29  675.070508 -0.396279              NaN             NaN
          2014-01-30  671.567285 -0.518942              NaN             NaN
          2014-02-07  668.297620 -0.486871              NaN             NaN
          2014-02-10  670.399548  0.314520              NaN             NaN
          2014-02-11  676.238257  0.870930              NaN             NaN
          2014-02-12  680.675659  0.656189        -0.078196        0.439435
          2014-02-13  690.251135  1.406760         0.026759        0.526987
          2014-02-14  698.425305  1.184231         0.095323        0.583844
          2014-02-17  703.096265  0.668784         0.134724        0.595083
          2014-02-18  699.125940 -0.564691         0.098815        0.615219
          2014-02-19  699.826599  0.100219         0.111489        0.612357
          2014-02-20  694.454993 -0.767562         0.084198        0.639549
          2014-02-21  688.849854 -0.807128         0.072901        0.653758
          2014-02-24  679.391162 -1.373114         0.030036        0.719218
          2014-02-25  671.917639 -1.100032         0.006144        0.749331
          2014-02-26  661.524744 -1.546751        -0.081628        0.823498
          2014-02-27  655.452490 -0.917918        -0.128392        0.843884
          2014-02-28  649.964111 -0.837342        -0.185876        0.851406
          2014-03-03  648.562817 -0.215596        -0.204440        0.847606
          2014-03-04  648.095703 -0.072023        -0.220131        0.841795
          2014-03-05  643.307971 -0.738738        -0.237254        0.849019
          2014-03-06  637.819592 -0.853150        -0.253964        0.858095
          2014-03-07  633.966052 -0.604174        -0.259829        0.860170
          2014-03-10  625.441565 -1.344628        -0.342787        0.881602
          2014-03-11  616.800293 -1.381627        -0.455415        0.862054
          2014-03-12  612.713208 -0.662627        -0.521355        0.822061
          2014-03-13  610.260962 -0.400227        -0.611705        0.687240
          2014-03-14  604.655798 -0.918486        -0.716841        0.543930
          2014-03-17  606.524170  0.308998        -0.734830        0.499856
          2014-03-18  608.159009  0.269542        -0.693118        0.547351
          2014-03-19  606.874487 -0.211215        -0.708690        0.527670
          2014-03-20  601.502881 -0.885126        -0.714568        0.529013
          2014-03-21  606.991260  0.912444        -0.628590        0.641052
          2014-03-24  610.728027  0.615621        -0.529153        0.672935
          2014-03-25  613.297058  0.420651        -0.453119        0.690713
          2014-03-26  618.668665  0.875857        -0.331988        0.701175
          2014-03-27  626.492517  1.264627        -0.222861        0.771498
          2014-03-28  626.375745 -0.018639        -0.181926        0.758794
          2014-03-31  626.142200 -0.037285        -0.173010        0.759424
          2014-04-01  628.477686  0.372996        -0.150759        0.768998
          2014-04-02  630.929944  0.390190        -0.094313        0.764990
          2014-04-03  630.929944  0.000000        -0.051655        0.743946
          2014-04-04  631.046716  0.018508        -0.020521        0.732548
          2014-04-08  637.002185  0.943745         0.093897        0.692464
          2014-04-09  641.556360  0.714939         0.198726        0.611270
          2014-04-10  646.811182  0.819074         0.272811        0.590829
          2014-04-11  654.167944  1.137390         0.349691        0.598630
          2014-04-14  659.889868  0.874687         0.439350        0.528921
          2014-04-15  656.269885 -0.548574         0.396472        0.572971
          2014-04-16  653.934412 -0.355871         0.365201        0.596832
          2014-04-17  648.562805 -0.821429         0.334690        0.641757
          2014-04-18  641.556372 -1.080301         0.324931        0.662433
          2014-04-21  634.666711 -1.073898         0.225614        0.716416
          2014-04-22  635.717676  0.165593         0.203113        0.710566
          2014-04-23  639.337671  0.569434         0.210552        0.713735
          2014-04-24  643.191211  0.602739         0.196896        0.702866
          2014-04-25  648.446033  0.816992         0.174515        0.673593
          2014-04-28  652.416345  0.612281         0.206061        0.678825
          2014-04-29  653.584082  0.178986         0.216874        0.676463
          2014-04-30  651.715698 -0.285867         0.183931        0.684456
          2014-05-05  648.913135 -0.430029         0.142920        0.695923
          2014-05-06  645.409912 -0.539860         0.115927        0.712042
          2014-05-07  643.307983 -0.325673         0.098718        0.718649
          2014-05-08  640.622180 -0.417499         0.030656        0.698586
          2014-05-09  639.571216 -0.164054        -0.013294        0.680691
          2014-05-12  643.658301  0.639035        -0.022296        0.670213
          2014-05-13  646.927966  0.507982        -0.053766        0.626227
          2014-05-14  652.299573  0.830325        -0.055984        0.622835
          2014-05-15  655.335693  0.465449        -0.005283        0.621898
          2014-05-16  657.904724  0.392018         0.032111        0.622193
          2014-05-19  657.087317 -0.124244         0.066970        0.590582
          2014-05-20  657.204102  0.017773         0.121874        0.525801
          2014-05-21  657.437646  0.035536         0.177346        0.445380
          2014-05-22  659.773132  0.355241         0.186828        0.447132
          2014-05-23  663.393115  0.548671         0.185790        0.446220
          2014-05-26  667.013098  0.545677         0.182937        0.443588
          2014-05-27  670.983411  0.595238         0.171849        0.429452
          2014-05-28  674.136316  0.469893         0.164730        0.422896
          2014-05-29  675.420825  0.190541         0.165308        0.422925
          2014-05-30  674.486633 -0.138313         0.172685        0.415868
          2014-06-03  673.669226 -0.121190         0.188127        0.397645

                      p20mean_5ma_wd  p20median_5ma_wd    5ma_wd
code      date
000001.SZ 2014-01-02             NaN               NaN  0.000000
          2014-01-03             NaN               NaN  0.000000
          2014-01-06             NaN               NaN  0.000000
          2014-01-07             NaN               NaN  0.000000
          2014-01-08             NaN               NaN  0.000000
          2014-01-09             NaN               NaN  0.692333
          2014-01-10             NaN               NaN  0.187044
          2014-01-13             NaN               NaN  0.119249
          2014-01-14             NaN               NaN  0.000000
          2014-01-15             NaN               NaN  0.153271
          2014-01-16             NaN               NaN  0.221730
          2014-01-17             NaN               NaN  0.581198
          2014-01-20             NaN               NaN  0.515819
          2014-01-21             NaN               NaN  0.622192
          2014-01-22             NaN               NaN  0.000000
          2014-01-23             NaN               NaN  0.000000
          2014-01-24             NaN               NaN  0.000000
          2014-01-27             NaN               NaN  0.000000
          2014-01-28             NaN               NaN  0.000000
          2014-01-29             NaN               NaN  0.396279
          2014-01-30             NaN               NaN  0.518942
          2014-02-07             NaN               NaN  0.486871
          2014-02-10             NaN               NaN  0.000000
          2014-02-11             NaN               NaN  0.000000
          2014-02-12        0.224746          0.136260  0.000000
          2014-02-13        0.190130          0.059624  0.000000
          2014-02-14        0.180778          0.000000  0.000000
          2014-02-17        0.174815          0.000000  0.000000
          2014-02-18        0.203050          0.000000  0.564691
          2014-02-19        0.195386          0.000000  0.000000
          2014-02-20        0.222678          0.000000  0.767562
          2014-02-21        0.233974          0.000000  0.807128
          2014-02-24        0.276839          0.000000  1.373114
          2014-02-25        0.300731          0.000000  1.100032
          2014-02-26        0.378069          0.000000  1.546751
          2014-02-27        0.423964          0.198139  0.917918
          2014-02-28        0.465832          0.441575  0.837342
          2014-03-03        0.476611          0.441575  0.215596
          2014-03-04        0.480212          0.441575  0.072023
          2014-03-05        0.497335          0.502906  0.738738
          2014-03-06        0.514046          0.525781  0.853150
          2014-03-07        0.519911          0.584433  0.604174
          2014-03-10        0.587142          0.671456  1.344628
          2014-03-11        0.656224          0.753150  1.381627
          2014-03-12        0.689355          0.753150  0.662627
          2014-03-13        0.709366          0.753150  0.400227
          2014-03-14        0.755291          0.787345  0.918486
          2014-03-17        0.755291          0.787345  0.000000
          2014-03-18        0.727056          0.787345  0.000000
          2014-03-19        0.737617          0.787345  0.211215
          2014-03-20        0.743495          0.822235  0.885126
          2014-03-21        0.703139          0.788040  0.000000
          2014-03-24        0.634483          0.700683  0.000000
          2014-03-25        0.579481          0.633400  0.000000
          2014-03-26        0.502144          0.502201  0.000000
          2014-03-27        0.456248          0.307911  0.000000
          2014-03-28        0.415313          0.213405  0.018639
          2014-03-31        0.406397          0.141619  0.037285
          2014-04-01        0.402796          0.124250  0.000000
          2014-04-02        0.365859          0.027962  0.000000
          2014-04-03        0.323202          0.009320  0.000000
          2014-04-04        0.292993          0.000000  0.000000
          2014-04-08        0.225762          0.000000  0.000000
          2014-04-09        0.156680          0.000000  0.000000
          2014-04-10        0.123549          0.000000  0.000000
          2014-04-11        0.103538          0.000000  0.000000
          2014-04-14        0.057613          0.000000  0.000000
          2014-04-15        0.085042          0.000000  0.548574
          2014-04-16        0.102836          0.000000  0.355871
          2014-04-17        0.133346          0.000000  0.821429
          2014-04-18        0.143105          0.000000  1.080301
          2014-04-21        0.196800          0.000000  1.073898
          2014-04-22        0.196800          0.000000  0.000000
          2014-04-23        0.196800          0.000000  0.000000
          2014-04-24        0.196800          0.000000  0.000000
          2014-04-25        0.196800          0.000000  0.000000
          2014-04-28        0.195868          0.000000  0.000000
          2014-04-29        0.194004          0.000000  0.000000
          2014-04-30        0.208297          0.000000  0.285867
          2014-05-05        0.229798          0.000000  0.430029
          2014-05-06        0.256791          0.000000  0.539860
          2014-05-07        0.273075          0.000000  0.325673
          2014-05-08        0.293950          0.142934  0.417499
          2014-05-09        0.302153          0.224961  0.164054
          2014-05-12        0.302153          0.224961  0.000000
          2014-05-13        0.302153          0.224961  0.000000
          2014-05-14        0.302153          0.224961  0.000000
          2014-05-15        0.274724          0.082027  0.000000
          2014-05-16        0.256931          0.000000  0.000000
          2014-05-19        0.222071          0.000000  0.124244
          2014-05-20        0.168056          0.000000  0.000000
          2014-05-21        0.114361          0.000000  0.000000
          2014-05-22        0.114361          0.000000  0.000000
          2014-05-23        0.114361          0.000000  0.000000
          2014-05-26        0.114361          0.000000  0.000000
          2014-05-27        0.114361          0.000000  0.000000
          2014-05-28        0.114361          0.000000  0.000000
          2014-05-29        0.114361          0.000000  0.000000
          2014-05-30        0.106984          0.000000  0.138313
          2014-06-03        0.091542          0.000000  0.121190

In [131]:
df_tmp[res_cols].agg(agg_operations[:-1])

        p20mean_5ma_pct  p20std_5ma_pct  p20mean_5ma_wd  p20median_5ma_wd
mean           0.017284        1.140963        1.341097          1.209246
median         0.000000        0.924713        1.104403          0.963945
max           26.662018       86.326063       10.258421          9.910443
min          -10.258421        0.000000        0.086959          0.058994
std            0.719532        0.957275        0.900618          0.894976

In [124]:
start_date = '-'.join([str(start)[:4],str(start)[4:6],str(start)[6:8]])
t0 = time.time()
df_r = pd.read_parquet(r"database\return_spc_5%_30%_20_8_inf%").loc[idx[:,start_date:],:].sort_index()
print(time.time()-t0)
df_r.shape
df_r.head()

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:707: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:734: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:751: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

17.45993208885193

(4593560, 8)

                          buy_at         max  max_idx  idx  is_selled  \
code      date
000001.SZ 2014-01-02  709.402039  709.985901    899.0  898       True
          2014-01-03  694.221436  700.644043    900.0  899       True
          2014-01-06  673.202087  700.060120    903.0  900       True
          2014-01-07  679.624695  700.060120    903.0  901       True
          2014-01-08  682.544006  700.060120    903.0  902       True

                         sell_at  sell_date         r
code      date
000001.SZ 2014-01-02  680.792419 2014-01-16 -0.040329
          2014-01-03  678.456970 2014-01-17 -0.022708
          2014-01-06  663.276306 2014-01-22 -0.014744
          2014-01-07  660.940857 2014-01-21 -0.027491
          2014-01-08  660.940857 2014-01-21 -0.031651

In [128]:
df_r.loc[idx['300661.SZ','2019-07-08'],:]

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
300661.SZ,2019-07-08,138.85199,198.946777,530.0,510,True,182.079971,2019-08-06,0.311324

In [129]:
df_tmp.loc[idx['300661.SZ','2019-07-08']]

5ma                 134.373236
5ma_pct              -1.093116
5ma_wd                1.093116
p20mean_5ma_pct       0.400806
p20std_5ma_pct        0.766448
p20mean_5ma_wd        0.144321
p20median_5ma_wd      0.000000
Name: (300661.SZ, 2019-07-08 00:00:00), dtype: float64

In [233]:
# t0 = time.time()
# groupby_rolling(df,level="code",window=10,ops=[('turnover_rate','mean'),('amt','mean')],check_col='open')
# df['p10mean_turnover_rate'] = df.reset_index('code').groupby('code')['turnover_rate'].rolling(10).mean()
# df['p10mean_amt'] = df.reset_index('code').groupby('code')['amt'].rolling(10).mean()
print(time.time()-t0)
masks = [df_tmp['p20mean_5ma_pct']>0.4,
         df_tmp['p20mean_5ma_pct']<2,
         df_tmp['p20std_5ma_pct']<df_tmp['p20mean_5ma_pct']*1.5,
         df_tmp['p20mean_5ma_wd']<0.4*df_tmp['p20mean_5ma_pct'],
         df['close/5ma']<1,
         df['close/250ma']>1.2,
# #          df['close/120ma']>1.2,
         df['close/60ma']>1.1,
         df['close/60ma']<1.15,
         df['circ_mv']>100e4, 
         df['total_mv']>200e4,
         df['close0']>5,
         df['p10mean_amt']>2,
         df['p10mean_turnover_rate']<5,
         df.index.get_level_values('date')>='2016-01-01',
        ]
print(time.time()-t0)
mask_final = True
for m in masks:
    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

3109.113456964493
3109.294352531433

(1059185, 4896413, 0.2163, 0.2163)

(4745329, 4896413, 0.9691, 0.2055)

(568706, 4896413, 0.1161, 0.0931)

(1001912, 4896413, 0.2046, 0.0931)

(2245651, 4896413, 0.4586, 0.0345)

(308493, 4896413, 0.063, 0.0057)

(654876, 4896413, 0.1337, 0.0049)

(3404192, 4896413, 0.6952, 0.0011)

(1009268, 4896413, 0.2061, 0.0005)

(663418, 4896413, 0.1355, 0.0004)

(4035222, 4896413, 0.8241, 0.0004)

(1043766, 4896413, 0.2132, 0.0003)

(3748583, 4896413, 0.7656, 0.0003)

(3612569, 4896413, 0.7378, 0.0002)

In [234]:
index= df_tmp.index[mask_final]
df_r.loc[index,'r'].agg(agg_operations)
df_r.loc[index].reset_index('code')['r'].resample('Q').agg(agg_operations)

mean         0.004578
median      -0.021593
max          0.594212
min         -0.229320
std          0.086037
size      1167.000000
Name: r, dtype: float64

                mean    median       max       min       std  size
date
2016-06-30  0.055684  0.055684  0.055813  0.055556  0.000182     2
2016-09-30  0.046373  0.001853  0.594212 -0.042891  0.133076    25
2016-12-31  0.004687 -0.006033  0.191933 -0.068240  0.070488    19
2017-03-31  0.036068  0.014322  0.287273 -0.053846  0.082702    51
2017-06-30  0.020096 -0.009204  0.220970 -0.087986  0.064850    81
2017-09-30  0.011202 -0.018797  0.284488 -0.093929  0.077916   103
2017-12-31  0.006697 -0.028454  0.369738 -0.112539  0.091876   136
2018-03-31 -0.013743 -0.027976  0.261132 -0.125000  0.065503    79
2018-06-30 -0.009184 -0.026832  0.179697 -0.072161  0.057147    62
2018-09-30 -0.109030 -0.054419 -0.032617 -0.229320  0.089493     8
2018-12-31 -0.087978 -0.087978 -0.087978 -0.087978       NaN     1
2019-03-31  0.074564  0.013333  0.436713 -0.046196  0.147189    21
2019-06-30 -0.007564 -0.019725  0.118947 -0.115226  0.053682    49
2019-09-30 -0.006894 -0.029392  0.256579 -0.138921  0.062912   173
2019-12-31  0.028940 -0.006111  0.291535 -0.085622  0.081102   113
2020-03-31 -0.016744 -0.042137  0.455056 -0.211961  0.122125   133
2020-06-30 -0.003050 -0.013407  0.187455 -0.100865  0.062427   111

In [222]:
tmp = df_r.loc[index].sort_values('date',ascending=False)
tmp[tmp['r'].notnull()].tail(30)

                           buy_at          max  max_idx   idx  is_selled  \
code      date
002299.SZ 2016-07-25    59.669960    65.173500   1530.0  1523       True
300017.SZ 2016-07-25   553.424622   590.885986   1559.0  1556       True
000983.SZ 2016-07-22    56.830959    59.799282   1586.0  1583       True
002299.SZ 2016-07-22    60.932053    61.904480   1523.0  1522       True
300017.SZ 2016-07-22   550.798401   590.885986   1559.0  1555       True
600519.SH 2016-07-22  2154.738037  2245.802979   1588.0  1585       True
002508.SZ 2016-07-21   188.190369   199.234985   1375.0  1369       True
300017.SZ 2016-07-21   556.127991   590.885986   1559.0  1554       True
002299.SZ 2016-07-21    60.911362    61.904480   1523.0  1521       True
000983.SZ 2016-07-20    56.274403    59.799282   1586.0  1581       True
300017.SZ 2016-07-20   560.607910   590.885986   1559.0  1553       True
600519.SH 2016-07-20  2172.600830  2245.802979   1588.0  1583       True
002007.SZ 2016-07-20   677.446045   835.788818   1586.0  1571       True
002001.SZ 2016-07-20   325.020386   363.795288   1581.0  1569       True
002508.SZ 2016-07-20   188.958694   199.234985   1375.0  1368       True
600519.SH 2016-07-19  2161.883057  2245.802979   1588.0  1582       True
002001.SZ 2016-07-19   325.768951   363.795288   1581.0  1568       True
300017.SZ 2016-07-19   560.376221   590.885986   1559.0  1552       True
600809.SH 2016-07-18   100.568039   101.285782   1584.0  1583       True
002500.SZ 2016-07-15    17.012999    17.012999   1260.0  1259       True
          2016-07-14    17.426399    17.490000   1259.0  1258       True
000596.SZ 2016-07-01   153.230484   176.691452   1573.0  1566       True
          2016-06-24   152.708405   176.691452   1573.0  1561       True
600519.SH 2016-06-24  1885.674927  2289.233887   1574.0  1565       True
600549.SH 2016-06-23   257.634766   324.835358   1562.0  1552       True
600519.SH 2016-06-23  1887.594971  2289.233887   1574.0  1564       True
000596.SZ 2016-06-23   151.404007   176.691452   1573.0  1560       True
600519.SH 2016-06-21  1877.240723  2289.233887   1574.0  1562       True
          2016-06-13  1835.687378  2289.233887   1574.0  1556       True
          2016-06-08  1874.360962  2289.233887   1574.0  1555       True

                          sell_at  sell_date         r
code      date
002299.SZ 2016-07-25    59.938931 2016-08-11  0.004508
300017.SZ 2016-07-25   579.145569 2016-08-10  0.046476
000983.SZ 2016-07-22    55.408642 2016-08-08 -0.025027
002299.SZ 2016-07-22    58.656151 2016-07-28 -0.037351
300017.SZ 2016-07-22   579.145569 2016-08-10  0.051466
600519.SH 2016-07-22  2158.730957 2016-08-09  0.001853
002508.SZ 2016-07-21   185.357193 2016-08-08 -0.015055
300017.SZ 2016-07-21   579.145569 2016-08-10  0.041389
002299.SZ 2016-07-21    58.656151 2016-07-28 -0.037024
000983.SZ 2016-07-20    55.408642 2016-08-08 -0.015385
300017.SZ 2016-07-20   579.145569 2016-08-10  0.033067
600519.SH 2016-07-20  2158.730957 2016-08-09 -0.006384
002007.SZ 2016-07-20   784.980408 2016-08-18  0.158735
002001.SZ 2016-07-20   343.135315 2016-08-18  0.055735
002508.SZ 2016-07-20   185.357193 2016-08-08 -0.019060
600519.SH 2016-07-19  2158.730957 2016-08-09 -0.001458
002001.SZ 2016-07-19   345.081543 2016-08-17  0.059283
300017.SZ 2016-07-19   579.145569 2016-08-10  0.033494
600809.SH 2016-07-18    92.419579 2016-07-28 -0.081024
002500.SZ 2016-07-15    15.507799 2016-07-28 -0.088473
          2016-07-14    16.461800 2016-07-19 -0.055353
000596.SZ 2016-07-01   161.192200 2016-07-15  0.051959
          2016-06-24   161.192200 2016-07-15  0.055556
600519.SH 2016-06-24  2161.883057 2016-07-20  0.146477
600549.SH 2016-06-23   303.578033 2016-07-20  0.178327
600519.SH 2016-06-23  2161.883057 2016-07-20  0.145311
000596.SZ 2016-06-23   159.854370 2016-07-18  0.055813
600519.SH 2016-06-21  2161.883057 2016-07-20  0.151628
          2016-06-13  2211.898926 2016-07-12  0.204943
          2016-06-08  2164.755127 2016-07-11  0.154930