In [1]:
import pandas as pd
import numpy as np
import itertools
import lightgbm as lgbm
import matplotlib.pyplot as plt

from script import *
from feature_engineering import *
import db_operations as dbop
from constants import *
import data_process as dp

import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
pd.set_option('display.max_rows',200)
idx = pd.IndexSlice
agg_operations =['mean','median','max','min','std','size']

In [8]:
start = 20130101
cursor = dbop.connect_db("sqlite3").cursor()

t0 = time.time()
df_d = dbop.create_df(cursor, STOCK_DAY[TABLE], start=start)
print('读取：',time.time()-t0)
df_d = dp.proc_stock_d(dp.prepare_stock_d(df_d))
print('预处理：',time.time()-t0)
df_d = df_d.drop(columns=['open0','high0','low0','vol0'])
df_d['pct'] = df_d.sort_index().groupby('code')['close'].pct_change()*100
df_d['amt']/=1e5

df_d = df_d.sort_index()
df_d['prev_close'] = df_d['close'].sort_index().groupby('code').shift(1)
print('数据准备：',time.time()-t0)
df_d[['close','prev_close']].head()


df_d['day_pct'] = ((df_d['close']-df_d['open'])/df_d['prev_close'])*100
df_d['prev_pct'] = df_d['pct'].sort_index().groupby('code').shift(1)
df_d['prev_day_pct'] = df_d['day_pct'].sort_index().groupby('code').shift(1)
df_d[['prev_close','open','close','pct','prev_pct','day_pct','prev_day_pct']].head()
print('日内涨幅：',time.time()-t0)

##
min_periods = 1
periods = [5,10,20,30,40,60,120,250]
for k in periods:
#     df_d['{:d}ma'.format(k)]=df_d.reset_index('code').groupby('code')['close'].rolling(k).mean()
    df_d_tmp = groupby_rolling(df_d[['close']],level="code",window=k,ops='mean',min_periods=min_periods)
    df_d['{:d}ma'.format(k)] = df_d_tmp[df_d_tmp.columns[0]]
#     df_d['{:d}ma_avg'.format(k)]=df_d.reset_index('code').groupby('code')['amt'].rolling(k).sum()\
#             /df_d.reset_index('code').groupby('code')['vol'].rolling(k).sum()*1e6
print(df_d.columns)
print("均线数据准备：",time.time()-t0)

for col2 in ["{}ma".format(k) for k in periods]:
    col1 = 'close'
    df_d['{}/{}'.format(col1,col2)] = df_d[col1]/df_d[col2]
# for col2 in ["{}ma_avg".format(k) for k in periods]:
#     col1 = 'close'
#     df_d['{}/{}'.format(col1,col2)] = df_d[col1]/df_d[col2]
print("均线相对距离计算：",time.time()-t0)
print(df_d.columns)

df_d = df_d.sort_index()
for k in periods:
    df_d['{}ma_pct'.format(k)] = df_d['{}ma'.format(k)].groupby('code').pct_change()*100
# df_d_d[['30ma_pct','60ma_pct']] = df_d_d[['30ma','60ma']].sort_index().groupby('code').pct_change()*100 # 13s
print("均线涨幅计算：",time.time()-t0)


df_d = df_d.astype('float32')
print("数据压缩：",time.time()-t0)
print(df_d.columns)
print(df_d.shape)
df_d.info(memory_usage='deep')
df_d.tail()

select * from stock_day where date>=20130101
读取： 56.013014793395996
预处理： 73.46423101425171
数据准备： 100.30675888061523

                           close  prev_close
code      date
000001.SZ 2013-01-04  578.406250         NaN
          2013-01-07  589.619873  578.406250
          2013-01-08  578.768005  589.619873
          2013-01-09  573.703796  578.768005
          2013-01-10  574.065491  573.703796

                      prev_close        open       close       pct  prev_pct  \
code      date
000001.SZ 2013-01-04         NaN  590.343384  578.406250       NaN       NaN
          2013-01-07  578.406250  578.044556  589.619873  1.938713       NaN
          2013-01-08  589.619873  589.619873  578.768005 -1.840484  1.938713
          2013-01-09  578.768005  577.321106  573.703796 -0.874996 -1.840484
          2013-01-10  573.703796  573.703796  574.065491  0.063050 -0.874996

                       day_pct  prev_day_pct
code      date
000001.SZ 2013-01-04       NaN           NaN
          2013-01-07  2.001243           NaN
          2013-01-08 -1.840485      2.001243
          2013-01-09 -0.625002     -1.840485
          2013-01-10  0.063045     -0.625002

日内涨幅： 115.21487236022949
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'prev_close', 'day_pct', 'prev_pct',
       'prev_day_pct', '5ma', '10ma', '20ma', '30ma', '40ma', '60ma', '120ma',
       '250ma'],
      dtype='object')
均线数据准备： 185.21317625045776
均线相对距离计算： 185.4610297679901
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'prev_close', 'day_pct', 'prev_pct',
       'prev_day_pct', '5ma', '10ma', '20ma', '30ma', '40ma', '60ma', '120ma',
       '250ma', 'close/5ma', 'close/10ma', 'close/20ma', 'close/30ma',
       'close/40ma', 'close/60ma', 'close/120ma', 'close/250ma'],
      dtype='object')
均线涨幅计算： 202.34426498413086

NameError: name 'ime' is not defined

In [9]:
df_d_basic = dbop.create_df(cursor, STOCK_DAILY_BASIC[TABLE], start=start)
df_d_basic = dp.prepare_stock_d_basic(df_d_basic)
#
df_d_basic["pb*pe_ttm"] = df_d_basic["pb"] * df_d_basic["pe_ttm"]
df_d_basic["pb*pe"] = df_d_basic["pb"] * df_d_basic["pe"]

df_d_basic = df_d_basic.astype('float32')
print(df_d_basic.columns)
print(df_d_basic.shape)
df_d_basic.info(memory_usage='deep')
df_d_basic.tail()

select * from stock_daily_basic where date>=20130101
Index(['close', 'turnover_rate', 'turnover_rate_f', 'volume_ratio', 'pe',
       'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share', 'float_share',
       'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm', 'pb*pe'],
      dtype='object')
(5692844, 16)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 5692844 entries, (000001.SZ, 2013-01-04 00:00:00) to (688981.SH, 2020-12-16 00:00:00)
Data columns (total 16 columns):
close              float32
turnover_rate      float32
turnover_rate_f    float32
volume_ratio       float32
pe                 float32
pe_ttm             float32
pb                 float32
ps                 float32
ps_ttm             float32
total_share        float32
float_share        float32
free_share         float32
total_mv           float32
circ_mv            float32
pb*pe_ttm          float32
pb*pe              float32
dtypes: float32(16)
memory usage: 369.5 MB

                          close  turnover_rate  turnover_rate_f  volume_ratio  \
code      date
688981.SH 2020-12-10  61.000000         3.4434           3.4434          1.01
          2020-12-11  60.990002         3.8558           3.8558          1.05
          2020-12-14  60.619999         2.1441           2.1441          0.61
          2020-12-15  58.430000         3.3846           3.3846          1.10
          2020-12-16  55.200001         7.3458           7.3458          2.37

                              pe      pe_ttm      pb       ps     ps_ttm  \
code      date
688981.SH 2020-12-10  261.855988  126.017303  4.7265  21.3330  17.496401
          2020-12-11  261.813110  125.996696  4.7257  21.3295  17.493500
          2020-12-14  260.224792  125.232300  4.6970  21.2001  17.387400
          2020-12-15  250.823700  120.708099  4.5273  20.4342  16.759199
          2020-12-16  236.958298  114.035400  4.2771  19.3046  15.832800

                      total_share  float_share  free_share    total_mv  \
code      date
688981.SH 2020-12-10  770013.0625   104023.125  104023.125  46970800.0
          2020-12-11  770013.0625   104023.125  104023.125  46963100.0
          2020-12-14  770013.0625   104023.125  104023.125  46678192.0
          2020-12-15  770013.0625   104023.125  104023.125  44991864.0
          2020-12-16  770013.0625   104023.125  104023.125  42504724.0

                        circ_mv   pb*pe_ttm        pb*pe
code      date
688981.SH 2020-12-10  6345410.5  595.620789  1237.662354
          2020-12-11  6344370.0  595.422546  1237.250244
          2020-12-14  6305881.5  588.216125  1222.275879
          2020-12-15  6078071.0  546.481750  1135.554077
          2020-12-16  5742076.5  487.740814  1013.494385

In [10]:
t0 = time.time()
df = df_d.join(df_d_basic.drop(columns=['close']),how='left') # 60s
print(time.time()-t0)
df.shape

d_basic_cols = df_d_basic.columns

%time df.to_hdf(os.path.join('datasets','df_20130101.h5'),key='data') #41s 

del df_d_basic,df_d

59.854188203811646

(6021688, 54)

Wall time: 41 s

In [12]:
df.columns
%time df = df.sort_index() # 25.7s

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'prev_close', 'day_pct', 'prev_pct',
       'prev_day_pct', '5ma', '10ma', '20ma', '30ma', '40ma', '60ma', '120ma',
       '250ma', 'close/5ma', 'close/10ma', 'close/20ma', 'close/30ma',
       'close/40ma', 'close/60ma', 'close/120ma', 'close/250ma', '5ma_pct',
       '10ma_pct', '20ma_pct', '30ma_pct', '40ma_pct', '60ma_pct', '120ma_pct',
       '250ma_pct', 'turnover_rate', 'turnover_rate_f', 'volume_ratio', 'pe',
       'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share', 'float_share',
       'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm', 'pb*pe'],
      dtype='object')

Wall time: 25.7 s

In [ ]:
eval_date_start = '2016-01-01'
mask_date = df.index.get_level_values('date')>='2016-01-01'