In [1]:
import pandas as pd
import numpy as np
import itertools
import lightgbm as lgbm
import matplotlib.pyplot as plt

from script import *
from feature_engineering import *
import db_operations as dbop
from constants import *
import data_process as dp

import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
pd.set_option('display.max_rows',200)
idx = pd.IndexSlice
agg_operations =['mean','median','max','min','std','size']

In [3]:
start = 20140101
cursor = dbop.connect_db("sqlite3").cursor()

t0 = time.time()
df_d = dbop.create_df(cursor, STOCK_DAY[TABLE], start=start)
print('读取：',time.time()-t0)
df_d = dp.proc_stock_d(dp.prepare_stock_d(df_d))
print('预处理：',time.time()-t0)
df_d = df_d.drop(columns=['open0','high0','low0','vol0'])
df_d['pct'] = df_d.sort_index().groupby('code')['close'].pct_change()*100
df_d['amt']/=1e5

df_d = df_d.sort_index()
df_d['prev_close'] = df_d['close'].sort_index().groupby('code').shift(1)
print('数据准备：',time.time()-t0)
df_d[['close','prev_close']].head()


df_d['day_pct'] = ((df_d['close']-df_d['open'])/df_d['prev_close'])*100
df_d['prev_pct'] = df_d['pct'].sort_index().groupby('code').shift(1)
df_d['prev_day_pct'] = df_d['day_pct'].sort_index().groupby('code').shift(1)
df_d[['prev_close','open','close','pct','prev_pct','day_pct','prev_day_pct']].head()
print('日内涨幅：',time.time()-t0)

##
periods = [5,10,20,30,40,60,120,250]
for k in periods:
#     df_d['{:d}ma'.format(k)]=df_d.reset_index('code').groupby('code')['close'].rolling(k).mean()
    df_d_tmp = groupby_rolling(df_d[['close']],level="code",window=k,ops='mean',min_periods=min_periods)
    df_d['{:d}ma'.format(k)] = df_d_tmp[df_d_tmp.columns[0]]
#     df_d['{:d}ma_avg'.format(k)]=df_d.reset_index('code').groupby('code')['amt'].rolling(k).sum()\
#             /df_d.reset_index('code').groupby('code')['vol'].rolling(k).sum()*1e6
print(df_d.columns)
print("均线数据准备："，time.time()-t0)

for col2 in ["{}ma".format(k) for k in periods]:
    col1 = 'close'
    df_d['{}/{}'.format(col1,col2)] = df_d[col1]/df_d[col2]
# for col2 in ["{}ma_avg".format(k) for k in periods]:
#     col1 = 'close'
#     df_d['{}/{}'.format(col1,col2)] = df_d[col1]/df_d[col2]
print("均线相对距离计算："，time.time()-t0)
print(df_d.columns)

df_d_d[['30ma_pct','60ma_pct']] = df_d_d[['30ma','60ma']].sort_index().groupby('code').pct_change()*100 # 13s
print("均线涨幅计算："，time.time()-t0)


df_d = df_d.astype('float32')
print("数据压缩："，time.time()-t0)
print(df_d.columns)
print(df_d.shape)
df_d.info(memory_usage='deep')
df_d.tail()

select * from stock_day where date>=20140101
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct'],
      dtype='object')
(4896413, 11)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4896413 entries, (000001.SZ, 2014-01-02 00:00:00) to (688598.SH, 2020-05-29 00:00:00)
Data columns (total 11 columns):
open          float32
high          float32
low           float32
close         float32
vol           float32
amt           float32
adj_factor    float32
avg           float32
close0        float32
avg0          float32
pct           float32
dtypes: float32(11)
memory usage: 384.6 MB

                           open       high        low      close  \
code      date
688598.SH 2020-05-25  88.669998  88.669998  76.720001  78.300003
          2020-05-26  78.470001  81.500000  77.510002  79.580002
          2020-05-27  82.040001  93.150002  82.040001  90.300003
          2020-05-28  93.059998  94.970001  86.379997  92.360001
          2020-05-29  88.000000  91.330002  87.000000  88.099998

                               vol       amt  adj_factor        avg  \
code      date
688598.SH 2020-05-25  53744.101562  4.323187         1.0  80.440216
          2020-05-26  35312.359375  2.802792         1.0  79.371414
          2020-05-27  75112.562500  6.597441         1.0  87.834061
          2020-05-28  69327.757812  6.323590         1.0  91.212959
          2020-05-29  45330.218750  4.034555         1.0  89.003647

                         close0       avg0        pct
code      date
688598.SH 2020-05-25  78.300003  80.440216 -11.022722
          2020-05-26  79.580002  79.371414   1.634741
          2020-05-27  90.300003  87.834061  13.470721
          2020-05-28  92.360001  91.212959   2.281284
          2020-05-29  88.099998  89.003647  -4.612386

In [4]:
df_d_basic = dbop.create_df(cursor, STOCK_DAILY_BASIC[TABLE], start=start)
df_d_basic = dp.prepare_stock_d_basic(df_d_basic)
#
df_d_basic["pb*pe_ttm"] = df_d_basic["pb"] * df_d_basic["pe_ttm"]
df_d_basic["pb*pe"] = df_d_basic["pb"] * df_d_basic["pe"]

df_d_basic = df_d_basic.astype('float32')
print(df_d_basic.columns)
print(df_d_basic.shape)
df_d_basic.info(memory_usage='deep')
df_d_basic.tail()

select * from stock_daily_basic where date>=20140101
Index(['close', 'turnover_rate', 'turnover_rate_f', 'volume_ratio', 'pe',
       'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share', 'float_share',
       'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm', 'pb*pe'],
      dtype='object')
(4594496, 16)
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4594496 entries, (000001.SZ, 2014-01-02 00:00:00) to (688598.SH, 2020-05-29 00:00:00)
Data columns (total 16 columns):
close              float32
turnover_rate      float32
turnover_rate_f    float32
volume_ratio       float32
pe                 float32
pe_ttm             float32
pb                 float32
ps                 float32
ps_ttm             float32
total_share        float32
float_share        float32
free_share         float32
total_mv           float32
circ_mv            float32
pb*pe_ttm          float32
pb*pe              float32
dtypes: float32(16)
memory usage: 298.2 MB

                          close  turnover_rate  turnover_rate_f  volume_ratio  \
code      date
688598.SH 2020-05-25  78.300003      29.393801        29.393801          0.67
          2020-05-26  79.580002      19.313101        19.313101          0.55
          2020-05-27  90.300003      41.080700        41.080700          1.43
          2020-05-28  92.360001      37.916901        37.916901          1.34
          2020-05-29  88.099998      24.792101        24.792101          0.82

                             pe     pe_ttm      pb         ps     ps_ttm  \
code      date
688598.SH 2020-05-25  80.646301  67.683403  5.3239  26.152000  23.463699
          2020-05-26  81.964699  68.789803  5.4109  26.579500  23.847200
          2020-05-27  93.005898  78.056297  6.1398  30.159901  27.059601
          2020-05-28  95.127701  79.836998  6.2799  30.848000  27.677000
          2020-05-29  90.739998  76.154602  5.9902  29.425100  26.400400

                      total_share  float_share   free_share  total_mv  \
code      date
688598.SH 2020-05-25       8000.0  1828.415039  1828.415039  626400.0
          2020-05-26       8000.0  1828.415039  1828.415039  636640.0
          2020-05-27       8000.0  1828.415039  1828.415039  722400.0
          2020-05-28       8000.0  1828.415039  1828.415039  738880.0
          2020-05-29       8000.0  1828.415039  1828.415039  704800.0

                            circ_mv   pb*pe_ttm       pb*pe
code      date
688598.SH 2020-05-25  143164.890625  360.339691  429.352875
          2020-05-26  145505.265625  372.214752  443.502808
          2020-05-27  165105.875000  479.250061  571.037598
          2020-05-28  168872.406250  501.368378  597.392456
          2020-05-29  161083.359375  456.181305  543.550720

In [5]:
t0 = time.time()
df = df_d.join(df_d_basic.drop(columns=['close']),how='left')
print(time.time()-t0)
df.shape

d_basic_cols = df_d_basic.columns
del df_d_basic

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share',
       'float_share', 'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm',
       'pb*pe', '5ma', '10ma', '20ma', '40ma', '60ma', '120ma', '250ma'],
      dtype='object')
Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share',
       'float_share', 'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm',
       'pb*pe', '5ma', '10ma', '20ma', '40ma', '60ma', '120ma', '250ma',
       'close/5ma', 'close/10ma', 'close/20ma', 'close/40ma', 'close/60ma',
       'close/120ma', 'close/250ma'],
      dtype='object')

In [286]:
start = 20140101
start_date = '-'.join([str(start)[:4],str(start)[4:6],str(start)[6:8]])
t0 = time.time()
df_r = pd.read_parquet(r"database\return_spc_5%_10%_20_8_inf%").loc[idx[:,start_date:],:].sort_index()
# df_r = pd.read_parquet(r"database\return_spc_5%_30%_60_8_inf%").loc[idx[:,start_date:],:].sort_index()
print(time.time()-t0)
df_r.shape
df_r.head()

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:707: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:734: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:751: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

23.825343370437622

(4593560, 11)

                         sell_at  sell_at0  sell_date  sell_idx      buy_at  \
code      date
000001.SZ 2014-01-02  680.792419     11.66 2014-01-16     908.0  709.402039
          2014-01-03  678.456970     11.62 2014-01-17     909.0  694.221436
          2014-01-06  663.276306     11.36 2014-01-22     912.0  673.202087
          2014-01-07  660.940857     11.32 2014-01-21     911.0  679.624695
          2014-01-08  660.940857     11.32 2014-01-21     911.0  682.544006

                      buy_at0         max  max_idx  idx  is_selled         r
code      date
000001.SZ 2014-01-02    12.15  709.985901    899.0  898       True -0.040329
          2014-01-03    11.89  700.644043    900.0  899       True -0.022708
          2014-01-06    11.53  700.060120    903.0  900       True -0.014744
          2014-01-07    11.64  700.060120    903.0  901       True -0.027491
          2014-01-08    11.69  700.060120    903.0  902       True -0.031651

In [287]:
t0 = time.time()
df = df.join(df_r,how='inner')
print(time.time()-t0)
df.shape

## 更新df_r
# t0 = time.time()
# df = df.drop(columns=r_columns).join(df_r,how='inner')
# print(time.time()-t0)
# df.shape

r_columns = df_r.columns
del df_r

21.469016790390015

(4593560, 64)

In [8]:
cols = df.columns[df.dtypes=='float64']
cols
t0 = time.time()
df[cols] = df[cols].astype('float32') # 3.8s
print(time.time()-t0)

In [296]:
# df.info()
# df.columns
# df.dtypes
t0 = time.time()
df.to_hdf(os.path.join('datasets','df_20140101.h5'),key='data')
print(time.time()-t0)

# t0 = time.time()
# df = pd.read_hdf(os.path.join('datasets','df_20140101.h5'),key='data')
# print(time.time()-t0)

# df.shape
# df.head()
# df.columns

34.069068908691406

In [15]:
r_columns = ['buy_at','max','max_idx', 'idx', 'is_selled', 'sell_at', 'sell_date', 'r']

In [13]:
t0 = time.time()
df_pct_amt = df[['pct','day_pct','amt']].sort_index().groupby('code').shift(1).abs()
print(time.time()-t0)
df_pct_amt = df_pct_amt.add_prefix('abs_')
df_pct_amt.head()

min_periods=1

df_pct_amt5 = groupby_rolling(df_pct_amt,level="code",window=5,ops=['max','mean'],min_periods=min_periods)
df_pct_amt10 = groupby_rolling(df_pct_amt,level="code",window=10,ops=['max','mean'],min_periods=min_periods)
# 19s
print(time.time()-t0) 
df_pct_amt5.head()

5.703505516052246

                       abs_pct  abs_day_pct   abs_amt
code      date
000001.SZ 2014-01-02       NaN          NaN       NaN
          2014-01-03       NaN          NaN  5.962237
          2014-01-06  2.452976     1.798849  6.566313
          2014-01-07  2.179384     1.844092  6.792804
          2014-01-08  0.342757     0.856905  3.939776

26.24134922027588

                      p5max_abs_day_pct  p5mean_abs_day_pct  p5max_abs_amt  \
code      date
000001.SZ 2014-01-02                NaN                 NaN            NaN
          2014-01-03                NaN                 NaN            NaN
          2014-01-06                NaN                 NaN            NaN
          2014-01-07                NaN                 NaN            NaN
          2014-01-08           1.844092            1.499949       6.792804

                      p5mean_abs_amt  p5max_abs_pct  p5mean_abs_pct
code      date
000001.SZ 2014-01-02             NaN            NaN             NaN
          2014-01-03             NaN            NaN             NaN
          2014-01-06             NaN            NaN             NaN
          2014-01-07             NaN            NaN             NaN
          2014-01-08        5.815283       2.452976        1.658372

In [9]:
mask_date = df.index.get_level_values('date')>='2016-01-01'
df_baseline = df.loc[mask_date,'r'].agg(agg_operations[:-1])
df_baseline_q = df.loc[mask_date,'r'].reset_index('code').resample('Q').agg(agg_operations)
df_baseline
df_baseline_q

mean     -0.002133
median   -0.016800
max       5.111110
min      -0.972953
std       0.081040
Name: r, dtype: float64

                   r
                mean    median       max       min       std    size
date
2016-03-31  0.001179 -0.013889  2.548668 -0.972953  0.094469  150433
2016-06-30  0.000853 -0.015754  1.533937 -0.714186  0.080108  155157
2016-09-30  0.005089 -0.006729  1.639485 -0.651399  0.066105  170115
2016-12-31 -0.004053 -0.014433  3.136834 -0.900237  0.068697  165772
2017-03-31  0.001947 -0.009050  1.347707 -0.482470  0.070502  170618
2017-06-30 -0.013016 -0.025000  5.111110 -0.852388  0.072342  178502
2017-09-30  0.005735 -0.006309  2.099174 -0.804020  0.070351  200686
2017-12-31 -0.016474 -0.027645  2.659847 -0.814664  0.063496  193463
2018-03-31 -0.006932 -0.022059  2.229388 -0.967228  0.086282  190955
2018-06-30 -0.022454 -0.030781  1.119939 -0.950667  0.067774  197214
2018-09-30 -0.020828 -0.027933  1.655462 -0.869820  0.058617  218246
2018-12-31  0.003390 -0.016175  2.749064 -0.612903  0.083702  210707
2019-03-31  0.044422  0.014218  3.320968 -0.746753  0.117071  206870
2019-06-30 -0.011983 -0.022901  1.897051 -0.861940  0.067602  215321
2019-09-30  0.000302 -0.017704  2.243787 -0.876993  0.075026  236958
2019-12-31  0.010891 -0.003697  2.125000 -0.731959  0.078266  225939
2020-03-31 -0.012337 -0.023256  1.891414 -0.763889  0.110282  218582
2020-06-30 -0.005392 -0.020305  1.417069 -0.787500  0.072459  148256

In [28]:
mask_date2 = df.index.get_level_values('date')>='2018-01-01'
df_baseline2 = df.loc[mask_date2,'r'].agg(agg_operations[:-1])
df_baseline_q2 = df.loc[mask_date2,'r'].reset_index('code').resample('Q').agg(agg_operations)
df_baseline2
df_baseline_q2

mean     -0.001853
median   -0.018078
max       3.320968
min      -0.967228
std       0.085897
Name: r, dtype: float64

                   r
                mean    median       max       min       std    size
date
2018-03-31 -0.006932 -0.022059  2.229388 -0.967228  0.086282  190955
2018-06-30 -0.022454 -0.030781  1.119939 -0.950667  0.067774  197214
2018-09-30 -0.020828 -0.027933  1.655462 -0.869820  0.058617  218246
2018-12-31  0.003390 -0.016175  2.749064 -0.612903  0.083702  210707
2019-03-31  0.044422  0.014218  3.320968 -0.746753  0.117071  206870
2019-06-30 -0.011983 -0.022901  1.897051 -0.861940  0.067602  215321
2019-09-30  0.000302 -0.017704  2.243787 -0.876993  0.075026  236958
2019-12-31  0.010891 -0.003697  2.125000 -0.731959  0.078266  225939
2020-03-31 -0.012337 -0.023256  1.891414 -0.763889  0.110282  218582
2020-06-30 -0.005392 -0.020305  1.417069 -0.787500  0.072459  148256

In [45]:
len(mask_date2)
((df['close/60ma']<1.05) & (df['close/30ma']<1.05) &mask_date2).sum()

4593560

1392888

In [105]:
# mean     -0.001853
# median   -0.018078
# size     4593560


# mean         -0.003998
# median       -0.021001
# max           1.964467
# min          -0.675676
# std           0.089355
# size      40895.000000
# Name: r, dtype: float64
mask_big_rise = [
    # -0.003998 40895
    # 实体大阳线
    df['day_pct']>4,
    df['day_pct']>df_pct_amt5['p5max_abs_day_pct']*1.2,
    df['day_pct']>df_pct_amt5['p5mean_abs_day_pct']*1.5,
    df['day_pct']> 0.6*df['pct'],
#     (df['high']/df['close']-1)*100/df['day_pct']>0.2,
#     (df['high']/df['close']-1)*100/df['day_pct']<0.4,
    # 放量
    df['amt']>df_pct_amt5['p5max_abs_amt']*1.2,
    df['amt']>df_pct_amt5['p5mean_abs_amt']*1.5,
]


# 1.05 1.05
# mean      1.197287e-03
# median   -1.531735e-02
# max       3.320968e+00
# min      -8.727273e-01
# std       8.419110e-02
# size      1.392888e+06
# Name: r, dtype: float64
# mask_low_pos = [
#     df['close/60ma']<1.05,
#     df['close/30ma']<1.05,
# ]
mask_low_pos = [
    df['close/60ma']<1.05,
    df['close/30ma']<1.05,
    df[['close/30ma','close/60ma']].max(axis=1)>0.9,
]

# # mean          -0.003468
# # median        -0.021442
# # max            1.371940
# # min           -0.869820
# # std            0.081980
# # size      147259.000000
# # Name: r, dtype: float64
mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    (df['pb']<10) | (df['pe']>0),
    df['close0']>10,
]

# -0.01,-0.02
# mean          -0.005841
# median        -0.022346
# max            2.528292
# min           -0.794109
# std            0.089689
# size      611120.000000
# Name: r, dtype: float64
# 
# 0.1,0.2
# mean          -0.005212
# median        -0.022130
# max            2.351421
# min           -0.794109
# std            0.090181
# size      333558.000000
# Name: r, dtype: float64
#
# 0.2 0.4
# mean          -0.005586
# median        -0.022727
# max            2.351421
# min           -0.794109
# std            0.091789
# size      201061.000000
# Name: r, dtype: float64
# mask_trend = [   
#     df['60ma_pct']>0.1,
#     df['30ma_pct']>0.2,
# ]
mask_trend = [   
    df['60ma_pct']>0,
    df['30ma_pct']>-0.2,        
]
print(time.time()-t0)
mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_low_pos+mask_trend+mask_big_rise+mask_basic

for m in masks+[mask_date2]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q
df_baseline2
df_baseline_q2


df.loc[mask_final,'r'].agg(agg_operations)
df.loc[mask_final,'r'].reset_index('code').resample('Q').agg(agg_operations)
tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]

22700.504620552063

(2716624, 4593560, 0.5914, 0.5914)

(3384975, 4593560, 0.7369, 0.558)

(4048272, 4593560, 0.8813, 0.4918)

(1759403, 4593560, 0.383, 0.1529)

(2993284, 4593560, 0.6516, 0.114)

(337837, 4593560, 0.0735, 0.0026)

(299207, 4593560, 0.0651, 0.0015)

(653717, 4593560, 0.1423, 0.0015)

(2501539, 4593560, 0.5446, 0.0015)

(471185, 4593560, 0.1026, 0.0009)

(677499, 4593560, 0.1475, 0.0009)

(1056950, 4593560, 0.2301, 0.0003)

(4348257, 4593560, 0.9466, 0.0003)

(2056374, 4593560, 0.4477, 0.0003)

(1433930, 4593560, 0.3122, 0.0002)

(4529477, 4593560, 0.986, 0.0002)

(2697097, 4593560, 0.5871, 0.0001)

(2069048, 4593560, 0.4504, 0.0001)

mean     -0.001853
median   -0.018078
max       3.320968
min      -0.967228
std       0.085897
Name: r, dtype: float64

                   r
                mean    median       max       min       std    size
date
2018-03-31 -0.006932 -0.022059  2.229388 -0.967228  0.086282  190955
2018-06-30 -0.022454 -0.030781  1.119939 -0.950667  0.067774  197214
2018-09-30 -0.020828 -0.027933  1.655462 -0.869820  0.058617  218246
2018-12-31  0.003390 -0.016175  2.749064 -0.612903  0.083702  210707
2019-03-31  0.044422  0.014218  3.320968 -0.746753  0.117071  206870
2019-06-30 -0.011983 -0.022901  1.897051 -0.861940  0.067602  215321
2019-09-30  0.000302 -0.017704  2.243787 -0.876993  0.075026  236958
2019-12-31  0.010891 -0.003697  2.125000 -0.731959  0.078266  225939
2020-03-31 -0.012337 -0.023256  1.891414 -0.763889  0.110282  218582
2020-06-30 -0.005392 -0.020305  1.417069 -0.787500  0.072459  148256

mean        0.003390
median     -0.017610
max         0.313485
min        -0.655048
std         0.087915
size      251.000000
Name: r, dtype: float64

                   r
                mean    median       max       min       std size
date
2018-03-31 -0.026122 -0.029172  0.087824 -0.089674  0.039636   26
2018-06-30 -0.045914 -0.035132  0.140234 -0.655048  0.148826   22
2018-09-30 -0.018151 -0.021405  0.056288 -0.099437  0.040355   12
2018-12-31 -0.018465 -0.021164  0.042090 -0.058170  0.037332    9
2019-03-31  0.033299 -0.001948  0.289901 -0.075323  0.110614    9
2019-06-30 -0.007570 -0.033629  0.148528 -0.121991  0.070994   28
2019-09-30  0.033568 -0.005293  0.313485 -0.060884  0.092561   39
2019-12-31  0.013372 -0.002145  0.155932 -0.090204  0.065469   38
2020-03-31 -0.003797 -0.025349  0.270503 -0.174593  0.088771   49
2020-06-30  0.066762  0.068657  0.240400 -0.039840  0.069947   19

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
601881.SH,2019-08-19,11.418000,11.698260,627.0,626,True,10.982039,2019-08-27,-0.038182
600999.SH,2019-08-19,26.245699,26.652418,2332.0,2326,True,25.295340,2019-09-02,-0.036210
600271.SH,2019-08-19,419.881744,428.442993,2190.0,2187,True,405.232483,2019-08-29,-0.034889
600958.SH,2019-08-19,11.148120,11.223300,1073.0,1072,True,10.707780,2019-09-02,-0.039499
000776.SZ,2019-08-19,71.454102,80.804749,2310.0,2293,True,77.615799,2019-09-18,0.086233
600837.SH,2019-08-19,309.962708,374.566376,2350.0,2331,True,351.156006,2019-09-18,0.132898
002812.SZ,2019-08-19,112.662392,119.184952,633.0,630,True,109.871994,2019-08-27,-0.024768
300188.SZ,2019-08-19,230.037506,261.585510,1968.0,1949,True,244.628464,2019-09-18,0.063429
000712.SZ,2019-08-19,162.809387,164.387497,2083.0,2082,True,156.628403,2019-08-27,-0.037965
300033.SZ,2019-08-19,768.158936,806.912109,2324.0,2320,True,762.807739,2019-08-27,-0.006966
603288.SH,2019-08-16,403.305573,450.592407,1360.0,1349,True,436.523590,2019-09-16,0.082364
300527.SZ,2019-08-08,24.964880,27.916000,735.0,730,True,25.961880,2019-08-16,0.039936
300073.SZ,2019-08-07,98.150139,99.296181,2147.0,2146,True,92.174362,2019-08-12,-0.060884
603712.SH,2019-08-02,22.066000,22.166302,349.0,348,True,21.063000,2019-08-08,-0.045455
300529.SZ,2019-08-02,61.500000,77.900002,749.0,731,True,73.348999,2019-08-29,0.192667
300134.SZ,2019-07-31,63.823254,68.150253,1754.0,1751,True,62.222263,2019-08-08,-0.025085
002311.SZ,2019-07-30,208.073090,216.470352,2306.0,2302,True,206.971802,2019-08-16,-0.005293
603883.SH,2019-07-24,62.195103,75.461327,963.0,945,True,71.800964,2019-08-22,0.154447
603609.SH,2019-07-02,19.443199,20.917120,1184.0,1180,True,19.584320,2019-07-11,0.007258
600648.SH,2019-06-25,134.972000,141.687683,2257.0,2253,True,130.099838,2019-07-09,-0.036098
601555.SH,2019-06-20,11.532801,11.859200,1821.0,1819,True,11.130240,2019-06-27,-0.034906
000860.SZ,2019-06-20,127.202499,153.241608,2262.0,2253,True,145.399948,2019-07-04,0.143059
000596.SZ,2019-06-11,362.615387,368.959503,2282.0,2281,True,345.452942,2019-06-18,-0.047330
601336.SH,2019-05-29,56.020103,56.389000,1782.0,1781,True,53.163761,2019-06-05,-0.050988
601601.SH,2019-05-29,43.747063,47.098801,2295.0,2280,True,45.229801,2019-06-28,0.033893
603609.SH,2019-05-28,17.933601,22.185101,1160.0,1156,True,19.943399,2019-06-04,0.112069
603712.SH,2019-05-22,20.500481,23.603580,300.0,297,True,21.931911,2019-05-29,0.069824
002151.SZ,2019-05-16,138.514206,158.923172,2080.0,2075,True,144.949997,2019-05-24,0.046463
600549.SH,2019-05-16,185.340118,196.372269,2259.0,2256,True,180.408096,2019-05-27,-0.026611
000877.SZ,2019-05-16,69.227844,70.352486,2241.0,2233,True,65.874786,2019-06-06,-0.048435
000970.SZ,2019-05-16,167.872849,189.769318,2259.0,2256,True,176.917038,2019-05-23,0.053875
600111.SH,2019-05-16,232.520844,264.005981,2271.0,2267,True,250.707916,2019-05-23,0.078217
002110.SZ,2019-05-15,20.948481,21.568052,1982.0,1981,True,19.799219,2019-05-23,-0.054861
002353.SZ,2019-05-15,187.434006,190.835999,2132.0,2130,True,178.443008,2019-05-21,-0.047969
002304.SZ,2019-05-15,483.597015,492.830109,2265.0,2263,True,459.654999,2019-05-23,-0.049508
002468.SZ,2019-05-14,48.091682,56.728054,1983.0,1969,True,55.234623,2019-06-13,0.148528
000998.SZ,2019-05-13,172.158508,176.934525,2107.0,2103,True,153.276611,2019-05-21,-0.109677
300207.SZ,2019-05-10,85.847847,85.915497,1905.0,1904,True,81.653549,2019-05-15,-0.048857
002463.SZ,2019-05-10,28.579199,29.540998,2112.0,2109,True,27.150240,2019-05-20,-0.050000
600570.SH,2019-05-10,1179.441406,1266.992798,2206.0,2203,True,1173.674683,2019-05-20,-0.004889
002601.SZ,2019-05-07,128.568069,137.172684,1797.0,1790,True,128.818680,2019-05-21,0.001949
600562.SH,2019-05-06,119.161896,119.725975,2218.0,2217,True,107.175201,2019-05-09,-0.100592
002411.SZ,2019-04-26,83.819923,91.735321,1862.0,1860,True,82.653435,2019-05-06,-0.013917
300383.SZ,2019-04-26,369.694763,371.919373,1088.0,1087,True,324.595184,2019-05-06,-0.121991
002812.SZ,2019-04-17,118.370071,122.769989,547.0,546,True,114.540504,2019-04-23,-0.032352
000400.SZ,2019-04-11,85.606926,86.594398,2182.0,2180,True,80.973358,2019-04-19,-0.054126
002640.SZ,2019-04-01,143.042603,157.200394,1606.0,1602,True,147.802551,2019-04-11,0.033276
600779.SH,2019-02-11,200.174026,274.210999,2205.0,2192,True,258.204742,2019-03-11,0.289901
002371.SZ,2019-01-21,201.535004,237.906143,2088.0,2072,True,224.201752,2019-02-21,0.112471
600779.SH,2019-01-15,196.411591,206.359726,2182.0,2178,True,196.028976,2019-01-28,-0.001948

In [68]:
df_r_tmp = df[['open','close']].copy()
df_r_tmp[['f1_open','f1_close']] = df[['open','close']].sort_index().groupby('code').shift(-1)
df_r_tmp[['f2_open','f2_close']] = df[['open','close']].sort_index().groupby('code').shift(-2)
df_r_tmp[['f3_open','f3_close']] = df[['open','close']].sort_index().groupby('code').shift(-3)

df_r_tmp.head()

                            open       close     f1_open    f1_close  \
code      date
000001.SZ 2014-01-02  707.650452  714.072998  709.402039  696.556946
          2014-01-03  709.402039  696.556946  694.221436  681.376282
          2014-01-06  694.221436  681.376282  673.202087  679.040833
          2014-01-07  673.202087  679.040833  679.624695  686.631165
          2014-01-08  679.624695  686.631165  682.544006  690.134338

                         f2_open    f2_close     f3_open    f3_close
code      date
000001.SZ 2014-01-02  694.221436  681.376282  673.202087  679.040833
          2014-01-03  673.202087  679.040833  679.624695  686.631165
          2014-01-06  679.624695  686.631165  682.544006  690.134338
          2014-01-07  682.544006  690.134338  687.798828  690.134338
          2014-01-08  687.798828  690.134338  688.966614  677.289246

In [89]:
df_r_tmp.head()
df[r_columns].head()
df_r_tmp['r2'] = (df_r_tmp['f3_open']/df_r_tmp['f1_open']-1)
df_r_tmp['r3'] = (df_r_tmp['f2_open']/df_r_tmp['f1_open']-1)

df_r_tmp['is_cut'] = (df_r_tmp['f2_close']<(df_r_tmp['f1_open']*0.98)).astype('uint8')
df_r_tmp['is_cut2'] = (df_r_tmp['f1_close']<(df_r_tmp['f1_open']*0.97)).astype('uint8')
df_r_tmp.head()

                            open       close     f1_open    f1_close  \
code      date
000001.SZ 2014-01-02  707.650452  714.072998  709.402039  696.556946
          2014-01-03  709.402039  696.556946  694.221436  681.376282
          2014-01-06  694.221436  681.376282  673.202087  679.040833
          2014-01-07  673.202087  679.040833  679.624695  686.631165
          2014-01-08  679.624695  686.631165  682.544006  690.134338

                         f2_open    f2_close     f3_open    f3_close  \
code      date
000001.SZ 2014-01-02  694.221436  681.376282  673.202087  679.040833
          2014-01-03  673.202087  679.040833  679.624695  686.631165
          2014-01-06  679.624695  686.631165  682.544006  690.134338
          2014-01-07  682.544006  690.134338  687.798828  690.134338
          2014-01-08  687.798828  690.134338  688.966614  677.289246

                            r2  is_cut
code      date
000001.SZ 2014-01-02 -0.051029       1
          2014-01-03 -0.021026       1
          2014-01-06  0.013877       0
          2014-01-07  0.012027       0
          2014-01-08  0.009410       0

                          buy_at         max  max_idx  idx  is_selled  \
code      date
000001.SZ 2014-01-02  709.402039  709.985901    899.0  898       True
          2014-01-03  694.221436  700.644043    900.0  899       True
          2014-01-06  673.202087  700.060120    903.0  900       True
          2014-01-07  679.624695  700.060120    903.0  901       True
          2014-01-08  682.544006  700.060120    903.0  902       True

                         sell_at  sell_date         r
code      date
000001.SZ 2014-01-02  680.792419 2014-01-16 -0.040329
          2014-01-03  678.456970 2014-01-17 -0.022708
          2014-01-06  660.940857 2014-01-21 -0.018213
          2014-01-07  660.940857 2014-01-21 -0.027491
          2014-01-08  660.940857 2014-01-21 -0.031651

                            open       close     f1_open    f1_close  \
code      date
000001.SZ 2014-01-02  707.650452  714.072998  709.402039  696.556946
          2014-01-03  709.402039  696.556946  694.221436  681.376282
          2014-01-06  694.221436  681.376282  673.202087  679.040833
          2014-01-07  673.202087  679.040833  679.624695  686.631165
          2014-01-08  679.624695  686.631165  682.544006  690.134338

                         f2_open    f2_close     f3_open    f3_close  \
code      date
000001.SZ 2014-01-02  694.221436  681.376282  673.202087  679.040833
          2014-01-03  673.202087  679.040833  679.624695  686.631165
          2014-01-06  679.624695  686.631165  682.544006  690.134338
          2014-01-07  682.544006  690.134338  687.798828  690.134338
          2014-01-08  687.798828  690.134338  688.966614  677.289246

                            r2  is_cut        r3  is_cut2
code      date
000001.SZ 2014-01-02 -0.051029       1 -0.021399        0
          2014-01-03 -0.021026       1 -0.030278        0
          2014-01-06  0.013877       0  0.009540        0
          2014-01-07  0.012027       0  0.004295        0
          2014-01-08  0.009410       0  0.007699        0

In [93]:
# df.loc[mask_final,'r'].agg(agg_operations)
# df.loc[mask_final,'r'].reset_index('code').resample('Q').agg(agg_operations)
# tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
# tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]




tmp2 = tmp.join(df_r_tmp,how='left')
tmp2.shape

mask_cut = tmp2['is_cut']==1
mask_cut2 = tmp2['is_cut2']==1

tmp2.loc[mask_cut,r_columns]
tmp2.loc[mask_cut2,r_columns]

tmp2.loc[mask_cut,['r','r2']].agg(agg_operations)
tmp2.loc[mask_cut,['r','r2']].reset_index('code').resample('Q').agg(agg_operations)


tmp2.loc[mask_cut2,['r','r3']].agg(agg_operations)
tmp2.loc[mask_cut2,['r','r3']].reset_index('code').resample('Q').agg(agg_operations)

(251, 20)

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
002389.SZ,2020-04-27,76.629753,87.401001,2167.0,2159,True,81.861504,2020-05-14,0.068273
600893.SH,2020-04-08,76.474808,80.449654,2344.0,2333,True,77.591705,2020-04-28,0.014605
300463.SZ,2020-03-26,91.679428,92.963364,1177.0,1176,True,86.451958,2020-03-31,-0.057019
002100.SZ,2020-03-26,141.599121,142.959564,2391.0,2390,True,133.209747,2020-03-31,-0.059247
300661.SZ,2020-03-24,445.055969,445.924011,674.0,673,True,418.692017,2020-03-27,-0.059237
300012.SZ,2020-03-10,316.671173,326.911316,2376.0,2375,True,293.099548,2020-03-13,-0.074436
300357.SZ,2020-03-05,260.407013,267.542969,1489.0,1488,True,249.108490,2020-03-10,-0.043388
600132.SH,2020-03-05,266.998566,274.605499,2428.0,2421,True,251.353043,2020-03-19,-0.058598
000002.SZ,2020-02-26,4486.494629,4853.072754,2315.0,2309,True,4541.407227,2020-03-10,0.012240
300144.SZ,2020-02-20,246.846252,249.689346,2144.0,2143,True,234.136017,2020-02-26,-0.051490
600977.SH,2020-02-20,15.149799,15.170899,858.0,857,True,14.094799,2020-02-26,-0.069638
002157.SZ,2020-02-19,245.142685,247.595642,2352.0,2351,True,236.250717,2020-02-26,-0.036273
000768.SZ,2020-02-17,142.546097,152.110703,2434.0,2426,True,144.895309,2020-03-02,0.016480
600967.SH,2020-02-17,56.628334,56.731953,2295.0,2294,True,53.882401,2020-02-20,-0.048490
600141.SH,2020-02-06,34.031200,35.319759,2370.0,2369,True,32.577438,2020-02-11,-0.042719
603737.SH,2020-02-04,159.289993,164.555939,891.0,890,True,155.673172,2020-02-07,-0.022706
002302.SZ,2019-11-25,46.771561,46.853401,2297.0,2296,True,45.380280,2019-12-09,-0.029746
002402.SZ,2019-11-19,147.873276,149.076477,2288.0,2287,True,136.683517,2019-11-25,-0.075671
000963.SZ,2019-11-07,338.849945,340.462341,2346.0,2345,True,323.718292,2019-11-12,-0.044656
002223.SZ,2019-11-07,202.372803,203.171646,2313.0,2312,True,190.656479,2019-11-12,-0.057895
000050.SZ,2019-11-07,124.012695,124.012695,2183.0,2182,True,116.522003,2019-11-12,-0.060403
000596.SZ,2019-09-24,417.788635,419.582153,2356.0,2355,True,393.017761,2019-09-30,-0.059290
603508.SH,2019-09-20,65.231689,65.231689,826.0,825,True,61.770500,2019-09-26,-0.053060
600305.SH,2019-08-27,116.003876,121.004692,2338.0,2334,True,117.898125,2019-09-16,0.016329
600061.SH,2019-08-19,77.715477,78.658203,2207.0,2206,True,75.064079,2019-08-27,-0.034117
300188.SZ,2019-08-19,230.037506,261.585510,1968.0,1949,True,244.628464,2019-09-18,0.063429
000712.SZ,2019-08-19,162.809387,164.387497,2083.0,2082,True,156.628403,2019-08-27,-0.037965
300527.SZ,2019-08-08,24.964880,27.916000,735.0,730,True,25.961880,2019-08-16,0.039936
300073.SZ,2019-08-07,98.150139,99.296181,2147.0,2146,True,92.174362,2019-08-12,-0.060884
601336.SH,2019-05-29,56.020103,56.389000,1782.0,1781,True,53.163761,2019-06-05,-0.050988
600549.SH,2019-05-16,185.340118,196.372269,2259.0,2256,True,180.408096,2019-05-27,-0.026611
000877.SZ,2019-05-16,69.227844,70.352486,2241.0,2233,True,65.874786,2019-06-06,-0.048435
600111.SH,2019-05-16,232.520844,264.005981,2271.0,2267,True,250.707916,2019-05-23,0.078217
300207.SZ,2019-05-10,85.847847,85.915497,1905.0,1904,True,81.653549,2019-05-15,-0.048857
002601.SZ,2019-05-07,128.568069,137.172684,1797.0,1790,True,128.818680,2019-05-21,0.001949
600562.SH,2019-05-06,119.161896,119.725975,2218.0,2217,True,107.175201,2019-05-09,-0.100592
300383.SZ,2019-04-26,369.694763,371.919373,1088.0,1087,True,324.595184,2019-05-06,-0.121991
000400.SZ,2019-04-11,85.606926,86.594398,2182.0,2180,True,80.973358,2019-04-19,-0.054126
300418.SZ,2019-01-15,55.495136,55.574760,909.0,901,True,51.315090,2019-01-30,-0.075323
001979.SZ,2018-10-22,19.456800,20.882561,687.0,683,True,19.639040,2018-10-30,0.009366
600346.SH,2018-10-12,104.544907,105.091545,1814.0,1813,True,98.463531,2018-10-18,-0.058170
601877.SH,2018-05-28,46.883247,46.899998,1886.0,1885,True,40.535000,2018-06-04,-0.135405
300296.SZ,2018-05-21,293.022552,295.617310,1325.0,1324,True,276.156586,2018-05-25,-0.057559
000525.SZ,2018-05-21,154.042892,154.835449,2006.0,2005,True,147.414291,2018-05-28,-0.043031
300676.SZ,2018-05-16,154.000000,157.000000,197.0,193,True,148.720001,2018-05-28,-0.034286
600848.SH,2018-05-14,57.148582,57.395203,1769.0,1768,True,53.830421,2018-05-17,-0.058062
600872.SH,2018-04-04,277.440002,277.440002,1913.0,1912,True,262.643188,2018-04-11,-0.053333
600029.SH,2018-03-12,19.637260,19.920650,1965.0,1964,True,18.953791,2018-03-16,-0.034805
002299.SZ,2018-02-26,32.099503,32.142502,1854.0,1853,True,30.293501,2018-03-05,-0.056263
002302.SZ,2018-02-05,66.159843,69.880325,1861.0,1860,True,63.895203,2018-02-08,-0.034230
000501.SZ,2018-01-30,111.725395,112.881180,1883.0,1882,True,105.689651,2018-02-06,-0.054023
002396.SZ,2018-01-11,70.435204,70.786102,1632.0,1631,True,64.119003,2018-01-16,-0.089674

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
002299.SZ,2020-05-11,55.292801,64.149124,2393.0,2388,True,60.668163,2020-05-21,0.097216
002389.SZ,2020-04-27,76.629753,87.401001,2167.0,2159,True,81.861504,2020-05-14,0.068273
300463.SZ,2020-03-26,91.679428,92.963364,1177.0,1176,True,86.451958,2020-03-31,-0.057019
002100.SZ,2020-03-26,141.599121,142.959564,2391.0,2390,True,133.209747,2020-03-31,-0.059247
300661.SZ,2020-03-24,445.055969,445.924011,674.0,673,True,418.692017,2020-03-27,-0.059237
603737.SH,2020-02-04,159.289993,164.555939,891.0,890,True,155.673172,2020-02-07,-0.022706
002153.SZ,2019-08-29,611.505127,733.494263,2235.0,2227,True,690.174255,2019-09-24,0.128648
300073.SZ,2019-08-07,98.150139,99.296181,2147.0,2146,True,92.174362,2019-08-12,-0.060884
600549.SH,2019-05-16,185.340118,196.372269,2259.0,2256,True,180.408096,2019-05-27,-0.026611
000877.SZ,2019-05-16,69.227844,70.352486,2241.0,2233,True,65.874786,2019-06-06,-0.048435
000970.SZ,2019-05-16,167.872849,189.769318,2259.0,2256,True,176.917038,2019-05-23,0.053875
600111.SH,2019-05-16,232.520844,264.005981,2271.0,2267,True,250.707916,2019-05-23,0.078217
000998.SZ,2019-05-13,172.158508,176.934525,2107.0,2103,True,153.276611,2019-05-21,-0.109677
300207.SZ,2019-05-10,85.847847,85.915497,1905.0,1904,True,81.653549,2019-05-15,-0.048857
600562.SH,2019-05-06,119.161896,119.725975,2218.0,2217,True,107.175201,2019-05-09,-0.100592
300383.SZ,2019-04-26,369.694763,371.919373,1088.0,1087,True,324.595184,2019-05-06,-0.121991
001979.SZ,2018-10-22,19.456800,20.882561,687.0,683,True,19.639040,2018-10-30,0.009366
600346.SH,2018-10-12,104.544907,105.091545,1814.0,1813,True,98.463531,2018-10-18,-0.058170
600848.SH,2018-05-14,57.148582,57.395203,1769.0,1768,True,53.830421,2018-05-17,-0.058062
600872.SH,2018-04-04,277.440002,277.440002,1913.0,1912,True,262.643188,2018-04-11,-0.053333
002396.SZ,2018-01-11,70.435204,70.786102,1632.0,1631,True,64.119003,2018-01-16,-0.089674

                r         r2
mean    -0.039459  -0.042039
median  -0.049923  -0.040332
max      0.078217  -0.010916
min     -0.135405  -0.121991
std      0.042412   0.021912
size    52.000000  52.000000

                   r                                                     r2  \
                mean    median       max       min       std size      mean
date
2018-03-31 -0.053799 -0.054023 -0.034230 -0.089674  0.022566    5 -0.046770
2018-06-30 -0.063613 -0.055446 -0.034286 -0.135405  0.036362    6 -0.035012
2018-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2018-12-31 -0.024402 -0.024402  0.009366 -0.058170  0.047755    2 -0.044715
2019-03-31 -0.075323 -0.075323 -0.075323 -0.075323       NaN    1 -0.032281
2019-06-30 -0.041270 -0.048857  0.078217 -0.121991  0.057840    9 -0.050372
2019-09-30 -0.015703 -0.036041  0.063429 -0.060884  0.048631    8 -0.032097
2019-12-31 -0.053674 -0.057895 -0.029746 -0.075671  0.017326    5 -0.040334
2020-03-31 -0.042466 -0.049990  0.016480 -0.074436  0.027470   14 -0.045681
2020-06-30  0.041439  0.041439  0.068273  0.014605  0.037949    2 -0.034545


              median       max       min       std size
date
2018-03-31 -0.036169 -0.032184 -0.089674  0.024238    5
2018-06-30 -0.031178 -0.016838 -0.058062  0.017990    6
2018-09-30       NaN       NaN       NaN       NaN    0
2018-12-31 -0.044715 -0.032680 -0.056749  0.017020    2
2019-03-31 -0.032281 -0.032281 -0.032281       NaN    1
2019-06-30 -0.038809 -0.016894 -0.121991  0.036351    9
2019-09-30 -0.028172 -0.014405 -0.060884  0.017391    8
2019-12-31 -0.044656 -0.018373 -0.060403  0.020074    5
2020-03-31 -0.049301 -0.010916 -0.074436  0.016403   14
2020-06-30 -0.034545 -0.024914 -0.044177  0.013621    2

                r         r3
mean    -0.025662  -0.050795
median  -0.053333  -0.049799
max      0.128648  -0.003268
min     -0.121991  -0.118343
std      0.070904   0.026824
size    21.000000  21.000000

                   r                                                     r3  \
                mean    median       max       min       std size      mean
date
2018-03-31 -0.089674 -0.089674 -0.089674 -0.089674       NaN    1 -0.067029
2018-06-30 -0.055698 -0.055698 -0.053333 -0.058062  0.003344    2 -0.040988
2018-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2018-12-31 -0.024402 -0.024402  0.009366 -0.058170  0.047755    2 -0.022571
2019-03-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2019-06-30 -0.040509 -0.048646  0.078217 -0.121991  0.074030    8 -0.071588
2019-09-30  0.033882  0.033882  0.128648 -0.060884  0.134020    2 -0.028606
2019-12-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2020-03-31 -0.049552 -0.058128 -0.022706 -0.059247  0.017928    4 -0.043925
2020-06-30  0.082745  0.082745  0.097216  0.068273  0.020466    2 -0.033465


              median       max       min       std size
date
2018-03-31 -0.067029 -0.067029 -0.067029       NaN    1
2018-06-30 -0.040988 -0.038839 -0.043137  0.003040    2
2018-09-30       NaN       NaN       NaN       NaN    0
2018-12-31 -0.022571 -0.003268 -0.041873  0.027298    2
2019-03-31       NaN       NaN       NaN       NaN    0
2019-06-30 -0.062683 -0.047046 -0.118343  0.025767    8
2019-09-30 -0.028606 -0.026353 -0.030859  0.003186    2
2019-12-31       NaN       NaN       NaN       NaN    0
2020-03-31 -0.042354 -0.025342 -0.065652  0.019693    4
2020-06-30 -0.033465 -0.017131 -0.049799  0.023100    2

In [99]:
# tmp2.loc[~mask_cut,r_columns]
tmp2.loc[~mask_cut & ~mask_cut2,['r','r2','r3']].agg(agg_operations)
tmp2.loc[~mask_cut & ~mask_cut2,['r','r2','r3']].reset_index('code').resample('Q').agg(agg_operations)

(tmp2.loc[~mask_cut & ~mask_cut2,'f2_open']/tmp2.loc[~mask_cut & ~mask_cut2,'f1_open']).agg(agg_operations)
(tmp2.loc[~mask_cut & ~mask_cut2,'f3_open']/tmp2.loc[~mask_cut & ~mask_cut2,'f2_open']).agg(agg_operations)

                 r          r2          r3
mean      0.014068    0.018310    0.011491
median   -0.005357    0.009444    0.007460
max       0.313485    0.150000    0.131507
min      -0.655048   -0.031979   -0.051364
std       0.093171    0.032582    0.024119
size    195.000000  195.000000  195.000000

                   r                                                     r2  \
                mean    median       max       min       std size      mean
date
2018-03-31 -0.019532 -0.025070  0.087824 -0.070476  0.040309   21  0.007655
2018-06-30 -0.039278 -0.018952  0.140234 -0.655048  0.174345   16  0.012254
2018-09-30 -0.018151 -0.021405  0.056288 -0.099437  0.040355   12  0.016801
2018-12-31 -0.016768 -0.021164  0.042090 -0.056940  0.038249    7  0.019458
2019-03-31  0.046877  0.004538  0.289901 -0.048804  0.109941    8  0.005199
2019-06-30  0.012664 -0.013917  0.148528 -0.054861  0.069793   17  0.019380
2019-09-30  0.043538  0.000037  0.313485 -0.045455  0.097833   30  0.014314
2019-12-31  0.023530  0.015441  0.155932 -0.090204  0.064106   33  0.024558
2020-03-31  0.011671 -0.005422  0.270503 -0.174593  0.099873   35  0.019650
2020-06-30  0.068108  0.069041  0.240400 -0.039840  0.075355   16  0.037260

                                                               r3            \
              median       max       min       std size      mean    median
date
2018-03-31  0.005609  0.069521 -0.030797  0.025842   21  0.011365  0.007702
2018-06-30  0.010117  0.063672 -0.016026  0.022227   16  0.007712  0.001870
2018-09-30  0.019159  0.050310 -0.012758  0.023459   12  0.013450  0.008394
2018-12-31  0.014015  0.059701  0.000827  0.020761    7  0.020962  0.024943
2019-03-31 -0.002959  0.050285 -0.025325  0.024418    8  0.000524 -0.001585
2019-06-30  0.005660  0.150000 -0.031979  0.044892   17  0.010960  0.006711
2019-09-30  0.001098  0.136163 -0.020455  0.034576   30  0.001965 -0.000659
2019-12-31  0.014493  0.130137 -0.017115  0.035586   33  0.015034  0.011321
2020-03-31  0.016370  0.111833 -0.029307  0.031355   35  0.011545  0.013523
2020-06-30  0.032086  0.125898 -0.005111  0.036666   16  0.027293  0.018773


                 max       min       std size
date
2018-03-31  0.052393 -0.025721  0.021710   21
2018-06-30  0.060547 -0.016635  0.022341   16
2018-09-30  0.042857 -0.003973  0.015508   12
2018-12-31  0.052537 -0.007854  0.020429    7
2019-03-31  0.036807 -0.021104  0.018937    8
2019-06-30  0.041440 -0.028846  0.020013   17
2019-09-30  0.068431 -0.051364  0.021899   30
2019-12-31  0.131507 -0.012718  0.026602   33
2020-03-31  0.096128 -0.037267  0.024273   35
2020-06-30  0.097012 -0.033644  0.033762   16

mean        1.011491
median      1.007460
max         1.131507
min         0.948636
std         0.024119
size      195.000000
dtype: float64

mean        1.006811
median      1.003514
max         1.116421
min         0.952322
std         0.024444
size      195.000000
dtype: float64

In [63]:
tmp.loc[idx['600845.SH',:],:]
tmp.loc[idx['603288.SH',:],:]
tmp.loc[idx['002475.SZ',:],:]

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
600845.SH,2020-04-14,256.244415,321.485779,2448.0,2428,True,317.845459,2020-05-18,0.2404

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
603288.SH,2019-08-16,403.305573,450.592407,1360.0,1349,True,436.52359,2019-09-16,0.082364

KeyError: '002475.SZ'

In [49]:
tmp[tmp['r'].notnull()]

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
300382.SZ,2020-05-08,75.956345,77.300705,1519.0,1514,True,72.150955,2020-05-22,-0.050100
603633.SH,2020-03-19,21.106750,22.054401,814.0,812,True,21.382431,2020-03-24,0.013061
603822.SH,2020-03-17,27.438000,27.937799,859.0,857,True,26.122200,2020-03-20,-0.047955
300311.SZ,2019-11-14,64.359726,72.441422,1682.0,1678,True,64.874008,2019-11-21,0.007991
600359.SH,2019-07-17,10.891040,12.173269,2214.0,2213,True,11.112659,2019-07-22,0.020349
603609.SH,2019-07-02,19.443199,20.917120,1184.0,1180,True,19.584320,2019-07-11,0.007258

In [174]:
# mean     -0.001853
# median   -0.018078
# size     4593560


# mean         -0.003998
# median       -0.021001
# max           1.964467
# min          -0.675676
# std           0.089355
# size      40895.000000
# Name: r, dtype: float64
mask_big_rise = [
    # -0.003998 40895
    # 实体大阳线
    df['day_pct']>4,
#     df['day_pct']> 1.2*df['pct'],
    df['day_pct']>df_pct_amt5['p5max_abs_day_pct']*0.6,
    df['day_pct']>df_pct_amt5['p5mean_abs_day_pct']*1,
#     ((df['day_pct']>4) & (df['day_pct']> 1.2*df['pct'])) | (df['day_pct']>6),
#     (df['high']/df['close']-1)*100/df['day_pct']>0.2,
#     (df['high']/df['close']-1)*100/df['day_pct']<0.4,
    # 放量
    df['amt']>df_pct_amt5['p5max_abs_amt']*0.6,
    df['amt']>df_pct_amt5['p5mean_abs_amt']*1,
]


# 1.05 1.05
# mean      1.197287e-03
# median   -1.531735e-02
# max       3.320968e+00
# min      -8.727273e-01
# std       8.419110e-02
# size      1.392888e+06
# Name: r, dtype: float64
# mask_low_pos = [
#     df['close/60ma']<1.05,
#     df['close/30ma']<1.05,
# ]
mask_low_pos = [
    df['close/60ma']<1.05,
    df['close/30ma']<1.05,
    df['close/5ma']<1.15,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]

# # mean          -0.003468
# # median        -0.021442
# # max            1.371940
# # min           -0.869820
# # std            0.081980
# # size      147259.000000
# # Name: r, dtype: float64
mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    (df['pb']<10) | (df['pe']>0),
    df['close0']>20,
]

# -0.01,-0.02
# mean          -0.005841
# median        -0.022346
# max            2.528292
# min           -0.794109
# std            0.089689
# size      611120.000000
# Name: r, dtype: float64
# 
# 0.1,0.2
# mean          -0.005212
# median        -0.022130
# max            2.351421
# min           -0.794109
# std            0.090181
# size      333558.000000
# Name: r, dtype: float64
#
# 0.2 0.4
# mean          -0.005586
# median        -0.022727
# max            2.351421
# min           -0.794109
# std            0.091789
# size      201061.000000
# Name: r, dtype: float64
# mask_trend = [   
#     df['60ma_pct']>0.1,
#     df['30ma_pct']>0.2,
# ]
mask_trend = [   
#     df[['60ma_pct','30ma_pct']].max(axis=1)>-0.5,
#     df['30ma_pct']>-0.2,        
]
print(time.time()-t0)
mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_low_pos+mask_trend+mask_big_rise+mask_basic

for m in masks+[mask_date2]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q
df_baseline2
df_baseline_q2


df.loc[mask_final,'r'].agg(agg_operations)
df.loc[mask_final,'r'].reset_index('code').resample('Q').agg(agg_operations)
tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]

27911.857218027115

(2716624, 4593560, 0.5914, 0.5914)

(3384975, 4593560, 0.7369, 0.558)

(4511129, 4593560, 0.9821, 0.5577)

(4110067, 4593560, 0.8947, 0.505)

(337837, 4593560, 0.0735, 0.0147)

(832482, 4593560, 0.1812, 0.0131)

(1025287, 4593560, 0.2232, 0.0131)

(2560630, 4593560, 0.5574, 0.0115)

(1882053, 4593560, 0.4097, 0.0104)

(1056950, 4593560, 0.2301, 0.0033)

(4348257, 4593560, 0.9466, 0.0029)

(2056374, 4593560, 0.4477, 0.0024)

(1433930, 4593560, 0.3122, 0.0018)

(4529477, 4593560, 0.986, 0.0018)

(1176659, 4593560, 0.2562, 0.0007)

(2069048, 4593560, 0.4504, 0.0003)

mean     -0.001853
median   -0.018078
max       3.320968
min      -0.967228
std       0.085897
Name: r, dtype: float64

                   r
                mean    median       max       min       std    size
date
2018-03-31 -0.006932 -0.022059  2.229388 -0.967228  0.086282  190955
2018-06-30 -0.022454 -0.030781  1.119939 -0.950667  0.067774  197214
2018-09-30 -0.020828 -0.027933  1.655462 -0.869820  0.058617  218246
2018-12-31  0.003390 -0.016175  2.749064 -0.612903  0.083702  210707
2019-03-31  0.044422  0.014218  3.320968 -0.746753  0.117071  206870
2019-06-30 -0.011983 -0.022901  1.897051 -0.861940  0.067602  215321
2019-09-30  0.000302 -0.017704  2.243787 -0.876993  0.075026  236958
2019-12-31  0.010891 -0.003697  2.125000 -0.731959  0.078266  225939
2020-03-31 -0.012337 -0.023256  1.891414 -0.763889  0.110282  218582
2020-06-30 -0.005392 -0.020305  1.417069 -0.787500  0.072459  148256

mean         0.012261
median      -0.011347
max          0.659888
min         -0.867660
std          0.098671
size      1466.000000
Name: r, dtype: float64

                   r
                mean    median       max       min       std size
date
2018-03-31  0.014862 -0.012214  0.397098 -0.158373  0.092005  153
2018-06-30 -0.014204 -0.026162  0.160080 -0.655048  0.079222  150
2018-09-30 -0.021437 -0.019561  0.158824 -0.867660  0.080861  203
2018-12-31 -0.025869 -0.032603  0.180067 -0.216818  0.058209  138
2019-03-31  0.077986  0.023392  0.428910 -0.091097  0.125038   65
2019-06-30 -0.001070 -0.017736  0.226106 -0.161134  0.062750  137
2019-09-30  0.041306 -0.006130  0.659888 -0.107934  0.125350   76
2019-12-31  0.016559  0.001269  0.327206 -0.087143  0.072303   79
2020-03-31  0.047190 -0.000435  0.558753 -0.174593  0.135204  269
2020-06-30  0.019367  0.007960  0.240400 -0.185714  0.068459  196

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
600053.SH,2019-05-07,56.870216,59.891037,1948.0,1947,True,56.279186,2019-05-10,-0.010393
002008.SZ,2019-05-07,474.381622,486.811920,2243.0,2242,True,452.311432,2019-05-14,-0.046524
600053.SH,2019-04-30,53.083248,59.891037,1948.0,1945,True,56.279186,2019-05-10,0.060206
603260.SH,2019-04-30,48.992203,50.068623,367.0,366,True,45.441021,2019-05-08,-0.072485
600729.SH,2019-04-29,104.768799,106.313087,2095.0,2094,True,97.986084,2019-05-07,-0.064740
002411.SZ,2019-04-26,83.819923,91.735321,1862.0,1860,True,82.653435,2019-05-06,-0.013917
002812.SZ,2019-04-17,118.370071,122.769989,547.0,546,True,114.540504,2019-04-23,-0.032352
600498.SH,2019-04-16,116.090004,121.447998,2207.0,2203,True,114.304001,2019-04-24,-0.015385
002912.SZ,2019-04-16,168.944992,170.505722,341.0,340,True,159.596710,2019-04-24,-0.055333
601877.SH,2019-03-11,45.649021,48.190884,2082.0,2076,True,45.266003,2019-03-27,-0.008391
600566.SH,2019-02-26,69.427399,74.239197,2099.0,2089,True,68.975677,2019-03-15,-0.006506
002038.SZ,2019-02-25,366.013611,401.398224,2218.0,2210,True,371.468140,2019-03-11,0.014903
600332.SH,2019-02-18,53.412010,57.001247,2038.0,2026,True,53.588528,2019-03-11,0.003305
300413.SZ,2019-02-14,37.625610,44.769325,737.0,729,True,40.319637,2019-02-28,0.071601
002460.SZ,2019-02-13,218.879425,276.019257,1986.0,1977,True,251.866394,2019-02-28,0.150708
603156.SH,2019-02-13,63.747700,68.928101,243.0,239,True,66.021324,2019-03-04,0.035666
600779.SH,2019-02-11,200.174026,274.210999,2205.0,2192,True,258.204742,2019-03-11,0.289901
300618.SZ,2019-02-11,108.822563,137.441483,480.0,469,True,128.319397,2019-02-28,0.179162
000938.SZ,2019-02-11,117.469498,148.673996,2010.0,1999,True,139.585999,2019-02-28,0.188274
002466.SZ,2019-02-11,193.692200,258.342651,1907.0,1896,True,237.159592,2019-02-28,0.224415
601888.SH,2019-02-11,124.616791,142.382233,2155.0,2144,True,132.593994,2019-03-07,0.064014
002460.SZ,2019-02-11,205.534256,276.019257,1986.0,1975,True,251.866394,2019-02-28,0.225423
603799.SH,2019-02-11,42.382473,58.536274,967.0,956,True,53.860168,2019-02-28,0.270812
300122.SZ,2019-02-01,151.060013,196.253510,1971.0,1955,True,183.845001,2019-03-11,0.217033
300308.SZ,2019-02-01,135.397919,192.689270,1504.0,1493,True,178.019516,2019-02-28,0.314788
002352.SZ,2019-02-01,109.264801,132.457794,2142.0,2131,True,125.414001,2019-03-01,0.147799
300601.SZ,2019-02-01,46.577969,68.837402,505.0,489,True,62.990730,2019-03-11,0.352372
601888.SH,2019-01-24,119.118996,142.382233,2155.0,2137,True,139.277588,2019-03-01,0.169231
300136.SZ,2019-01-24,275.355011,413.554504,1946.0,1928,True,393.457489,2019-03-01,0.428910
603260.SH,2019-01-21,46.155285,58.851002,321.0,301,True,57.824883,2019-02-26,0.252833
002371.SZ,2019-01-21,201.535004,237.906143,2088.0,2072,True,224.201752,2019-02-21,0.112471
603019.SH,2019-01-21,76.366081,79.833595,1017.0,1014,True,75.882240,2019-01-31,-0.006336
600779.SH,2019-01-18,199.536331,206.359726,2182.0,2181,True,196.028976,2019-01-28,-0.017578
600009.SH,2019-01-18,149.341492,153.173096,2197.0,2196,True,144.061752,2019-01-24,-0.035353
300003.SZ,2019-01-18,89.732254,93.366005,2079.0,2078,True,86.697006,2019-01-23,-0.033826
600566.SH,2019-01-18,68.052605,71.155716,2068.0,2067,True,67.345558,2019-01-25,-0.010390
002294.SZ,2019-01-17,219.795212,227.012054,2196.0,2194,True,210.986435,2019-01-30,-0.040077
300003.SZ,2019-01-17,84.901505,93.366005,2079.0,2077,True,86.697006,2019-01-23,0.021148
600536.SH,2019-01-16,120.581894,121.005173,2181.0,2178,True,112.380836,2019-01-30,-0.068012
600779.SH,2019-01-15,196.411591,206.359726,2182.0,2178,True,196.028976,2019-01-28,-0.001948
600332.SH,2019-01-15,52.661797,54.677067,2011.0,2007,True,49.646248,2019-02-01,-0.057263
000568.SZ,2019-01-15,1322.766846,1635.183960,2178.0,2158,True,1593.549438,2019-02-20,0.204709
002507.SZ,2019-01-15,117.885002,139.402405,1806.0,1789,True,133.277802,2019-02-20,0.130575
002304.SZ,2019-01-15,390.347046,413.689484,2190.0,2186,True,383.672028,2019-01-31,-0.017100
000661.SZ,2019-01-15,677.579102,724.988892,2156.0,2152,True,684.981079,2019-01-31,0.010924
000858.SZ,2019-01-15,898.919983,1199.751709,2152.0,2132,True,1183.237427,2019-02-20,0.316288
002008.SZ,2019-01-15,369.611755,496.451752,2191.0,2171,True,481.992004,2019-02-20,0.304049
000963.SZ,2019-01-15,269.963013,284.989349,2153.0,2149,True,269.349701,2019-01-29,-0.002272
600309.SH,2019-01-09,1079.639282,1168.030762,2061.0,2053,True,1104.894043,2019-01-25,0.023392
600903.SH,2019-01-08,22.922901,24.184160,281.0,280,True,22.092072,2019-01-11,-0.036245

In [ ]:
# 排序性

df['close0_rank'] = df['close0'].groupby('date').rank(ascending=False)
df['close0_pct'] = df['close0'].groupby('date').rank(ascending=False,pct=True)

In [207]:
# mean     -0.001853
# median   -0.018078
# size     4593560


mask_big_rise = [
    # -0.003998 40895
    # 实体大阳线
    df['day_pct']>4,
#     df['day_pct']> 1.1*df['pct'],
    df['day_pct']>df_pct_amt5['p5max_abs_day_pct']*0.6,
    df['day_pct']>df_pct_amt5['p5mean_abs_day_pct']*1,
#     ((df['day_pct']>4) & (df['day_pct']> 1.2*df['pct'])) | (df['day_pct']>6),
#     (df['high']/df['close']-1)*100/df['day_pct']>0.2,
#     (df['high']/df['close']-1)*100/df['day_pct']<0.4,
    # 放量
    df['amt']>df_pct_amt5['p5max_abs_amt']*0.6,
    df['amt']>df_pct_amt5['p5mean_abs_amt']*1,
]



mask_low_pos = [
    df['close/60ma']<1.05,
    df['close/30ma']<1.05,
    df['close/5ma']<1.15,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]


mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    (df['pb']<10) | (df['pe']>0),
    df['close0']>5,
#     df['close0_rank']<200,
    df['close0_rank']>10,
    df['close0_pct']<0.04,
    df.index.get_level_values('code').str[:3]!='688',
]


mask_trend = [   
#     df[['60ma_pct','30ma_pct']].max(axis=1)>-0.5,
#     df['30ma_pct']>-0.2,        
]
print(time.time()-t0)
mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_low_pos+mask_trend+mask_big_rise+mask_basic

for m in masks+[mask_date]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q
df_baseline2
df_baseline_q2


df.loc[mask_final,'r'].agg(agg_operations)
df.loc[mask_final,'r'].reset_index('code').resample('Q').agg(agg_operations)
tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]

30058.583129167557

(2716624, 4593560, 0.5914, 0.5914)

(3384975, 4593560, 0.7369, 0.558)

(4511129, 4593560, 0.9821, 0.5577)

(4110067, 4593560, 0.8947, 0.505)

(337837, 4593560, 0.0735, 0.0147)

(832482, 4593560, 0.1812, 0.0131)

(1025287, 4593560, 0.2232, 0.0131)

(2560630, 4593560, 0.5574, 0.0115)

(1882053, 4593560, 0.4097, 0.0104)

(1056950, 4593560, 0.2301, 0.0033)

(4348257, 4593560, 0.9466, 0.0029)

(2056374, 4593560, 0.4477, 0.0024)

(1433930, 4593560, 0.3122, 0.0018)

(4529477, 4593560, 0.986, 0.0018)

(4034138, 4593560, 0.8782, 0.0017)

(4577953, 4593560, 0.9966, 0.0017)

(182916, 4593560, 0.0398, 0.0001)

(4580262, 4593560, 0.9971, 0.0001)

(3453794, 4593560, 0.7519, 0.0001)

mean     -0.001853
median   -0.018078
max       3.320968
min      -0.967228
std       0.085897
Name: r, dtype: float64

                   r
                mean    median       max       min       std    size
date
2018-03-31 -0.006932 -0.022059  2.229388 -0.967228  0.086282  190955
2018-06-30 -0.022454 -0.030781  1.119939 -0.950667  0.067774  197214
2018-09-30 -0.020828 -0.027933  1.655462 -0.869820  0.058617  218246
2018-12-31  0.003390 -0.016175  2.749064 -0.612903  0.083702  210707
2019-03-31  0.044422  0.014218  3.320968 -0.746753  0.117071  206870
2019-06-30 -0.011983 -0.022901  1.897051 -0.861940  0.067602  215321
2019-09-30  0.000302 -0.017704  2.243787 -0.876993  0.075026  236958
2019-12-31  0.010891 -0.003697  2.125000 -0.731959  0.078266  225939
2020-03-31 -0.012337 -0.023256  1.891414 -0.763889  0.110282  218582
2020-06-30 -0.005392 -0.020305  1.417069 -0.787500  0.072459  148256

mean        0.019579
median     -0.007904
max         0.659888
min        -0.202516
std         0.097676
size      462.000000
Name: r, dtype: float64

                   r
                mean    median       max       min       std size
date
2016-03-31  0.036897  0.023119  0.277243 -0.090278  0.088840   48
2016-06-30  0.023229  0.020673  0.230769 -0.090428  0.077784   21
2016-09-30 -0.007255 -0.000165  0.026144 -0.055360  0.029975    6
2016-12-31 -0.042334 -0.038750 -0.037783 -0.050468  0.007061    3
2017-03-31  0.042346  0.066897  0.079963 -0.019821  0.054234    3
2017-06-30 -0.013977 -0.031321  0.030683 -0.041294  0.038997    3
2017-09-30  0.042857 -0.012949  0.165217 -0.023697  0.106103    3
2017-12-31  0.003943 -0.022409  0.130560 -0.044521  0.056565   11
2018-03-31  0.035661 -0.003311  0.340325 -0.121747  0.113548   26
2018-06-30 -0.019088 -0.023092  0.106960 -0.085724  0.053821   21
2018-09-30 -0.014401 -0.019604  0.098299 -0.202516  0.050910   57
2018-12-31 -0.030520 -0.035608  0.086250 -0.123750  0.049687   50
2019-03-31  0.078043  0.041939  0.316288 -0.091097  0.123019   24
2019-06-30  0.006961 -0.010271  0.226106 -0.161134  0.079762   43
2019-09-30  0.066463  0.013794  0.659888 -0.107934  0.156143   31
2019-12-31 -0.003761 -0.020765  0.201265 -0.069595  0.061656   20
2020-03-31  0.060994  0.016283  0.427659 -0.174593  0.146566   53
2020-06-30  0.030067  0.023973  0.118730 -0.072342  0.050251   39

,,buy_at,max,max_idx,idx,is_selled,sell_at,sell_date,r
code,date,,,,,,,,
000423.SZ,2018-10-22,407.731140,412.412079,2129.0,2128,True,380.328003,2018-10-25,-0.067209
300308.SZ,2018-10-22,139.891357,142.600632,1422.0,1421,True,129.847198,2018-10-25,-0.071800
002371.SZ,2018-10-22,206.608948,207.652191,2010.0,2009,True,192.240692,2018-10-26,-0.069543
600570.SH,2018-10-22,753.810608,760.546204,2071.0,2070,True,680.722534,2018-10-29,-0.096958
000963.SZ,2018-10-19,389.253784,418.999817,2090.0,2089,True,378.213989,2018-10-25,-0.028361
601601.SH,2018-10-19,43.983799,46.475800,2134.0,2133,True,41.479343,2018-10-30,-0.056940
601336.SH,2018-10-19,50.802803,54.333702,1635.0,1634,True,51.066303,2018-10-29,0.005187
600009.SH,2018-10-19,159.870834,172.934433,2134.0,2133,True,150.849991,2018-10-25,-0.056426
000596.SZ,2018-10-19,245.883957,255.433502,2127.0,2126,True,228.354202,2018-10-24,-0.071293
002007.SZ,2018-10-19,749.736023,819.503052,2120.0,2118,True,781.183228,2018-10-26,0.041944
300122.SZ,2018-10-19,163.551498,170.897003,1883.0,1882,True,160.397507,2018-10-24,-0.019284
600763.SH,2018-10-19,112.538994,123.406494,1976.0,1974,True,114.181198,2018-10-26,0.014592
002371.SZ,2018-10-19,194.896194,209.122192,2009.0,2008,True,198.452698,2018-10-24,0.018248
000651.SZ,2018-10-19,5868.424805,6094.190918,1975.0,1974,True,5418.387695,2018-10-30,-0.076688
600332.SH,2018-10-19,50.602402,53.235485,1948.0,1947,True,48.557705,2018-10-25,-0.040407
600570.SH,2018-10-19,718.842957,763.985657,2070.0,2069,True,680.722534,2018-10-29,-0.053030
603019.SH,2018-10-19,89.288643,92.836800,951.0,950,True,84.752640,2018-10-26,-0.050802
300347.SZ,2018-10-19,363.760193,385.119202,1362.0,1361,True,345.769348,2018-10-25,-0.049458
000860.SZ,2018-10-19,93.378319,99.715279,2092.0,2091,True,90.140953,2018-10-24,-0.034669
601888.SH,2018-10-12,137.703705,141.045517,2066.0,2065,True,135.504593,2018-10-17,-0.015970
000963.SZ,2018-10-12,389.458191,401.009064,2085.0,2084,True,378.213989,2018-10-18,-0.028871
600585.SH,2018-10-12,155.441406,155.792664,2121.0,2120,True,145.781189,2018-10-19,-0.062147
000568.SZ,2018-10-12,1387.284302,1400.950562,2094.0,2093,True,1287.171021,2018-10-19,-0.072165
601336.SH,2018-10-12,50.265259,51.582760,1632.0,1629,True,46.354919,2018-10-19,-0.077794
300308.SZ,2018-10-08,147.920074,150.133759,1412.0,1411,True,130.309753,2018-10-11,-0.119053
600809.SH,2018-09-26,206.142609,209.534821,2109.0,2108,True,190.703644,2018-10-09,-0.074895
603589.SH,2018-09-19,50.932346,54.151199,795.0,791,True,50.052601,2018-10-09,-0.017273
000568.SZ,2018-09-19,1410.485229,1528.396362,2086.0,2082,True,1423.197876,2018-10-09,0.009013
600009.SH,2018-09-19,165.090240,177.701309,2123.0,2117,True,165.934998,2018-10-09,0.005117
000596.SZ,2018-09-18,251.760605,280.642944,2114.0,2109,True,266.452209,2018-10-09,0.058355
000568.SZ,2018-09-18,1345.967651,1528.396362,2086.0,2081,True,1423.197876,2018-10-09,0.057379
603019.SH,2018-09-18,94.550407,97.836479,934.0,933,True,87.635521,2018-10-09,-0.073134
601888.SH,2018-09-07,132.809586,147.793793,2058.0,2046,True,137.337189,2018-10-09,0.034091
000418.SZ,2018-09-07,128.040222,128.441605,2081.0,2080,True,122.392227,2018-11-01,-0.044111
300308.SZ,2018-08-27,175.112000,185.023987,1388.0,1387,True,174.120804,2018-08-30,-0.005660
000596.SZ,2018-08-27,267.487305,277.136993,2094.0,2093,True,261.744202,2018-09-03,-0.021471
300601.SZ,2018-08-27,73.030769,74.834373,384.0,383,True,69.769257,2018-08-31,-0.044659
601888.SH,2018-08-27,137.983994,143.503342,2040.0,2037,True,135.181198,2018-09-04,-0.020312
300308.SZ,2018-08-23,161.036957,185.023987,1388.0,1385,True,165.992966,2018-08-31,0.030776
601888.SH,2018-08-21,132.270584,143.503342,2040.0,2033,True,135.181198,2018-09-04,0.022005
000963.SZ,2018-08-21,433.310577,490.144928,2057.0,2052,True,459.989990,2018-09-03,0.061571
300122.SZ,2018-08-21,172.515503,184.675003,1849.0,1845,True,174.424500,2018-09-03,0.011066
600276.SH,2018-08-21,2452.567383,2634.989502,2096.0,2092,True,2400.604492,2018-09-03,-0.021187
000596.SZ,2018-08-21,262.144897,277.136993,2094.0,2089,True,261.744202,2018-09-03,-0.001529
600009.SH,2018-08-21,174.978470,175.619568,2098.0,2096,True,163.521393,2018-08-30,-0.065477
300308.SZ,2018-08-16,162.755035,169.330002,1381.0,1380,True,154.627197,2018-08-23,-0.049939
600570.SH,2018-08-13,738.333130,742.775757,2027.0,2026,True,705.085205,2018-08-20,-0.045031
300666.SZ,2018-08-13,55.085030,55.525475,281.0,280,True,52.812759,2018-08-17,-0.041250
300308.SZ,2018-08-13,164.010559,168.272720,1378.0,1377,True,152.611755,2018-08-16,-0.069500
002049.SZ,2018-08-13,203.286499,207.821594,1827.0,1825,True,190.165558,2018-08-20,-0.064544

In [288]:
# mean     -0.001853
# median   -0.018078
# size     4593560


mask_big_rise = [
    # 不在大阴线之后
#     df['prev_day_pct'].abs()<df['day_pct'],
#     df['prev_pct']>-5,
    
    # 实体大阳线
    (df['day_pct']>5) |(df['pct']>5),
#     df['day_pct']>5, # 单独反而弱
#     df['pct']>5, # 单独反而弱
#     df['day_pct']> 1.1*df['pct'],
    
    # 限制得强(1,1.5)反而弱
    df['day_pct']>df_pct_amt5['p5max_abs_day_pct']*0.6, 
    df['day_pct']>df_pct_amt5['p5mean_abs_day_pct']*1,
#     df['day_pct']<df_pct_amt5['p5max_abs_day_pct']*1.2, 
#     df['day_pct']<df_pct_amt5['p5mean_abs_day_pct']*1.5,
    
#     (df['day_pct']< df_pct_amt5['p5max_abs_day_pct']*1.2) | (df['day_pct']<df_pct_amt5['p5mean_abs_day_pct']*1.5) |(df['amt']<df_pct_amt5['p5max_abs_amt']*1.2) | (df['amt']<df_pct_amt5['p5mean_abs_amt']*1.5),
#     (df['amt']<df_pct_amt5['p5max_abs_amt']*1.2) | (df['amt']<df_pct_amt5['p5mean_abs_amt']*1.5),
#     ((df['day_pct']>4) & (df['day_pct']> 1.2*df['pct'])) | (df['day_pct']>6),
#     (df['high']/df['close']-1)*100/df['day_pct']>0.2,
#     (df['high']/df['close']-1)*100/df['day_pct']<0.4,
    # 放量 # 限制得强(1,1.5)反而弱，但比涨幅超5日之流要强
    df['amt']>df_pct_amt5['p5max_abs_amt']*0.6,
    df['amt']>df_pct_amt5['p5mean_abs_amt']*1,
#     df['amt']<df_pct_amt5['p5max_abs_amt']*1.2,
#     df['amt']<df_pct_amt5['p5mean_abs_amt']*1.5,
    
    (df['amt']<df_pct_amt5['p5max_abs_amt']*1.2) | (df['amt']<df_pct_amt5['p5mean_abs_amt']*1.5),
]



mask_low_pos = [
    df['close/60ma']<1.05,
    df['close/30ma']<1.05,
    df['close/5ma']<1.15,
    df[['close/30ma','close/60ma','close/120ma','close/250ma']].max(axis=1)>0.9,
]


mask_basic =[   
    # 流动性、市值等基本限制 
#     mean     -2.309262e-03
#     median   -1.832455e-02
#     size   2373852
    df['amt']>=2,
    df['turnover_rate']<10,
    df['circ_mv']>50e4, 
    df['total_mv']>100e4,
    (df['pb']<10) | (df['pe']>0),
    df['close0']>5,
#     df['close0_rank']<200,
    df['close0_rank']>10,
    df['close0_pct']<0.04,
    df.index.get_level_values('code').str[:3]!='688',
]


mask_trend = [   
#     df[['60ma_pct','30ma_pct']].max(axis=1)>-0.5,
#     df['30ma_pct']>-0.2,        
]
print(time.time()-t0)
mask_final = True
# masks = mask_big_rise+mask_basic+mask_trend
masks = mask_low_pos+mask_trend+mask_big_rise+mask_basic

for m in masks+[mask_date]:

    mask_final &= m
    m.sum(),len(m),round(m.sum()/len(m),4),round(mask_final.sum()/len(mask_final),4)

# df_baseline
# df_baseline_q
df_baseline2
df_baseline_q2


df.loc[mask_final,'r'].agg(agg_operations)
df.loc[mask_final,'r'].reset_index('code').resample('Q').agg(agg_operations)
# df.loc[mask_final,'r'].reset_index('code').groupby('date').agg(agg_operations)

tmp = df.loc[mask_final,r_columns].sort_values('date',ascending=False)
tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]

54.83457279205322

(2716624, 4593560, 0.5914, 0.5914)

(3384975, 4593560, 0.7369, 0.558)

(4511129, 4593560, 0.9821, 0.5577)

(4110067, 4593560, 0.8947, 0.505)

(297316, 4593560, 0.0647, 0.0103)

(832482, 4593560, 0.1812, 0.0089)

(1025287, 4593560, 0.2232, 0.0089)

(2560630, 4593560, 0.5574, 0.0079)

(1882053, 4593560, 0.4097, 0.0072)

(4133690, 4593560, 0.8999, 0.0031)

(1056950, 4593560, 0.2301, 0.0011)

(4348257, 4593560, 0.9466, 0.001)

(2056374, 4593560, 0.4477, 0.0008)

(1433930, 4593560, 0.3122, 0.0006)

(4529477, 4593560, 0.986, 0.0006)

(4034138, 4593560, 0.8782, 0.0006)

(4577953, 4593560, 0.9966, 0.0006)

(182916, 4593560, 0.0398, 0.0)

(4580262, 4593560, 0.9971, 0.0)

(3453794, 4593560, 0.7519, 0.0)

mean     -0.001853
median   -0.018078
max       3.320968
min      -0.967228
std       0.085897
Name: r, dtype: float64

                   r
                mean    median       max       min       std    size
date
2018-03-31 -0.006932 -0.022059  2.229388 -0.967228  0.086282  190955
2018-06-30 -0.022454 -0.030781  1.119939 -0.950667  0.067774  197214
2018-09-30 -0.020828 -0.027933  1.655462 -0.869820  0.058617  218246
2018-12-31  0.003390 -0.016175  2.749064 -0.612903  0.083702  210707
2019-03-31  0.044422  0.014218  3.320968 -0.746753  0.117071  206870
2019-06-30 -0.011983 -0.022901  1.897051 -0.861940  0.067602  215321
2019-09-30  0.000302 -0.017704  2.243787 -0.876993  0.075026  236958
2019-12-31  0.010891 -0.003697  2.125000 -0.731959  0.078266  225939
2020-03-31 -0.012337 -0.023256  1.891414 -0.763889  0.110282  218582
2020-06-30 -0.005392 -0.020305  1.417069 -0.787500  0.072459  148256

mean        0.023040
median     -0.013638
max         0.644828
min        -0.202516
std         0.119926
size      178.000000
Name: r, dtype: float64

                   r
                mean    median       max       min       std size
date
2016-03-31  0.010452 -0.026856  0.409926 -0.108957  0.100492   32
2016-06-30  0.070933  0.048297  0.221096 -0.056596  0.140223    3
2016-09-30       NaN       NaN       NaN       NaN       NaN    0
2016-12-31 -0.044609 -0.044609 -0.038750 -0.050468  0.008286    2
2017-03-31 -0.019821 -0.019821 -0.019821 -0.019821       NaN    1
2017-06-30       NaN       NaN       NaN       NaN       NaN    0
2017-09-30       NaN       NaN       NaN       NaN       NaN    0
2017-12-31  0.026348  0.026348  0.056364 -0.003668  0.042449    2
2018-03-31  0.037073 -0.003091  0.304058 -0.056422  0.098171   12
2018-06-30 -0.023955 -0.054031  0.117836 -0.085724  0.064944    9
2018-09-30 -0.028491 -0.037435  0.084444 -0.202516  0.059446   23
2018-12-31 -0.034965 -0.041667  0.119010 -0.171442  0.055192   25
2019-03-31  0.056637  0.027185  0.334615 -0.057263  0.136054    8
2019-06-30  0.039005 -0.004572  0.280239 -0.080712  0.113965   11
2019-09-30  0.261278  0.226881  0.644828 -0.053478  0.322110    4
2019-12-31 -0.094992 -0.094992 -0.094992 -0.094992       NaN    1
2020-03-31  0.113133  0.114492  0.404529 -0.133762  0.167600   24
2020-06-30  0.037125  0.029275  0.189747 -0.057361  0.067281   21

                          sell_at    sell_at0  sell_date  sell_idx  \
code      date
601888.SH 2018-08-27   135.181198   62.700001 2018-09-04    2043.0
300601.SZ 2018-08-27    69.408539   46.180000 2018-09-03     388.0
600009.SH 2018-08-21   163.521393   54.200001 2018-08-30    2103.0
000963.SZ 2018-08-21   448.439148   43.869999 2018-09-07    2065.0
000596.SZ 2018-08-21   247.085999   74.000000 2018-09-06    2101.0
600276.SH 2018-08-21  2400.604492   65.139999 2018-09-03    2101.0
601888.SH 2018-08-21   127.850792   59.299999 2018-09-06    2045.0
300601.SZ 2018-08-13    64.117981   42.660000 2018-08-20     378.0
600570.SH 2018-08-13   705.085205   49.200001 2018-08-20    2031.0
002594.SZ 2018-08-10    43.137501   42.500000 2018-09-06    1739.0
300666.SZ 2018-08-09    52.812759   52.759998 2018-08-17     284.0
600276.SH 2018-08-09  2378.492676   64.540001 2018-08-20    2091.0
600570.SH 2018-08-09   758.253235   52.910000 2018-09-11    2047.0
000963.SZ 2018-08-09   417.057587   40.799999 2018-08-20    2051.0
002179.SZ 2018-08-09   251.057358   42.230000 2018-10-10    2116.0
300601.SZ 2018-08-07    57.760292   38.430000 2018-08-10     372.0
          2018-08-02    58.121010   38.669998 2018-08-07     369.0
603589.SH 2018-07-31    55.579498   53.700001 2018-08-03     758.0
002049.SZ 2018-07-12   199.587997   45.330002 2018-07-20    1809.0
603799.SH 2018-07-10   104.149506   73.500000 2018-07-26     827.0
603986.SH 2018-06-29   287.224976  102.070000 2018-07-06     257.0
603019.SH 2018-06-29    91.405441   45.340000 2018-07-12     885.0
002008.SZ 2018-06-29   623.672241   49.169998 2018-07-04    2040.0
603799.SH 2018-06-29    92.853806   92.300003 2018-07-05     812.0
000938.SZ 2018-06-26   149.171005   42.020000 2018-07-06    1861.0
300666.SZ 2018-06-20    51.351303   51.299999 2018-06-25     245.0
603986.SH 2018-06-05   292.318298  103.879997 2018-06-11     239.0
300450.SZ 2018-04-27   423.978455   34.950001 2018-05-24     588.0
000418.SZ 2018-04-25   188.791809   66.900002 2018-05-21    2002.0
000568.SZ 2018-03-29  1823.924927   58.599998 2018-04-19    1976.0
002304.SZ 2018-03-29   417.216034  106.269997 2018-04-18    2003.0
002230.SZ 2018-03-26   508.696960   57.080002 2018-04-09    1922.0
000333.SZ 2018-03-08   253.066238   58.880001 2018-03-22    1075.0
002230.SZ 2018-02-22   478.574402   53.700001 2018-03-26    1914.0
300450.SZ 2018-02-12   402.778564   66.519997 2018-03-26     549.0
002460.SZ 2018-02-12   417.898804   67.099998 2018-03-26    1763.0
002008.SZ 2018-02-12   638.168518   50.500000 2018-03-23    1972.0
002594.SZ 2018-02-12    59.697880   58.990002 2018-03-26    1626.0
300450.SZ 2018-02-08   402.778564   66.519997 2018-03-26     549.0
002594.SZ 2018-01-22    63.634560   62.880001 2018-01-30    1592.0
300450.SZ 2018-01-02   357.729401   59.080002 2018-01-11     502.0
300558.SZ 2017-12-13    62.657413   62.470001 2017-12-29     283.0
600809.SH 2017-12-11   243.040405   56.599998 2017-12-29    1937.0
002647.SZ 2017-02-17    73.113480   54.889999 2017-02-24     810.0
300458.SZ 2016-12-26    84.843765   84.589996 2017-01-09     395.0
002668.SZ 2016-12-16    75.263000   73.000000 2016-12-26    1061.0
300463.SZ 2016-05-31    81.243004   27.000000 2016-06-13     254.0
300458.SZ 2016-05-20    94.282005   94.000000 2016-06-15     265.0
300359.SZ 2016-05-03   218.427094   66.010002 2016-05-10     456.0
002153.SZ 2016-03-17   476.964600   83.400002 2016-03-30    1402.0

                           buy_at     buy_at0          max  max_idx   idx  \
code      date
601888.SH 2018-08-27   137.983994   64.000000   143.503342   2040.0  2037
300601.SZ 2018-08-27    73.030769   48.590000    74.834373    384.0   383
600009.SH 2018-08-21   174.978470   58.580002   175.619568   2098.0  2096
000963.SZ 2018-08-21   433.310577   42.389999   490.144928   2057.0  2052
000596.SZ 2018-08-21   262.144897   78.510002   277.136993   2094.0  2089
600276.SH 2018-08-21  2452.567383   66.550003  2634.989502   2096.0  2092
601888.SH 2018-08-21   132.270584   61.349998   143.503342   2040.0  2033
300601.SZ 2018-08-13    68.672066   45.689999    72.880470    376.0   373
600570.SH 2018-08-13   738.333130   51.520000   742.775757   2027.0  2026
002594.SZ 2018-08-10    41.593197   41.099998    47.522301   1733.0  1720
300666.SZ 2018-08-09    53.553501   53.500000    55.925873    280.0   278
600276.SH 2018-08-09  2470.993896   67.050003  2632.041260   2087.0  2084
600570.SH 2018-08-09   699.209534   48.790001   837.933594   2044.0  2024
000963.SZ 2018-08-09   433.923920   42.450001   464.385468   2046.0  2044
002179.SZ 2018-08-09   239.345703   40.259998   273.470001   2107.0  2078
300601.SZ 2018-08-07    60.856472   40.490002    61.472702    370.0   369
          2018-08-02    72.880470   48.490002    73.316338    367.0   366
603589.SH 2018-07-31    59.512497   57.500000    60.029999    756.0   755
002049.SZ 2018-07-12   202.537994   46.000000   213.061157   1807.0  1803
603799.SH 2018-07-10    96.922806   68.400002   111.829643    818.0   815
603986.SH 2018-06-29   303.630585  107.900002   327.830994    254.0   252
603019.SH 2018-06-29    92.534401   45.900002    99.489601    878.0   876
002008.SZ 2018-06-29   678.213501   53.470001   678.213501   2038.0  2037
603799.SH 2018-06-29    98.276146   97.690002    98.276146    809.0   808
000938.SZ 2018-06-26   150.861893   59.700001   164.886749   1858.0  1853
300666.SZ 2018-06-20    56.166115   56.110001    58.658600    243.0   242
603986.SH 2018-06-05   312.325836  110.989998   316.856384    236.0   235
300450.SZ 2018-04-27   379.285187   62.639999   455.275452    579.0   571
000418.SZ 2018-04-25   183.401779   64.989998   201.914108   1993.0  1986
000568.SZ 2018-03-29  1768.211304   56.810001  1973.325073   1970.0  1963
002304.SZ 2018-03-29   422.162781  107.529999   447.092896   1995.0  1991
002230.SZ 2018-03-26   515.737427   57.869999   554.326416   1919.0  1914
000333.SZ 2018-03-08   255.602051   59.470001   268.796906   1067.0  1065
002230.SZ 2018-02-22   476.791992   53.500000   567.516113   1906.0  1892
300450.SZ 2018-02-12   356.033997   58.799999   470.897308    540.0   524
002460.SZ 2018-02-12   385.264099   61.860001   523.152039   1755.0  1738
002008.SZ 2018-02-12   626.668823   49.590000   763.906677   1963.0  1948
002594.SZ 2018-02-12    60.719997   60.000000    68.309998   1617.0  1601
300450.SZ 2018-02-08   308.865540   51.009998   470.897308    540.0   522
002594.SZ 2018-01-22    67.439674   66.639999    68.279640   1589.0  1586
300450.SZ 2018-01-02   365.116486   60.299999   392.969513    497.0   495
300558.SZ 2017-12-13    62.888103   62.700001    67.943222    279.0   271
600809.SH 2017-12-11   230.072540   53.580002   253.560699   1928.0  1923
002647.SZ 2017-02-17    74.592003   56.000000    77.922005    806.0   805
300458.SZ 2016-12-26    88.264000   88.000000    93.379303    390.0   386
002668.SZ 2016-12-16    79.263275   76.879997    80.304588   1056.0  1055
300463.SZ 2016-05-31    77.500000   77.500000    93.080002    250.0   247
300458.SZ 2016-05-20    77.210945   76.980003   109.206642    260.0   249
300359.SZ 2016-05-03   231.530731   69.970001   244.865997    454.0   451
002153.SZ 2016-03-17   447.797699   78.300003   526.262329   1397.0  1393

                      is_selled         r
code      date
601888.SH 2018-08-27       True -0.020312
300601.SZ 2018-08-27       True -0.049599
600009.SH 2018-08-21       True -0.065477
000963.SZ 2018-08-21       True  0.034914
000596.SZ 2018-08-21       True -0.057445
600276.SH 2018-08-21       True -0.021187
601888.SH 2018-08-21       True -0.033415
300601.SZ 2018-08-13       True -0.066316
600570.SH 2018-08-13       True -0.045031
002594.SZ 2018-08-10       True  0.037129
300666.SZ 2018-08-09       True -0.013832
600276.SH 2018-08-09       True -0.037435
600570.SH 2018-08-09       True  0.084444
000963.SZ 2018-08-09       True -0.038869
002179.SZ 2018-08-09       True  0.048932
300601.SZ 2018-08-07       True -0.050877
          2018-08-02       True -0.202516
603589.SH 2018-07-31       True -0.066087
002049.SZ 2018-07-12       True -0.014565
603799.SH 2018-07-10       True  0.074561
603986.SH 2018-06-29       True -0.054031
603019.SH 2018-06-29       True -0.012200
002008.SZ 2018-06-29       True -0.080419
603799.SH 2018-06-29       True -0.055175
000938.SZ 2018-06-26       True -0.011208
300666.SZ 2018-06-20       True -0.085724
603986.SH 2018-06-05       True -0.064060
300450.SZ 2018-04-27       True  0.117836
000418.SZ 2018-04-25       True  0.029389
000568.SZ 2018-03-29       True  0.031508
002304.SZ 2018-03-29       True -0.011718
002230.SZ 2018-03-26       True -0.013651
000333.SZ 2018-03-08       True -0.009921
002230.SZ 2018-02-22       True  0.003738
300450.SZ 2018-02-12       True  0.131292
002460.SZ 2018-02-12       True  0.084707
002008.SZ 2018-02-12       True  0.018351
002594.SZ 2018-02-12       True -0.016833
300450.SZ 2018-02-08       True  0.304058
002594.SZ 2018-01-22       True -0.056422
300450.SZ 2018-01-02       True -0.020232
300558.SZ 2017-12-13       True -0.003668
600809.SH 2017-12-11       True  0.056364
002647.SZ 2017-02-17       True -0.019821
300458.SZ 2016-12-26       True -0.038750
002668.SZ 2016-12-16       True -0.050468
300463.SZ 2016-05-31       True  0.048297
300458.SZ 2016-05-20       True  0.221096
300359.SZ 2016-05-03       True -0.056596
002153.SZ 2016-03-17       True  0.065134

In [294]:
start = 20160101
start_date = '-'.join([str(start)[:4],str(start)[4:6],str(start)[6:8]])
t0 = time.time()
df_r = pd.read_parquet(r"database\return_spc_5%_10%_60_8_inf%").loc[idx[:,start_date:],:].sort_index()
# df_r = pd.read_parquet(r"database\return_spc_5%_30%_60_8_inf%").loc[idx[:,start_date:],:].sort_index()
print(time.time()-t0)
df_r.shape
df_r.head()

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:707: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:734: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
C:\Users\dell-pc\Anaconda3.6\lib\site-packages\pyarrow\pandas_compat.py:751: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

14.034038782119751

(3453794, 11)

                         sell_at  sell_at0  sell_date  sell_idx      buy_at  \
code      date
000001.SZ 2016-01-04  963.992798     11.21 2016-01-08    1390.0  969.152466
          2016-01-05  963.992798     11.21 2016-01-08    1390.0  982.051514
          2016-01-06  931.315063     10.83 2016-01-12    1392.0  981.191589
          2016-01-07  910.676514     10.59 2016-01-14    1394.0  963.992798
          2016-01-08  889.177979     10.34 2016-01-18    1396.0  945.934021

                      buy_at0         max  max_idx   idx  is_selled         r
code      date
000001.SZ 2016-01-04    11.27  994.950562   1387.0  1386       True -0.005324
          2016-01-05    11.42  994.090698   1388.0  1387       True -0.018389
          2016-01-06    11.41  981.191589   1389.0  1388       True -0.050833
          2016-01-07    11.21  970.872314   1390.0  1389       True -0.055308
          2016-01-08    11.00  952.813538   1391.0  1390       True -0.060000

In [295]:
# tmp = tmp.drop(columns=r_columns).join(df_r,how='inner')

# tmp['r'].agg(agg_operations)
# tmp['r'].reset_index('code').resample('Q').agg(agg_operations)
# tmp[tmp['r'].notnull()].iloc[len(tmp)//2:len(tmp)//2+50]

tmp.to_

mean        0.039801
median      0.003875
max         0.604815
min        -0.202516
std         0.124117
size      178.000000
Name: r, dtype: float64

                   r
                mean    median       max       min       std size
date
2016-03-31  0.034131  0.017475  0.386581 -0.090278  0.102887   32
2016-06-30  0.044952  0.048297  0.143154 -0.056596  0.099917    3
2016-09-30       NaN       NaN       NaN       NaN       NaN    0
2016-12-31 -0.044609 -0.044609 -0.038750 -0.050468  0.008286    2
2017-03-31 -0.019821 -0.019821 -0.019821 -0.019821       NaN    1
2017-06-30       NaN       NaN       NaN       NaN       NaN    0
2017-09-30       NaN       NaN       NaN       NaN       NaN    0
2017-12-31  0.022773  0.022773  0.056551 -0.011005  0.047769    2
2018-03-31  0.081994  0.053081  0.340325 -0.056422  0.123329   12
2018-06-30 -0.016925 -0.011208  0.106960 -0.085724  0.062203    9
2018-09-30 -0.010660 -0.013832  0.078947 -0.202516  0.061329   23
2018-12-31 -0.015928 -0.019284  0.131122 -0.096168  0.051553   25
2019-03-31  0.038850  0.027185  0.217033 -0.057263  0.090124    8
2019-06-30  0.023976 -0.004572  0.138551 -0.080712  0.083178   11
2019-09-30  0.259404  0.233674  0.604815 -0.034548  0.287530    4
2019-12-31 -0.094992 -0.094992 -0.094992 -0.094992       NaN    1
2020-03-31  0.149191  0.117814  0.508252 -0.133762  0.195339   24
2020-06-30  0.034721  0.021462  0.189747 -0.031937  0.059769   21

                          sell_at    sell_at0  sell_date  sell_idx  \
code      date
300601.SZ 2018-08-13    64.117981   42.660000 2018-08-20     378.0
000568.SZ 2018-11-02  1276.047363   40.150002 2018-11-30    2128.0
          2018-10-12  1287.171021   40.500000 2018-10-19    2098.0
603589.SH 2018-07-31    55.579498   53.700001 2018-08-03     758.0
002049.SZ 2018-07-12   199.587997   45.330002 2018-07-20    1809.0
601888.SH 2018-09-07   137.337189   63.700001 2018-10-09    2062.0
300347.SZ 2020-04-07   948.979431   76.709999 2020-05-12    1739.0
600536.SH 2019-05-08   264.549988   50.000000 2019-05-15    2254.0
603259.SH 2020-02-03   155.807220  110.580002 2020-02-27     440.0
603288.SH 2020-03-20   495.143585  126.699997 2020-04-13    1506.0
603068.SH 2020-05-06    77.053802   76.900002 2020-05-19     265.0
300359.SZ 2016-02-16   214.125381   64.709999 2016-02-26     406.0
002714.SZ 2020-02-04   950.142822  125.199997 2020-03-12    1465.0
000596.SZ 2018-08-27   261.744202   78.389999 2018-09-03    2098.0
300226.SZ 2020-02-06   377.799347   96.010002 2020-02-20    2001.0
300558.SZ 2017-12-13    62.196030   62.009998 2017-12-19     275.0
300033.SZ 2016-02-02   560.688477   68.309998 2016-02-19    1466.0
002594.SZ 2018-01-22    63.634560   62.880001 2018-01-30    1592.0
002095.SZ 2016-01-18   305.301758   69.639999 2016-01-22    1467.0
300725.SZ 2020-04-09   162.513992   83.000000 2020-04-14     584.0
603156.SH 2019-02-13    66.021324   45.880001 2019-03-04     252.0
603160.SH 2020-04-28   239.991653  235.979996 2020-05-15     872.0
300367.SZ 2016-02-01   342.570190   68.349998 2016-02-22     450.0
600332.SH 2018-10-19    48.557705   33.009998 2018-10-25    1951.0
002304.SZ 2018-03-29   410.895172  104.660004 2018-04-04    1995.0
600809.SH 2017-12-11   243.083344   56.610001 2017-12-27    1935.0
000963.SZ 2018-08-09   439.034912   42.950001 2018-08-17    2050.0
002230.SZ 2018-03-26   508.696960   57.080002 2018-04-09    1922.0
300725.SZ 2020-03-25   148.807999   76.000000 2020-03-31     575.0
601888.SH 2019-02-11   132.593994   61.500000 2019-03-07    2162.0
002371.SZ 2018-10-19   198.452698   41.849998 2018-10-24    2011.0
300347.SZ 2018-10-19   345.769348   42.090000 2018-10-25    1365.0
603019.SH 2018-10-19    84.752640   42.040001 2018-10-26     955.0
603659.SH 2020-04-14    69.306900   68.349998 2020-04-22     544.0
300347.SZ 2019-06-20   640.694092   51.790001 2019-07-09    1536.0
002739.SZ 2016-01-08   194.679001   97.000000 2016-01-14     193.0
603019.SH 2018-06-29    93.360962   46.310001 2018-07-06     881.0
300364.SZ 2016-03-17   101.900002  101.900002 2016-03-23     272.0
300601.SZ 2018-08-27    69.769257   46.419998 2018-08-31     387.0
300033.SZ 2016-03-14   627.803894   75.430000 2016-03-25    1491.0
603259.SH 2020-04-09   140.265961   99.550003 2020-04-17     475.0
000938.SZ 2018-06-26   149.171005   42.020000 2018-07-06    1861.0
000418.SZ 2018-04-25   188.961121   66.959999 2018-05-18    2001.0
000596.SZ 2018-10-19   228.354202   68.389999 2018-10-24    2129.0
603019.SH 2016-02-16    66.376312   66.309998 2016-02-24     302.0
600570.SH 2019-01-04   848.395203   59.200001 2019-01-17    2131.0
300450.SZ 2018-04-27   419.853668   69.339996 2018-05-15     581.0
603658.SH 2020-03-25   131.796005  126.000000 2020-04-20     881.0
600009.SH 2018-10-30   156.582306   51.900002 2018-11-08    2147.0
300122.SZ 2018-10-19   160.397507   38.650002 2018-10-24    1885.0

                           buy_at     buy_at0          max  max_idx   idx  \
code      date
300601.SZ 2018-08-13    68.672066   45.689999    72.880470    376.0   373
000568.SZ 2018-11-02  1271.280029   40.000000  1327.851929   2119.0  2108
          2018-10-12  1387.284302   43.650002  1400.950562   2094.0  2093
603589.SH 2018-07-31    59.512497   57.500000    60.029999    756.0   755
002049.SZ 2018-07-12   202.537994   46.000000   213.061157   1807.0  1803
601888.SH 2018-09-07   132.809586   61.599998   147.793793   2058.0  2046
300347.SZ 2020-04-07   875.248291   70.750000  1006.999451   1738.0  1717
600536.SH 2019-05-08   241.216690   45.590000   278.835693   2252.0  2249
603259.SH 2020-02-03   129.684372   92.040001   167.459656    438.0   422
603288.SH 2020-03-20   380.639191   97.400002   531.019043   1502.0  1491
603068.SH 2020-05-06    76.642975   76.489998    81.452576    258.0   256
300359.SZ 2016-02-16   229.909332   69.480003   236.593506    400.0   398
002714.SZ 2020-02-04   629.962952   83.010002  1061.852905   1462.0  1438
000596.SZ 2018-08-27   267.487305   80.110001   277.136993   2094.0  2093
300226.SZ 2020-02-06   299.492859   76.110001   403.337494   1999.0  1991
300558.SZ 2017-12-13    62.888103   62.700001    65.937218    274.0   271
300033.SZ 2016-02-02   519.566406   63.299999   605.750427   1465.0  1458
002594.SZ 2018-01-22    67.439674   66.639999    68.279640   1589.0  1586
002095.SZ 2016-01-18   321.347198   73.300003   330.991974   1465.0  1463
300725.SZ 2020-04-09   157.638580   80.510002   161.260880    582.0   581
603156.SH 2019-02-13    63.747700   44.299999    68.928101    243.0   239
603160.SH 2020-04-28   230.360657  226.509995   255.765320    868.0   862
300367.SZ 2016-02-01   285.683990   57.000000   360.412933    448.0   440
600332.SH 2018-10-19    50.602402   34.400002    53.235485   1948.0  1947
002304.SZ 2018-03-29   422.162781  107.529999   431.860016   1992.0  1991
600809.SH 2017-12-11   230.072540   53.580002   253.560699   1928.0  1923
000963.SZ 2018-08-09   433.923920   42.450001   464.385468   2046.0  2044
002230.SZ 2018-03-26   515.737427   57.869999   554.326416   1919.0  1914
300725.SZ 2020-03-25   150.961792   77.099998   158.597992    573.0   571
601888.SH 2019-02-11   124.616791   57.799999   142.382233   2155.0  2144
002371.SZ 2018-10-19   194.896194   41.099998   209.122192   2009.0  2008
300347.SZ 2018-10-19   363.760193   44.279999   385.119202   1362.0  1361
603019.SH 2018-10-19    89.288643   44.290001    92.836800    951.0   950
603659.SH 2020-04-14    70.168800   69.199997    74.529007    541.0   538
300347.SZ 2019-06-20   562.727539   68.500000   685.353455   1531.0  1523
002739.SZ 2016-01-08   209.029053  104.150002   219.324951    190.0   189
603019.SH 2018-06-29    92.534401   45.900002    99.489601    878.0   876
300364.SZ 2016-03-17    96.980003   96.980003   107.900002    270.0   268
300601.SZ 2018-08-27    73.030769   48.590000    74.834373    384.0   383
300033.SZ 2016-03-14   452.771210   54.400002   686.397827   1490.0  1482
603259.SH 2020-04-09   143.520752  101.860001   145.718781    470.0   469
000938.SZ 2018-06-26   150.861893   59.700001   164.886749   1858.0  1853
000418.SZ 2018-04-25   183.401779   64.989998   201.914108   1993.0  1986
000596.SZ 2018-10-19   245.883957   73.639999   255.433502   2127.0  2126
603019.SH 2016-02-16    68.358292   68.290001    70.560493    298.0   296
600570.SH 2019-01-04   771.007812   53.799999   902.566406   2130.0  2122
300450.SZ 2018-04-27   379.285187   62.639999   455.275452    579.0   571
603658.SH 2020-03-25   117.905121  112.720001   141.199539    879.0   864
600009.SH 2018-10-30   144.242767   47.810001   163.973938   2144.0  2140
300122.SZ 2018-10-19   163.551498   39.410000   170.897003   1883.0  1882

                      is_selled         r
code      date
300601.SZ 2018-08-13       True -0.066316
000568.SZ 2018-11-02       True  0.003750
          2018-10-12       True -0.072165
603589.SH 2018-07-31       True -0.066087
002049.SZ 2018-07-12       True -0.014565
601888.SH 2018-09-07       True  0.034091
300347.SZ 2020-04-07       True  0.084240
600536.SH 2019-05-08       True  0.096732
603259.SH 2020-02-03       True  0.201434
603288.SH 2020-03-20       True  0.300821
603068.SH 2020-05-06       True  0.005360
300359.SZ 2016-02-16       True -0.068653
002714.SZ 2020-02-04       True  0.508252
000596.SZ 2018-08-27       True -0.021471
300226.SZ 2020-02-06       True  0.261464
300558.SZ 2017-12-13       True -0.011005
300033.SZ 2016-02-02       True  0.079147
002594.SZ 2018-01-22       True -0.056422
002095.SZ 2016-01-18       True -0.049932
300725.SZ 2020-04-09       True  0.030928
603156.SH 2019-02-13       True  0.035666
603160.SH 2020-04-28       True  0.041808
300367.SZ 2016-02-01       True  0.199123
600332.SH 2018-10-19       True -0.040407
002304.SZ 2018-03-29       True -0.026690
600809.SH 2017-12-11       True  0.056551
000963.SZ 2018-08-09       True  0.011779
002230.SZ 2018-03-26       True -0.013651
300725.SZ 2020-03-25       True -0.014267
601888.SH 2019-02-11       True  0.064014
002371.SZ 2018-10-19       True  0.018248
300347.SZ 2018-10-19       True -0.049458
603019.SH 2018-10-19       True -0.050802
603659.SH 2020-04-14       True -0.012283
300347.SZ 2019-06-20       True  0.138551
002739.SZ 2016-01-08       True -0.068651
603019.SH 2018-06-29       True  0.008932
300364.SZ 2016-03-17       True  0.050732
300601.SZ 2018-08-27       True -0.044659
300033.SZ 2016-03-14       True  0.386581
603259.SH 2020-04-09       True -0.022678
000938.SZ 2018-06-26       True -0.011208
000418.SZ 2018-04-25       True  0.030312
000596.SZ 2018-10-19       True -0.071293
603019.SH 2016-02-16       True -0.028994
600570.SH 2019-01-04       True  0.100372
300450.SZ 2018-04-27       True  0.106960
603658.SH 2020-03-25       True  0.117814
600009.SH 2018-10-30       True  0.085547
300122.SZ 2018-10-19       True -0.019284

In [276]:
mask2 = df['prev_day_pct']<-8
tmp2 = df.loc[mask_final & mask2,r_columns].sort_values('date',ascending=False)
tmp2['r'].agg(agg_operations)
tmp2['r'].reset_index('code').resample('Q').agg(agg_operations)

mean      0.039027
median   -0.019553
max       0.376816
min      -0.133762
std       0.179938
size      6.000000
Name: r, dtype: float64

                   r
                mean    median       max       min       std size
date
2017-03-31 -0.019821 -0.019821 -0.019821 -0.019821       NaN    1
2017-06-30       NaN       NaN       NaN       NaN       NaN    0
2017-09-30       NaN       NaN       NaN       NaN       NaN    0
2017-12-31       NaN       NaN       NaN       NaN       NaN    0
2018-03-31       NaN       NaN       NaN       NaN       NaN    0
2018-06-30       NaN       NaN       NaN       NaN       NaN    0
2018-09-30       NaN       NaN       NaN       NaN       NaN    0
2018-12-31  0.033131  0.033131  0.085547 -0.019284  0.074127    2
2019-03-31       NaN       NaN       NaN       NaN       NaN    0
2019-06-30 -0.055333 -0.055333 -0.055333 -0.055333       NaN    1
2019-09-30  0.376816  0.376816  0.376816  0.376816       NaN    1
2019-12-31       NaN       NaN       NaN       NaN       NaN    0
2020-03-31 -0.133762 -0.133762 -0.133762 -0.133762       NaN    1

In [277]:
tmp2 = tmp.join(df_r_tmp,how='left')
tmp2.shape

mask_cut = tmp2['is_cut']==1
mask_cut2 = tmp2['is_cut2']==1

tmp2.loc[mask_cut,r_columns]
tmp2.loc[mask_cut2,r_columns]

tmp2.loc[mask_cut,['r','r2']].agg(agg_operations)
tmp2.loc[mask_cut,['r','r2']].reset_index('code').resample('Q').agg(agg_operations)


tmp2.loc[mask_cut2,['r','r3']].agg(agg_operations)
tmp2.loc[mask_cut2,['r','r3']].reset_index('code').resample('Q').agg(agg_operations)

# tmp2.loc[~mask_cut,r_columns]
tmp2.loc[~mask_cut & ~mask_cut2,['r','r2','r3']].agg(agg_operations)
tmp2.loc[~mask_cut & ~mask_cut2,['r','r2','r3']].reset_index('code').resample('Q').agg(agg_operations)

# (tmp2.loc[~mask_cut & ~mask_cut2,'f2_open']/tmp2.loc[~mask_cut & ~mask_cut2,'f1_open']).agg(agg_operations)
# (tmp2.loc[~mask_cut & ~mask_cut2,'f3_open']/tmp2.loc[~mask_cut & ~mask_cut2,'f2_open']).agg(agg_operations)

(178, 20)

                           buy_at          max  max_idx   idx  is_selled  \
code      date
603883.SH 2020-05-18    83.278366    87.455727   1150.0  1141      False
300725.SZ 2020-04-09   157.638580   161.260880    582.0   581       True
002594.SZ 2020-03-31    61.098000    61.873199   2117.0  2116       True
603501.SH 2020-03-30   160.629959   173.691986    542.0   537       True
600570.SH 2020-03-13  1716.751831  1716.751831   2410.0  2409       True
300709.SZ 2020-03-10   118.100395   119.112396    582.0   581       True
603883.SH 2019-11-28    75.978325    76.381584   1031.0  1030       True
600132.SH 2019-07-19   227.992691   234.466690   2277.0  2270       True
600600.SH 2019-06-11    80.331360    80.513626   2286.0  2285       True
601336.SH 2019-05-10    54.945023    55.556339   1771.0  1768       True
002912.SZ 2019-04-16   168.944992   170.505722    341.0   340       True
000568.SZ 2018-11-02  1271.280029  1327.851929   2119.0  2108       True
000858.SZ 2018-11-02   896.536499   900.622498   2083.0  2082       True
600760.SH 2018-10-22   173.784164   175.206619   1978.0  1977       True
600009.SH 2018-10-22   166.900436   169.796753   2135.0  2134       True
600763.SH 2018-10-22   119.228546   123.406494   1976.0  1975       True
000596.SZ 2018-10-19   245.883957   255.433502   2127.0  2126       True
600585.SH 2018-10-12   155.441406   155.792664   2121.0  2120       True
000568.SZ 2018-10-12  1387.284302  1400.950562   2094.0  2093       True
601888.SH 2018-10-12   137.703705   141.045517   2066.0  2065       True
300601.SZ 2018-08-27    73.030769    74.834373    384.0   383       True
600009.SH 2018-08-21   174.978470   175.619568   2098.0  2096       True
600570.SH 2018-08-13   738.333130   742.775757   2027.0  2026       True
300601.SZ 2018-08-07    60.856472    61.472702    370.0   369       True
          2018-08-02    72.880470    73.316338    367.0   366       True
603589.SH 2018-07-31    59.512497    60.029999    756.0   755       True
002008.SZ 2018-06-29   678.213501   678.213501   2038.0  2037       True
300666.SZ 2018-06-20    56.166115    58.658600    243.0   242       True
603986.SH 2018-06-05   312.325836   316.856384    236.0   235       True
002304.SZ 2018-03-29   422.162781   431.860016   1992.0  1991       True
300033.SZ 2016-03-14   452.771210   686.397827   1490.0  1482       True
000938.SZ 2016-03-14   142.139923   182.819778   1333.0  1325       True
000025.SZ 2016-03-02   135.576004   137.383682   1470.0  1469       True
          2016-02-16   150.658829   152.899597   1459.0  1458       True
002095.SZ 2016-02-04   280.444489   293.640320   1484.0  1476       True
000025.SZ 2016-01-19   153.144394   160.055008   1444.0  1443       True
002095.SZ 2016-01-06   298.112000   298.944946   1456.0  1455       True

                          sell_at  sell_date         r
code      date
603883.SH 2020-05-18          NaN        NaT       NaN
300725.SZ 2020-04-09   162.513992 2020-04-14  0.030928
002594.SZ 2020-03-31    57.721798 2020-04-03 -0.055259
603501.SH 2020-03-30   163.722275 2020-04-10  0.019251
600570.SH 2020-03-13  1651.298340 2020-03-18 -0.038126
300709.SZ 2020-03-10   102.303070 2020-03-13 -0.133762
603883.SH 2019-11-28    68.761002 2019-12-03 -0.094992
600132.SH 2019-07-19   220.115997 2019-08-01 -0.034548
600600.SH 2019-06-11    75.294075 2019-06-18 -0.062706
601336.SH 2019-05-10    51.646000 2019-05-20 -0.060042
002912.SZ 2019-04-16   159.596710 2019-04-24 -0.055333
000568.SZ 2018-11-02  1276.047363 2018-11-30  0.003750
000858.SZ 2018-11-02   848.526001 2018-11-12 -0.053551
600760.SH 2018-10-22   166.034256 2018-10-29 -0.044595
600009.SH 2018-10-22   150.849991 2018-10-25 -0.096168
600763.SH 2018-10-22   113.504997 2018-10-25 -0.048005
000596.SZ 2018-10-19   228.354202 2018-10-24 -0.071293
600585.SH 2018-10-12   145.781189 2018-10-19 -0.062147
000568.SZ 2018-10-12  1287.171021 2018-10-19 -0.072165
601888.SH 2018-10-12   135.504593 2018-10-17 -0.015970
300601.SZ 2018-08-27    69.769257 2018-08-31 -0.044659
600009.SH 2018-08-21   163.521393 2018-08-30 -0.065477
600570.SH 2018-08-13   705.085205 2018-08-20 -0.045031
300601.SZ 2018-08-07    57.760292 2018-08-10 -0.050877
          2018-08-02    58.121010 2018-08-07 -0.202516
603589.SH 2018-07-31    55.579498 2018-08-03 -0.066087
002008.SZ 2018-06-29   623.672241 2018-07-04 -0.080419
300666.SZ 2018-06-20    51.351303 2018-06-25 -0.085724
603986.SH 2018-06-05   292.318298 2018-06-11 -0.064060
002304.SZ 2018-03-29   410.895172 2018-04-04 -0.026690
300033.SZ 2016-03-14   627.803894 2016-03-25  0.386581
000938.SZ 2016-03-14   162.921204 2016-03-25  0.146203
000025.SZ 2016-03-02   123.336502 2016-03-07 -0.090278
          2016-02-16   139.643295 2016-02-19 -0.073116
002095.SZ 2016-02-04   270.931183 2016-02-25 -0.033922
000025.SZ 2016-01-19   147.721344 2016-01-22 -0.035411
002095.SZ 2016-01-06   283.206390 2016-01-12 -0.050000

                           buy_at          max  max_idx   idx  is_selled  \
code      date
300454.SZ 2020-04-14   166.592514   198.786774    478.0   466       True
002594.SZ 2020-03-31    61.098000    61.873199   2117.0  2116       True
603737.SH 2020-03-20   153.480606   200.480515    943.0   923       True
600570.SH 2020-03-13  1716.751831  1716.751831   2410.0  2409       True
300709.SZ 2020-03-10   118.100395   119.112396    582.0   581       True
603883.SH 2019-11-28    75.978325    76.381584   1031.0  1030       True
601888.SH 2018-10-31   119.140549   125.522316   2080.0  2078       True
600585.SH 2018-10-12   155.441406   155.792664   2121.0  2120       True
000568.SZ 2018-10-12  1387.284302  1400.950562   2094.0  2093       True
300601.SZ 2018-08-07    60.856472    61.472702    370.0   369       True
          2018-08-02    72.880470    73.316338    367.0   366       True
603589.SH 2018-07-31    59.512497    60.029999    756.0   755       True
002008.SZ 2018-06-29   678.213501   678.213501   2038.0  2037       True
300666.SZ 2018-06-20    56.166115    58.658600    243.0   242       True
000025.SZ 2016-03-02   135.576004   137.383682   1470.0  1469       True
          2016-02-16   150.658829   152.899597   1459.0  1458       True
002095.SZ 2016-02-04   280.444489   293.640320   1484.0  1476       True
300379.SZ 2016-01-12   188.564743   211.949509    371.0   367       True
002739.SZ 2016-01-08   209.029053   219.324951    190.0   189       True
002095.SZ 2016-01-06   298.112000   298.944946   1456.0  1455       True

                          sell_at  sell_date         r
code      date
300454.SZ 2020-04-14   186.371994 2020-05-15  0.118730
002594.SZ 2020-03-31    57.721798 2020-04-03 -0.055259
603737.SH 2020-03-20   197.688248 2020-04-21  0.288034
600570.SH 2020-03-13  1651.298340 2020-03-18 -0.038126
300709.SZ 2020-03-10   102.303070 2020-03-13 -0.133762
603883.SH 2019-11-28    68.761002 2019-12-03 -0.094992
601888.SH 2018-10-31   118.903397 2018-11-14 -0.001991
600585.SH 2018-10-12   145.781189 2018-10-19 -0.062147
000568.SZ 2018-10-12  1287.171021 2018-10-19 -0.072165
300601.SZ 2018-08-07    57.760292 2018-08-10 -0.050877
          2018-08-02    58.121010 2018-08-07 -0.202516
603589.SH 2018-07-31    55.579498 2018-08-03 -0.066087
002008.SZ 2018-06-29   623.672241 2018-07-04 -0.080419
300666.SZ 2018-06-20    51.351303 2018-06-25 -0.085724
000025.SZ 2016-03-02   123.336502 2016-03-07 -0.090278
          2016-02-16   139.643295 2016-02-19 -0.073116
002095.SZ 2016-02-04   270.931183 2016-02-25 -0.033922
300379.SZ 2016-01-12   192.864014 2016-01-21  0.022800
002739.SZ 2016-01-08   194.679001 2016-01-14 -0.068651
002095.SZ 2016-01-06   283.206390 2016-01-12 -0.050000

                r         r2
mean    -0.039617  -0.049803
median  -0.054405  -0.038126
max      0.386581   0.030928
min     -0.202516  -0.202516
std      0.089921   0.040363
size    37.000000  37.000000

                   r                                                     r2  \
                mean    median       max       min       std size      mean
date
2016-03-31  0.035722 -0.035411  0.386581 -0.090278  0.173344    7 -0.049825
2016-06-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2016-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2016-12-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-03-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-06-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-12-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2018-03-31 -0.026690 -0.026690 -0.026690 -0.026690       NaN    1 -0.026318
2018-06-30 -0.076734 -0.080419 -0.064060 -0.085724  0.011293    3 -0.067364
2018-09-30 -0.079108 -0.058177 -0.044659 -0.202516  0.061204    6 -0.069002
2018-12-31 -0.051127 -0.053551  0.003750 -0.096168  0.030218    9 -0.043754
2019-03-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2019-06-30 -0.059361 -0.060042 -0.055333 -0.062706  0.003733    3 -0.023231
2019-09-30 -0.034548 -0.034548 -0.034548 -0.034548       NaN    1 -0.023190
2019-12-31 -0.094992 -0.094992 -0.094992 -0.094992       NaN    1 -0.094992
2020-03-31 -0.051974 -0.046693  0.019251 -0.133762  0.063153    4 -0.068334
2020-06-30  0.030928  0.030928  0.030928  0.030928       NaN    2  0.001744


              median       max       min       std size
date
2016-03-31 -0.046428 -0.011029 -0.090278  0.030045    7
2016-06-30       NaN       NaN       NaN       NaN    0
2016-09-30       NaN       NaN       NaN       NaN    0
2016-12-31       NaN       NaN       NaN       NaN    0
2017-03-31       NaN       NaN       NaN       NaN    0
2017-06-30       NaN       NaN       NaN       NaN    0
2017-09-30       NaN       NaN       NaN       NaN    0
2017-12-31       NaN       NaN       NaN       NaN    0
2018-03-31 -0.026318 -0.026318 -0.026318       NaN    1
2018-06-30 -0.080419 -0.035949 -0.085724  0.027335    3
2018-09-30 -0.046595 -0.022433 -0.202516  0.067204    6
2018-12-31 -0.033898 -0.015120 -0.096168  0.027006    9
2019-03-31       NaN       NaN       NaN       NaN    0
2019-06-30 -0.019389 -0.015922 -0.034381  0.009811    3
2019-09-30 -0.023190 -0.023190 -0.023190       NaN    1
2019-12-31 -0.094992 -0.094992 -0.094992       NaN    1
2020-03-31 -0.050725 -0.038126 -0.133762  0.044176    4
2020-06-30  0.001744  0.030928 -0.027440  0.041272    2

                r         r3
mean    -0.041523  -0.056725
median  -0.064117  -0.054246
max      0.288034  -0.011762
min     -0.202516  -0.124590
std      0.099270   0.031366
size    20.000000  20.000000

                   r                                                     r3  \
                mean    median       max       min       std size      mean
date
2016-03-31 -0.048861 -0.059326  0.022800 -0.090278  0.040137    6 -0.067970
2016-06-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2016-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2016-12-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-03-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-06-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-12-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2018-03-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2018-06-30 -0.083072 -0.083072 -0.080419 -0.085724  0.003752    2 -0.053438
2018-09-30 -0.106493 -0.066087 -0.050877 -0.202516  0.083505    3 -0.081507
2018-12-31 -0.045434 -0.062147 -0.001991 -0.072165  0.037955    3 -0.024721
2019-03-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2019-06-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2019-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2019-12-31 -0.094992 -0.094992 -0.094992 -0.094992       NaN    1 -0.074578
2020-03-31  0.015222 -0.046693  0.288034 -0.133762  0.186580    4 -0.049193
2020-06-30  0.118730  0.118730  0.118730  0.118730       NaN    1 -0.029773


              median       max       min       std size
date
2016-03-31 -0.068357 -0.020643 -0.124590  0.035332    6
2016-06-30       NaN       NaN       NaN       NaN    0
2016-09-30       NaN       NaN       NaN       NaN    0
2016-12-31       NaN       NaN       NaN       NaN    0
2017-03-31       NaN       NaN       NaN       NaN    0
2017-06-30       NaN       NaN       NaN       NaN    0
2017-09-30       NaN       NaN       NaN       NaN    0
2017-12-31       NaN       NaN       NaN       NaN    0
2018-03-31       NaN       NaN       NaN       NaN    0
2018-06-30 -0.053438 -0.051805 -0.055070  0.002309    2
2018-09-30 -0.103482 -0.030087 -0.110951  0.044687    3
2018-12-31 -0.027119 -0.011762 -0.035281  0.011941    3
2019-03-31       NaN       NaN       NaN       NaN    0
2019-06-30       NaN       NaN       NaN       NaN    0
2019-09-30       NaN       NaN       NaN       NaN    0
2019-12-31 -0.074578 -0.074578 -0.074578       NaN    1
2020-03-31 -0.055578 -0.020147 -0.065467  0.019995    4
2020-06-30 -0.029773 -0.029773 -0.029773       NaN    1

                 r          r2          r3
mean      0.059077    0.036070    0.024524
median    0.021835    0.028972    0.023430
max       0.659888    0.160990    0.162632
min      -0.080712   -0.034669   -0.046159
std       0.117487    0.042968    0.034337
size    136.000000  136.000000  136.000000

                   r                                                     r2  \
                mean    median       max       min       std size      mean
date
2016-03-31  0.038609  0.048544  0.199123 -0.068653  0.078826   23  0.044216
2016-06-30  0.044952  0.048297  0.143154 -0.056596  0.099917    3  0.075579
2016-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2016-12-31 -0.044609 -0.044609 -0.038750 -0.050468  0.008286    2  0.006226
2017-03-31 -0.019821 -0.019821 -0.019821 -0.019821       NaN    1  0.026607
2017-06-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-09-30       NaN       NaN       NaN       NaN       NaN    0       NaN
2017-12-31  0.022773  0.022773  0.056551 -0.011005  0.047769    2  0.023100
2018-03-31  0.092711  0.061667  0.340325 -0.056422  0.123823   11  0.041183
2018-06-30  0.012979  0.003493  0.106960 -0.055175  0.054041    6  0.013283
2018-09-30  0.015339  0.008403  0.082961 -0.066316  0.042790   17  0.022182
2018-12-31  0.004262  0.001539  0.131122 -0.056426  0.052794   15  0.028264
2019-03-31  0.038850  0.027185  0.217033 -0.057263  0.090124    8  0.032687
2019-06-30  0.048514  0.064256  0.138551 -0.080712  0.074101    8  0.033089
2019-09-30  0.375745  0.376816  0.659888  0.090532  0.284680    3  0.076067
2019-12-31       NaN       NaN       NaN       NaN       NaN    0       NaN
2020-03-31  0.164633  0.201434  0.427659 -0.065126  0.160195   19  0.039950
2020-06-30  0.037619  0.011997  0.189747 -0.031937  0.064793   18  0.040777

                                                               r3            \
              median       max       min       std size      mean    median
date
2016-03-31  0.042654  0.135117 -0.027285  0.050322   23  0.028661  0.028155
2016-06-30  0.037588  0.152516  0.036633  0.066631    3  0.004117 -0.001286
2016-09-30       NaN       NaN       NaN       NaN    0       NaN       NaN
2016-12-31  0.006226  0.022727 -0.010276  0.023337    2  0.006178  0.006178
2017-03-31  0.026607  0.026607  0.026607       NaN    1  0.030536  0.030536
2017-06-30       NaN       NaN       NaN       NaN    0       NaN       NaN
2017-09-30       NaN       NaN       NaN       NaN    0       NaN       NaN
2017-12-31  0.023100  0.035834  0.010367  0.018008    2  0.011834  0.011834
2018-03-31  0.028972  0.152715 -0.001801  0.044126   11  0.017013  0.010284
2018-06-30  0.015779  0.052522 -0.028355  0.033213    6 -0.000001 -0.005706
2018-09-30  0.024590  0.079678 -0.022005  0.033182   17  0.011961  0.006969
2018-12-31  0.022834  0.135334 -0.034669  0.044135   15  0.039759  0.043970
2019-03-31  0.024865  0.079670  0.005866  0.025355    8  0.016441  0.016433
2019-06-30  0.014622  0.115595 -0.004088  0.044246    8  0.021935  0.026416
2019-09-30  0.112252  0.132241 -0.016293  0.080608    3  0.060170  0.079971
2019-12-31       NaN       NaN       NaN       NaN    0       NaN       NaN
2020-03-31  0.032563  0.160990 -0.025292  0.045222   19  0.034777  0.031746
2020-06-30  0.035838  0.118509 -0.022363  0.037428   18  0.025738  0.020940


                 max       min       std size
date
2016-03-31  0.130634 -0.046159  0.050513   23
2016-06-30  0.038710 -0.025071  0.032232    3
2016-09-30       NaN       NaN       NaN    0
2016-12-31  0.010795  0.001561  0.006530    2
2017-03-31  0.030536  0.030536       NaN    1
2017-06-30       NaN       NaN       NaN    0
2017-09-30       NaN       NaN       NaN    0
2017-12-31  0.028708 -0.005039  0.023863    2
2018-03-31  0.062341 -0.008673  0.020898   11
2018-06-30  0.041826 -0.018528  0.021252    6
2018-09-30  0.051170 -0.023146  0.025631   17
2018-12-31  0.111111 -0.001896  0.026831   15
2019-03-31  0.041209 -0.012037  0.016622    8
2019-06-30  0.076290 -0.030990  0.031469    8
2019-09-30  0.101462 -0.000922  0.053988    3
2019-12-31       NaN       NaN       NaN    0
2020-03-31  0.162632 -0.024881  0.036120   19
2020-06-30  0.091034 -0.022187  0.029891   18

In [292]:
# tmp2.shape
tmp.to_csv('strategy_detail2.csv')
# tmp.loc[idx['603737.SH',:]]

In [198]:
tmp_day = df.loc[idx[:,'2020-05-25'],['close','close0']]
# df['close0'].groupby('date').rank().tail()
tmp_day.head(10)
tmp_day['rank1'] = tmp_day['close0'].rank(ascending=False)
tmp_day['pct1'] = tmp_day['close0'].rank(ascending=False,pct=True)

tmp_day['rank2'] = tmp_day['close0'].groupby('date').rank(ascending=False)
tmp_day.head(20)

                            close     close0
code      date
000001.SZ 2020-05-25  1414.830200  12.960000
000002.SZ 2020-05-25  3778.569336  25.459999
000004.SZ 2020-05-25   112.572807  27.700001
000005.SZ 2020-05-25    23.262678   2.510000
000006.SZ 2020-05-25   167.210709   4.720000
000007.SZ 2020-05-25    66.272003   8.000000
000008.SZ 2020-05-25    65.882355   2.950000
000009.SZ 2020-05-25    57.760681   6.520000
000010.SZ 2020-05-25    42.668999   3.960000
000011.SZ 2020-05-25    31.441761   8.380000

                            close     close0   rank1      pct1   rank2
code      date
000001.SZ 2020-05-25  1414.830200  12.960000  1384.5  0.362719  1384.5
000002.SZ 2020-05-25  3778.569336  25.459999   628.0  0.164527   628.0
000004.SZ 2020-05-25   112.572807  27.700001   555.5  0.145533   555.5
000005.SZ 2020-05-25    23.262678   2.510000  3621.0  0.948651  3621.0
000006.SZ 2020-05-25   167.210709   4.720000  2961.0  0.775740  2961.0
000007.SZ 2020-05-25    66.272003   8.000000  2096.5  0.549253  2096.5
000008.SZ 2020-05-25    65.882355   2.950000  3515.0  0.920880  3515.0
000009.SZ 2020-05-25    57.760681   6.520000  2425.5  0.635447  2425.5
000010.SZ 2020-05-25    42.668999   3.960000  3211.0  0.841237  3211.0
000011.SZ 2020-05-25    31.441761   8.380000  2020.5  0.529342  2020.5
000012.SZ 2020-05-25   121.462997   4.600000  2995.0  0.784648  2995.0
000014.SZ 2020-05-25    44.506409   8.210000  2052.0  0.537595  2052.0
000016.SZ 2020-05-25   143.988388   6.640000  2400.0  0.628766  2400.0
000017.SZ 2020-05-25     5.661130   2.110000  3685.5  0.965549  3685.5
000019.SZ 2020-05-25    35.049770   8.530000  1986.0  0.520304  1986.0
000020.SZ 2020-05-25    15.487680   8.840000  1938.0  0.507729  1938.0
000021.SZ 2020-05-25   324.566376  23.180000   704.0  0.184438   704.0
000023.SZ 2020-05-25    43.578781  16.340000  1059.0  0.277443  1059.0
000025.SZ 2020-05-25    47.765190  17.490000   968.5  0.253733   968.5
000026.SZ 2020-05-25    63.217854   8.350000  2026.0  0.530783  2026.0

In [121]:
tmp_code = tmp.groupby('code')['r'].agg(agg_operations)
tmp_code['median*size'] = tmp_code['median'] * tmp_code['size']
tmp_code['mean*size'] = tmp_code['mean'] * tmp_code['size']
tmp_code['accum_r'] = tmp[['median*size','mean*size']]
tmp_code[tmp_code['size']>10].sort_values('median*size',ascending=False).head(50)

               mean    median       max       min       std  size  median*size
code
002049.SZ  0.075981  0.065911  0.348438 -0.056281  0.121125    11     0.725020
000997.SZ  0.018724  0.034338  0.122692 -0.129771  0.069085    14     0.480734
002202.SZ  0.043496  0.043200  0.117567 -0.047929  0.050152    11     0.475200
000063.SZ  0.042406  0.025231  0.294273 -0.071795  0.100785    17     0.428922
000858.SZ  0.033292  0.023333  0.149918 -0.051783  0.062685    16     0.373326
600872.SH  0.019702  0.019560  0.101923 -0.048490  0.043391    17     0.332517
600383.SH  0.052589  0.023829  0.343724 -0.064063  0.111185    13     0.309778
000002.SZ  0.040598  0.020408  0.188314 -0.037487  0.070810    15     0.306122
002508.SZ  0.019406  0.015773  0.141343 -0.075363  0.064172    15     0.236593
300142.SZ  0.055657  0.018444  0.328125 -0.053097  0.113884    11     0.202886
600188.SH  0.035139  0.018304  0.137394 -0.041520  0.062771    11     0.201348
000703.SZ  0.023701  0.017391  0.155375 -0.051571  0.067477    11     0.191303
600998.SH  0.018687  0.013216  0.180258 -0.126092  0.075805    14     0.185017
600809.SH  0.032796  0.007111  0.380253 -0.059519  0.098113    23     0.163554
600519.SH  0.011231  0.011495  0.168120 -0.055808  0.064904    14     0.160927
600498.SH  0.017452  0.013669  0.145455 -0.056842  0.066978    11     0.150360
001979.SZ  0.000724  0.008983  0.053116 -0.072277  0.038119    14     0.125762
600183.SH  0.019809  0.009931  0.178061 -0.147170  0.096170    12     0.119169
002456.SZ  0.022322  0.008004  0.258138 -0.038185  0.074267    13     0.104051
002714.SZ  0.023146  0.007518  0.198928 -0.101203  0.095278    12     0.090216
600201.SH  0.010606  0.007560  0.068660 -0.038889  0.042418    11     0.083165
600741.SH  0.016056  0.005836  0.102916 -0.052263  0.049424    14     0.081710
000001.SZ  0.043164  0.006128  0.238095 -0.050000  0.085530    13     0.079658
600309.SH  0.028079  0.004504  0.148966 -0.047619  0.064161    15     0.067557
600406.SH  0.013806  0.005673  0.113636 -0.050750  0.055128    11     0.062403
600048.SH  0.024718  0.004005  0.328461 -0.070896  0.096812    14     0.056072
002439.SZ  0.014673  0.004982  0.122877 -0.057010  0.058470    11     0.054804
002475.SZ  0.007769  0.003651  0.136961 -0.121749  0.069912    14     0.051112
000661.SZ  0.018994  0.004354  0.160135 -0.054667  0.066962    11     0.047890
600487.SH  0.023816  0.001863  0.171364 -0.053163  0.071601    22     0.040984
600196.SH  0.017069  0.002273  0.258147 -0.046974  0.083361    12     0.027273
300408.SZ  0.003814  0.002172  0.116326 -0.065877  0.053167    12     0.026059
300014.SZ  0.026428  0.000895  0.159780 -0.078576  0.081550    13     0.011634
601155.SH  0.046283  0.000713  0.354319 -0.081890  0.128755    15     0.010701
600260.SH  0.044211  0.000595  0.366648 -0.071595  0.127364    11     0.006550
601211.SH -0.005324  0.000000  0.017034 -0.037270  0.017803    11     0.000000
002001.SZ  0.042220 -0.000234  0.344996 -0.094859  0.121388    18    -0.004219
000786.SZ  0.028143 -0.000784  0.258592 -0.116541  0.107961    13    -0.010197
600150.SH  0.015457 -0.001485  0.146341 -0.057793  0.057489    11    -0.016333
600104.SH  0.007981 -0.001874  0.153572 -0.055243  0.056804    12    -0.022482
000776.SZ  0.017581 -0.004975  0.251632 -0.070624  0.092134    11    -0.054726
300003.SZ  0.009687 -0.005991  0.209771 -0.059058  0.078402    11    -0.065897
601601.SH -0.006464 -0.006122  0.067010 -0.068170  0.047528    11    -0.067347
000977.SZ  0.003147 -0.005875  0.081389 -0.070313  0.056344    12    -0.070502
002142.SZ  0.007265 -0.004695  0.104265 -0.059266  0.045102    17    -0.079813
002007.SZ -0.003436 -0.006305  0.201015 -0.107258  0.082271    13    -0.081964
000568.SZ  0.012091 -0.004456  0.175978 -0.086292  0.071488    20    -0.089122
300115.SZ  0.009522 -0.008160  0.153015 -0.068071  0.062788    11    -0.089755
002153.SZ -0.000794 -0.007119  0.140234 -0.078448  0.058640    13    -0.092545
002251.SZ -0.004163 -0.008641  0.139623 -0.161026  0.074441    11    -0.095047

In [257]:
# df.loc[('600460.SH','2020-04-02'),['60ma_pct','30ma_pct']]
df['prev_pct'] = df['pct'].sort_index().groupby('code').shift(1)
df['prev_day_pct'] = df['day_pct'].sort_index().groupby('code').shift(1)

In [83]:
df.columns
df['close/30ma'] = df['close']/df['30ma']

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share',
       'float_share', 'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm',
       'pb*pe', '5ma', '10ma', '20ma', '40ma', '60ma', '120ma', '250ma',
       'close/5ma', 'close/10ma', 'close/20ma', 'close/40ma', 'close/60ma',
       'close/120ma', 'close/250ma', 'buy_at', 'max', 'max_idx', 'idx',
       'is_selled', 'sell_at', 'sell_date', 'r', '60ma_pct', '20ma_pct',
       'p5max_abs_pct', 'p10max_abs_pct', '30ma', '30ma_pct'],
      dtype='object')

In [290]:
df.loc[mask_date2,'r'].agg(agg_operations[:-1])

mean     -0.003412
median   -0.023810
max       2.763278
min      -0.967228
std       0.100699
Name: r, dtype: float64

NameError: name 'feature_engineering' is not defined