In [1]:
import pandas as pd
import numpy as np
import itertools
import lightgbm as lgbm
import matplotlib.pyplot as plt

from script import *
from feature_engineering import *
import db_operations as dbop
from constants import *
import data_process as dp

import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
pd.set_option('display.max_rows',200)
idx = pd.IndexSlice
agg_operations =['mean','median','max','min','std','size']

In [3]:
%time df = pd.read_hdf(os.path.join('datasets','df_20140101.h5'),key='data')
df = df.sort_index()
df.shape
df.columns

Wall time: 4.71 s

(4593560, 64)

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share',
       'float_share', 'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm',
       'pb*pe', '5ma', '10ma', '20ma', '40ma', '60ma', '120ma', '250ma',
       'close/5ma', 'close/10ma', 'close/20ma', 'close/40ma', 'close/60ma',
       'close/120ma', 'close/250ma', '60ma_pct', '20ma_pct', 'p5max_abs_pct',
       'p10max_abs_pct', '30ma', '30ma_pct', 'close/30ma', 'prev_close',
       'day_pct', 'close0_rank', 'close0_pct', 'prev_pct', 'prev_day_pct',
       'sell_at', 'sell_at0', 'sell_date', 'sell_idx', 'buy_at', 'buy_at0',
       'max', 'max_idx', 'idx', 'is_selled', 'r'],
      dtype='object')

In [9]:
df.columns

Index(['open', 'high', 'low', 'close', 'vol', 'amt', 'adj_factor', 'avg',
       'close0', 'avg0', 'pct', 'turnover_rate', 'turnover_rate_f',
       'volume_ratio', 'pe', 'pe_ttm', 'pb', 'ps', 'ps_ttm', 'total_share',
       'float_share', 'free_share', 'total_mv', 'circ_mv', 'pb*pe_ttm',
       'pb*pe', '5ma', '10ma', '20ma', '40ma', '60ma', '120ma', '250ma',
       'close/5ma', 'close/10ma', 'close/20ma', 'close/40ma', 'close/60ma',
       'close/120ma', 'close/250ma', '60ma_pct', '20ma_pct', 'p5max_abs_pct',
       'p10max_abs_pct', '30ma', '30ma_pct', 'close/30ma', 'prev_close',
       'day_pct', 'close0_rank', 'close0_pct', 'prev_pct', 'prev_day_pct',
       'sell_at', 'sell_at0', 'sell_date', 'sell_idx', 'buy_at', 'buy_at0',
       'max', 'max_idx', 'idx', 'is_selled', 'r', '3ma'],
      dtype='object')

In [8]:
min_periods=1
periods = [3]
for k in periods:
    %time df['{:d}ma'.format(k)] = groupby_rolling(df[['close']],level="code",window=k,ops='mean',min_periods=min_periods)

Wall time: 7.34 s

In [10]:
%time df['p3mean_amt'] = groupby_rolling(df[['amt']],level="code",window=3,ops='mean',min_periods=min_periods)

Wall time: 7.81 s

In [19]:
tmp = pd.DataFrame(index=df.index)
tmp[0]=1
%time tmp['idx']=tmp.reset_index('code').groupby('code').expanding()[0].sum()
tmp.head(20)
%time df['idx'] = tmp['idx']

Wall time: 4.53 s

                      0   idx
code      date
000001.SZ 2014-01-02  1   1.0
          2014-01-03  1   2.0
          2014-01-06  1   3.0
          2014-01-07  1   4.0
          2014-01-08  1   5.0
          2014-01-09  1   6.0
          2014-01-10  1   7.0
          2014-01-13  1   8.0
          2014-01-14  1   9.0
          2014-01-15  1  10.0
          2014-01-16  1  11.0
          2014-01-17  1  12.0
          2014-01-20  1  13.0
          2014-01-21  1  14.0
          2014-01-22  1  15.0
          2014-01-23  1  16.0
          2014-01-24  1  17.0
          2014-01-27  1  18.0
          2014-01-28  1  19.0
          2014-01-29  1  20.0

Wall time: 20 ms

In [118]:
target_col = 'p3mean_amt'
target_ss = df[target_col].fillna(0)

# target_ix = np.nonzero(df.columns==target_col)[0][0]
# idx_ix = np.nonzero(df.columns=='idx')[0][0]
# target_ix,idx_ix
# df.columns[[target_ix,idx_ix]]


def idxmax_inc_1(x:np.array):
    return np.argmax(np.nan_to_num(x.astype(float)))+1
# df['']df.groupby('code')[target_col].rolling(20).agg(idxmax_inc_1)


for k in [20]:
#     %time df[['p{}max_p3mean_amt'.format(k),'p{}idxmax_p3mean_amt'.format(k)]] = groupby_rolling(df[[target_col]],level="code",window=k,ops=['max',idxmax_inc_1],min_periods=min_periods)
    %time df['p{}max_p3mean_amt'.format(k)] = groupby_rolling(df[[target_col]],level="code",window=k,ops=['max'],min_periods=min_periods)
    %time df['p{}idxmax_p3mean_amt'.format(k)]= target_ss.rolling(k).apply(lambda x:np.argmax(x))
    df_check = pd.DataFrame(index=df.index)
    df_check['mark']=1
    mask = df_check.groupby('code')['mark'].shift(k - 1).isnull()
    df.loc[mask,'p{}idxmax_p3mean_amt'.format(k)]=np.nan

Wall time: 7.36 s

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

Wall time: 10.6 s

In [119]:
df[['p{}idxmax_p3mean_amt'.format(k),'p{}max_p3mean_amt'.format(k),target_col,'idx']].head(100)

                      p20idxmax_p3mean_amt  p20max_p3mean_amt  p3mean_amt  \
code      date
000001.SZ 2014-01-02                   NaN                NaN         NaN
          2014-01-03                   NaN                NaN         NaN
          2014-01-06                   NaN                NaN    6.440451
          2014-01-07                   NaN                NaN    5.766298
          2014-01-08                   NaN                NaN    5.372314
          2014-01-09                   NaN                NaN    5.030948
          2014-01-10                   NaN                NaN    5.219315
          2014-01-13                   NaN                NaN    5.289112
          2014-01-14                   NaN                NaN    4.768594
          2014-01-15                   NaN                NaN    4.422745
          2014-01-16                   NaN                NaN    3.724920
          2014-01-17                   NaN                NaN    3.947280
          2014-01-20                   NaN                NaN    3.955350
          2014-01-21                   NaN                NaN    3.800520
          2014-01-22                   NaN                NaN    4.587520
          2014-01-23                   NaN                NaN    4.888663
          2014-01-24                   NaN                NaN    5.768454
          2014-01-27                   NaN                NaN    5.051187
          2014-01-28                   NaN                NaN    5.073574
          2014-01-29                   2.0           6.440451    4.387105
          2014-01-30                   1.0           6.440451    3.801356
          2014-02-07                   0.0           6.440451    3.881106
          2014-02-10                  13.0           5.768454    4.909218
          2014-02-11                  19.0           9.032334    9.032334
          2014-02-12                  19.0          10.237650   10.237650
          2014-02-13                  19.0          12.939544   12.939544
          2014-02-14                  18.0          12.939544   10.047386
          2014-02-17                  17.0          12.939544    9.700279
          2014-02-18                  16.0          12.939544    7.099177
          2014-02-19                  15.0          12.939544    8.685369
          2014-02-20                  14.0          12.939544    9.323386
          2014-02-21                  13.0          12.939544    8.854837
          2014-02-24                  12.0          12.939544    7.431637
          2014-02-25                  11.0          12.939544    6.406989
          2014-02-26                  10.0          12.939544    6.051933
          2014-02-27                   9.0          12.939544    5.621958
          2014-02-28                   8.0          12.939544    5.228416
          2014-03-03                   7.0          12.939544    5.285521
          2014-03-04                   6.0          12.939544    5.129665
          2014-03-05                   5.0          12.939544    5.402005
          2014-03-06                   4.0          12.939544    5.715387
          2014-03-07                   3.0          12.939544    5.564266
          2014-03-10                   2.0          12.939544    5.538672
          2014-03-11                   1.0          12.939544    5.198088
          2014-03-12                   0.0          12.939544    5.207332
          2014-03-13                   0.0          10.047386    5.526960
          2014-03-14                   0.0           9.700279    5.541188
          2014-03-17                   2.0           9.323386    5.062054
          2014-03-18                   1.0           9.323386    4.348442
          2014-03-19                   0.0           9.323386    4.028202
          2014-03-20                   0.0           8.854837    4.274709
          2014-03-21                   0.0           7.431637    7.165966
          2014-03-24                  19.0           8.960710    8.960710
          2014-03-25                  18.0           8.960710    8.901164
          2014-03-26                  17.0           8.960710    5.789414
          2014-03-27                  16.0           8.960710    5.653562
          2014-03-28                  15.0           8.960710    6.092802
          2014-03-31                  14.0           8.960710    5.968802
          2014-04-01                  13.0           8.960710    4.088603
          2014-04-02                  12.0           8.960710    3.834999
          2014-04-03                  11.0           8.960710    4.328993
          2014-04-04                  10.0           8.960710    4.537813
          2014-04-08                   9.0           8.960710    7.879459
          2014-04-09                   8.0           8.960710    8.319286
          2014-04-10                  19.0          10.017394   10.017394
          2014-04-11                  18.0          10.017394    7.255854
          2014-04-14                  17.0          10.017394    6.756196
          2014-04-15                  16.0          10.017394    5.802605
          2014-04-16                  15.0          10.017394    4.934137
          2014-04-17                  14.0          10.017394    4.457558
          2014-04-18                  13.0          10.017394    3.654766
          2014-04-21                  12.0          10.017394    3.347890
          2014-04-22                  11.0          10.017394    4.134985
          2014-04-23                  10.0          10.017394    7.458360
          2014-04-24                   9.0          10.017394    8.759471
          2014-04-25                   8.0          10.017394    9.564014
          2014-04-28                   7.0          10.017394    7.018742
          2014-04-29                   6.0          10.017394    6.171821
          2014-04-30                   5.0          10.017394    4.433786
          2014-05-05                   4.0          10.017394    3.960053
          2014-05-06                   3.0          10.017394    3.413325
          2014-05-07                   2.0          10.017394    3.327195
          2014-05-08                   1.0          10.017394    3.254015
          2014-05-09                   0.0          10.017394    3.456478
          2014-05-12                  10.0           9.564014    4.840017
          2014-05-13                   9.0           9.564014    4.592183
          2014-05-14                   8.0           9.564014    4.982029
          2014-05-15                   7.0           9.564014    3.890226
          2014-05-16                   6.0           9.564014    3.915283
          2014-05-19                   5.0           9.564014    3.317068
          2014-05-20                   4.0           9.564014    2.918926
          2014-05-21                   3.0           9.564014    2.737566
          2014-05-22                   2.0           9.564014    4.139814
          2014-05-23                   1.0           9.564014    4.961421
          2014-05-26                   0.0           9.564014    5.187427
          2014-05-27                   0.0           7.018742    3.909976
          2014-05-28                   0.0           6.171821    3.955675
          2014-05-29                  16.0           5.187427    4.141155
          2014-05-30                  15.0           5.187427    4.266107
          2014-06-03                  14.0           5.187427    3.701289

                        idx
code      date
000001.SZ 2014-01-02    1.0
          2014-01-03    2.0
          2014-01-06    3.0
          2014-01-07    4.0
          2014-01-08    5.0
          2014-01-09    6.0
          2014-01-10    7.0
          2014-01-13    8.0
          2014-01-14    9.0
          2014-01-15   10.0
          2014-01-16   11.0
          2014-01-17   12.0
          2014-01-20   13.0
          2014-01-21   14.0
          2014-01-22   15.0
          2014-01-23   16.0
          2014-01-24   17.0
          2014-01-27   18.0
          2014-01-28   19.0
          2014-01-29   20.0
          2014-01-30   21.0
          2014-02-07   22.0
          2014-02-10   23.0
          2014-02-11   24.0
          2014-02-12   25.0
          2014-02-13   26.0
          2014-02-14   27.0
          2014-02-17   28.0
          2014-02-18   29.0
          2014-02-19   30.0
          2014-02-20   31.0
          2014-02-21   32.0
          2014-02-24   33.0
          2014-02-25   34.0
          2014-02-26   35.0
          2014-02-27   36.0
          2014-02-28   37.0
          2014-03-03   38.0
          2014-03-04   39.0
          2014-03-05   40.0
          2014-03-06   41.0
          2014-03-07   42.0
          2014-03-10   43.0
          2014-03-11   44.0
          2014-03-12   45.0
          2014-03-13   46.0
          2014-03-14   47.0
          2014-03-17   48.0
          2014-03-18   49.0
          2014-03-19   50.0
          2014-03-20   51.0
          2014-03-21   52.0
          2014-03-24   53.0
          2014-03-25   54.0
          2014-03-26   55.0
          2014-03-27   56.0
          2014-03-28   57.0
          2014-03-31   58.0
          2014-04-01   59.0
          2014-04-02   60.0
          2014-04-03   61.0
          2014-04-04   62.0
          2014-04-08   63.0
          2014-04-09   64.0
          2014-04-10   65.0
          2014-04-11   66.0
          2014-04-14   67.0
          2014-04-15   68.0
          2014-04-16   69.0
          2014-04-17   70.0
          2014-04-18   71.0
          2014-04-21   72.0
          2014-04-22   73.0
          2014-04-23   74.0
          2014-04-24   75.0
          2014-04-25   76.0
          2014-04-28   77.0
          2014-04-29   78.0
          2014-04-30   79.0
          2014-05-05   80.0
          2014-05-06   81.0
          2014-05-07   82.0
          2014-05-08   83.0
          2014-05-09   84.0
          2014-05-12   85.0
          2014-05-13   86.0
          2014-05-14   87.0
          2014-05-15   88.0
          2014-05-16   89.0
          2014-05-19   90.0
          2014-05-20   91.0
          2014-05-21   92.0
          2014-05-22   93.0
          2014-05-23   94.0
          2014-05-26   95.0
          2014-05-27   96.0
          2014-05-28   97.0
          2014-05-29   98.0
          2014-05-30   99.0
          2014-06-03  100.0

In [76]:
idxmax_inc_1 = lambda x:np.argmax(np.nan_to_num(x.astype(float)))+1
idxmax_inc_1.__name__

'<lambda>'

In [68]:
np.argmax(np.nan_to_num(x[:,target_ix].astype(float)))
# x[:,target_ix]
f(x)

308

309.0

In [116]:
target_ss = df[target_col].fillna(0)
%time _ = target_ss.groupby('code').rolling(20).apply(lambda x:np.argmax(x))
import time
t0 = time.time()
result = target_ss.rolling(20).apply(lambda x:np.argmax(x))
df_check = pd.DataFrame(index=df.index)
df_check['mark']=1
mask = df_check.groupby('code')['mark'].shift(k - 1).isnull()
result.loc[mask]=np.nan
print(time.time()-t0)

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

Wall time: 11.5 s

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """

11.123180627822876

In [124]:
df[[target_col,'idx']].head(100).fillna(0).groupby('code').rolling(20).apply(lambda x:len(x.shape))

C:\Users\dell-pc\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

                                p3mean_amt  idx
code      code      date
000001.SZ 000001.SZ 2014-01-02         NaN  NaN
                    2014-01-03         NaN  NaN
                    2014-01-06         NaN  NaN
                    2014-01-07         NaN  NaN
                    2014-01-08         NaN  NaN
                    2014-01-09         NaN  NaN
                    2014-01-10         NaN  NaN
                    2014-01-13         NaN  NaN
                    2014-01-14         NaN  NaN
                    2014-01-15         NaN  NaN
                    2014-01-16         NaN  NaN
                    2014-01-17         NaN  NaN
                    2014-01-20         NaN  NaN
                    2014-01-21         NaN  NaN
                    2014-01-22         NaN  NaN
                    2014-01-23         NaN  NaN
                    2014-01-24         NaN  NaN
                    2014-01-27         NaN  NaN
                    2014-01-28         NaN  NaN
                    2014-01-29         1.0  1.0
                    2014-01-30         1.0  1.0
                    2014-02-07         1.0  1.0
                    2014-02-10         1.0  1.0
                    2014-02-11         1.0  1.0
                    2014-02-12         1.0  1.0
                    2014-02-13         1.0  1.0
                    2014-02-14         1.0  1.0
                    2014-02-17         1.0  1.0
                    2014-02-18         1.0  1.0
                    2014-02-19         1.0  1.0
                    2014-02-20         1.0  1.0
                    2014-02-21         1.0  1.0
                    2014-02-24         1.0  1.0
                    2014-02-25         1.0  1.0
                    2014-02-26         1.0  1.0
                    2014-02-27         1.0  1.0
                    2014-02-28         1.0  1.0
                    2014-03-03         1.0  1.0
                    2014-03-04         1.0  1.0
                    2014-03-05         1.0  1.0
                    2014-03-06         1.0  1.0
                    2014-03-07         1.0  1.0
                    2014-03-10         1.0  1.0
                    2014-03-11         1.0  1.0
                    2014-03-12         1.0  1.0
                    2014-03-13         1.0  1.0
                    2014-03-14         1.0  1.0
                    2014-03-17         1.0  1.0
                    2014-03-18         1.0  1.0
                    2014-03-19         1.0  1.0
                    2014-03-20         1.0  1.0
                    2014-03-21         1.0  1.0
                    2014-03-24         1.0  1.0
                    2014-03-25         1.0  1.0
                    2014-03-26         1.0  1.0
                    2014-03-27         1.0  1.0
                    2014-03-28         1.0  1.0
                    2014-03-31         1.0  1.0
                    2014-04-01         1.0  1.0
                    2014-04-02         1.0  1.0
                    2014-04-03         1.0  1.0
                    2014-04-04         1.0  1.0
                    2014-04-08         1.0  1.0
                    2014-04-09         1.0  1.0
                    2014-04-10         1.0  1.0
                    2014-04-11         1.0  1.0
                    2014-04-14         1.0  1.0
                    2014-04-15         1.0  1.0
                    2014-04-16         1.0  1.0
                    2014-04-17         1.0  1.0
                    2014-04-18         1.0  1.0
                    2014-04-21         1.0  1.0
                    2014-04-22         1.0  1.0
                    2014-04-23         1.0  1.0
                    2014-04-24         1.0  1.0
                    2014-04-25         1.0  1.0
                    2014-04-28         1.0  1.0
                    2014-04-29         1.0  1.0
                    2014-04-30         1.0  1.0
                    2014-05-05         1.0  1.0
                    2014-05-06         1.0  1.0
                    2014-05-07         1.0  1.0
                    2014-05-08         1.0  1.0
                    2014-05-09         1.0  1.0
                    2014-05-12         1.0  1.0
                    2014-05-13         1.0  1.0
                    2014-05-14         1.0  1.0
                    2014-05-15         1.0  1.0
                    2014-05-16         1.0  1.0
                    2014-05-19         1.0  1.0
                    2014-05-20         1.0  1.0
                    2014-05-21         1.0  1.0
                    2014-05-22         1.0  1.0
                    2014-05-23         1.0  1.0
                    2014-05-26         1.0  1.0
                    2014-05-27         1.0  1.0
                    2014-05-28         1.0  1.0
                    2014-05-29         1.0  1.0
                    2014-05-30         1.0  1.0
                    2014-06-03         1.0  1.0